{% load widget_tweaks form_config_tags %}


{% if field.field.widget.input_type == "hidden" %}

    {% render_field field %}

{% else %}

    <div class="form-group"
         {% if hide is True %}style="display:none"{% endif %}>
        {% if field.label %}
            <label for="{{ field.id_for_label }}" style="margin-bottom:0">
                {{ field.label|safe|capfirst }}
                {% if  required  or required == 'True' %}
                    <span style="color:#C9302C">*</span>
                {% endif %}
            </label>
        {% endif %}

        {% if help_text and 'textarea' not in field.field.widget.template_name %}
            <small>
                <i class="fas fa-question-circle" data-toggle="tooltip"
                   data-placement="right" title="{{ help_text|safe }}"></i>
            </small>
        {% endif %}

        <div>
            {% if field.field.widget.input_type == "checkbox" %}
                {% render_field field %}
                <br>
            {% elif field.field.widget.input_type == "file" %}
                <label for="{{ field.id_for_label }}"
                       class="custom-file-upload">
                    <i class="fas fa-cloud-upload-alt"></i>
                    Enviar arquivo
                </label>
                {{ field }}

                {% if help_text %}
                    <br/>
                    <small class="text-muted">
                        {{ help_text|safe }}
                    </small>
                {% endif %}
            {% else %}
                {% if  required  or required == 'True' %}
                    {% render_field field class="form-control" required="required" %}
                {% else %}
                    {% render_field field class="form-control" %}
                {% endif %}
            {% endif %}
            {% if errors %}
                <div class="col-md-12">
                    {% render_field_errors errors %}
                </div>
            {% endif %}
        </div>
    </div>

{% endif %}
