{% load widget_tweaks form_config_tags %}


{% if field.field.widget.input_type == "hidden" %}

    {% render_field field %}

{% else %}

    <div class="form-group">

        {{ label_tag|safe|capfirst }}
        {% if  required  or required == 'True' %}
            <small style="color:#C9302C">*</small>
        {% endif %}

        <div
                {% if field.field.widget.input_type == "checkbox" or field.field.widget.input_type == "radio" %}
                    class="row"
                {% endif %}>

            {% if autofocus %}

                {% if  required  or required == 'True' %}
                    {% render_field field class="form-control" required="required" autofocus="autofocus" %}
                {% else %}
                    {% render_field field class="form-control" autofocus="autofocus" %}
                {% endif %}

            {% elif field.field.widget.input_type == "checkbox" %}

                {% if  required  or required == 'True' %}
                    {% render_field field required="required" %}
                {% else %}
                    {% render_field field %}
                {% endif %}
                <br>

            {% else %}

                {% if  required  or required == 'True' %}
                    {% render_field field class="form-control" required="required" %}
                {% else %}
                    {% render_field field class="form-control" %}
                {% endif %}

            {% endif %}


            {% if help_text %}
                <div>
                    <small class="text-muted help-text">
                        {{ help_text|safe }}
                    </small>
                </div>
            {% endif %}
            {% if errors %}
                {% render_field_errors errors %}
            {% endif %}
        </div>
    </div>

{% endif %}
