{% load widget_tweaks form_config_tags %}

<div class="form-group">
    <label for="id_{{ name }}">
        {{ label_tag|capfirst }}
        {% if required %}
            <small style="color:#C9302C">*</small>
        {% endif %}
    </label>
    <div>
        {% if required %}
            {% if attr %}
                {% if autofocus %}
                    {{ field|add_class:"form-control"|append_attr:"required:required"|append_attr:"autofocus"|attr:attr }}
                {% else %}
                    {{ field|add_class:"form-control"|append_attr:"required:required"|attr:attr }}
                {% endif %}
            {% else %}
                {% if autofocus %}
                    {{ field|add_class:"form-control"|append_attr:"required:required"|append_attr:"autofocus" }}
                {% else %}
                    {{ field|add_class:"form-control"|append_attr:"required:required"|append_attr:"autofocus" }}
                {% endif %}
            {% endif %}
        {% else %}
            {% if attr %}
                {% if autofocus %}
                    {{ field|add_class:"form-control"|attr:attr|append_attr:"autofocus" }}
                {% else %}
                    {{ field|add_class:"form-control"|attr:attr }}
                {% endif %}
            {% else %}
                {% if autofocus %}
                    {{ field|add_class:"form-control"|append_attr:"autofocus" }}
                {% else %}
                    {{ field|add_class:"form-control"|append_attr:"autofocus" }}
                {% endif %}
            {% endif %}
        {% endif %}
        {% if help_text %}
            <div>
                <small class="text-muted">{{ help_text|safe }}</small>
            </div>
        {% endif %}
        {% if errors %}
            {% render_field_errors errors %}
        {% endif %}
    </div>
</div>