{% load widget_tweaks form_config_tags %}

{% if phone_field.field.widget.input_type == "hidden" %}
    {% render_field ddi_field %}
    {% render_field phone_field %}
{% else %}
    <div class="form-group"
        {% if hide is True %}style="display:none"{% endif %}>
        {% if phone_field.label %}
            <label for="{{ phone_field.id_for_label }}">
                {{ phone_field.label|safe|capfirst }}
                {% if  required  or required == 'True' %}
                    <span style="color:#C9302C">*</span>
                {% endif %}
            </label>
        {% endif %}

        {% if help_text and 'textarea' not in phone_field.field.widget.template_name %}
            <small>
                <i class="fas fa-question-circle" data-toggle="tooltip" data-placement="right" title="{{ help_text|safe }}"></i>
            </small>
        {% endif %}
        <div class="row">
            {% if autofocus %}
                {% if  required  or required == 'True' %}
                    <div class="col-xs-4 col-sm-2 col-md-4 col-lg-3" style="padding-right:0">
                        {% render_field ddi_field class="form-control" required="required" autofocus="autofocus" %}
                    </div>
                    <div class="col-xs-8 col-sm-10 col-md-8 col-lg-9" style="padding-left:0">
                        {% render_field phone_field class="form-control" required="required" %}
                    </div>
                {% else %}
                    <div class="col-xs-4 col-sm-2 col-md-4 col-lg-3" style="padding-right:0">
                        {% render_field ddi_field class="form-control" autofocus="autofocus" %}
                    </div>
                    <div class="col-xs-8 col-sm-10 col-md-8 col-lg-9" style="padding-left:0">
                        {% render_field phone_field class="form-control" %}
                    </div>
                {% endif %}
            {% else %}
                {% if required is True or required == 'True' %}
                    <div class="col-xs-4 col-sm-2 col-md-4 col-lg-3" style="padding-right:0">
                        {% render_field ddi_field class="form-control" required="required" %}
                    </div>
                    <div class="col-xs-8 col-sm-10 col-md-8 col-lg-9" style="padding-left:0">
                        {% render_field phone_field class="form-control" required="required" %}
                    </div>
                {% else %}
                    <div class="col-xs-4 col-sm-2 col-md-4 col-lg-3" style="padding-right:0">
                        {% render_field ddi_field class="form-control" %}
                    </div>
                    <div class="col-xs-8 col-sm-10 col-md-8 col-lg-9" style="padding-left:0">
                        {% render_field phone_field class="form-control" %}
                    </div>
                {% endif %}
            {% endif %}
            <div class="col-md-12">
                {% if ddi_field.errors %}
                    {% render_field_errors ddi_field.errors %}
                {% endif %}
                {% if phone_field.errors %}
                    {% render_field_errors phone_field.errors %}
                {% endif %}
            </div>
        </div>
    </div>
{% endif %}
