{% load widget_tweaks %}
{% if required %}
    {% if autofocus %}
        {{ field|add_class:"form-control"|append_attr:"required:required"|append_attr:"autofocus" }}
    {% elif field.field.widget.input_type == "checkbox" %}
        {{ field|add_class:"js-switch"|attr:"style:display:none"|attr:"data-switchery:true" }}
    {% else %}
        {{ field|add_class:"form-control"|append_attr:"required:required" }}
    {% endif %}
{% else %}
    {% if autofocus %}
        {{ field|add_class:"form-control"|append_attr:"autofocus" }}
    {% elif field.field.widget.input_type == "checkbox" %}
        {{ field|add_class:"js-switch"|attr:"style:display:none"|attr:"data-switchery:true" }}
    {% else %}
        {{ field|add_class:"form-control" }}
    {% endif %}
{% endif %}