{% load widget_tweaks form_config_tags %}

<div class="form-group" {% if hide is True %}style="display:none"{% endif %}>
    {% if field.label %}
        <label for="{{ field.id_for_label }}">
            {% if '!?' in field.label %}
                {{ field.label|safe|capfirst }}
            {% else %}
                {{ field.label|safe|capfirst }}:
            {% endif %}
            {% if  required  or required == 'True' %}
                <span style="color:#C9302C">*</span>
            {% endif %}

        {% if help_text %}
            <small>
                <i class="fas fa-question-circle" data-toggle="tooltip"
                   data-placement="right" title="{{ help_text|safe }}"></i>
            </small>
        {% endif %}
        </label>
    {% endif %}

    <div>

        {% if autofocus %}

            {% if  required  or required == 'True' %}
                {{ field|add_class:"form-control"|attr:"required:required"|append_attr:"autofocus" }}
            {% else %}
                {{ field|add_class:"form-control"|append_attr:"autofocus" }}
            {% endif %}

        {% elif field.field.widget.input_type == "checkbox" %}


            {% if  required  or required == 'True' %}
                {{ field|add_class:"js-switch"|attr:"style:display:none"|attr:"required:required" }}
            {% else %}
                {{ field|add_class:"js-switch"|attr:"style:display:none" }}
            {% endif %}

        {% else %}

            {% if  required  or required == 'True' %}
                {{ field|add_class:"form-control"|attr:"required:required" }}
            {% else %}
                {{ field|add_class:"form-control" }}
            {% endif %}

        {% endif %}


        {% if errors %}
            {% render_field_errors errors %}
        {% endif %}
    </div>
</div>