{% extends "base/base-hotsite.html" %}
{% load i18n static base_tags %}

{% block title %}Convites | Congressy{% endblock %}
{% block page_title %}Novo Convite{% endblock %}
{% block page_sub_title %}{{ invitation_organization.name }}{% endblock %}

{% block nav_aside_itens %}
    <h5 class="sidebar-header" style="color:#4c4c4c;">Equipe</h5>
    <ul class="nav nav-pills nav-stacked">
        {% if can_view_members or can_manage_members %}
        <li>
            <a class="sidebar-itens" href=
                        "{% url 'event:member-list' invitation_organization.pk %}" title="Membros">
                <i class="fas fa-users"></i> Membros
            </a>
        </li>
        {% endif %}
        <li class="active">
            <a class="sidebar-itens" href=
                        "{% url 'event:invitation-list' invitation_organization.pk %}" title="Convites">
                 <i class="fas fa-envelope-open"></i> Convites
            </a>
        </li>
    </ul>
{% endblock %}

{% block content %}
    <form role="form" action="" method="post"
          class="form-horizontal">{% csrf_token %}
        <div class="row">
            <div class="col-md-12">
                <div class="buttonbar">
                    <div class="float-right">
                        <a href="{% url 'event:invitation-list' invitation_organization.pk %}"
                           class="btn btn-danger">
                            <i class="fas fa-times-circle"></i>
                            Cancelar
                        </a>

                        <button type="submit" class="btn btn-success">
                            <i class="fa fa-save"></i>
                            Enviar
                        </button>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-primary">
                    <div class="panel-body">
                        <div class="form-group">
                            <div class="col-md-12">
                                <label for="name">E-mail
                                    <small style="color:#C9302C">*
                                    </small>
                                </label>
                                <input type="email"
                                       required
                                       name="to"
                                       class="form-control"
                                       id="to"
                                       placeholder="me@you.com">
                                <input type="hidden" name="organization"
                                       value="{{ invitation_organization.pk }}"/>
                                {% if form.to.errors %}
                                    {% for error in form.to.errors %}
                                    <div class="alert alert-danger
                                    alert-dismissable">
                                        <button type="button" class="close"
                                                data-dismiss="alert"
                                                aria-hidden="true">×
                                        </button>
                                        {{ error }}
                                    </div>
                                    {% endfor %}
                                {% endif %}

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="buttonbar bottom">
                    <div class="float-right">
                        <a href="{% url 'event:invitation-list' invitation_organization.pk %}"
                           class="btn btn-danger">
                            <i class="fas fa-times-circle"></i>
                            Cancelar
                        </a>

                        <button type="submit" class="btn btn-success">
                            <i class="fa fa-save"></i>
                            Enviar
                        </button>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </form>
{% endblock %}

{% block scripts %}
<script>
    $(document).ready(function () {
        $('input[type=email]').on('keyup', function () {
            $(this).val($(this).val().toLowerCase());
        });
    });
</script>
{% endblock %}
