{% extends "base/base.html" %}

{% load i18n static widget_tweaks form_config_tags %}

{% block title %}Convite{% endblock %}
{% block page_title %}Convite{% endblock %}
{% block page_sub_title %}Criar conta{% endblock %}
{% block page_description %}
    Você precisa criar uma conta para acessar a organização na qual você foi
    convidado(a).
{% endblock %}


{% block sidebar %}{% endblock %}

{% block sidebar-bars %}{% endblock %}

{% block scripts %}
    <script src="{% static "assets/plugins/mask/mask.min.js" %}"></script>
    <!-- Script used in in subscription. -->

    <script src="{% static "hotsite/js/subscription.js" %}"></script>
    <script type="application/javascript">

        $(document).ready(function () {
            $('#id_phone').mask("(99) 99999-9999");
        });
    </script>
{% endblock %}

{% block content %}

    <form action="" method="post" enctype="multipart/form-data">

        {% csrf_token %}

        {% if form.non_field_errors %}
            {% render_errors form.non_field_errors %}
        {% endif %}

        {% for hidden_field in form.hidden_fields %}
            {% if hidden_field.errors %}
                {% render_errors hidden_field.errors %}
            {% endif %}
            {{ hidden_field }}
        {% endfor %}

        <div class="row">
            <div class="col-lg-8 col-lg-push-2 col-xl-8 col-xl-push-2">
                <div class="buttonbar">
                    <div class="float-left">
                        <a href="{% url 'public:invitation-decision' invite.pk %}"
                           class="btn btn-primary" title="Voltar">
                            <i class="fas fa-arrow-left"></i>
                        </a>
                    </div>
                    <div class="float-right">
                        <button type="submit" class="btn btn-success">
                            <i class="fa fa-save"></i>
                            Salvar
                        </button>
                    </div>
                    <div class="clearfix"></div>
                </div>

            </div>
        </div>

        <div class="row">

            <div class="col-lg-8 col-lg-push-2 col-xl-8 col-xl-push-2">

                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <div class="panel-title">Dados pessoais</div>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-9">
                                {% render_generic_field form.name %}
                            </div>

                            <div class="col-md-3">
                                {% render_generic_field form.gender %}
                            </div>
                        </div>

                        <div class="row">

                            <div class="col-md-9">
                                {% render_generic_field form.email %}
                            </div>
                            <div class="col-md-3">

                                {% render_generic_field form.phone %}

                            </div>
                        </div>
                    </div>
                </div>


                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <div class="panel-title">Alterar senha</div>
                    </div>
                    <div class="panel-body">

                        <div class="row">
                            <div class="col-md-6">
                                {% render_generic_field form.new_password1 %}
                            </div>

                            <div class="col-md-6">
                                {% render_generic_field form.new_password2 %}
                            </div>
                        </div>

                    </div>
                </div>

            </div>

        </div>

        <div class="row">
            <div class="col-lg-8 col-lg-push-2 col-xl-8 col-xl-push-2">
                <div class="buttonbar">
                    <div class="float-left">
                        <a href="{% url 'public:invitation-decision' invite.pk %}"
                           class="btn btn-primary" title="Voltar">
                            <i class="fas fa-arrow-left"></i>
                        </a>
                    </div>
                    <div class="float-right">
                        <button type="submit" class="btn btn-success">
                            <i class="fa fa-save"></i>
                            Salvar
                        </button>
                    </div>
                    <div class="clearfix"></div>
                </div>

            </div>
        </div>

    </form>

{% endblock %}