{% load url_tags %}
{{ form.errors }}
<form action="" method="GET">
    {{ form.as_p }}
    <button name="format" value="html">Exibir em tela</button>
    <button name="format" value="xls">Exportar</button>
</form>

Resultados:
<table>
    {% for obj in object_list %}
        <tr>
            <td>{{ obj }}</td>
            <td>{{ obj.person.name }}</td>
            <td>{{ obj.person.gender }}</td>
            <td>{{ obj.person.city.uf }}</td>
            <td>{{ obj.person.age }}</td>
        </tr>
    {% endfor %}
</table>

{% if is_paginated %}
    <div class="pagination">
        <span class="page-links">
            {% if page_obj.has_previous %}
                <a href="?{% url_replace request 'page' page_obj.previous_page_number %}">Anterior</a>
            {% endif %}
            <span class="page-current">
                Pagina {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.
                </span>
            {% if page_obj.has_next %}
                <a href="?{% url_replace request 'page' page_obj.next_page_number %}">Próxima</a>
            {% endif %}
            </span>
    </div>
{% endif %}
