{% extends "base/base.html" %}
{% load static %}
{% load static i18n queryset_filter %}
{% load base_tags %}
{% load widget_tweaks %}
{% load event_tags %}
{% load form_config_tags %}

{% block sidebar %}{% endblock %}

{% block sidebar-bars %}{% endblock %}

{% block messages %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }} alert-dismissable">
                <button type="button" class="close"
                        data-dismiss="alert" aria-hidden="true">×
                </button>
                {{ message|get_first_item }}
            </div>
        {% endfor %}
    {% endif %}
{% endblock messages %}

{% block title %}
    Novo Sorteio | Congressy
{% endblock %}

{% block page_title %}
    Novo Sorteio
{% endblock %}

{% block content %}
    <form action="" method="post" class="form-horizontal form-border" role="form" name="raffle_form">
        {% csrf_token %}

        {% if form.non_field_errors %}
            {% render_errors form.non_field_errors %}
        {% endif %}

        {% for hidden_field in form.hidden_fields %}
            {% if hidden_field.errors %}
                {% render_errors hidden_field.errors %}
            {% endif %}
            {{ hidden_field }}
        {% endfor %}

        <div class="row">
            <div class="col-lg-8 col-lg-push-2 col-xl-8 col-xl-push-2">
                <div class="buttonbar">
                    <div class="float-left">
                        <a href="{% url 'raffle:raffle-list' event.pk %}"
                           class="btn btn-primary">
                            <i class="fas fa-arrow-circle-left"></i>
                            Voltar
                        </a>
                    </div>

                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-push-2 col-xl-8 col-xl-push-2">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <div class="panel-title">Campos Principais</div>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-12">
                                        {% render_generic_field form.product_name autofocus=True %}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        {% render_switchery_field form.winner_out %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="buttonbar bottom">
                    <div class="float-right">
                        <a href="{% url 'raffle:raffle-list' event.pk %}" class="btn btn-danger">
                            <i class="fas fa-times-circle"></i>
                            Cancelar
                        </a>
                        <button type="submit" class="btn btn-success">
                            <i class="fa fa-save"></i>
                            Salvar
                        </button>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </form>
{% endblock %}

{% block scripts %}
{% endblock %}

{% block styles %}
{% endblock %}
