{% extends "base/base.html" %}
{% load static event_tags  base_tags  widget_tweaks form_config_tags humanize l10n %}
{% load queryset_filter %}
{% block messages %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }} alert-dismissable">
                <button type="button" class="close"
                        data-dismiss="alert" aria-hidden="true">×
                </button>
                {{ message|get_first_item }}
            </div>
        {% endfor %}
    {% endif %}
{% endblock messages %}

{% block title %}
    Pagamentos | Congressy
{% endblock %}

{% block page_title %}
    Pagamentos
{% endblock %}

{% block page_sub_title %}
    {{ event.name }}
{% endblock %}

{% block styles %}


    <style type="text/css">
        .popover {
            max-width: 600px;
        }
    </style>

{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <table class="table no-footer"
                           cellspacing="0"
                           width="100%"
                           style="border-collapse: separate;empty-cells: hide;">
                        <tbody>
                        <tr>
                            <td class="text-muted text-right"
                                style="border:none;">
                                <strong>Inscrições não-pagas:</strong>
                            </td>
                            <td width="25%" style="border:none;">
                                <strong class="text-muted"
                                        style="font-size:16px">
                                    R$ {{ totals.pending|intcomma }}
                                </strong>
                                <i class="fa fa-info-circle"
                                       data-toggle="tooltip"
                                       title="Inscrições pendentes de pagamento por parte do participante."></i>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-muted text-right"
                                style="border:none;"><strong>Inscrições pagas:</strong></td>
                            <td style="border:none;">
                                <strong style="font-size:16px;color:blue">
                                    R$ {{ totals.paid|intcomma }}
                                </strong>
                                <button type="button" class="btn btn-sm btn-info" onclick="$('#modal-payments-paid-subscriptions').modal()">Saiba mais</button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">

            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="tab-wrapper tab-primary">
                        <ul class="nav nav-tabs">
                            <li id="super-payments-paid">
                                <a href="#payments-paid" onclick="select('paid')" data-toggle="tab">Pagos</a>
                            </li>
                            <li id="super-payments-pending">
                                <a href="#payments-pending" onclick="select('pending')" data-toggle="tab">Pendentes</a>
                            </li>
                            <li id="super-payments-paid" class="active">
                                <a href="#payments-details" onclick="select('details')" data-toggle="tab">Detalhamento</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="payments-paid">
                                <div id="payments-paid-loader" style="text-align: center;padding: 40px">
                                    <span class="fas fa-circle-notch fa-spin fa-3x"></span>
                                    <div>carregando pagos</div>
                                </div>
                                <div id="payments-paid-field" style="display: none"></div>
                            </div>
                            <div class="tab-pane" id="payments-pending">

                                <div id="payments-pending-loader" style="text-align: center;padding: 40px">
                                    <span class="fas fa-circle-notch fa-spin fa-3x"></span>
                                    <div>carregando pendentes</div>
                                </div>
                                <div id="payments-pending-field" style="display: none"></div>

                            </div>
                            <div class="tab-pane" id="payments-details">

                                <div id="payments-pending-loader" style="text-align: center;padding: 40px">
                                    <span class="fas fa-circle-notch fa-spin fa-3x"></span>
                                    <div>carregando detalhamento</div>
                                </div>
                                <div id="payments-details-field" style="display: none"></div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <table class="table no-footer"
                           cellspacing="0"
                           width="100%"
                           style="border-collapse: separate;empty-cells: hide;">
                        <tbody>
                        <tr>
                            <td class="text-muted text-right"
                                style="border:none;">
                                <strong>Inscrições não-pagas:</strong>
                            </td>
                            <td width="25%" style="border:none;">
                                <strong class="text-muted"
                                        style="font-size:16px">
                                    R$ {{ totals.pending|intcomma }}
                                </strong>
                                <i class="fa fa-info-circle"
                                       data-toggle="tooltip"
                                       title="Inscrições pendentes de pagamento por parte do participante."></i>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-muted text-right"
                                style="border:none;"><strong>Inscrições pagas:</strong></td>
                            <td style="border:none;">
                                <strong style="font-size:16px;color:blue">
                                    R$ {{ totals.paid|intcomma }}
                                </strong>
                                <button type="button" class="btn btn-sm btn-info" onclick="$('#modal-payments-paid-subscriptions').modal()">Saiba mais</button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block modals %}
<div class="modal" id="modal-payments-paid-subscriptions" role="dialog" data-backdrop="true">
    <div class="modal-dialog " role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close"
                        data-dismiss="modal"
                        aria-label="Close"><span
                        aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title text-bold">INSCRIÇÕES PAGAS PELOS PARTICIPANTES</h4>
            </div>
            <div class="modal-body" style="padding: 30px">
                <div class="row">
                    <div class="well text-justify">
                        <div style="text-indent: 20px">
                            As transferências da Congressy referente aos valores pagos pelos
                            participantes são realizadas de acordo com os prazos de processamento
                            dos boletos e cartões de crédito.
                        </div>
                        <br />
                        <div style="text-indent: 20px">
                            O saldo estará liberado em 2 dias úteis para boletos, e 30 dias corridos
                            para cartões de crédito.
                        </div>
                        <br />
                        <div style="text-indent: 20px">
                            As transferências bancárias são feitas por TED automático
                            semanalmente, toda sexta-feira.
                        </div>
                    </div>
                    <div class="text-center">
                        <button type="button" class="btn btn-primary" onclick="window.open('https://www.congressy.com/faq', '_blank')">
                            Dúvidas
                        </button>
                    </div>
                    <div class="text-center">
                        Ou fale conosco pelo chat ou enviando e-mail para
                        <a href="mailto:congressy@congressy.com?Subject=Dúvidas%20sobre%20inscrições%20pagas" target="_top">congressy@congressy.com</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
    <script>
        var fetch_paid_in_process = false;
        var paid_payments_fetched = false;
        function fetchPaidPayments(force) {
            force = force === true;

            if (paid_payments_fetched && force === false) {
                return;
            }

            if (fetch_paid_in_process) {
                return;
            }

            var loader = $('#payments-paid-loader');
            var main_field = $('#payments-paid-field');

            main_field.fadeOut(function() {
                main_field.html('');
                loader.fadeIn();
            });

            var url = window.location.origin + window.location.pathname + '?template_name=payments/paid';
            var sender = new window.cgsy.AjaxSender(url);
            sender.setSuccessCallback(function(response) {
                main_field.html(response);
                loader.fadeOut(function() {
                    main_field.fadeIn();
                });
                paid_payments_fetched = true;
                fetch_paid_in_process = false;
            });
            sender.setFailCallback(function() {
                fetch_paid_in_process = false;
                console.error('fail');
            });
            sender.get();
        }

        var fetch_pending_in_process = false;
        var pending_payments_fetched = false;
        function fetchPendingPayments(force) {
            force = force === true;
            if (pending_payments_fetched && force === false) {
                return;
            }

            if (fetch_pending_in_process) {
                return;
            }

            fetch_pending_in_process = true;

            var loader = $('#payments-pending-loader');
            var main_field = $('#payments-pending-field');

            main_field.fadeOut(function() {
                main_field.html('');
                loader.fadeIn();
            });

            var url = window.location.origin + window.location.pathname + '?template_name=payments/pending';

            var sender = new window.cgsy.AjaxSender(url);
            sender.setSuccessCallback(function(response) {
                main_field.html(response);
                loader.fadeOut(function() {
                    main_field.fadeIn();
                });
                fetch_pending_in_process = false;
                pending_payments_fetched = true;
            });
            sender.setFailCallback(function() {
                fetch_pending_in_process = false;
                console.error('fail');
            });
            sender.get();
        }

        function selectFromHash() {
            var hash = window.location.hash.substring(1);
            var tab_type = hash.replace('tab=', '');
            if (tab_type) {
                select(tab_type);
            }
        }

        function select(tab_type) {
            $('li', '.nav-tabs').removeClass('active');
            $('.tab-pane').removeClass('active');

            $('#super-payments-' + tab_type).addClass('active');
            $('#payments-' + tab_type).addClass('active');
            window.location.hash = '#tab=' + tab_type;

            switch (tab_type) {
                case 'pending':
                    fetchPendingPayments();
                    break;
                case 'paid':
                    fetchPaidPayments();
                    break;
                case 'details':
                    break;
            }
        }

        $(document).ready(function () {
            $('[data-toggle="popover"]').popover({
                placement: 'bottom',
                container: 'body',
                trigger: 'hover'
            });

            selectFromHash();
        });
    </script>
{% endblock %}


