{% extends "base/base.html" %}
{% load static event_tags  base_tags  widget_tweaks form_config_tags humanize l10n %}
{% load queryset_filter %}
{% block messages %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }} alert-dismissable">
                <button type="button" class="close"
                        data-dismiss="alert" aria-hidden="true">×
                </button>
                {{ message|get_first_item }}
            </div>
        {% endfor %}
    {% endif %}
{% endblock messages %}

{% block title %}
    Pagamentos | Congressy
{% endblock %}

{% block page_title %}
    Pagamentos
{% endblock %}

{% block page_sub_title %}
    {{ event.name }}
{% endblock %}

{% block styles %}


    <style type="text/css">
        .popover {
            max-width: 600px;
        }
    </style>

{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-body">
                    {% if subscriptions %}
                        <table class="table no-footer"
                               cellspacing="0"
                               width="100%"
                               style="border-collapse: separate;empty-cells: hide;">
                            <tbody>
                            <tr>
                                <td class="text-muted text-right"
                                    style="border:none;">
                                    <strong>Inscrições não-pagas:</strong>
                                </td>
                                <td width="25%" style="border:none;">
                                    <strong class="text-muted"
                                            style="font-size:16px">
                                        R$ {{ totals.pending|intcomma }}
                                    </strong>
                                    <i class="fa fa-info-circle"
                                           data-toggle="tooltip"
                                           title="Inscrições pendentes de pagamento por parte do participante."></i>
                                </td>
                            </tr>
                            <tr>
                                <td class="text-muted text-right"
                                    style="border:none;"><strong>Inscrições pagas:</strong></td>
                                <td style="border:none;">
                                    <strong style="font-size:16px;color:blue">
                                        R$ {{ totals.paid|intcomma }}
                                    </strong>
                                    <button type="button" class="btn btn-sm btn-info" onclick="$('#modal-payments-paid-subscriptions').modal()">Saiba mais</button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <hr/>

                        <table id="payments_table"
                               class="table table-striped">
                            <thead>
                            <tr>
                                <th>Participante</th>
                                <th>Lote</th>
                                <th width="5%" class="text-center">Tipo</th>
                                <th width="15%">Valor</th>
                            </tr>
                            </thead>

                            <tbody>
                            {% for _, sub in subscriptions.items %}
                            {% for item in sub.transactions %}
                                <tr>
                                    <td>
                                        <a href="{% url 'subscription:subscription-payments' event.pk sub.pk %}" target="_blank">
                                            {{ sub.name }}
                                        </a>
                                    </td>
                                    <td>
                                        <div data-toggle="tooltip" title="{{sub.lot_name}}" style="cursor: default">
                                            {{ sub.lot_name|truncatechars:30 }}
                                        </div>
                                    </td>
                                    <td style="text-align: center;">
                                        {% if item.is_boleto %}
                                            <i class="fas fa-barcode"
                                               data-toggle="tooltip"
                                               title="{{ item.type_name }}"></i>
                                        {% elif item.is_cc %}
                                            <i class="fas fa-credit-card"
                                               data-toggle="tooltip"
                                               title="{{ item.type_name }}"></i>
                                        {% elif item.is_manual %}
                                            <i class="fas fa-hand-holding-usd"
                                               data-toggle="tooltip"
                                               title="Recebido manualmente"></i>
                                        {% endif %}
                                        {% if item.is_part %}
                                        <i class="fas fa-file-contract"
                                           data-toggle="tooltip"
                                           title="Contrato de parcelamento"></i>
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if item.is_paid %}
                                            <i class="fa fa-circle" style="color: green"
                                               data-toggle="tooltip"
                                               title="{{ item.status_name }}"></i>
                                        {% elif item.is_refused %}
                                            <i class="fa fa-circle" style="color: darkred"
                                               data-toggle="tooltip"
                                               title="{{ item.status_name }}"></i>
                                        {% elif item.is_pending %}
                                            <i class="fa fa-circle" style="color: goldenrod"
                                               data-toggle="tooltip"
                                               title="{{ item.status_name }}"></i>
                                        {% endif %}

                                        R$ {{ item.liquid_amount }}
                                    </td>
                                </tr>
                            {% endfor %}
                            {% endfor %}
                            </tbody>
                        </table>
                        <hr/>
                        <table class="table no-footer"
                               cellspacing="0"
                               width="100%"
                               style="border-collapse: separate;empty-cells: hide;">
                            <tbody>
                            <tr>
                                <td class="text-muted"
                                    style="border:none;text-align: right">
                                    <strong>Transacionado:</strong></td>
                                <td width="15%" style="border:none;">
                                    <strong style="font-size:16px">
                                        R$ {{ totals.total|intcomma }}
                                    </strong>
                                </td>
                            </tr>
                            <tr>
                                <td class="text-muted text-right"
                                    style="border:none;">
                                    <strong>Total (aguardando):</strong>
                                </td>
                                <td style="border:none;">
                                    <strong class="text-muted"
                                            style="font-size:16px">
                                        R$ {{ totals.pending|intcomma }}
                                    </strong>
                                </td>
                            </tr>
                            <tr>
                                <td class="text-muted text-right"
                                    style="border:none;"><strong>Total (pago):</strong></td>
                                <td style="border:none;">
                                    <strong style="font-size:16px;color:blue">
                                        R$ {{ totals.paid|intcomma }}
                                    </strong>
                                    <i class="fa fa-info-circle"
                                           data-toggle="tooltip"
                                           title="O valor pago torna-se recebível de acordo com o tipo de pagamento."></i>
                                </td>
                            </tr>
                            </tbody>

                        </table>

                    {% else %}
                        <h3>Nenhum dado.</h3>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block modals %}
<div class="modal" id="modal-payments-paid-subscriptions" role="dialog" data-backdrop="true">
    <div class="modal-dialog " role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close"
                        data-dismiss="modal"
                        aria-label="Close"><span
                        aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title text-bold">INSCRIÇÕES PAGAS PELOS PARTICIPANTES</h4>
            </div>
            <div class="modal-body" style="padding: 30px">
                <div class="row">
                    <div class="well text-justify">
                        <div style="text-indent: 20px">
                            As transferências da Congressy referente aos valores pagos pelos
                            participantes são realizadas de acordo com os prazos de processamento
                            dos boletos e cartões de crédito.
                        </div>
                        <br />
                        <div style="text-indent: 20px">
                            O saldo estará liberado em 2 dias úteis para boletos, e 30 dias corridos
                            para cartões de crédito.
                        </div>
                        <br />
                        <div style="text-indent: 20px">
                            As transferências bancárias são feitas por TED automático
                            semanalmente, toda sexta-feira.
                        </div>
                    </div>
                    <div class="text-center">
                        <button type="button" class="btn btn-primary" onclick="window.open('https://www.congressy.com/faq', '_blank')">
                            Dúvidas
                        </button>
                    </div>
                    <div class="text-center">
                        Ou fale conosco pelo chat ou enviando e-mail para
                        <a href="mailto:congressy@congressy.com?Subject=Dúvidas%20sobre%20inscrições%20pagas" target="_top">congressy@congressy.com</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
    <script>
        $(document).ready(function () {
            $('[data-toggle="popover"]').popover({
                placement: 'bottom',
                container: 'body',
                trigger: 'hover'
            });
        });
    </script>
{% endblock %}


