{% extends "gatheros_front/base.html" %}
{% load i18n static %}

{% block content %}
    {% if delete_message %}
        {{ delete_message }}
    {% endif %}
    <br />
    <br />
    <form method="post">
        {% csrf_token %}
        <div>
            <!--suppress HtmlUnknownAttribute -->
            <input type="submit" value="{% trans "Yes, I'm sure" %}"/>
            {% if next_path %}
                <a href="{{ next_path|urlencode }}">Não, leve-me de volta</a>
            {% else %}
                <a href="{{ go_back_path }}">Não, leve-me de volta</a>
            {% endif %}
        </div>
    </form>
{% endblock %}
