{% load subscription_tags static %}

{% comment %}
Variáveis:
- active
- event
- is_paid_event

{% endcomment %}

<script src="{% static "assets/js/publish.js" %}"></script>


<div class="sidebar-header well text-center" style="margin-left: 5px">

    {% if event.published %}

        <div style="font-size:14px">
            <div class="text-bold">
                Status: <i class="fas fa-circle success-color"></i>
            </div>

            <div class=" small text-muted">
                Publicado
            </div>

        </div>

    {% else %}

        <div style="font-size:14px">
            <div class="text-bold">
                Status: <i class="fas fa-circle danger-color"></i>
            </div>

            <div class="small text-muted">
                Não publicado
            </div>

        </div>

    {% endif %}

    {% if is_event_publishable != None %}

        <div class="small">

            {% if is_event_publishable %}
                Publicar:
                <input type="checkbox" class="js-switch hide" id="publish_event"
                        {% if event.published %} checked {% endif %}/>
            {% elif not is_event_publishable %}
                <a onclick="$('#unpublishable_modal').modal('show');" href="javascript:void(0);">
                    Seu evento possui pendencias
                </a>
            {% endif %}

        </div>

    {% endif %}

</div>

<h5 class="sidebar-header" style="color:#4c4c4c;">Início</h5>
<ul class="nav nav-pills nav-stacked">
    <li {% if active == 'panel' %}class="active"{% endif %}>
        <a class="sidebar-itens" href="{% url 'event:event-panel' event.pk %}"
           title="Painel">
            <i class="fas fa-tachometer-alt"></i>
            Painel
        </a>
    </li>
</ul>

<h5 class="sidebar-header" style="color:#4c4c4c;">Participantes</h5>
<ul class="nav nav-pills nav-stacked">

    <li {% if active == 'inscricoes' %}class="active"{% endif %}>
        <a class="sidebar-itens" href=
                "{% url 'subscription:subscription-list' event.pk %}"
           title="Inscrições">
            <i class="fa fa-clipboard"></i>
            Inscrições
            <span class="badge float-right">
                {% event_count_completed_subscriptions event %}
            </span>
        </a>
    </li>
    {% if is_paid_event %}
        <li {% if active == 'pagamentos' %}class="active"{% endif %}>
            <a class="sidebar-itens" href=
                    "{% url 'payment:event-payments' event.pk %}"
               title="Pagamentos">
                <i class="fas fa-credit-card"></i> Pagamentos
            </a>
        </li>
    {% endif %}
    {% if event.feature_configuration.feature_certificate and  event.feature_management.certificate %}

        <li {% if active == 'certificate' %}class=  "active"{% endif %}>
            <a class="sidebar-itens"
               href="{% url 'certificate:event-certificate-config' event.pk %}"
               title="Editor de Certificados">
                <i class="fas fa-graduation-cap"></i> Certificado
            </a>
        </li>

        <li {% if active == 'certificate-manual' %}class=  "active"{% endif %}>
            <a class="sidebar-itens"
               href="{% url 'certificate:event-certificate-manual' event.pk %}"
               title="Lançador de Certificados Manual"
               style="padding-right: 0;font-size: 15px">
                <i class="fas fa-graduation-cap"></i>
                Certificado Manual
            </a>
        </li>
    {% endif %}
    {% if event.feature_configuration.feature_raffle and  event.feature_management.raffle %}
        <li {% if active == 'raffles' %}class=  "active"{% endif %}>
            <a class="sidebar-itens"
               href="{% url 'raffle:raffle-list' event.pk %}"
               title="Sorteios">
                <i class="fas fa-trophy"></i> Sorteios
            </a>
        </li>
    {% endif %}
</ul>

<h5 class="sidebar-header" style="color:#4c4c4c;">Configurações</h5>
<ul class="nav nav-pills nav-stacked">
    <li {% if active == 'pagina-do-evento' %}class="active"{% endif %}>
        <a class="sidebar-itens" href=
                "{% url 'event:event-hotsite' event.pk %}"
           title="Página do evento">
            <i class="fas fa-file-alt"></i> Página do evento
        </a>
    </li>


    <li {% if active == 'categorias' %}class="active"{% endif %}>
        <a class="sidebar-itens" href="{% url 'subscription:category-list' event.pk %}"
           title="Categorias">
            <i class="fas fa-th-list"></i>
            Categorias
        </a>
    </li>

    <li {% if active == 'lotes' %}class="active"{% endif %}>
        <a class="sidebar-itens" href=
                "{% url 'subscription:lot-list' event.pk %}"
           title="Lotes/Categorias">
            <i class="fas fa-th-large"></i>
            Lotes
        </a>
    </li>

    <li {% if active == 'dados-do-evento' %}class="active"{% endif %}>
        <a class="sidebar-itens" href=
                "{% url 'event:event-edit' event.pk %}"
           title="Dados do evento">
            <i class="fas fa-cog"></i> Dados do evento
        </a>
    </li>
    {% if event.feature_configuration.feature_survey and event.feature_management.survey %}
        <li {% if active == 'form-personalizado' %}class="active"{% endif %}>
            <a class="sidebar-itens" href=
                    "{% url 'subscription:form-config' event.pk %}"
               title="Form. Personalizado"
               style="padding-right: 0;font-size: 15px">
                <i class="fab fa-wpforms"></i> Form. Personalizado
            </a>
        </li>
    {% endif %}
    {#        <h5 class="sidebar-header" style="color:#4c4c4c;">Adicionais</h5>#}
    {#        <ul class="nav nav-pills nav-stacked">#}
    {#            <li>#}
    {#                <a class="sidebar-itens" href="#"#}
    {#                   title="Opcionais">#}
    {#                    <i class="far fa-calendar-plus"></i> Opcionais#}
    {#                </a>#}
    {#            </li>#}
    {#        <li>#}
    {#            <a class="sidebar-itens" href="#"#}
    {#               title="Certificados">#}
    {#                <i class="fas fa-address-card"></i> Certificados#}
    {#            </a>#}
    {#        </li>#}

</ul>

{% if event.feature_configuration.feature_checkin and event.feature_management.checkin %}
    <h5 class="sidebar-header" style="color:#4c4c4c;">Credenciamento</h5>
    <ul class="nav nav-pills nav-stacked">
        <li {% if active == 'attendance' %}class="active"{% endif %}>
            <a class="sidebar-itens" href=
                    "{% url 'attendance:manage-list-attendance' event.pk %}"
               title="Credenciados">
                <i class="fas fa-calendar-check"></i>
                Atendimento
            </a>
        </li>
    </ul>
{% endif %}
{% if event.is_scientific %}
    <h5 class="sidebar-header" style="color:#4c4c4c;">Artigos científicos</h5>
    <ul class="nav nav-pills nav-stacked">
        <li {% if active == 'scientific_work_list' %}class="active"{% endif %}>
            <a class="sidebar-itens"
               href="{% url 'scientific_work:work-list' event.pk %}"
               title="Submissão de artigos">
                <i class="fas fa-newspaper"></i> Ver trabalhos
            </a>
        </li>
        <li {% if active == 'scientific_work' %}class="active"{% endif %}>
            <a class="sidebar-itens"
               href="{% url 'scientific_work:scientific_event_config' event.pk %}"
               title="Submissão de artigos">
                <i class="fas fa-cog"></i> Configurações
            </a>
        </li>

    </ul>
{% endif %}

{% if event.feature_management.products and  event.feature_configuration.feature_products or event.feature_configuration.feature_services and event.feature_management.services %}
    <h5 class="sidebar-header" style="color:#4c4c4c;">Recursos Extras</h5>
    <ul class="nav nav-pills nav-stacked">
        {% if event.feature_configuration.feature_services and event.feature_management.services %}
            <li {% if active == 'addon-themes' %}class="active"{% endif %}>
                <a class="sidebar-itens"
                   href="{% url 'addon:theme-list' event.pk %}"
                   title="Temas de Atividades Extras">
                    <i class="fas fa-list-alt"></i>
                    Temas
                </a>
            </li>
            <li {% if active == 'addon-atividades-extras' %}class="active"{% endif %}>
                <a class="sidebar-itens"
                   href="{% url 'addon:optional-service-list' event.pk %}"
                   title="Atividades Extras">
                    <i class="fas fa-chalkboard-teacher"></i>
                    Atividades Extras
                </a>
            </li>
        {% endif %}
        {% if event.feature_configuration.feature_products and event.feature_management.products %}
            <li {% if active == 'addon-opcionais' %}class="active"{% endif %}>
                <a class="sidebar-itens"
                   href="{% url 'addon:optional-product-list' event.pk %}"
                   title="Opcionais">
                    <i class="fas fa-shopping-basket"></i>
                    Opcionais
                </a>
            </li>
        {% endif %}
    </ul>
{% endif %}
<br/>
<br/>
<br/>

<script>

    $(document).ready(function () {

        var publish_switch_el = $('#publish_event');
        var url = "{% url 'event:event-publish' event.pk %}";

        if (publish_switch_el.length) {

            publish_switch_el.on('change', function () {

                if (publish_switch_el.prop('checked')) {
                    update_publishing_state('publish', url);
                } else {
                    update_publishing_state('unpublish', url);
                }

            });
        }

    });


</script>

