{% load subscription_tags %}

{% comment %}
Variáveis:
- active
- event
- has_paid_lots

{% endcomment %}
<h5 class="sidebar-header" style="color:#4c4c4c;">Início</h5>
<ul class="nav nav-pills nav-stacked">
    <li {% if active == 'panel' %}class="active"{% endif %}>
        <a class="sidebar-itens" href="{% url 'event:event-panel' event.pk %}"
           title="Painel">
            <i class="fas fa-tachometer-alt"></i>
            Painel
        </a>
    </li>
</ul>

<h5 class="sidebar-header" style="color:#4c4c4c;">Participantes</h5>
<ul class="nav nav-pills nav-stacked">

    <li {% if active == 'inscricoes' %}class="active"{% endif %}>
        <a class="sidebar-itens" href=
                "{% url 'subscription:subscription-list' event.pk %}"
           title="Inscrições">
            <i class="fa fa-clipboard"></i>
            Inscrições
            <span class="badge float-right">
                {% event_count_completed_subscriptions event %}
            </span>
        </a>
    </li>
    {% if has_paid_lots %}
        <li {% if active == 'pagamentos' %}class="active"{% endif %}>
            <a class="sidebar-itens" href=
                    "{% url 'payment:event-payments' event.pk %}"
               title="Pagamentos">
                <i class="fas fa-credit-card"></i> Pagamentos
            </a>
        </li>
    {% endif %}

{#    <li {% if active == 'certificate' %}class=  "active"{% endif %}>#}
{#        <a class="sidebar-itens" href="{% url 'certificate:event-certificate-prepare' event.pk %}"#}
{#           title="Editor de Certificados">#}
{#            <i class="fas fa-graduation-cap"></i>Certificados#}
{#        </a>#}
{#    </li>#}
</ul>

<h5 class="sidebar-header" style="color:#4c4c4c;">Credenciamento</h5>
<ul class="nav nav-pills nav-stacked">
    <li {% if active == 'checkin-dashboard' %}class="active"{% endif %}>
        <a class="sidebar-itens" href=
                "{% url 'subscription:subscription-attendance-dashboard' event.pk %}"
           title="Check-in">
            <i class="fas fa-chart-line"></i>
            Painel de Check-in
        </a>
    </li>
    <li {% if active == 'checkin' %}class="active"{% endif %}>
        <a class="sidebar-itens" href="{% url 'subscription:subscription-attendance-search' event.pk %}"
           title="Check-in">
            <i class="fas fa-calendar-check"></i>
            Check-in
        </a>
    </li>
    <li {% if active == 'checkin-list' %}class="active"{% endif %}>
        <a class="sidebar-itens" href=
                "{% url 'subscription:subscription-attendance-list' event.pk %}"
           title="Credenciados">
            <i class="fas fa-clipboard-check"></i>
           Credenciados
        </a>
    </li>
</ul>

{% if event.is_scientific %}
    <h5 class="sidebar-header" style="color:#4c4c4c;">Artigos científicos</h5>
    <ul class="nav nav-pills nav-stacked">
        <li {% if active == 'scientific_work_list' %}class="active"{% endif %}>
            <a class="sidebar-itens"
               href="{% url 'scientific_work:work-list' event.pk %}"
               title="Submissão de artigos">
                <i class="fas fa-newspaper"></i> Ver trabalhos
            </a>
        </li>
        <li {% if active == 'scientific_work' %}class="active"{% endif %}>
            <a class="sidebar-itens"
               href="{% url 'scientific_work:scientific_event_config' event.pk %}"
               title="Submissão de artigos">
                <i class="fas fa-cog"></i> Configurações
            </a>
        </li>

    </ul>
{% endif %}

<h5 class="sidebar-header" style="color:#4c4c4c;">Recursos Extras</h5>
<ul class="nav nav-pills nav-stacked">
    <li {% if active == 'addon-themes' %}class="active"{% endif %}>
        <a class="sidebar-itens" href= "{% url 'addon:theme-list' event.pk %}" title="Temas de Atividades Extras">
            <i class="fas fa-chart-line"></i>
            Temas
        </a>
    </li>
    <li {% if active == 'addon-atividades-extras' %}class="active"{% endif %}>
        <a class="sidebar-itens" href="{% url 'addon:optional-service-list' event.pk %}" title="Atividades Extras">
            <i class="fas fa-chart-line"></i>
            Atividades Extras
        </a>
    </li>
    <li {% if active == 'addon-opcionais' %}class="active"{% endif %}>
        <a class="sidebar-itens" href="{% url 'addon:optional-product-list' event.pk %}" title="Opcionais">
            <i class="fas fa-chart-line"></i>
            Opcionais
        </a>
    </li>
</ul>

<h5 class="sidebar-header" style="color:#4c4c4c;">Configurações</h5>
<ul class="nav nav-pills nav-stacked">
    <li {% if active == 'pagina-do-evento' %}class="active"{% endif %}>
        <a class="sidebar-itens" href=
                "{% url 'event:event-hotsite' event.pk %}"
           title="Página do evento">
            <i class="fas fa-file-alt"></i> Página do evento
        </a>
    </li>
    {% if event.subscription_type != event.SUBSCRIPTION_SIMPLE %}
        <li {% if active == 'lotes-categorias' %}class="active"{% endif %}>
            <a class="sidebar-itens" href=
                    "{% url 'subscription:lot-list' event.pk %}"
               title="Lotes/Categorias">
                <i class="fas fa-th-large"></i>
                Lotes/Categorias
            </a>
        </li>
    {% endif %}
    <li {% if active == 'dados-do-evento' %}class="active"{% endif %}>
        <a class="sidebar-itens" href=
                "{% url 'event:event-edit' event.pk %}"
           title="Dados do evento">
            <i class="fas fa-cog"></i> Dados do evento
        </a>
    </li>
    <li {% if active == 'form-personalizado' %}class="active"{% endif %}>
        <a class="sidebar-itens" href=
                "{% url 'subscription:form-config' event.pk %}"
           title="Form. Personalizado"
           style="padding-right: 0;font-size: 15px">
            <i class="fab fa-wpforms"></i> Form. Personalizado
        </a>
    </li>
    {#        <h5 class="sidebar-header" style="color:#4c4c4c;">Adicionais</h5>#}
    {#        <ul class="nav nav-pills nav-stacked">#}
    {#            <li>#}
    {#                <a class="sidebar-itens" href="#"#}
    {#                   title="Opcionais">#}
    {#                    <i class="far fa-calendar-plus"></i> Opcionais#}
    {#                </a>#}
    {#            </li>#}
    {#        <li>#}
    {#            <a class="sidebar-itens" href="#"#}
    {#               title="Certificados">#}
    {#                <i class="fas fa-address-card"></i> Certificados#}
    {#            </a>#}
    {#        </li>#}

</ul>