{% extends "neuboard/base.html" %}

{% load static %}

{% block head %}

{{ block.super }}
<!-- DateRange Picker -->
<link rel="stylesheet" href="{% static 'assets/plugins/daterangepicker/daterangepicker-bs3.css' %}">

<!-- Switchery -->
<link rel="stylesheet" href="{% static 'assets/plugins/switchery/switchery.min.css' %}">


{% endblock %}

{% block title %}Deletar evento{% endblock %}

{% block content %}

<section class="main-content-wrapper">
    <div class="pageheader">
        <h1>Deletar Evento</h1>
    </div>
    <section id="main-content">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-body ng-binding">
                        <form action="" method="post">{% csrf_token %}
                            <p>Are you sure you want to delete "{{ object }}"?</p>
                            <input type="submit" value="Confirm" />
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>
</section>




{% endblock %}










