{% extends "base/base.html" %}
{% load static %}
{% load static i18n queryset_filter %}
{% load base_tags %}
{% load widget_tweaks %}
{% load event_tags %}
{% load form_config_tags %}

{% block sidebar %}{% endblock %}

{% block sidebar-bars %}{% endblock %}

{% block messages %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }} alert-dismissable">
                <button type="button" class="close"
                        data-dismiss="alert" aria-hidden="true">×
                </button>
                {{ message|get_first_item }}
            </div>
        {% endfor %}
    {% endif %}
{% endblock messages %}

{% block title %}
    {% if object %}Editar{% else %}Novo{% endif %} Evento | Congressy
{% endblock %}

{% block page_title %}
    {% if object %}
        Editar Evento
    {% else %}
        Novo Evento
        {% if event_type == 'free' %}
            Gratuito
        {% elif event_type == 'paid' %}
            Pago
        {% else %}
            Científico
        {% endif %}
    {% endif %}
{% endblock %}

{% block page_sub_title %}
    {% if object %}
        {{ object.name }} (ID: {{ object.pk }})
    {% endif %}
{% endblock %}



{% block nav_aside_itens %}
    {% if object %}
        {% include 'event/event-menu.html' with active='dados-do-evento' %}
    {% endif %}
{% endblock %}


{% block content %}
    {% if not step %}
        <div class="row">
            <div class="col-md-4">
                <div class="type_event panel panel-primary"
                     href="javascript:void(0)" onclick="choose_type('free')">
                    <div class="panel-heading">
                        <h3 class="panel-title" style="text-align: center;">
                            Evento
                            Gratuito</h3>
                    </div>
                    <div class="panel-body" style="text-align: center">
                        <img class="type-image" style="width: 50%; height:
                    30%;" src=
                                "{% static "assets/img/free-event.svg" %}"
                        />
                    </div>
                    <div class="panel-footer">
                        <h3> Lorem ipsum iaculis nisi proin primis fusce proin
                            lacinia volutpat, tempor class orci neque pretium
                            fames fusce orci diam vitae, nulla nibh ornare
                            torquent praesent fringilla sapien conubia. curae a
                            massa tortor accumsan conubia maecenas sagittis
                            morbi maecenas, luctus tincidunt augue sodales
                            quam aenean convallis, posuere sit augue hendrerit.
                        </h3>
                    </div>
                    <i class="overlay far fa-check-circle fa-10x"
                    ></i>
                </div>
            </div>
            <div class="col-md-4">
                <div class="type_event panel panel-primary"
                     href="javascript:void(0)" onclick="choose_type('paid')">
                    <div class="panel-heading">
                        <h1 class="panel-title" style="text-align: center;">
                            Evento
                            Pago</h1>
                    </div>
                    <div class="panel-body" style="text-align: center">
                        <img style="width: 50%; height: 30%;"
                             class="type-image"
                             src=
                                     "{% static "assets/img/paid-event.svg" %}"
                        />
                    </div>
                    <div class="panel-footer">
                        <h3> Lorem ipsum iaculis nisi proin primis fusce proin
                            lacinia volutpat, tempor class orci neque pretium
                            fames fusce orci diam vitae, nulla nibh ornare
                            torquent praesent fringilla sapien conubia. curae a
                            massa tortor accumsan conubia maecenas sagittis
                            morbi maecenas, luctus tincidunt augue sodales
                            quam aenean convallis, posuere sit augue hendrerit.
                        </h3>
                    </div>
                    <i class="overlay far fa-check-circle fa-10x"
                    ></i>

                </div>
            </div>
            <div class="col-md-4">
                <div class="type_event panel panel-primary"
                     href="javascript:void(0)"
                     onclick="choose_type('scientific')">
                    <div class="panel-heading">
                        <h3 class="panel-title" style="text-align: center;">
                            Evento
                            Científico</h3>
                    </div>
                    <div class="panel-body" style="text-align: center">
                        <img style="width: 50%; height: 30%;"
                             class="type-image" src=
                                     "{% static "assets/img/scientific-event.svg" %}"
                        />

                    </div>
                    <div class="panel-footer">
                        <h3> Lorem ipsum iaculis nisi proin primis fusce proin
                            lacinia volutpat, tempor class orci neque pretium
                            fames fusce orci diam vitae, nulla nibh ornare
                            torquent praesent fringilla sapien conubia. curae a
                            massa tortor accumsan conubia maecenas sagittis
                            morbi maecenas, luctus tincidunt augue sodales
                            quam aenean convallis, posuere sit augue hendrerit.
                        </h3>
                    </div>
                    <i class="overlay far fa-check-circle fa-10x"
                    ></i>
                </div>
            </div>

        </div>
        <form action="" method="GET" id="choose-type-form"
              style="display:none">
            <input type="hidden" name="event_type" id="event_type" value=""/>
            <input type="hidden" name="step" value="step2"/>
        </form>
    {% endif %}
    {% if step == 'step2' %}

    <form action="" method="post" class="form-horizontal form-border"
          role="form" name="event_form">
        {% csrf_token %}

        {% if form.non_field_errors %}
            {% render_errors form.non_field_errors %}
        {% endif %}

        {% for hidden_field in form.hidden_fields %}
            {% if hidden_field.errors %}
                {% render_errors hidden_field.errors %}
            {% endif %}
            {{ hidden_field }}
        {% endfor %}

        <div class="row">
            <div class="col-lg-8 col-lg-push-2 col-xl-8 col-xl-push-2">
                <div class="buttonbar">
                    <div class="float-left">
                        <a href="{% url 'event:event-add' %}"
                               class="btn btn-primary">
                                <i class="fas fa-arrow-circle-left"></i>
                                Voltar
                        </a>
                    </div>

                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-push-2 col-xl-8 col-xl-push-2">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <div class="panel-title">Campos Principais</div>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-12">
                                        {% render_generic_field form.name autofocus=True %}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        {% render_generic_field form.organization %}
                                    </div>
                                    <div class="col-md-6">
                                        {% render_generic_field form.category %}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        {% render_generic_field form.date_start %}
                                    </div>
                                    <div class="col-md-6">
                                        {% render_generic_field form.date_end %}
                                    </div>
                                </div>
                                {% if event_type != 'free' %}

                                    <div class="row">
                                        <div class="col-md-6">
                                            {% render_switchery_field form.has_optionals %}
                                        </div>
                                        <div class="col-md-6">
                                            {% render_switchery_field form.has_extra_activities %}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            {% render_switchery_field form.has_checkin %}
                                        </div>
                                        <div class="col-md-6">
                                            {% render_switchery_field form.has_certificate %}
                                        </div>
                                    </div>
                                    {% endif %}
                                    </div>
                                    </div>
                                    </div>
                                    </div>
                                    </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-8 col-lg-push-2 col-xl-8 col-xl-push-2">
                                            <div class="buttonbar bottom">
                                                <div class="float-right">
                                                    {% if next_path %}
                                                        <a href="{{ next_path|urlencode }}"
                                                           class="btn btn-danger">
                                                            <i class="fas fa-times-circle"></i>Cancelar</a>
                                                        <input type="hidden"
                                                               name="next"
                                                               value="{{ next_path }}"/>
                                                    {% else %}
                                                        <a href="{% url 'event:event-list' %}"
                                                           class="btn btn-danger">
                                                            <i class="fas fa-times-circle"></i>Cancelar</a>
                                                    {% endif %}


                                                    <button type="submit"
                                                            class="btn btn-success">
                                                        <i class="fa fa-save"></i>
                                                        Salvar
                                                    </button>
                                                </div>
                                                <div class="clearfix"></div>
                                            </div>
                                        </div>
                                    </div>
                                    </form>
                                {% endif %}

{% endblock %}

{% block scripts %}
    <script src="{% static "assets/plugins/jquery-datetime-picker/jquery.datetimepicker.full.min.js" %}"></script>
    <script src="{% static 'assets/js/event.js' %}"></script>
    <script>
        function choose_type(chosen_type) {
            $('#event_type').val(chosen_type);
            $('#choose-type-form').submit();
        }

        (function ($) {
            $(document).ready(function () {
                {% if LANGUAGE_CODE == 'pt-br' %}
                    $('#id_date_start_0').mask("99/99/9999");
                    $('#id_date_start_1').mask("99:99");
                    $('#id_date_end_0').mask("99/99/9999");
                    $('#id_date_end_1').mask("99:99");
                {% elif LANGUAGE_CODE == 'en' or LANGUAGE_CODE == 'en-us' %}
                    $('#id_date_start_0').mask("99/99/9999");
                    $('#id_date_start_1').mask("99:99");
                    $('#id_date_end_0').mask("99/99/9999");
                    $('#id_date_end_1').mask("99:99");
                {% else %}
                    $('#id_date_start_0').mask("9999-99-99");
                    $('#id_date_start_1').mask("99:99");
                    $('#id_date_end_0').mask("9999-99-99");
                    $('#id_date_end_1').mask("99:99");
                {% endif %}


                $('.type_event').on('click', function () {
                    $('.type_event').find('.overlay').each(function () {
                        $(this).removeClass('active');
                    });
                    $('.type_event:hover > .overlay').toggleClass('active');
                });
            });
        })(jQuery);
    </script>
{% endblock %}

{% block styles %}
    <link rel="stylesheet"
          href="{% static "assets/plugins/jquery-datetime-picker/jquery.datetimepicker.min.css" %}">

    <style>
        .type_event {
            cursor: pointer;
        }

        .overlay {
            display: none;
        }

        .active {
            position: absolute;
            text-align: center;
            color: #0e90d2;
            top: 15%;
            width: 100%;
            height: 100%;
        {#background-color: #000;#} opacity: 1;
            z-index: 100;
            display: block;
        }

        #gmap {
            width: 100%;
            height: 300px;
        }
    </style>
{% endblock %}
