{% extends "base/base.html" %}
{% load static %}
{% load base_tags %}
{% load widget_tweaks %}
{% load event_tags %}

{% block sidebar %}{% endblock %}
{% block sidebar-bars %}{% endblock %}

{% block messages %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }} alert-dismissable">
                <button type="button" class="close"
                        data-dismiss="alert" aria-hidden="true">×
                </button>
                {{ message|get_first_item }}
            </div>
        {% endfor %}
    {% endif %}
{% endblock messages %}
{% block title %}
    {% if object %}Editar{% else %}Novo{% endif %} Evento | Congressy
{% endblock %}
{% block page_title %}
    {% if object %}Editar{% else %}Novo{% endif %} Evento
{% endblock %}
{% block page_sub_title %}
    {% if object %}
        {{ object.name }} (ID: {{ object.pk }})
    {% endif %}
{% endblock %}
{% block content %}
    <form action="" method="post" class="form-horizontal form-border"
          role="form" name="event_form">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-12">
                <div class="buttonbar">
                    <div class="float-right">
                        {% if next_path %}
                            <a href="{{ next_path|urlencode }}"
                               class="btn btn-danger">
                                <i class="fa fa-close"></i>
                                Cancelar
                            </a>
                            <input type="hidden" name="next"
                                   value="{{ next_path }}"/>
                        {% else %}
                            <a href="{% url 'event:event-list' %}"
                               class="btn btn-danger">
                                <i class="fa fa-close"></i>
                                Cancelar
                            </a>
                        {% endif %}

                        <button type="submit" class="btn btn-success">
                            <i class="fa fa-save"></i>
                            Salvar
                        </button>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-primary">

                    <div class="panel-body">

                        {% for field in form %}
                            {% if field.field.widget.input_type == "hidden" %}
                                {{ field }}
                            {% else %}
                                <div class="form-group">

                                    <label for="{{ field.id_for_label }}">
                                        {{ field.label }}
                                        {% if field.field.required %}
                                            <small style="color:#C9302C">*
                                            </small>
                                        {% endif %}
                                    </label>

                                    <div>
                                        {% if field.field.widget.input_type == "checkbox" %}
                                            {{ field |add_class:"js-switch"|attr:"style:display:none"|attr:"data-switchery:true" }}
                                        {% else %}
                                            {{ field |add_class:"form-control" }}
                                        {% endif %}
                                        {% if field.errors %}
                                            {% for error in field.errors %}
                                                <div class="alert alert-danger
                                            alert-dismissable">
                                                    <button type="button"
                                                            class="close"
                                                            data-dismiss="alert"
                                                            aria-hidden="true">
                                                        ×
                                                    </button>
                                                    {{ error }}
                                                </div>
                                            {% endfor %}
                                        {% endif %}
                                        {% if field.help_text %}
                                            <div>
                                                <small class="text-muted">{{ field.help_text|safe }}</small>
                                            </div>
                                        {% endif %}
                                    </div>

                                </div>
                            {% endif %}
                        {% endfor %}

                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="buttonbar bottom">
                    <div class="float-right">
                        {% if next_path %}
                            <a href="{{ next_path|urlencode }}"
                               class="btn btn-danger">
                                <i class="fa fa-close"></i>Cancelar</a>
                            <input type="hidden" name="next"
                                   value="{{ next_path }}"/>
                        {% else %}
                            <a href="{% url 'event:event-list' %}"
                               class="btn btn-danger">
                                <i class="fa fa-close"></i>Cancelar</a>
                        {% endif %}


                        <button type="submit" class="btn btn-success">
                            <i class="fa fa-save"></i>
                            Salvar
                        </button>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </form>
{% endblock %}


{% block scripts %}

    <script src="
{% static "assets/plugins/jquery-datetime-picker/jquery.datetimepicker.full.min.js" %}"></script>
    <script type="application/javascript">


        var logic = function (currentDateTime) {
            delete $('#id_date_end');
            $('#id_date_end').datetimepicker({
                format: 'd/m/y H:m:s',
                minDate: currentDateTime
            })
        };


        $('#id_date_start').datetimepicker({
            format: 'd/m/y H:m:s',
            onChangeDateTime: logic
        });


        $('#id_date_end').datetimepicker({
            format: 'd/m/y H:m:s'
        });

    </script>

{% endblock %}

{% block styles %}

    <link rel="stylesheet"
          href="
{% static "assets/plugins/jquery-datetime-picker/jquery.datetimepicker.min.css" %}">

{% endblock %}