{% extends "base/base.html" %}

{% load static i18n widget_tweaks queryset_filter form_config_tags %}

{% block title %} Página do Evento | Congressy{% endblock %}

{% block page_title %}Página do Evento{% endblock %}

{% block page_sub_title %}{{ event.name }}{% endblock %}

{% block page_description %}Configuração da página do evento.{% endblock %}

{% block styles %}
    <style>
        .event-info-status-item {
            text-align: center;
            padding: 10px 20px;
        }

        .event-info-status-item .title {
            font-size: 14px;
            font-weight: 700;
        }

        .event-info-status-item .description {
            font-size: 12px;
        }

        .django-ckeditor-widget {
            display: block !important;
        }
        #map1, #map2 {
            width: 100%;
            height: 300px;
        }
    </style>
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD6ejnl_NChhfZhI_GoNT12FfCVCdOlgtw&libraries=places&callback=init&language=pt-BR&region=BR" async defer></script>

    <!-- ckeditor -->
    <script type="text/javascript"
            src="{% static "ckeditor/ckeditor-init.js" %}"></script>
    <script type="text/javascript"
            src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>

    <script src="{% static "hotsite/js/subscription.js" %}"></script>
    <script>
        window.cgsy = window.cgsy || {};
        window.cgsy.maps = window.cgsy.maps || {};

        (function($, window) {
            var google = window.google;
            var maps = window.cgsy.maps;

            maps.setCenter = function(map, location) {
                map.setCenter(location);
            };

            maps.addMarker = function(map, location) {
                window.cgsy.maps.setCenter(map, location);

                var marker = new window.google.maps.Marker({
                    position: location,
                    map: map,
                    draggable: true
                });

                var lat_el = $('#lat');
                var lng_el = $('#lng');
                var zoom_el = $('#zoom');

                lat_el.val(marker.position.lat());
                lng_el.val(marker.position.lng());
                zoom_el.val(map.getZoom());

                window.google.maps.event.addListener(marker, 'dragend', function () {
                    lat_el.val(marker.position.lat());
                    lng_el.val(marker.position.lng());
                });

                window.google.maps.event.addListener(map, 'zoom_changed', function () {
                    zoom_el.val(map.getZoom());
                });
            };

            maps.search_by_address = function(map, address) {
                var geocoder = new window.google.maps.Geocoder;
                geocoder.geocode({'address': address}, function(results, status) {
                    if (status !== 'OK') {
                        alert('Geocode was not successful for the following reason: ' + status);
                        return;
                    }
                    var location = results[0].geometry.location;
                    window.cgsy.maps.addMarker(map, location);
                });
            };

        })(jQuery, window);

        function init() {
            var map1 = new google.maps.Map(document.getElementById('map1'), {
                center: {lat: -16.672248190781488, lng: -49.213632157711004},
                zoom: 18
            });

            window.cgsy.maps.addMarker(
                map1,
                {lat: -16.672248190781488, lng: -49.213632157711004}
            );
        }

        function resize_status_block() {
            var form_height = $('#block-form').height();
            var icons_height = $('#block-status-icons').height();
            if (form_height > icons_height) {
                $('#block-status-icons').height(form_height);
            }

            if (icons_height > form_height) {
                $('#block-form').height(icons_height);
            }
        }

        $(document).ready(function () {
            $(window).on('resize', function() {
                window.setTimeout(function() {
                    resize_status_block();
                }, 400);
            });
            window.setTimeout(function() {
                resize_status_block();
            }, 400);

            var uf_el = $('#id_state');
            var city_el = $('#id_city_name');

            $('#id_zip_code').mask("99.999-999");

            showHideCepLoader();

            window.setTimeout(function () {
                {% if event.place and event.place.city %}
                    uf_el.val('{{ event.place.city.uf }}');
                    fetch_cities(uf_el, '{{ event.place.city.pk }}');
                {% else %}
                    uf_el.val('');
                    city_el.val('');
                    city_el.prop('disabled', true);
                {% endif %}
            }, 300);
        });
    </script>
{% endblock %}

{% block nav_aside_itens %}
    <h5 class="sidebar-header">Participantes</h5>
    <ul class="nav nav-pills nav-stacked">
        {% if event.subscription_type != event.SUBSCRIPTION_SIMPLE %}
            <li>
                <a href="{% url 'subscription:lot-list' event.pk %}"
                   title="Inscrições">
                    <i class="fa  fa-fw fa-rocket"></i>
                    Lotes/Categorias
                </a>
            </li>
        {% endif %}
        <li>
            <a href="{% url 'subscription:subscription-list' event.pk %}"
               title="Inscrições">
                <i class="fa  fa-fw fa-rocket"></i>
                Inscrições
                <span class="badge float-right">{{ event.subscriptions|queryset_count:"status__in=['confirmed','awaiting']" }}</span>
            </a>
        </li>
        {#        <li>#}
        {#            <a href="{% url 'subscription:subscription-attendance-search' event.pk %}"#}
        {#               title="Check-in">#}
        {#                <i class="fa  fa-fw fa-rocket"></i>#}
        {#                Check-in#}
        {#            </a>#}
        {#        </li>#}
    </ul>
    <h5 class="sidebar-header">Configurações</h5>
    <ul class="nav nav-pills nav-stacked">
        <li class="active">
            <a href="{% url 'event:event-hotsite' event.pk %}"
               title="Página do evento">
                <i class="fa  fa-fw fa-rocket"></i> Página do evento
            </a>
        </li>
        <li>
            <a href="{% url 'subscription:form-config' event.pk %}"
               title="Formulário">
                <i class="fa  fa-fw fa-rocket"></i> Formulário
            </a>
        </li>
        {% if has_paid_lots %}
            <li>
                <a href="{% url 'payment:event-payments' event.pk %}"
                   title="Pagamentos">
                    <i class="fa  fa-fw fa-rocket"></i> Pagamentos
                </a>
            </li>
        {% endif %}
    </ul>
{% endblock %}

{% block content %}
    <form action="" method="post" class="form-horizontal" enctype="multipart/form-data" role="form">
        {% csrf_token %}

        {% if form.non_field_errors %}
            {% render_errors form.non_field_errors %}
        {% endif %}

        {% for hidden_field in form.hidden_fields %}
            {% if hidden_field.errors %}
                {% render_errors hidden_field.errors %}
            {% endif %}
            {{ hidden_field }}
        {% endfor %}

        <div class="row">
            <div class="col-md-12">
                <div class="buttonbar">
                    <div class="float-right">
                        <button type="submit" class="btn btn-success">
                            <i class="fa fa-save"></i>
                            Salvar
                        </button>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-primary" id="block-form">
                            <div class="panel-heading">
                                <div class="panel-title">
                                    Capa da Página
                                </div>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        {% render_generic_field form.image_main %}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        {% render_generic_field form.lead %}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        {% render_generic_field form.description_html %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 hidden-xs hidden-sm">
                <div class="panel panel-primary" id="block-status-icons">
                    <div class="panel-heading">
                        <div class="panel-title">
                            Etapas de configuração
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12">
                                {% if info and info.description_html %}
                                    <a href="{% url 'public:hotsite' info.event.slug %}"
                                       target="_blank"
                                       class="btn btn-primary btn-block">
                                        <i class="fa fa-globe"></i>
                                        Visualizar página
                                    </a>
                                {% else %}
                                    <button type="button"
                                            class="btn btn-primary btn-trans btn-block disabled"
                                            title="Você deve configurar pelo menos a descrição do seu evento.">
                                        <i class="fa fa-globe"></i>
                                        Visualizar página
                                    </button>
                                {% endif %}
                                <div class="col-md-12 event-info-status-item">
                                    <div>
                                        <i class="fas fa-check-circle fa-5x {% if info and info.image_main %}success-color{% endif %}"></i>
                                    </div>
                                    <div>
                                        <div class="title">Banner principal</div>
                                        <div class="text-muted description">
                                            Deixa o site do evento mais apresentável.
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 event-info-status-item">
                                    <div>
                                        <i class="fas fa-check-circle fa-5x {% if info and info.lead %}success-color{% endif %}"></i>
                                    </div>
                                    <div>
                                        <div class="title">Descrição rápida</div>
                                        <div class="text-muted description">
                                            Motive o visitante a permanecer no site,
                                            aumentando a possibilidade de conclusão de
                                            sua inscrição.
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 event-info-status-item">
                                    <div>
                                        <i class="fas fa-check-circle fa-5x  {% if info and info.description_html %}success-color{% endif %}"></i>
                                    </div>
                                    <div>
                                        <div class="title">Sobre o evento</div>
                                        <div class="text-muted description">
                                            Deixa claro para o visitante que ainda não
                                            conhece os detalhes do evento e gostaria de
                                            saber do que se trata.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <div class="panel-title">
                            Localização
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-md-12">
                                        {% render_generic_field form.name %}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 col-xl-4">
                                        {% render_generic_field form.zip_code %}
                                        <div id="cep_loader" style="width: 22px;position: absolute;
                                             top: 33px;right: 33px;">
                                            <img src="{% static 'assets/img/loader.gif' %}"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        {% render_generic_field form.street %}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        {% render_generic_field form.number %}
                                    </div>
                                    <div class="col-md-6">
                                        {% render_generic_field form.complement %}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        {% render_generic_field form.village %}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4 address-row">
                                        {% render_generic_field form.state %}
                                    </div>
                                    <div class="col-md-8 address-row">
                                        {% render_generic_field form.city_name %}
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
{#                                <form>#}
{#                                    <input type="text" id = "endereco">#}
{#                                    <input type="button" id="submitEndereco">#}
{#                                </form>#}
{#                                <div id="map1"></div>#}
{#                                <form>#}
{#                                    <input type="text" id="lat" readonly="yes"><br>#}
{#                                    <input type="text" id="lng" readonly="yes"><br>#}
{#                                    <input type="text" id="zoom" readonly="yes">#}
{#                                </form>#}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="buttonbar bottom">
                    <div class="float-right">
                        <button type="submit" class="btn btn-success">
                            <i class="fa fa-save"></i>
                            Salvar
                        </button>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </form>
{% endblock %}
