{% extends "base/base.html" %}
{# @TODO Change the icons in nav_aside_itens  #}

{% load static event_tags  base_tags  widget_tweaks form_config_tags humanize l10n %}
{% load queryset_filter %}
{% block scripts %}
    <script src="{% static "/assets/plugins/gauge/gauge.min.js" %}"></script>
    <script src="{% static "/assets/plugins/chartjs/Chart.min.js" %}"></script>
    <script>
        //=================Gauge Inscritos=================================
        var opts = {
            lines: 12, // The number of lines to draw
            angle: 0, // The length of each line
            lineWidth: 0.4, // The line thickness
            pointer: {
                length: 0.75, // The radius of the inner circle
                strokeWidth: 0.042, // The rotation offset
                color: '#1D212A' // Fill color
            },
            limitMax: 'false',   // If true, the pointer will not go past the end of the gauge
            colorStart: '#1f7bb6',   // Colors
            colorStop: '#1f7bb6',    // just experiment with them
            strokeColor: '#F0F3F3',   // to see which ones work best for you
            generateGradient: true
        };
        var target = document.getElementById('gauge');
        if (target != null) {
            var gauge = new Gauge(target).setOptions(opts); // create sexy gauge!
// your canvas element
            gauge.maxValue = {{ limit }}; // set max gauge value
            gauge.animationSpeed = 32; // set animation speed (32 is default value)
            gauge.set({{total_subscriptions}}); // set actual value
            gauge.setTextField(document.getElementById("gauge-text"));
        }
        //==================================================
        //=================Doughnut Genero=================================
        var doughnutData = [{
            value: {{gender.men}},
            color: "#1F7BB6",
            highlight: "#1F7BB6",
            label: "Homens"
        }, {
            value: {{gender.women}},
            color: "#FF80AB",
            highlight: "#FF80AB",
            label: "Mulheres"
        }
        ];
        window.onload = function () {
            var ctx3 = document.getElementById("doughnut").getContext("2d");
            window.myDoughnut = new Chart(ctx3).Doughnut(doughnutData, {
                responsive: true
            });
        };

    </script>
{% endblock %}
{% block styles %}
    <style>
        .todo_list_element {
            padding-left: 10px;
            padding-right: 10px;
            padding-top: 10px;
            padding-bottom: 10px;
        }

        .new_nav_items {
            width: 40px;
        }

        .divider {
            height: 1px;
            margin: 9px 0;
            overflow: hidden;
            background-color: #e5e5e5;
        }

        .sidebar-left .nav > li.active > a {
            color: #6FAFC0;
        }
    </style>
{% endblock %}
{% block pageheader %}
    <div class="pageheader">
        <h2>Painel do Evento</h2>
    </div>
{% endblock %}

{% block title %} Painel do evento | Congressy{% endblock %}

{% block page_title %}{{ object.name }}{% endblock %}

{% block new_nav %}
    <ul class="nav nav-pills nav-stacked " style="width:70px;font-size: 25px;">
        <li class="new_nav_items">
            <a href="{% url 'event:event-list' %}"
               title="Eventos" class="fa fa-calendar" style="color:white;">
            </a>
        </li>
        <li class="new_nav_items">
            <a href="#"
               title="Inscrições" class="fa fa-list" style="color:white;"></a>
        </li>
        <li class="new_nav_items">
            <a href="#"
               title="Organizações" class="fa fa-sitemap" style="color:white;"
            ></a>
        </li>
    </ul>

{% endblock %}


{% block content %}
    {% if has_paid_lots %}
        <div class="col-md-12 col-lg-12">
            <div class="col-md-6">
                <div class="panel panel-solid-success widget-mini">
                    <div class="panel-body">
                        <i class="icon-envelope-open"></i>
                        <span class="total text-center">
                            R$ {{ totals.paid|money_divide|intcomma }}
                        </span>
                        <span class="title text-center">Saldo das
                            inscrições pagas</span>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel widget-mini">
                    <div class="panel-body">
                        <i class="icon-support"></i>
                        <span class="total text-center">
                             R$ {{ totals.pending|money_divide|intcomma }}
                        </span>
                        <span class="title text-center">Pendentes de
                            pagamento</span>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel widget-mini">
                    <div class="panel-body">
                        <i class="icon-bar-chart"></i>
                        <span class="total text-center">
                            R$ {{ totals.total|money_divide|intcomma }}
                        </span>
                        <span class="title text-center">Potencial de
                            faturamento atual</span>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel widget-mini">
                    <div class="panel-body">
                        <i class="icon-envelope-open"></i>
                        <span class="total text-center">
                            {{ pending }} / {{ total_subscriptions }}
                        </span>
                        <span class="title text-center">Número de
                            inscrições pendentes</span>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    <div class="col-md-12 col-lg-12">
        <div class=" col-lg-6" style="height: 234px;">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Total de inscritos</h3>
                </div>
                {% if limit == 0 or  total_subscriptions  > limit %}
                    <div class="panel widget-mini">
                {% endif %}

                <div class="panel-body {% if limit == 0 %} widget-gauge
{% endif %}">
                    {% if limit == 0 or  total_subscriptions  > limit %}
                        <span class="total text-center">
                            {{ total_subscriptions }}
                        </span>

                    {% else %}
                        <canvas width="260" height="125" id="gauge"
                                class=""></canvas>
                        <div class="goal-wrapper">
                            <span class="gauge-value pull-left"></span>
                            <span id="gauge-text" class="gauge-value
                                    pull-left">{{ total_subscriptions }}</span>
                            <span id="goal-text" class="goal-value
                                    pull-right">{{ limit }}</span>
                        </div>

                    {% endif %}
                </div>
                {% if limit == 0 or  total_subscriptions  > limit %}
                    </div>
                {% endif %}
            </div>
        </div>
        {% if gender.men != 0 or gender.women != 0 %}
            <div class=" col-lg-6" style="height: 234px;">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Gênero dos participantes</h3>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class=" col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                <ul class="nav nav-pills nav-stacked">
                                    <li><i class="fa fa-circle"
                                           style="color: #1F7BB6 "></i>
                                        Homens
                                    </li>
                                    <li><i class="fa fa-circle "
                                           style="color: #FF80AB;"></i>
                                        Mulheres
                                    </li>

                                </ul>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                <div>
                                    <canvas id="doughnut" width="260"
                                            height="260"
                                    ></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>

    {#    <div class="panel panel-primary col-sm-5 col-md-6"#}
    {#         style="padding: 0;margin-left: 25px">#}
    {##}
    {#        <div class="panel-heading">#}
    {#            <div class="panel-title">Criação do seu evento</div>#}
    {#        </div>#}
    {#        <div class="panel-body">#}
    {#            <div class="progress">#}
    {#                <div class="progress-bar progress-bar-info" role="progressbar"#}
    {#                     aria-valuenow="75"#}
    {#                     aria-valuemin="0" aria-valuemax="100" style="width: 75%;">#}
    {#                    75%#}
    {#                </div>#}
    {#            </div>#}
    {#            <ul class="nav nav-pills nav-stacked">#}
    {#                <li class="todo_list_element" role="presentation">#}
    {#                    <row>#}
    {#                        <i class="fas fa-check success-color"></i>#}
    {#                        <a href="#">Criar evento</a>#}
    {#                    </row>#}
    {#                </li>#}
    {#                <li class="todo_list_element" role="presentation">#}
    {#                    <row>#}
    {#                        <i class="fas fa-check"></i>#}
    {#                        <a href="#">Criar hot-site</a>#}
    {#                    </row>#}
    {#                </li>#}
    {##}
    {#                <li class="todo_list_element" role="presentation">#}
    {#                    <row>#}
    {#                        <i class="fas fa-check"></i>#}
    {#                        <a href="#">Configurar lote</a>#}
    {#                    </row>#}
    {#                </li>#}
    {##}
    {#                <li class="todo_list_element" role="presentation">#}
    {#                    <row>#}
    {#                        <i class="fas fa-check"></i>#}
    {#                        <a href="#">Configurar dados bancários</a>#}
    {#                    </row>#}
    {#                </li>#}
    {##}
    {#                <li class="todo_list_element" role="presentation">#}
    {#                    <row>#}
    {#                        <a href="#">Configurar#}
    {#                            cerficados</a>#}
    {#                    </row>#}
    {#                </li>#}
    {##}
    {#                <li role="separator" class="divider"></li>#}
    {##}
    {#                <li class="todo_list_element" role="presentation">#}
    {#                    <row>#}
    {#                        <i class="fas fa-plus"></i>#}
    {#                        <a href="#">Opicionais</a>#}
    {#                    </row>#}
    {#                </li>#}
    {#                <li class="todo_list_element" role="presentation">#}
    {#                    <row>#}
    {#                        <i class="fas fa-plus"></i>#}
    {#                        <a href="#">Submissão de artigos científicos</a>#}
    {#                    </row>#}
    {#                </li>#}
    {##}
    {##}
    {#            </ul>#}
    {#        </div>#}
    {#    </div>#}
{% endblock %}
