{% extends "base/base.html" %}
{# @TODO Change the icons in nav_aside_itens  #}

{% load static event_tags  base_tags  widget_tweaks form_config_tags humanize l10n queryset_filter %}

{% block styles %}
    <style>
        .add_todo_element {
            padding-right: 10px;
            cursor: pointer;
        }

        .todo_list_element {
            padding-left: 10px;
            padding-right: 10px;
            padding-top: 10px;
            padding-bottom: 10px;
        }

        .new_nav_items {
            width: 40px;
        }

        .divider {
            height: 1px;
            margin: 9px 0;
            overflow: hidden;
            background-color: #e5e5e5;
        }

        .sidebar-left .nav > li.active > a {
            color: #6FAFC0;
        }
    </style>
{% endblock %}

{% block pageheader %}
    <div class="pageheader">
        <h2>Painel do Evento</h2>
    </div>
{% endblock %}

{% block scripts %}

    <script src="{% static "/assets/plugins/gauge/gauge.min.js" %}"></script>
    <script src="{% static "assets/js/messenger.js" %}"></script>
    <script src="{% static "/assets/plugins/chartjs/Chart.min.js" %}"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

    <script>
        //=================Gauge Inscritos=================================

        $(document).ready(function () {

            Messenger.options = {
                extraClasses: 'messenger-fixed messenger-on-bottom ' +
                'messenger-on-right',
                theme: 'flat'
            };
        });

        window.cgsy = window.cgsy || {};
        window.cgsy.panel = window.cgsy.panel || {};

        (function ($, cgsy) {
            "use strict";

            cgsy.panel.TodoList = function () {
                var that = this;

                this.render = function (main_el, callback) {
                    main_el = $(main_el);

                    var sender = new cgsy.AjaxSender("{% url 'event:event-panel' event.pk %}?template_name=event/includes/todo_list");
                    sender.setSuccessCallback(function (response) {
                        main_el.html(response);
                        if (callback) {
                            callback();
                        }
                        $('.tooltip').remove();
                        app.tooltips();
                        window.location.reload(true);
                    });

                    sender.send('GET');
                };

                this.update = function (main_el, id_row, callback) {
                    main_el = $(main_el);

                    var sender = new cgsy.AjaxSender("{% url 'event:event-panel' event.pk %}");
                    sender.setSuccessCallback(function () {
                        that.render(main_el, callback);

                    });

                    sender.setFailCallback(function (res) {

                        if (res.status === 403) {
                            window.cgsy.messenger.triggerError(
                                'Você não tem permissão para executar essa ação.'
                            );
                        }


                    });

                    sender.send('POST', {'id_row': id_row});

                };
            };

        })(jQuery, window.cgsy);

        function remove_table_add() {
            var num_todo_elements = $('#todo-list-add tr').length;
            if (num_todo_elements === 0) {
                $('#todo_additional').remove();
            }
        }

        {#function reoderDivs(progress) {#}
        {#    if (progress === '100.0') {#}
        {#        var todo_data = $('#todo-data');#}
        {#        var event_data = $('#graph-data');#}
        {#        todo_data.insertAfter(event_data);#}
        {#    }#}

        function evaluateProgress() {
            var num_todo_elements = $('#todo-list tr').length;

            var num_todo_complet = $('#todo-list tr .fa-check-circle ')
                .length;

            var progress = ((num_todo_complet / num_todo_elements) * 100)
                .toFixed(1);

            return progress;
        }

        function setProgressBar() {
            progress = evaluateProgress();
            $('#progress_event').text(progress + '%');
            $(this).attr('aria-valuenow', progress);
            setTimeout(function () {
                $('#progress_event').css('width', progress + '%');
            }, 300);
        }

        function create_todo_events() {
            var todo = new window.cgsy.panel.TodoList();
            $('.add_todo_element').on('click', function () {
                todo.update(
                    $('#todo'),
                    $(this).parent().parent().attr('id'),
                    function () {
                        create_todo_events();
                        setProgressBar();
                        remove_table_add();

                    }
                );
            });
        }

        $(document).ready(function () {
            setProgressBar();
            create_todo_events();
            {#reoderDivs(evaluateProgress());#}
            remove_table_add();
        });

    </script>

{% endblock %}

{% block title %} Painel do evento | Congressy{% endblock %}

{% block page_title %}{{ object.name }}{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-md-3 float-left">
            <button type="button" class="btn btn-primary btn-trans dropdown-toggle"
                    data-toggle="dropdown"
                    aria-expanded="false">
                    <span class="fas fa-cog"></span>
                    Configurações
            </button>
            <ul class="dropdown-menu dropdown-menu-right" role="menu">
                <li>
                    <a href="{% url 'event:event-edit' event.pk %}">
                        <i class="fas fa-pencil-alt"></i>
                        Editar dados do evento
                    </a>
                </li>
                <li>
                    <a href="{% url 'event:event-duplicate' event.pk %}">
                        <i class="fas fa-copy"></i>
                        Duplicar
                    </a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="col-md-3 float-right">
            <div class="buttonbar">
                {% if info and info.description_html %}
                    <a href="{% url 'public:hotsite' info.event.slug %}"
                       target="_blank"
                       class="btn btn-success btn-block">
                        <i class="fa fa-globe"></i>
                        Link do Evento
                    </a>
                {% else %}
                    <button type="button"
                            class="btn btn-default btn-trans disabled"
                            data-toggle="tooltip"
                            data-placement="top"
                            title=""
                            data-original-title="Você deve configurar pelo menos a descrição do seu evento.">
                        <i class="fa fa-globe"></i>
                        Link do Evento
                    </button>
                {% endif %}
                <div class="clearfix"></div>
            </div>
        </div>
    </div>

    {% if event_is_full %}

        <div class="alert alert-warning" role="alert">
            <h3>
                Todos os lotes foram finalizados porque
                o evento está lotado
                <i class="fas fa-question-circle"
                   data-toggle="tooltip"
                   title='O número de participantes esperados foi excedido, caso queira aumentar o número de vagas, altere em "Dados do evento"'
                ></i>
            </h3>
        </div>

    {% endif %}

    <div id="todo-data"
         class="panel panel-primary col-xs-12 col-xl-12 col-sm-12 col-md-12 col-lg-12"
         style="padding: 0">
        <div class="panel-heading">
            <div class="panel-title">Etapas de configuração do seu evento</div>
        </div>
        <div class="panel-body tooltip-wrapper">
            <div id="todo">
                {% include "event/includes/todo_list.html" %}
            </div>
        </div>
    </div>

{% endblock %}
