{% extends "base/base.html" %}
{# @TODO Change the icons in nav_aside_itens  #}

{% load static event_tags  base_tags  widget_tweaks form_config_tags humanize l10n %}
{% load queryset_filter %}
{% block scripts %}
    <script src="{% static "/assets/plugins/gauge/gauge.min.js" %}"></script>
    <script src="{% static "/assets/plugins/chartjs/Chart.min.js" %}"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto"
          rel="stylesheet">
    <script>
        //=================Gauge Inscritos=================================


        var opts = {
            lines: 12, // The number of lines to draw
            angle: 0, // The length of each line
            lineWidth: 0.4, // The line thickness
            pointer: {
                length: 0.75, // The radius of the inner circle
                strokeWidth: 0.042, // The rotation offset
                color: '#1D212A' // Fill color
            },
            limitMax: 'false',   // If true, the pointer will not go past the end of the gauge
            colorStart: '#1f7bb6',   // Colors
            colorStop: '#1f7bb6',    // just experiment with them
            strokeColor: '#F0F3F3',   // to see which ones work best for you
            generateGradient: true
        };
        var target = document.getElementById('gauge');
        if (target != null) {
            var gauge = new Gauge(target).setOptions(opts); // create sexy gauge!
// your canvas element
            gauge.maxValue = {{ limit }}; // set max gauge value
            gauge.animationSpeed = 32; // set animation speed (32 is default value)
            gauge.set({{total_subscriptions}}); // set actual value
            gauge.setTextField(document.getElementById("gauge-text"));
        }
        //==================================================
        //=================Doughnut Genero=================================
        var doughnutData = [{
            value: {{gender.men}},
            color: "#1F7BB6",
            highlight: "#1F7BB6",
            label: "Homens"
        }, {
            value: {{gender.women}},
            color: "#FF80AB",
            highlight: "#FF80AB",
            label: "Mulheres"
        }
        ];

        $(document).ready(function () {
            var ctx3 = document.getElementById("doughnut");
            if (ctx3 != null) {
                ctx3 = ctx3.getContext('2d');
                window.myDoughnut = new Chart(ctx3).Doughnut(doughnutData, {
                    responsive: true
                });
            }

        });

        window.cgsy = window.cgsy || {};
        window.cgsy.panel = window.cgsy.panel || {};

        (function ($, cgsy) {
            "use strict";


            cgsy.panel.TodoList = function () {
                var that = this;

                this.render = function (main_el, callback) {
                    main_el = $(main_el);

                    var sender = new cgsy.AjaxSender("{% url 'event:event-panel' event.pk %}?template_name=event/includes/todo_list");
                    sender.setSuccessCallback(function (response) {
                        main_el.html(response);
                        if (callback) {
                            callback();
                        }
                        $('.tooltip').remove();
                        app.tooltips();
                    });

                    sender.send('GET');
                };


                this.update = function (main_el, id_row, callback) {
                    main_el = $(main_el);

                    var sender = new cgsy.AjaxSender("{% url 'event:event-panel' event.pk %}");
                    sender.setSuccessCallback(function () {
                        that.render(main_el, callback);

                    });
                    sender.send('POST', {'id_row': id_row});
                };
            };

            {#cgsy.panel.InsideBar = function () {#}
            {#    var that = this;#}
            {##}
            {#    this.render = function (main_el, callback) {#}
            {#        main_el = $(main_el);#}
            {##}
            {#        var sender = new cgsy.AjaxSender("{% url 'event:event-panel' event.pk %}?template_name=event/event-menu");#}
            {#        sender.setSuccessCallback(function (response) {#}
            {#            main_el.html(response);#}
            {#            if (callback) {#}
            {#                callback();#}
            {#            }#}
            {#        });#}
            {##}
            {#        sender.send('GET');#}
            {#    };#}
            {##}
            {##}
            {#    this.update = function (main_el, callback) {#}
            {#        main_el = $(main_el);#}
            {##}
            {#        var sender = new cgsy.AjaxSender("{% url 'event:event-panel' event.pk %}");#}
            {#        sender.setSuccessCallback(function () {#}
            {#            that.render(main_el, callback);#}
            {#        });#}
            {#    };#}

        })(jQuery, window.cgsy);

        function remove_table_add() {
            var num_todo_elements = $('#todo-list-add tr').length;
            if (num_todo_elements === 0) {
                $('#todo_additional').remove();
            }
        }

        {#function reoderDivs(progress) {#}
        {#    if (progress === '100.0') {#}
        {#        var todo_data = $('#todo-data');#}
        {#        var event_data = $('#graph-data');#}
        {#        todo_data.insertAfter(event_data);#}
        {#    }#}

        function evaluateProgress() {
            var num_todo_elements = $('#todo-list tr').length;

            var num_todo_complet = $('#todo-list tr .fa-check-circle ')
                .length;

            var progress = ((num_todo_complet / num_todo_elements) * 100)
                .toFixed(1);

            return progress;
        }

        function setProgressBar() {
            progress = evaluateProgress();
            $('#progress_event').text(progress + '%');
            $(this).attr('aria-valuenow', progress);
            setTimeout(function () {
                $('#progress_event').css('width', progress + '%');
            }, 300);
        }

        function create_todo_events() {
            var todo = new window.cgsy.panel.TodoList();
            $('.add_todo_element').on('click', function () {
                todo.update(
                    $('#todo'),
                    $(this).parent().parent().attr('id'),
                    function () {
                        create_todo_events();
                        setProgressBar();
                        remove_table_add();

                    }
                );
            });
        }

        {##}
        {#function updateInsideBar() {#}
        {#    var inside = new window.cgsy.panel.InsideBar();#}
        {#    $('.update_inside_bar').on('click', function () {#}
        {#        inside.update(#}
        {#            $('#event-menu'),#}
        {#            function () {#}
        {#                updateInsideBar();#}
        {#            }#}
        {#        );#}
        {#    });#}

        $(document).ready(function () {
            setProgressBar();
            create_todo_events();
            {#reoderDivs(evaluateProgress());#}
            remove_table_add();
        });

    </script>

{% endblock %}
{% block styles %}
    <style>
        .add_todo_element {
            padding-right: 10px;
            cursor: pointer;
        }

        .todo_list_element {
            padding-left: 10px;
            padding-right: 10px;
            padding-top: 10px;
            padding-bottom: 10px;
        }

        .new_nav_items {
            width: 40px;
        }

        .divider {
            height: 1px;
            margin: 9px 0;
            overflow: hidden;
            background-color: #e5e5e5;
        }

        .sidebar-left .nav > li.active > a {
            color: #6FAFC0;
        }
    </style>
{% endblock %}
{% block pageheader %}
    <div class="pageheader">
        <h2>Painel do Evento</h2>
    </div>
{% endblock %}

{% block title %} Painel do evento | Congressy{% endblock %}

{% block page_title %}{{ object.name }}{% endblock %}


{% block content %}

    <div class="row">
        <div class="col-md-3 float-right">
            <div class="buttonbar">
                {% if info and info.description_html %}
                    <a href="{% url 'public:hotsite' info.event.slug %}"
                       target="_blank"
                       class="btn btn-success btn-block">
                        <i class="fa fa-globe"></i>
                        Link do Evento
                    </a>
                {% else %}
                    <button type="button"
                            class="btn btn-default btn-trans
                                            btn-block disabled"
                            data-toggle="tooltip"
                            data-placement="top"
                            title=""
                            data-original-title="Você deve configurar pelo menos a descrição do seu evento.">
                        <i class="fa fa-globe"></i>
                        Link do Evento
                    </button>
                {% endif %}
                <div class="clearfix"></div>
            </div>
        </div>
    </div>

    <div id="todo-data"
         class="panel panel-primary col-xs-12 col-xl-12 col-sm-12 col-md-12 col-lg-12" style="padding: 0">
        <div class="panel-heading">
            <div class="panel-title">Etapas de configuração do seu evento</div>
        </div>
        <div class="panel-body tooltip-wrapper">
            <div id="todo">
                {% include "event/includes/todo_list.html" %}
            </div>
        </div>
    </div>


    {% if has_paid_lots %}
        <div class="col-md-12 col-lg-12">
            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="panel panel-solid-success widget-mini">
                    <div class="panel-body">
                        <i class="icon-wallet"></i>
                        <span class="total text-center">
                            R$ {{ totals.paid|intcomma }}
                        </span>
                        <span class="title text-center">Saldo das inscrições pagas</span>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="panel widget-mini">
                    <div class="panel-body">
                        <i class=" icon-clock"></i>
                        <span class="total text-center">
                             R$ {{ totals.pending|intcomma }}
                        </span>
                        <span class="title text-center">Pendentes de pagamento</span>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="panel widget-mini">
                    <div class="panel-body">
                        <i class="icon-bar-chart"></i>
                        <span class="total text-center">
                            R$ {{ totals.total|intcomma }}
                        </span>
                        <span class="title text-center">Potencial de faturamento atual</span>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="panel widget-mini">
                    <div class="panel-body">
                        <i class="fas fa-tasks"></i>
                        <span class="total text-center">
                            {{ pending }} / {{ total_subscriptions }}
                        </span>
                        <span class="title text-center">Número de
                            inscrições pendentes</span>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    <div id="graph-data" class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
        <div class=" col-lg-6 col-md-6 col-sm-12 col-xs-12"
             style="margin-bottom: 15px ">
            <div class="panel {% if limit == 0 or total_subscriptions  > limit %} widget-mini panel-solid-info {% endif %} panel-primary">
                {% if limit != 0 and  total_subscriptions  < limit %}
                    <div class="panel-heading">
                        <h3 class="panel-title">Total de inscritos</h3>
                    </div>
                {% endif %}

                <div class="panel-body {% if limit == 0 %}widget-gauge{% endif %}">
                    {% if limit == 0 or  total_subscriptions  > limit %}
                        <i class="icon-user"></i>
                        <span class="total text-center">
                            {{ total_subscriptions }}
                            <span class="title text-center">Inscritos</span>
                        </span>
                    {% else %}
                        <canvas width="200" height="125" id="gauge"
                                class=""></canvas>
                        <div class="goal-wrapper">
                            <span class="gauge-value pull-left"></span>
                            <span id="gauge-text"
                                  class="gauge-value pull-left">
                                {{ total_subscriptions }}
                            </span>
                            <span id="goal-text" class="goal-value pull-right">
                                {{ limit }}
                            </span>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
        {% if gender.men != 0 or gender.women != 0 %}
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12"
                 style="padding-bottom: 20px;margin-bottom: 20px ">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Gênero dos participantes</h3>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class=" col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                <ul class="nav nav-pills nav-stacked">
                                    <li><i class="fa fa-circle"
                                           style="color: #1F7BB6 "></i>
                                        Homens
                                    </li>
                                    <li><i class="fa fa-circle "
                                           style="color: #FF80AB;"></i>
                                        Mulheres
                                    </li>

                                </ul>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                <div>
                                    <canvas id="doughnut" width="100%"
                                            height="88%"
                                    ></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}
