{% extends "gatheros_front/base.html" %}
{% load i18n static %}

{% block sidebar_organization %}{% endblock %}
{% block sidebar %}{% endblock %}
{% block content_width %}99%{% endblock %}

{% block content %}
    <pre>
        Criar um painel para o usuário? Isso poderia permitir a visualização
        de membros de uma organização por outros membros.
    </pre>
    <h1>Perfil</h1>

    <form action="" method="post">{% csrf_token %}
        <table>
            {{ form.as_table }}
        </table>

        <input type="submit" value="Salvar"/>
        <a href="{% url 'front:start' %}">Cancelar</a>
    </form>

{% endblock %}
