{% extends "base/base.html" %}
{% load static base_tags queryset_filter %}


{% block nav_aside_itens %}
    <h5 class="sidebar-header">Participantes</h5>
    <ul class="nav nav-pills nav-stacked">
        {% if event.subscription_type != event.SUBSCRIPTION_SIMPLE %}
            <li>
                <a href="{% url 'subscription:lot-list' event.pk %}"
                   title="Inscrições">
                    <i class="fa  fa-fw fa-rocket"></i>
                    Lotes/Categorias
                </a>
            </li>
        {% endif %}
        <li>
            <a href="{% url 'subscription:subscription-list' event.pk %}"
               title="Inscrições">
                <i class="fa  fa-fw fa-rocket"></i>
                Inscrições
                <span class="badge float-right">{{ event.subscriptions|queryset_count:"status__in=['confirmed','awaiting']" }}</span>
            </a>
        </li>
        {#        <li>#}
        {#            <a href="{% url 'subscription:subscription-attendance-search' event.pk %}"#}
        {#               title="Check-in">#}
        {#                <i class="fa  fa-fw fa-rocket"></i>#}
        {#                Check-in#}
        {#            </a>#}
        {#        </li>#}
    </ul>
    <h5 class="sidebar-header">Configurações</h5>
    <ul class="nav nav-pills nav-stacked">
        <li>
            <a href="{% url 'event:event-hotsite' event.pk %}"
               title="Página do evento">
                <i class="fa  fa-fw fa-rocket"></i> Página do evento
            </a>
        </li>
        <li>
            <a href="{% url 'subscription:form-config' event.pk %}"
               title="Formulário">
                <i class="fa  fa-fw fa-rocket"></i> Formulário
            </a>
        </li>
        <li class="active">
            <a href="{% url 'survey:survey-create' event.pk %}"
               title="Survey">
                <i class="fa  fa-fw fa-rocket"></i> Survey
            </a>
        </li>
        {% if has_paid_lots %}
            <li>
                <a href="{% url 'payment:event-payments' event.pk %}"
                   title="Pagamentos">
                    <i class="fa  fa-fw fa-rocket"></i> Pagamentos
                </a>
            </li>
        {% endif %}
    </ul>
{% endblock %}

{% block messages %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }} alert-dismissable">
                <button type="button" class="close"
                        data-dismiss="alert" aria-hidden="true">×
                </button>
                {{ message|get_first_item }}
            </div>
        {% endfor %}
    {% endif %}
{% endblock messages %}

{% block title %}
    Formulário de Inscrição |
    Congressy
{% endblock %}

{% block page_title %}
    Configuração de Formulário
{% endblock %}

{% block page_sub_title %}
    {% if event %}
        {{ event.name }} (ID: {{ event.pk }})
    {% endif %}
{% endblock %}

{% block content %}

    <div class="row">

        <div class="col-lg-8 col-lg-push-2 col-xl-8 col-xl-push-2">

            <div class="panel panel-primary">

                <div class="panel-heading">
                    <h3 class="panel-title">Configurar Formulário</h3>
                </div>

                <div class="panel-body">

                    <div id='fields'>
                        <strong>Nenhuma questão.</strong>
                    </div>

                </div>

            </div>


        </div>

    </div>

    <div class="row">

        <div class="col-lg-8 col-lg-push-2 col-xl-8 col-xl-push-2">

            <div class="panel panel-primary">

                <div class="panel-heading">
                    <h3 class="panel-title">Novo Campo</h3>
                </div>

                <div class="panel-body">

                    <div class="row">

                        <div class="col-md-6">

                            <strong style="font-size: 20px">
                                Escolha um novo campo:
                            </strong>
                            <hr/>

                            <a data-field-type="Data"
                               data-field-icon="far fa-calendar-alt"
                               title="Data"
                               class="open-AddSimpleQuestionDialog btn
                               btn-primary btn-block">
                                <div class="text-left">

                                    <i class="far fa-calendar-alt"></i>
                                    Data
                                </div>
                            </a>

                            <a data-field-type="Text"
                               data-field-icon="fas fa-i-cursor"
                               title="Text"
                               class="open-AddSimpleQuestionDialog btn
                               btn-primary btn-block">
                                <div class="text-left">

                                    <i class="fas fa-i-cursor"></i>
                                    Text
                                </div>
                            </a>

                            <a data-field-type="Parágrafo"
                               data-field-icon="fas fa-align-left"
                               title="Parágrafo"
                               class="open-AddSimpleQuestionDialog btn
                               btn-primary btn-block">
                                <div class="text-left">

                                    <i class="fas fa-align-left"></i>
                                    Parágrafo
                                </div>
                            </a>

                            <a data-field-type="Lista"
                               data-field-icon="fas fa-list-ul"
                               title="Lista"
                               class="open-AddComplexQuestionDialog btn
                               btn-primary btn-block">
                                <div class="text-left">

                                    <i class="fas fa-list-ul"></i>
                                    Lista
                                </div>
                            </a>

                            <a data-field-type="Múltipla Escolha"
                               data-field-icon="far fa-check-circle"
                               title="Múltipla Escolha"
                               class="open-AddComplexQuestionDialog btn
                               btn-primary btn-block">
                                <div class="text-left">

                                    <i class="far fa-check-circle"></i>
                                    Múltipla Escolha
                                </div>
                            </a>

                            <a data-field-type="Várias Opções"
                               data-field-icon="far fa-check-square"
                               title="Várias Opções"
                               class="open-AddComplexQuestionDialog btn
                               btn-primary btn-block">
                                <div class="text-left">

                                    <i class="far fa-check-square"></i>
                                    Várias Opções
                                </div>
                            </a>


                        </div>


                    </div>

                </div>

            </div>

        </div>

    </div>

    <!-- Modals -->
    <div class="modal fade" id="addComplexQuestionModal"
         tabindex="-1"
         role="dialog">

        <div class="modal-dialog " role="document">

            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close"
                            data-dismiss="modal"
                            aria-label="Close"><span
                            aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">
                        Adicionar ao Formulário </h4>
                </div>

                <form method="post" name="questionForm"
                      id="id_questionForm" action="">

                    {% csrf_token %}


                    <div id="questionForm" class="modal-body">


                        <strong style="font-size: 25px">
                            <span class="typeOfField"></span>
                            <i class="iconOfField"></i>
                        </strong>
                        <hr/>
                        <div class="form-group">
                            <label for="id_name">Titulo:</label>
                            <input type="text"
                                   class="form-control"
                                   id="id_name">
                        </div>
                        <div class="form-group">
                            <label for="id_help_text">Campo de
                                ajuda:</label>
                            <input type="text"
                                   class="form-control"
                                   id="id_help_text">
                        </div>

                        <hr>

                        <!--

                            TO BE CONTINUED:

                            Make this field  a text field.
                            Add help_text to help the organizer;



                        -->

                        <ul id="optionsList" class="list-group">

                            <li class="list-group-item" data-id="1">
                                <div class="row">
                                    <div class="col-md-11">


                                        <form class="form-inline">
                                            <div class="form-group">
                                                <label for="exampleInputName2">Name</label>
                                                <input type="text"
                                                       class="form-control"
                                                       id="exampleInputName2"
                                                       placeholder="Jane Doe">
                                            </div>
                                            <div class="form-group">
                                                <label
                                                        for="exampleInputEmail2">Value</label>
                                                <input type="email"
                                                       class="form-control"
                                                       id="exampleInputEmail2"
                                                       placeholder="jane.doe@example.com">
                                            </div>
                                            <button type="submit"
                                                    class="btn btn-default">Send
                                                invitation
                                            </button>
                                        </form>


                                    </div>
                                    <div class="col-sm-1 control-buttons">

                                        <div class="row">
                                            <i class="js-remove far fa-window-close"
                                               style="margin-left:10px;"></i>
                                        </div>


                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item" data-id="2">
                                <div class="row">
                                    <div class="col-md-11">


                                        <form class="form-inline">
                                            <div class="form-group">
                                                <label for="exampleInputName2">Name</label>
                                                <input type="text"
                                                       class="form-control"
                                                       id="exampleInputName2"
                                                       placeholder="Jane Doe">
                                            </div>
                                            <div class="form-group">
                                                <label
                                                        for="exampleInputEmail2">Value</label>
                                                <input type="email"
                                                       class="form-control"
                                                       id="exampleInputEmail2"
                                                       placeholder="jane.doe@example.com">
                                            </div>
                                            <button type="submit"
                                                    class="btn btn-default">Send
                                                invitation
                                            </button>
                                        </form>


                                    </div>
                                    <div class="col-sm-1 control-buttons">

                                        <div class="row">
                                            <i class="js-remove far fa-window-close"
                                               style="margin-left:10px;"></i>
                                        </div>


                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item" data-id="3">
                                <div class="row">
                                    <div class="col-md-11">


                                        <form class="form-inline">
                                            <div class="form-group">
                                                <label for="exampleInputName2">Name</label>
                                                <input type="text"
                                                       class="form-control"
                                                       id="exampleInputName2"
                                                       placeholder="Jane Doe">
                                            </div>
                                            <div class="form-group">
                                                <label
                                                        for="exampleInputEmail2">Value</label>
                                                <input type="email"
                                                       class="form-control"
                                                       id="exampleInputEmail2"
                                                       placeholder="jane.doe@example.com">
                                            </div>
                                            <button type="submit"
                                                    class="btn btn-default">Send
                                                invitation
                                            </button>
                                        </form>


                                    </div>
                                    <div class="col-sm-1 control-buttons">

                                        <div class="row">
                                            <i class="js-remove far fa-window-close"
                                               style="margin-left:10px;"></i>
                                        </div>


                                    </div>
                                </div>
                            </li>


                        </ul>

                    </div>


                    <div class="modal-footer">
                        <button type="button"
                                class="btn btn-danger"
                                data-dismiss="modal">Cancelar
                        </button>
                        <button type="submit"
                                class="btn btn-primary">Salvar
                        </button>
                    </div>


                </form>

            </div>

        </div>

    </div>
    <div class="modal fade" id="addSimpleQuestionModal"
         tabindex="-1"
         role="dialog">

        <div class="modal-dialog " role="document">

            <div class="modal-content">


                <div class="modal-header">
                    <button type="button" class="close"
                            data-dismiss="modal"
                            aria-label="Close"><span
                            aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">
                        Adicionar ao Formulário </h4>
                </div>

                <form method="post" name="questionForm"
                      id="id_questionForm" action="">

                    {% csrf_token %}


                    <div id="questionForm" class="modal-body">


                        <strong style="font-size: 25px">

                            <span class="typeOfField"></span>
                            <i class="iconOfField"></i>
                        </strong>


                        <hr/>
                        <div class="form-group">
                            <label for="id_name">Titulo:</label>
                            <input type="text"
                                   class="form-control"
                                   id="id_name">
                        </div>
                        <div class="form-group">
                            <label for="id_help_text">Campo de
                                ajuda:</label>
                            <input type="text"
                                   class="form-control"
                                   id="id_help_text">
                        </div>


                    </div>


                    <div class="modal-footer">
                        <button type="button"
                                class="btn btn-danger"
                                data-dismiss="modal">Cancelar
                        </button>
                        <button type="submit"
                                class="btn btn-primary">Salvar
                        </button>
                    </div>


                </form>

            </div>

        </div>

    </div>


{% endblock %}

{% block scripts %}

    <!-- DnD -->
    <script src="https://cdn.jsdelivr.net/npm/sortablejs@1.6.1/Sortable.min.js"></script>


    <script type="application/javascript">
        $(document).ready(function () {

            console.log('READY');

            var radios = $('input[type=radio]');
            radios.iCheck({
                checkboxClass: 'icheckbox_flat-grey',
                radioClass: 'iradio_flat-grey'
            });

            loadDoc();

        });


        $(document).on("click", ".open-AddSimpleQuestionDialog", function () {
            var typeOfField = $(this).data('field-type');
            var IconOfField = $(this).data('field-icon');
            var typeEl = $('.modal-body .typeOfField');
            var iconEl = $('.modal-body .iconOfField');


            typeEl.text(typeOfField);
            iconEl.attr('class', 'iconOfField');
            iconEl.addClass(IconOfField);
            $('#addSimpleQuestionModal').modal('show');
        });


        $(document).on("click", ".open-AddComplexQuestionDialog", function () {

            var typeOfField = $(this).data('field-type');
            var IconOfField = $(this).data('field-icon');
            var typeEl = $('.modal-body .typeOfField');
            var iconEl = $('.modal-body .iconOfField');


            typeEl.text(typeOfField);
            iconEl.attr('class', 'iconOfField');
            iconEl.addClass(IconOfField);
            $('#addComplexQuestionModal').modal('show');
        });


        function loadDoc() {

            $.ajax({
                url: location.pathname.substr(1),
                success: function (result) {
                    document.getElementById("fields").innerHTML =
                        result;
                    var editableList = createFieldList();
                    var optionsList = createOptionsList();
                    app.switcheryToggle();
                    var radios = $('input[type=radio]');
                    radios.iCheck({
                        checkboxClass: 'icheckbox_flat-grey',
                        radioClass: 'iradio_flat-grey'
                    });
                }
            });


        }

        function byId(id) {
            return document.getElementById(id);
        }

        function byClass(className) {
            return document.getElementsByClassName(className);
        }

        function createFieldList() {
            return Sortable.create(byId('simpleList'), {
                animation: 150,
                filter: '.js-remove',
                handle: ".my-handle",
                onFilter: function (evt) {
                    console.log('removed => ' + evt.item.dataset.id);
                    evt.item.parentNode.removeChild(evt.item);
                },
                onSort: function (evt) {
                    console.log(this.toArray());

                }
            });
        }

        function createOptionsList() {

            return Sortable.create(byId('optionsList'), {
                animation: 150,
                filter: '.js-remove',
                handle: ".my-handle",
                onFilter: function (evt) {
                    console.log('removed => ' + evt.item.dataset.id);
                    evt.item.parentNode.removeChild(evt.item);
                },
            });
        }


    </script>

{% endblock %}

{% block styles %}
    <style>

        .list-group-item .control-buttons {
            visibility: hidden;
        }

        .list-group-item:hover .control-buttons {
            visibility: visible;
        }

    </style>


{% endblock %}


