{% extends "base/base.html" %}
{% load static base_tags queryset_filter %}


{% block nav_aside_itens %}
    <h5 class="sidebar-header">Participantes</h5>
    <ul class="nav nav-pills nav-stacked">
        {% if event.subscription_type != event.SUBSCRIPTION_SIMPLE %}
            <li>
                <a href="{% url 'subscription:lot-list' event.pk %}"
                   title="Inscrições">
                    <i class="fa  fa-fw fa-rocket"></i>
                    Lotes/Categorias
                </a>
            </li>
        {% endif %}
        <li>
            <a href="{% url 'subscription:subscription-list' event.pk %}"
               title="Inscrições">
                <i class="fa  fa-fw fa-rocket"></i>
                Inscrições
                <span class="badge float-right">{{ event.subscriptions|queryset_count:"status__in=['confirmed','awaiting']" }}</span>
            </a>
        </li>
        {#        <li>#}
        {#            <a href="{% url 'subscription:subscription-attendance-search' event.pk %}"#}
        {#               title="Check-in">#}
        {#                <i class="fa  fa-fw fa-rocket"></i>#}
        {#                Check-in#}
        {#            </a>#}
        {#        </li>#}
    </ul>
    <h5 class="sidebar-header">Configurações</h5>
    <ul class="nav nav-pills nav-stacked">
        <li>
            <a href="{% url 'event:event-hotsite' event.pk %}"
               title="Página do evento">
                <i class="fa  fa-fw fa-rocket"></i> Página do evento
            </a>
        </li>
        <li>
            <a href="{% url 'subscription:form-config' event.pk %}"
               title="Formulário">
                <i class="fa  fa-fw fa-rocket"></i> Formulário
            </a>
        </li>
        <li class="active">
            <a href="{% url 'survey:survey-create' event.pk %}"
               title="Survey">
                <i class="fa  fa-fw fa-rocket"></i> Survey
            </a>
        </li>
        {% if has_paid_lots %}
            <li>
                <a href="{% url 'payment:event-payments' event.pk %}"
                   title="Pagamentos">
                    <i class="fa  fa-fw fa-rocket"></i> Pagamentos
                </a>
            </li>
        {% endif %}
    </ul>
{% endblock %}

{% block messages %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }} alert-dismissable">
                <button type="button" class="close"
                        data-dismiss="alert" aria-hidden="true">×
                </button>
                {{ message|get_first_item }}
            </div>
        {% endfor %}
    {% endif %}
{% endblock messages %}

{% block title %}
    Formulário de Inscrição |
    Congressy
{% endblock %}

{% block page_title %}
    Configuração de Formulário
{% endblock %}

{% block page_sub_title %}
    {% if event %}
        {{ event.name }} (ID: {{ event.pk }})
    {% endif %}
{% endblock %}

{% block content %}

    <div class="row">

        <div class="col-lg-8 col-lg-push-2 col-xl-8 col-xl-push-2">

            <div class="panel panel-primary">

                <div class="panel-heading">
                    <h3 class="panel-title">Configurar Formulário</h3>
                </div>

                <div class="panel-body">

                    <div id='fields'>
                        <strong>Nenhuma questão.</strong>
                    </div>


                    <button type="button"
                            class="btn btn-success btn-lg"
                            data-toggle="modal"
                            data-target="#addQuestionModal"
                            style="margin-top: 15px;">
                        <i class="fas fa-plus"></i>
                        Adicionar
                    </button>
                </div>

            </div>

            <!-- Modals -->
            <div class="modal fade" id="addQuestionModal"
                 tabindex="-1"
                 role="dialog">

                <div class="modal-dialog " role="document">

                    <div class="modal-content">


                        <div class="modal-header">
                            <button type="button" class="close"
                                    data-dismiss="modal"
                                    aria-label="Close"><span
                                    aria-hidden="true">&times;</span>
                            </button>
                            <h4 class="modal-title">
                                Adicionar ao Formulário </h4>
                        </div>

                        <form method="post" name="questionForm"
                              id="id_questionForm" action="">

                            {% csrf_token %}


                            <div id="questionForm" class="modal-body">

                                <div class="row">

                                    <div class="col-md-6">

                                        <strong style="font-size: 15px">
                                            Escolha um campo:
                                        </strong>
                                        <hr/>

                                        <button type="button"
                                                class="btn-block btn btn-primary field-type-btn">
                                            <div class="pull-left">
                                                <i class="far fa-calendar-alt"></i>
                                                Data
                                            </div>
                                        </button>

                                        <button type="button"
                                                class="btn-block btn btn-primary field-type-btn">
                                            <div class="pull-left">
                                                <i class="fas fa-i-cursor"></i>
                                                Text
                                            </div>
                                        </button>

                                        <button type="button"
                                                class="btn-block btn btn-primary field-type-btn">
                                            <div class="pull-left">
                                                <i class="fas fa-align-left"></i>
                                                Parágrafo
                                            </div>
                                        </button>

                                        {#                                        <button type="button"#}
                                        {#                                                class="btn-block btn btn-primary field-type-btn">#}
                                        {#                                            <div class="pull-left">#}
                                        {#                                                <i class="fas fa-list-ul"></i>#}
                                        {#                                                Lista#}
                                        {#                                            </div>#}
                                        {#                                        </button>#}
                                        {##}
                                        {#                                        <button type="button"#}
                                        {#                                                class="btn-block btn btn-primary field-type-btn">#}
                                        {#                                            <div class="pull-left">#}
                                        {#                                                <i class="far fa-check-circle"></i>#}
                                        {#                                                Múltipla Escolha#}
                                        {#                                            </div>#}
                                        {#                                        </button>#}
                                        {##}
                                        {#                                        <button type="button"#}
                                        {#                                                class="btn-block btn btn-primary field-type-btn">#}
                                        {#                                            <div class="pull-left">#}
                                        {#                                                <i class="far fa-check-square"></i>#}
                                        {#                                                Várias Opções#}
                                        {#                                            </div>#}
                                        {#                                        </button>#}


                                    </div>
                                    <div class="col-md-6">
                                        <strong style="font-size: 15px">
                                            Configuração do campo:
                                        </strong>
                                        <hr/>
                                        <div class="form-group">
                                            <label for="name">Titulo:</label>
                                            <input type="text"
                                                   class="form-control"
                                                   id="id_name">
                                        </div>
                                        <div class="form-group">
                                            <label for="titile">Campo de
                                                ajuda:</label>
                                            <input type="help_text"
                                                   class="form-control"
                                                   id="id_help_text">
                                        </div>


                                    </div>

                                </div>

                            </div>


                            <div class="modal-footer">
                                <button type="button"
                                        class="btn btn-danger"
                                        data-dismiss="modal">Cancelar
                                </button>
                                <button type="submit"
                                        class="btn btn-primary">Salvar
                                </button>
                            </div>


                        </form>

                    </div>

                </div>

            </div>


        </div>

    </div>

{% endblock %}

{% block scripts %}

    <!-- DnD -->
    <script src="https://cdn.jsdelivr.net/npm/sortablejs@1.6.1/Sortable.min.js"></script>
    <script type="application/javascript">
        $(document).ready(function () {

            console.log('READY');

            $(".field-type-btn").on('click', function () {

                $(".field-type-btn").removeClass('active');
                $(this).addClass('active')
            });

            loadDoc();

        });

        function loadDoc() {

            $.ajax({
                url: location.pathname.substr(1),
                success: function (result) {
                    document.getElementById("fields").innerHTML =
                        result;
                    createList();
                }
            });
        }

        function byId(id) {
            return document.getElementById(id);
        }

        function createList() {
            var editableList = Sortable.create(byId('simpleList'), {
                animation: 150,
                filter: '.js-remove',
                handle: ".my-handle",
                onFilter: function (evt) {
                    console.log('removed => ' + evt.item.dataset.id);
                    evt.item.parentNode.removeChild(evt.item);
                },
                onSort: function (evt) {
                    console.log(this.toArray());

                },
            });
        }


    </script>
{% endblock %}

{% block styles %}
    <style>

        i {
            opacity: 0.3;
        }

        i:hover {
            opacity: 1;
        }

    </style>


{% endblock %}


