<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">
        &times;
    </button>
    <h4 class="modal-title">Apagar questionário</h4>
</div>
<form id="deleteSurveyForm">
    <div class="modal-body">

        {% csrf_token %}

        <strong style="font-size: 25px">
            Certeza que deseja deletar "{{ object }}"?
        </strong>
    </div>
    <div class="modal-footer">
        <input type="button" class="btn btn-danger" value="Confirmar"
               id="confirmSurveyDelete"/>
        <button type="button" class="btn btn-default"
                data-dismiss="modal">Cancelar
        </button>
    </div>
</form>

<script>

    $(document).ready(function () {


        Messenger.options = {
            extraClasses: 'messenger-fixed messenger-on-bottom ' +
            'messenger-on-right',
            theme: 'flat'
        };


        $("#confirmSurveyDelete").on('click', function (e) {

            $('#deleteSurvey').modal('hide');

            var url = "{% url 'subscription:survey-delete' event.pk object.pk %}";

            $.ajax({
                type: "POST",
                url: url,
                data: $("#deleteSurveyForm").serialize(), // serializes the form's elements.
                error: function (err) {
                    Messenger().post({
                        message: 'Não foi possivel apagar este questionario.',
                        type: 'danger'
                    });
                },
                success: function (res) {
                    loadList();
                }
            });

            e.preventDefault(); // avoid to execute the actual submit of the form.
        });
    });

</script>