{% extends "base/base.html" %}
{% load static base_tags form_config_tags %}
{% load subscription_tags %}

{% block nav_aside_itens %}

    {% include 'event/event-menu.html' with active='form-personalizado' %}

{% endblock %}

{% block messages %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }} alert-dismissable">
                <button type="button" class="close"
                        data-dismiss="alert" aria-hidden="true">×
                </button>
                {{ message|get_first_item }}
            </div>
        {% endfor %}
    {% endif %}
{% endblock messages %}

{% block title %}
    Editar Formulário |
    Congressy
{% endblock %}

{% block page_title %}
    Editar formulário
{% endblock %}

{% block page_sub_title %}
    {{ survey.name }} - {{ event.name }}
{% endblock %}

{% block page_description %}
    {{ survey.description }}
{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-lg-6 col-lg-push-1 col-xl-6 col-xl-push-1">
            <div class="buttonbar">
                <div class="float-left">
                    <a href="{% url 'subscription:form-config' event.pk %}"
                       class="btn btn-primary">
                        <i class="fas fa-long-arrow-alt-left"></i>
                        Voltar
                    </a>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>

    <div class="row">

        <div class="col-lg-5 col-lg-push-1 col-xl-5 col-xl-push-1">

            <div class="panel panel-primary">

                <div class="panel-heading">
                    <h3 class="panel-title">
                        Vínculo com Lotes
                    </h3>
                </div>
                <div class="panel-body">
                    {% if survey.questions.count > 0 %}

                        {% include 'subscription/includes/lot_event_survey_change_panel.html' %}


                    {% else %}
                        <div>
                            <strong>Não é permitido vincular formulários sem
                                perguntas a
                                lotes</strong>
                        </div>
                    {% endif %}
                </div>

            </div>


        </div>

        <div class="col-lg-6 col-lg-push-1 col-xl-6 col-xl-push-1">

            <div class="panel panel-primary" id="form-preview">

                <div class="panel-heading">
                    <h3 class="panel-title">
                        Previsão do Formulário
                    </h3>
                </div>

                <div class="panel-body">

                    <div id='fields'>
                        <strong>Nenhuma questão.</strong>
                    </div>

                </div>

            </div>
            <div class="panel panel-primary">

                <div class="panel-heading">
                    <h3 class="panel-title">Novo Campo</h3>
                </div>

                <div class="panel-body">

                    <div class="row">

                        <div class="col-md-6">

                            <strong style="font-size: 20px">
                                Insira um campo pelo tipo:
                            </strong>
                            <hr/>

                            <a data-field-type="Data"
                               data-field-icon="far fa-calendar-alt"
                               data-question_type="input-date"
                               title="Data"
                               class="open-AddSimpleQuestionDialog btn
                               btn-primary btn-block">
                                <div class="text-left">

                                    <i class="far fa-calendar-alt"></i>
                                    Data
                                </div>
                            </a>

                            <a data-field-type="Texto"
                               data-field-icon="fas fa-i-cursor"
                               data-question_type="input-text"
                               title="Texto"
                               class="open-AddSimpleQuestionDialog btn
                               btn-primary btn-block">
                                <div class="text-left">

                                    <i class="fas fa-i-cursor"></i>
                                    Texto
                                </div>
                            </a>

                            <a data-field-type="Parágrafo"
                               data-field-icon="fas fa-align-left"
                               data-question_type="textarea"
                               title="Parágrafo"
                               class="open-AddSimpleQuestionDialog btn
                               btn-primary btn-block">
                                <div class="text-left">

                                    <i class="fas fa-align-left"></i>
                                    Parágrafo
                                </div>
                            </a>

                            <a data-field-type="Lista"
                               data-field-icon="fas fa-list-ul"
                               data-question_type="select"
                               title="Lista"
                               class="open-AddComplexQuestionDialog btn
                               btn-primary btn-block">
                                <div class="text-left">

                                    <i class="fas fa-list-ul"></i>
                                    Lista
                                </div>
                            </a>

                            <a data-field-type="Múltipla Escolha"
                               data-field-icon="far fa-check-circle"
                               data-question_type="radio-group"
                               title="Múltipla Escolha"
                               class="open-AddComplexQuestionDialog btn
                               btn-primary btn-block">
                                <div class="text-left">

                                    <i class="far fa-check-circle"></i>
                                    Múltipla Escolha
                                </div>
                            </a>

                            <a data-field-type="Várias Opções"
                               data-field-icon="far fa-check-square"
                               data-question_type="checkbox-group"
                               title="Várias Opções"
                               class="open-AddComplexQuestionDialog btn
                               btn-primary btn-block">
                                <div class="text-left">

                                    <i class="far fa-check-square"></i>
                                    Várias Opções
                                </div>
                            </a>


                        </div>


                    </div>

                </div>

            </div>

        </div>

    </div>

{% endblock %}

{% block modals %}
    <!-- Modals -->
    <div class="modal fade" id="addQuestion"
         tabindex="-1"
         role="dialog">

        <div class="modal-dialog " role="document">

            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close"
                            data-dismiss="modal"
                            aria-label="Close"><span
                            aria-hidden="true">&times;</span>
                    </button>
                    <p style="font-size: 15px"
                       class="modal-title">
                        Adicionar ao Formulário </p>
                </div>

                <form method="post" id="addQuestionForm">

                    {% csrf_token %}


                    <div class="modal-body" style="padding: 30px">


                        <strong style="font-size: 25px">
                            <i class="iconOfField"></i>
                            <span class="typeOfField"></span>
                        </strong>
                        <hr/>
                        {% render_generic_field form.name autofocus=True %}
                        {% render_generic_field form.help_text %}

                        <hr>

                        <div id="intro">
                            {% render_generic_field form.intro %}
                        </div>

                        <div id="options">
                            {% render_generic_field form.options %}
                        </div>


                        <input type="hidden"
                               id="id_question_type"
                               name="question_type">
                    </div>


                    <div class="modal-footer">
                        <button type="button"
                                class="btn btn-danger"
                                data-dismiss="modal">Cancelar
                        </button>
                        <button type="submit"
                                class="btn btn-success new_question_save">
                            Salvar
                        </button>
                    </div>


                </form>

            </div>

        </div>

    </div>

    <div class="modal fade" id="editQuestion" tabindex="-1" role="dialog">
        <div class="modal-dialog " role="document">

            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close"
                            data-dismiss="modal"
                            aria-label="Close"><span
                            aria-hidden="true">&times;</span>
                    </button>
                    <p style="font-size: 15px"
                       class="modal-title">
                        Editar pergunta
                    </p>
                </div>
                <div class="modal-body">

                    <form onsubmit="editQuestion(this); return false;">

                        <div class="form-group">

                            <label>Nome do campo:</label>

                            <small style="color:#C9302C">*</small>


                            <div>
                                <input autofocus="" required=""
                                       class="form-control form-control"
                                       name="name_edit"
                                       id="id_name_edit" type="text">
                            </div>
                        </div>

                        <div class="form-group">

                            <label>Texto de ajuda:</label>

                            <div>
                                <input class="form-control"
                                       id="id_help_text_edit"
                                       name="help_text_edit"
                                       type="text">

                                <div>
                                    <small class="text-muted">Uma instrução
                                        similar a está para ajudar seu
                                        participante a entender melhor a
                                        pergunta.
                                    </small>
                                </div>
                            </div>

                        </div>


                        <hr>

                        <div id="intro_edit" style="display: none">


                            <div class="form-group">

                                <label>Primeiro campo
                                    vazio:</label>


                                <div>

                                    <input id="id_intro_edit"
                                           name="intro_edit"
                                           type="checkbox">


                                    <div>
                                        <small class="text-muted help-text">
                                            Deixar o primeiro item da lista em
                                            branco
                                        </small>
                                    </div>


                                </div>
                            </div>
                        </div>

                        <div id="options_edit" style="display: none">


                            <div class="form-group">

                                <label>Opções:</label>


                                <div>

                                <textarea cols="40" rows="10"
                                          class="form-control"
                                          name="options_edit"
                                          id="id_options_edit">

                                </textarea>


                                    <div>
                                        <small class="text-muted help-text">
                                            Insira as opções da sua pergunta
                                            uma
                                            linha de cada vez.
                                        </small>
                                    </div>


                                </div>
                            </div>
                        </div>

                        <input type="hidden" name="question_id"
                               id="question_id">

                        <div class="modal-footer">
                            <button type="button"
                                    class="btn btn-danger"
                                    data-dismiss="modal">Cancelar
                            </button>
                            <button id="#editQuestion"
                                    type="submit"
                                    class="btn btn-success ">Salvar
                            </button>
                        </div>


                    </form>


                </div>


            </div>

        </div>
    </div>

    <div class="modal fade" id="confirmDelete"
         role="dialog">

        <div class="modal-dialog " role="document">

            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close"
                            data-dismiss="modal"
                            aria-label="Close"><span
                            aria-hidden="true">&times;</span>
                    </button>
                    <p class="modal-title">
                        <strong>
                            Certeza que deseja deletar essa pergunta?
                        </strong>
                    </p>
                    <hr/>
                    <i id="removingQuestion"></i>
                    <input type="hidden"
                           id="removingQuestionId">
                    <input type="hidden"
                           id="removingQuestionName">
                </div>
                <div class="modal-footer">
                    <button type="button"
                            class="btn btn-danger"
                            data-dismiss="modal">Não
                    </button>
                    <button type="button"
                            class="btn btn-success"
                            id="deleteQuestion"
                            data-dismiss="modal">
                        Sim
                    </button>
                </div>

            </div>

        </div>

    </div>
{% endblock %}
{% block scripts %}

    <script type="application/javascript">

        var complex_question_types = [
            'select',
            'checkbox-group',
            'radio-group'
        ];

        $(document).ready(function () {

            updateFields();

            Messenger.options = {
                extraClasses: 'messenger-fixed messenger-on-bottom ' +
                'messenger-on-right',
                theme: 'flat'
            };
        });

        $(document).on("click", ".open-AddSimpleQuestionDialog", function () {
            var typeOfField = $(this).data('field-type');
            var IconOfField = $(this).data('field-icon');
            var typeEl = $('.modal-body .typeOfField');
            var iconEl = $('.modal-body .iconOfField');
            var formTypeEl = $('#id_simple_form-type');
            $('#id_question_type').val($(this).data('question_type'));

            typeEl.text(typeOfField);
            iconEl.attr('class', 'iconOfField');
            iconEl.addClass(IconOfField);
            formTypeEl.val('simple');
            $('#options').hide();
            $('#intro').hide();
            $('#addQuestion').modal('show');
        });

        $(document).on("click", ".open-AddComplexQuestionDialog", function () {

            var typeOfField = $(this).data('field-type');
            var IconOfField = $(this).data('field-icon');
            var typeEl = $('.modal-body .typeOfField');
            var iconEl = $('.modal-body .iconOfField');
            var formTypeEl = $('#id_complex_form-type');
            var question_type = $(this).data('question_type');
            $('#id_question_type').val(question_type);

            typeEl.text(typeOfField);
            iconEl.attr('class', 'iconOfField');
            iconEl.addClass(IconOfField);
            formTypeEl.val('complex');
            $('#options').show();

            if (question_type === 'select') {
                $('#intro').show();
            } else {
                $('#intro').hide();
            }

            $('#addQuestion').modal('show');
        });

        $(document).on("click", ".js-edit", function () {


            var intro_edit = $('#intro_edit');
            var options_edit = $('#options_edit');
            var name_field = $('#id_name_edit');
            var help_text_field = $('#id_help_text_edit');
            var option_field = $('#id_options_edit');
            var question_id_field = $('#question_id');
            var intro_field = $('#id_intro_edit');

            //Reset state
            intro_edit.hide();
            options_edit.hide();
            name_field.val('');
            help_text_field.val('');
            option_field.text('');
            question_id_field.val('');

            var question = $(this).closest('tr');
            var question_label = question.find('label').html().replace(':', '');
            var question_type = question.find('[data-question-type]').data('question-type');
            var question_id = question.find('[data-question-id]').data('question-id');

            var has_empty = false;
            var has_options = false;

            if (complex_question_types.indexOf(question_type) > -1) {

                has_options = true;

                var vals = [];
                var question_field;

                if (question_type === 'select') {

                    question_field = question.find('select');

                    intro_edit.show();

                    question_field.find('option').each(function () {


                        var val = $(this).text();

                        if (val === '- Selecione -') {
                            has_empty = true
                        } else {
                            vals.push(val);
                        }


                    });

                } else if (question_type === 'radio-group') {

                    question_field = question.find('input[type=radio]');

                    question_field.each(function () {
                        vals.push($(this).parent().parent().find('label').text().trim());
                    });
                } else if (question_type === 'checkbox-group') {
                    var column = $(question.find('td')[1]);
                    var question_name = column.data('question-name');
                    question_field = question.find('input[type=checkbox][name=' + question_name + ']');

                    question_field.each(function () {
                        vals.push($(this).parent().parent().find('label').text().trim());
                    });
                } else {
                    throw "cgsy: unknown question type"
                }
            }

            if (!question_label) {
                throw 'cgsy-manage: Can\'t find the question field element.'
            }
            question_label = question_label.replace('<span style="color#C9302C">*</span>', '');
            question_label = $.trim(question_label);

            name_field.val(question_label);

            // ---- help_text --- //
            var question_help_text = question.find('*[data-toggle="tooltip"]').attr('title');
            if (!question_help_text) {
                question_help_text = question.find('*[data-toggle="tooltip"]').attr('data-original-title');
            }
            question_help_text = $.trim(question_help_text);

            if (question_help_text) {
                help_text_field.val(question_help_text);
            }

            $('#editQuestion').modal('show');
            question_id_field.val(question_id);

            if (has_empty) {
                if (!intro_field.is(':checked')) {
                    intro_field.iCheck('check');
                }
            }

            if (has_options) {
                options_edit.show();
                option_field.text(vals.join('\n'));
            }

        });

        $('#deleteQuestion').on('click', function () {

            var questionId = $('#removingQuestionId').val();
            var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();

            $.ajax({
                type: "POST",
                url: location.pathname,
                beforeSend: function (request) {
                    request.setRequestHeader("X-CSRFToken", csrftoken);
                },
                data: {
                    question_id: questionId,
                    action: 'delete'
                },
                success: function (res) {
                    Messenger().post({
                        message: 'Pergunta removida com sucesso!',
                        type: 'success'
                    });
                    updateFields();
                },
                error: function (err) {
                    Messenger().post({
                        message: 'Não foi possivel remover sua pergunta.',
                        type: 'error'
                    });
                }
            });
        });

        $('#addQuestionForm').submit(function () {
            $(this).find(':submit').attr('disabled', 'disabled');
            $(this).submit();
        });

        $('.change-lot').on('change', function () {


            var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();

            var url;


            if (this.checked) {
                url = $(this).data("selected-url");
                $.ajax({
                    type: "PATCH",
                    url: url,
                    beforeSend: function (request) {
                        request.setRequestHeader("X-CSRFToken", csrftoken);
                    },
                    success: function () {
                        Messenger().post({
                            message: 'Vínculo com lote inserido com sucesso!',
                            type: 'success'
                        });
                    },
                    error: function (err) {
                        console.error(err);
                        Messenger().post({
                            message: 'Não foi possivel vincular seu ' +
                            'questionario.',
                            type: 'error'
                        });
                    }
                });


            } else {
                url = $(this).data("url");
                $.ajax({
                    type: "PATCH",
                    url: url,
                    beforeSend: function (request) {
                        request.setRequestHeader("X-CSRFToken", csrftoken);
                    },
                    success: function () {
                        Messenger().post({
                            message: 'Vínculo com lote removido com sucesso!',
                            type: 'success'
                        });
                    },
                    error: function (err) {
                        console.error(err);
                        Messenger().post({
                            message: 'Não foi possivel desvincular seu ' +
                            'questionario.',
                            type: 'error'
                        });
                    }
                });
            }


        });


        function editQuestion(form) {

            $('#editQuestion').modal('hide');

            var values = {};

            $.each($(form).serializeArray(), function (i, field) {
                values[field.name] = field.value;
            });

            var payload = {
                action: 'edit',
                question_id: values['question_id'],
                question: JSON.stringify(values)
            };

            var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();

            $.ajax({
                type: "POST",
                url: location.pathname,
                beforeSend: function (request) {
                    request.setRequestHeader("X-CSRFToken", csrftoken);
                },
                data: payload,
                success: function (res) {
                    Messenger().post({
                        message: 'Pergunta editada com sucesso!',
                        type: 'success'
                    });
                    updateFields();
                },
                error: function () {

                    Messenger().post({
                        message: 'Não foi possivel editar sua pergunta.',
                        type: 'error'
                    });
                }
            });

            return false;
        }

        function createFieldList() {

            window.setTimeout(function () {

                var radios = $('#form-preview input[type=radio]');
                var checkboxes = $('#form-preview input[type=checkbox]');
                radios.iCheck({
                    checkboxClass: 'icheckbox_flat-grey',
                    radioClass: 'iradio_flat-grey'
                });

                checkboxes.iCheck({
                    checkboxClass: 'icheckbox_flat-grey',
                    radioClass: 'iradio_flat-grey'
                });


                var required_checkboxes = $('.update_required');

                required_checkboxes.on('ifChecked', function (event) {
                    $(this).closest("input").attr('checked', true);
                });

                required_checkboxes.on('ifUnchecked', function (event) {
                    $(this).closest("input").attr('checked', false);
                });


                required_checkboxes.on('ifChanged', function (e) {

                    var setTo = null;

                    if (e.currentTarget.checked) {
                        setTo = 'True';
                    } else {
                        setTo = 'False';
                    }

                    var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();

                    $.ajax({
                        type: "POST",
                        url: location.pathname,
                        beforeSend: function (request) {
                            request.setRequestHeader("X-CSRFToken", csrftoken);
                        },
                        data: {
                            action: 'update_required',
                            setTo: setTo,
                            question_id: this.dataset.name
                        },
                        success: function (res) {
                            updateFields();
                        },
                        error: function (err) {
                            Messenger().post({
                                message: 'Não foi possivel atualizar a ' +
                                'obrigatoriedade da pergunta.',
                                type: 'danger'
                            });
                        }
                    });

                });

            }, 200);


            return Sortable.create(byId('simpleList'), {
                animation: 150,
                filter: '.js-remove',
                handle: ".my-handle",
                onFilter: function (evt) {
                    var questionEl = $('#removingQuestion');
                    var questionIdEl = $('#removingQuestionId');
                    var questionNameEl = $('#removingQuestionName');

                    var trElement = $(evt.item).closest('tr');
                    var question = $(trElement).find('td:eq(1)').data();

                    questionEl.text(question.questionLabel);
                    questionIdEl.val(question.questionId);
                    questionNameEl.val(question.questionLabel);
                    $('#confirmDelete').modal('show');
                },
                onEnd: function (evt) {

                    var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();

                    if (evt.newIndex === evt.oldIndex) {
                        return;
                    }

                    $.ajax({
                        type: "POST",
                        url: location.pathname,
                        beforeSend: function (request) {
                            request.setRequestHeader("X-CSRFToken", csrftoken);
                        },
                        data: {
                            action: 'update_order',
                            new_order: JSON.stringify(this.toArray()),
                            question_id: evt.item.dataset.name
                        },
                        success: function (res) {
                            //updateFields();
                        },
                        error: function (err) {
                            Messenger().post({
                                message: 'Não foi possivel atualizar a ' +
                                'ordem das perguntas.',
                                type: 'danger'
                            });
                            updateFields();
                        }
                    });
                }
            })
        }

        function updateFields() {

            $.ajax({
                url: location.pathname + '?template_name=survey/fields',
                success: function (result) {
                    document.getElementById("fields").innerHTML =
                        result;
                    createFieldList();

                },
                error: function (error) {
                    Messenger().post({
                        message: 'Não foi possivel atualizar as perguntas. ',
                        type: 'danger'
                    });
                }
            });
        }

        function byId(id) {
            return document.getElementById(id);
        }

    </script>

{% endblock %}

{% block styles %}
    <style>

        .list-group-item .control-buttons {
            visibility: hidden;
        }

        .list-group-item:hover .control-buttons {
            visibility: visible;
        }

    </style>


{% endblock %}


