{% load static base_tags queryset_filter form_config_tags %}
{% if full_survey_form.fields|length > 0 %}
    <ul id="simpleList" class="list-group">
        {% for field in full_survey_form %}
            <li class="list-group-item"
                data-id="{{ field.name }}"
                data-name="{{ field.name }}"
                data-label="{{ field.label }}">


                <div class="table-responsive">
                    <table class="table noborder">
                        <thead>
                        <tr>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td class="col-sm-1 text-center control-buttons my-handle"
                                style="font-size:2em;">
                                <i class=" fas fa-arrows-alt"></i>
                            </td>

                            <td class="col-md-8">
                                {% render_generic_field field %}
                            </td>

                            <td class="col-md-3 control-buttons text-center">


                                <i class="js-remove far fa-window-close"
                                   style="margin-left:130px;"></i>


                                <div class="checkbox">


                                    <input type="checkbox"
                                           class="js-switch update-required"
                                           data-name="{{ field.name }}"
                                            {% if field.field.required %}
                                           checked
                                            {% endif %}
                                           id="switchery_{{ field.name }}">
                                    <label for="switchery_{{ field.name }}">

                                        Obrigatorio
                                    </label>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </li>
        {% endfor %}
    </ul>
{% else %}
    <strong>Nenhuma questão.</strong>
{% endif %}

{% block style %}
    <style>
        .noborder td, .noborder th {
            border: none !important;
        }
    </style>
{% endblock %}


