


<ul id="simpleList" class="list-group">


    <li class="list-group-item" data-id="1">
        <div class="row">

            <div class="col-md-10">

                <select class="form-control" name="lot" id="id_lot">

                    <option value="21">1º Lote - R$ 220,00</option>

                </select>
                <div class="text-muted small">Escolha o tipo de ingresso.</div>
            </div>
            <div class="col-md-2">
                <i class="my-handle fas fa-bars"></i>
                <i class="js-remove far fa-window-close" style="margin-left:
                10px;"></i>
            </div>
        </div>
    </li>
    <li class="list-group-item" data-id="2">
        <div class="row">

            <div class="col-md-10">

                <select class="form-control" name="lot" id="id_lot">

                    <option value="21">1º Lote - R$ 220,00</option>

                </select>
                <div class="text-muted small">Escolha o tipo de ingresso.</div>
            </div>
            <div class="col-md-2">
                <i class="my-handle fas fa-bars"></i>
                <i class="js-remove far fa-window-close" style="margin-left:
                10px;"></i>
            </div>
        </div>
    </li>
    <li class="list-group-item" data-id="3">
        <div class="row">

            <div class="col-md-10">

                <select class="form-control" name="lot" id="id_lot">

                    <option value="21">1º Lote - R$ 220,00</option>

                </select>
                <div class="text-muted small">Escolha o tipo de ingresso.</div>
            </div>
            <div class="col-md-2">

                <div class="row">
                    <i class="my-handle fas fa-bars"></i>
                    <i class="js-remove far fa-window-close" style="margin-left:
                10px;"></i>
                </div>

                <div class="row">
                    <div class="checkbox">
                        <label><input type="checkbox"
                                      value="">Obrigatorio</label>
                    </div>
                </div>


            </div>
        </div>
    </li>
    <li class="list-group-item" data-id="4">
        <div class="row">

            <div class="col-md-10">

                <select class="form-control" name="lot" id="id_lot">

                    <option value="21">1º Lote - R$ 220,00</option>

                </select>
                <div class="text-muted small">Escolha o tipo de ingresso.</div>
            </div>
            <div class="col-md-2">
                <i class="my-handle fas fa-bars"></i>
                <i class="js-remove far fa-window-close" style="margin-left:
                10px;"></i>
            </div>
        </div>
    </li>
    <li class="list-group-item" data-id="5">
        <div class="row">

            <div class="col-md-10">

                <select class="form-control" name="lot" id="id_lot">

                    <option value="21">1º Lote - R$ 220,00</option>

                </select>
                <div class="text-muted small">Escolha o tipo de ingresso.</div>
            </div>
            <div class="col-md-2">
                <i class="my-handle fas fa-bars"></i>
                <i class="js-remove far fa-window-close" style="margin-left:
                10px;"></i>
            </div>
        </div>
    </li>


</ul>




