<h5 class="sidebar-header" style="color:#4c4c4c;">Relatórios</h5>
<ul class="nav nav-pills nav-stacked">
    <li>
        <a class="sidebar-itens" href="#">
            <i class="fas fa-tachometer-alt"></i>
            Geral
        </a>
    </li>
    <li class="active">
        <a class="sidebar-itens" href="#">
            <i class="fas fa-chart-line"></i>
            Totais/Números
        </a>
    </li>
    <li>
        <a class="sidebar-itens" href="#">
            <i class="fas fa-clipboard-list"></i>
            Rankings
        </a>
    </li>
</ul>

<h5 class="sidebar-header" style="color:#4c4c4c;">Clientes</h5>
<ul class="nav nav-pills nav-stacked">
    <li>
        <a class="sidebar-itens" href="#">
            <i class="fas fa-search"></i>
            Pesquisa
        </a>
    </li>
</ul>

