{% if services or services_attended %}
<div class="row tooltip-wrapper ">
    <div class="col-xl-11 col-lg-11 col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="panel-title">
                    Serviços de Atendimento
                    <div class="pull-right" style="cursor: pointer">
                        <a href="javascript:void(0)" data-toggle="modal" data-target="#configure-printer-modal">
                            <i class="fa fa-cog"></i>
                            Configurar
                        </a>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12">
                        {% if services %}
                        <div class="row">
                            <div class="col-xl-9 col-lg-8 col-md-8 col-sm-7">
                                <label for="attendance_id">Registrar atendimento em:</label>
                                <select class="form-control" name="attendance_id" id="attendance_id" onchange="showHidePrinterButton($(this))">
                                    {% for service in services %}
                                    <option value="{{ service.pk }}" data-webhook="{{ service.printing_queue_webhook|default_if_none:'' }}" data-pin="{{ service.pwa_pin|default_if_none:'' }}">{{ service.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-5">
                                <div class="hidden-xs" style="margin-top:27px"></div>
                                <button class="btn btn-primary"
                                    onclick="attendanceCheckin($('#attendance_id').val());$(this).parent().parent().find('button').attr('disabled', true);$(this).text('aguarde...')">Registrar</button>
                                <button class="btn btn-primary webhook-register-and-print" style="display:none"
                                    onclick="attendanceCheckin($('#attendance_id').val(), $('#attendance_id').find('option:selected').data('webhook'), $('#attendance_id').find('option:selected').data('pin'));$(this).parent().parent().find('button').attr('disabled', true);$(this).text('aguarde...')">Registrar e imprimir</button>
                            </div>
                        </div>
                        <hr class="divider"/>
                        {% endif %}
                        <div class="row">
                            <div class="col-md-12">
                                <h4 class="text-bold">Atendimento Registrados:</h4>

                                <table class="table">
                                    {% for checkin in services_attended %}
                                    <tr>
                                        <td class="text-center" width="3%">{{ forloop.counter }}</td>
                                        <td class="col-xl-4 col-lg-7 col-md-7 col-sm-5 col-xs-9">{{ checkin.attendance_service.name }}</td>
                                        <td class="col-xl-2 col-lg-5 col-md-5 col-sm-7 col-xs-3">
                                            <div class="col-sm-4 col-xs-12">
                                                {% if checkin.attendance_service.printing_queue_webhook %}
                                                <button class="btn btn-sm btn-primary btn-block btn-trans"
                                                    onclick="var that=$(this);triggerPrintWebhook(parseInt('{{ checkin.attendance_service_id }}'), '{{ checkin.attendance_service.printing_queue_webhook }}', '{{ checkin.attendance_service.pwa_pin }}').then(function() { that.parent().parent().find('button').removeAttr('disabled'); });$(this).parent().parent().find('button').attr('disabled', true)">
                                                    <i class="fa fa-print"></i>
                                                    <span>Imprimir</span>
                                                </button>
                                                {% endif %}
                                                <button class="btn btn-sm btn-danger btn-block btn-trans"
                                                    onclick="if(confirm('Tem certeza que deseja desfazer o atendimento?')){attendanceCheckout('{{ checkin.attendance_service_id }}', '{{ checkin.attendance_service.pwa_pin }}');$(this).parent().parent().find('button').attr('disabled', true)}">
                                                    <i class="fa fa-remove"></i>
                                                    <span>Remover</span>
                                                </button>
                                            </div>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}