{% load humanize %}

<div class="row">
    <div class="col-md-12">
        <div class="panel" id="survey-block-hidden">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12">
                        <form class="form-horizontal" onsubmit="return false;">

                            <div class="form-group">
                                <label for="amount" class="control-label col-md-2">Valor</label>
                                <div class="col-md-10">
                                    <div class="input-group">
                                        <span class="input-group-addon">R$</span>
                                        <input type="text" class="form-control" readonly name="amount" id="amount" value="247,50" />
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="expiration_day" class="control-label col-md-2">Dia de vencimento</label>
                                <div class="col-md-10">
                                    <input type="number" min="1" max="31" class="form-control" name="expiration_day" id="expiration_day" value="28" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="num_installments" class="control-label col-md-2">Número de Parcelas</label>
                                <div class="col-md-10">
                                    <select name="num_installments" id="num_installments" class="form-control">
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="3">4</option>
                                    </select>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <hr class="hr"/>
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="text-center">
                                    <h4 class="text-bold text-uppercase">Simulação do Contrato:</h4>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-md-8 col-md-push-2" id="installment-parts-simulation">
                                        <table class="table borderless" >
                                            <tr>
                                                <td class="col-xs-3 col-sm-3 col-md-3 col-lg-2 text-right">
                                                    <small>Parcela</small>
                                                </td>
                                                <td class="col-xs-2 col-sm-2 col-md-2 col-lg-2 text-center">
                                                    <small>Valor</small>
                                                </td>
                                                <td class="col-xs-3 col-sm-3 col-md-4 col-lg-2">
                                                    <small>Vencimento</small>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="col-xs-2 col-sm-3 col-md-3 col-lg-2 text-right">
                                                    <label for="amount1" class="label-control" style="margin-bottom:0">1x</label>
                                                </td>
                                                <td class="col-xs-3 col-sm-2 col-md-3 col-lg-2 text-center">
                                                    <label for="amount1" class="label-control" style="margin-bottom:0">R$ asdf</label>
                                                </td>
                                                <td class="col-xs-3 col-sm-3 col-md-4 col-lg-2">
                                                    <div class="input-group">
                                                        <span class="input-group-addon"><i class="fas fa-calendar-alt"></i></span>
                                                        <input type="tel" class="form-control" name="amount1" data-mask="99/99/9999" id="amount1" value="22/01/2019" />
                                                    </div>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
