{% load form_config_tags %}

<div class="modal" id="manual-payment-parts-form-modal" role="dialog" data-backdrop="true">
    <div class="modal-dialog " role="document">
        <div class="modal-content">
            <form action="" method="post" class="form-horizontal" role="form" name="manual-payment-parts-form" onsubmit="$(this).find('button[type=submit]').attr('disabled', '').text('Aguarde...');">
                <div class="modal-header">
                    <button type="button" class="close"
                            data-dismiss="modal"
                            aria-label="Close"><span
                            aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title text-bold">
                        Receber Pagamento de uma Parcela
                    </h4>
                </div>
                <div class="modal-body">
                        <div class="row">
                            {% csrf_token %}

                            {% if manual_form.non_field_errors %}
                                {% render_errors manual_form.non_field_errors %}
                            {% endif %}

                            {% for hidden_field in manual_form.hidden_fields %}
                                {% if hidden_field.errors %}
                                    {% render_errors hidden_field.errors %}
                                {% endif %}
                                {{ hidden_field }}
                            {% endfor %}

                            <input type="hidden" name="action" id="action" value="manual-part">

                            <div class="col-xs-10 col-xs-push-1">
                                {% render_generic_field manual_form.manual_payment_type autofocus=True required=True %}
                            </div>
                            <div class="col-xs-10 col-xs-push-1">
                                {% render_generic_field manual_form.amount %}
                            </div>
                        </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                    <button type="submit" class="btn btn-primary">Salvar</button>
                </div>
            </form>
        </div>
    </div>
</div>
