<div class="tab-content">

    <div class="row">
        <div class="col-md-12">
            <div class="buttonbar">
                <div class="float-right">
                    <button type="button"
                            class="btn btn-success"
                            data-toggle="modal"
                            data-target="#addSurvey">
                        <i class="fa fa-plus"></i>
                        Adicionar
                    </button>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">

            {% if event_survey_list %}
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th style="width: 50%">
                            Nome
                        </th>
                        <th style="width: 40%">
                            Lotes
                            <small>
                                <i class="fas fa-question-circle" data-toggle="tooltip"
                                   data-placement="right" title="Todos os
                                   lotes que este formulário está
                                   vinculado."></i>
                            </small>
                        </th>
                        <th></th>
                    </tr>
                    </thead>

                    {% for item in event_survey_list %}
                        <tbody>
                        <tr>
                            <td>

                                <a href="{% url 'subscription:survey-edit' event.pk item.event_survey.pk %}">
                                    <strong>
                                        {{ item.event_survey.survey.name }}
                                    </strong>
                                </a>
                            </td>
                            <td>
                                {% if item.lots %}
                                    {% for lot in item.lots %}
                                    <div style="{% if not forloop.last %}border-bottom:1px solid #DDD;{% endif %}padding:8px 4px">
                                        - {{ lot.name }}
                                    </div>
                                    {% endfor %}
                                {% else %}
                                    ---
                                {% endif %}
                            </td>
                            <td>
                                <div class="btn-group">
                                    <button
                                            type="button"
                                            class="btn
                                btn-primary btn-trans
                                btn-sm dropdown-toggle"
                                            data-toggle="dropdown"
                                            aria-expanded="false"
                                    >
                                        <span class="fas fa-cog"></span>
                                    </button>
                                    <ul class="dropdown-menu dropdown-menu-right" role="menu">
                                        <li>
                                            <a href="javascript:void(0)" class="open-editSurvey"
                                               data-id="{{ item.event_survey.pk }}"
                                               data-title="{{ item.event_survey.survey.name }}"
                                               data-description="{{ item.event_survey.survey.description }}">
                                                <i class="fas fa-pencil-alt"></i>
                                                Editar
                                            </a>
                                        </li>

                                        <li>
                                            <a href="javascript:void(0)" class="open-lotModal"
                                               data-id="{{ item.event_survey.pk }}"
                                               data-title="{{ item.event_survey.survey.name }}">
                                                <i class="fas fa-th-large"></i>
                                                Lotes
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0)" onclick="duplicateSurvey('{{ event.pk }}', '{{ item.event_survey.survey.name }}', '{{ item.event_survey.pk }}')">
                                                <i class="far fa-clone"></i>
                                                Duplicar
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0)" class="open-DeleteQuestionDialog"
                                               data-event="{{ event.pk }}"
                                               data-survey-name="{{ item.event_survey.survey.name }}"
                                               data-survey="{{ item.event_survey.pk }}">
                                                <i class="fas fa-trash-alt"></i>
                                                Excluir
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    {% endfor %}
                </table>
            {% else %}
                <h3>Nenhum formulário.</h3>
            {% endif %}
        </div>
    </div>

</div>