__pycache__
.idea/
db.sqlite3
/static/
*.pyc
/media/
conf/deploy/env-file
.coverage
cover
logs/
*.pid
.pylintrc
celeryd.pid

doc/
addon/docs/
gatheros_event/docs/
partner/docs/
payment/docs/
scientific_work/docs/
survey/doc/
