__pycache__
.idea/
db.sqlite3
/static/
*.pyc
/media/
conf/deploy/env-file
.coverage
cover
logs/
*.pid
.pylintrc
celeryd.pid
version
venv/
affiliate/

.env

node_modules
static/vue
webpack-stats*local.json
