app-version==0.2.1
appdirs==1.4.3
coverage==4.3.4
Cython==0.25.2
Django==1.11
django-appconf==1.0.2
django-localflavor==1.4.1
django-permission==1.0.4
djangorestframework==3.4.7
kanu-datatable==1.0.7
kanu-locations==1.0.1
olefile==0.44
packaging==16.8
phonenumbers==8.4.1
Pillow==4.1.0
psycopg2==2.7.1
pyparsing==2.2.0
pytz==2017.2
six==1.10.0
tolerance==0.1.2
Unidecode==0.4.19
