{% extends "gatheros_front/base.html" %}
{% load i18n static %}

{% block title %}{{ title }}{% endblock %}
{% block content_title %}<h1>{{ title }}</h1>{% endblock %}
{% block content %}

    {% if validlink %}

        <p>
            Por favor, informe sua nova senha duas vezes para que possamos
            verificar se você a digitou corretamente.
        </p>

        <form method="post">{% csrf_token %}
            <div class="form-row field-password1">
                {{ form.new_password1.errors }}
                <label for="id_new_password1">{% trans 'New password:' %}</label>
                {{ form.new_password1 }}
            </div>
            <div class="form-row field-password2">
                {{ form.new_password2.errors }}
                <label for="id_new_password2">{% trans 'Confirm password:' %}</label>
                {{ form.new_password2 }}
            </div>
            <input type="submit" value="{% trans 'Change my password' %}"/>
        </form>

    {% else %}

        <p>
            O link para a recuperação de senha era inválido, possivelmente
            porque já foi utilizado. Por favor, solicite uma nova recuperação
            de senha.
        </p>

    {% endif %}

{% endblock %}
