{% extends "base/base.html" %}

{% load static %}{% load i18n static %}
{% load event_tags %}
{% block title %}Excluir organização| Congressy{% endblock %}
{% block page_title %}Excluir organização{% endblock %}
{% block page_sub_title %}{{ organization.name }}{% endblock %}

{% block sidebar %}{% endblock %}
{% block sidebar-bars %}{% endblock %}

{% block content %}


    <div class="row">
        <div class="col-ms-12">
            <div class="panel panel-primary">

                <div class="panel-body">

                    <div style="padding: 5px">
                        Você tem certeza que desejar sair da organização <strong>{{ object.name }}</strong>?
                    </div>
                    <div style="padding: 5px">
                        Isto irá excluir todos os seus dados relacionados a esta organização e você
                        só poderá retornar à mesma se receber um convite de um dos administradores.
                    </div>
                    <br/>
                    <form action=""
                          method="post">{% csrf_token %}
                        <a class="btn btn-default" href="{% url 'event:organization-panel' object.pk %}">Cancelar</a>
                        &nbsp; &nbsp;
                        <input class="btn btn-danger" type="submit" value="Sim, pode prosseguir"/>
                        <input type="hidden" name="action" value="delete"/>
                    </form>

                </div>
            </div>
        </div>
    </div>



{% endblock %}