{% extends "base/base.html" %}

{% load static  widget_tweaks organization_tags form_config_tags %}


{% block title %}
    {% if object %}Editar{% else %}Nova{% endif %} Organização | Congressy
{% endblock %}

{% block page_title %}
    {% if object %}Editar{% else %}Nova{% endif %} Organização
{% endblock %}

{% block page_sub_title %}
    {% if object %}
        {{ object.name }} (ID: {{ object.pk }})
    {% endif %}
{% endblock %}

{% block styles %}
    <link href="{% static "assets/plugins/croppie/croppie.css" %}" rel="stylesheet">
    <style type="text/css">
        .django-ckeditor-widget {
            display: block !important;
        }
    </style>

{% endblock %}

{% block sidebar %}{% endblock %}
{% block sidebar-bars %}{% endblock %}
{% block toptitle %}{% endblock %}

{% block content %}
    <form action="" method="post" class="form-horizontal" role="form"
          id="organization-form"
          name="event_form">
        {% csrf_token %}

        {% if form.non_field_errors %}
            {% render_errors form.non_field_errors %}
        {% endif %}
        <input type="file" style="display: none"
               id="id_avatar_file" accept="image/*">

        <div class="row">
            <div class="col-md-12">
                <div class="buttonbar">
                    <div class="float-right">
                        {% if next_path %}
                            <a href="{{ next_path|urlencode }}"
                               class="btn btn-danger">
                                <i class="fas fa-times-circle"></i>
                                Cancelar
                            </a>
                            <input type="hidden" name="next"
                                   value="{{ next_path }}"/>
                        {% else %}
                            <a href="{% url 'event:organization-list' %}"
                               class="btn btn-danger">
                                <i class="fas fa-times-circle"></i>
                                Cancelar
                            </a>
                        {% endif %}

                        <button type="submit" class="btn btn-success">
                            <i class="fa fa-save"></i>
                            Salvar
                        </button>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>

        <div class="row">

            <div class="col-lg-8 col-lg-push-2 col-xl-8 col-xl-push-2">
                <div class="col-xs-4 col-lg-push-4">

                    <div class="row text-center avatar-loader"
                         style="margin-top:20px; display: none">
                        <h3>Processando, aguarde...</h3>
                        <i class="fas info-color fa-circle-notch fa-spin
                        fa-6x" style="margin-top: 20px"></i>
                    </div>

                    <div class="row text-center avatar-div">

                        <img {% if organization.avatar %}
                            src="{{ organization.avatar.url }}"
                        {% else %}
                            src="{% static 'assets/img/user_undefined.jpg' %}"
                        {% endif %}
                            class="img-circle" id="avatar-thumbnail">

                        <a href="#" onclick="openModal();">
                            <div style="position:relative;left:43px;top:-30px;">
                                <span class="fa-stack">
                                    <i class="fas fa-circle fa-stack-2x fa-inverse"></i>
                                    <i class="fas fa-pencil-alt fa-stack-1x "></i>
                                </span>
                            </div>
                        </a>

                    </div>
                </div>
            </div>

        </div>

        <div class="row" style="margin-top: 20px">
            <div class="col-md-12">
                <div class="panel panel-primary">

                    <div class="panel-body">
                        {% for field in form %}
                            {% if field.field.widget.input_type == "hidden" %}
                                {{ field }}
                            {% else %}
                                <div class="form-group">

                                    <label for="{{ field.id_for_label }}">
                                        {{ field.label }}
                                        {% if field.field.required %}
                                            <small style="color:#C9302C">*
                                            </small>
                                        {% endif %}
                                    </label>

                                    <div>
                                        {% if field.field.widget.input_type == "checkbox" %}
                                            {{ field |add_class:"js-switch"|attr:"style:display:none" }}
                                        {% else %}
                                            {{ field |add_class:"form-control" }}
                                        {% endif %}
                                        {% if field.errors %}
                                            {% for error in field.errors %}
                                                <div class="alert alert-danger
                                            alert-dismissable">
                                                    <button type="button"
                                                            class="close"
                                                            data-dismiss="alert"
                                                            aria-hidden="true">
                                                        ×
                                                    </button>
                                                    {{ error }}
                                                </div>
                                            {% endfor %}
                                        {% endif %}
                                        {% if field.help_text %}
                                            <div>
                                                <small class="text-muted">{{ field.help_text|safe }}</small>
                                            </div>
                                        {% endif %}
                                    </div>

                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="buttonbar bottom">
                    <div class="float-right">
                        {% if next_path %}
                            <a href="{{ next_path|urlencode }}"
                               class="btn btn-danger">
                                <i class="fas fa-times-circle"></i>Cancelar</a>
                            <input type="hidden" name="next"
                                   value="{{ next_path }}"/>
                        {% else %}
                            <a href="{% url 'event:organization-list' %}"
                               class="btn btn-danger">
                                <i class="fas fa-times-circle"></i>Cancelar</a>
                        {% endif %}

                        <button type="submit" class="btn btn-success">
                            <i class="fa fa-save"></i>
                            Salvar
                        </button>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </form>
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script src="{% static 'assets/js/user_notification.js' %}"></script>

    <script src="{% static "assets/js/messenger.js" %}"></script>
    <!-- Messenger lib -->

    <!-- mask -->
    <script src="{% static "assets/plugins/mask/mask.min.js" %}"></script>

    <!-- Cropping -->
    <script src="{% static "assets/plugins/croppie/croppie.js" %}"></script>

    <!-- ckeditor -->
    <script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
    <script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>

    <!--Page specific JS -->
    <script type="application/javascript">

        var croppie_obj;

        // Functions
        function askForFile() {
            // creating input on-the-fly
            var input = $("#id_avatar_file");
            // add onchange handler if you wish to get the file :)
            input.trigger("click"); // opening dialog
            return false; // avoiding navigation
        }

        // Replace the client image for the image that was just uploaded
        function replaceFile() {

            if (typeof(croppie_obj) !== "undefined") {
                croppie_obj.croppie('destroy');
                croppie_obj = undefined;
            }

            // Get the first file in the FileList object
            var imageFile = $('#id_avatar_file')[0].files[0];
            var url = window.URL.createObjectURL(imageFile);

            // Now use your newly created URL!
            $('#avatar-thumbnail-modal')[0].src = url;

            if (typeof(croppie_obj) === "undefined") {
                croppie_obj = $('#avatar-thumbnail-modal').croppie({
                    viewport: {
                        width: 200,
                        height: 200,
                        type: 'circle'
                    },
                    boundary: {
                        width: 400,
                        height: 300
                    }
                });
            }

        }

        function openModal() {
            $('#edit_avatar_modal').modal('show');
        }

        function submitImage() {

            var avatar_form_el = $('#id_avatar');

            $('.avatar-div').hide();
            $('.avatar-loader').show();

            if (typeof(croppie_obj) === "undefined") {
                croppie_obj = createCroppieObj()
            }
            croppie_obj.croppie('result', 'base64', 'original', 'png', '1', false).then(function (base64_image) {
                avatar_form_el.val(base64_image);
                $('#organization-form').submit();
            });
        }

        function createCroppieObj() {
            return $('#avatar-thumbnail-modal').croppie({
                viewport: {
                    width: 200,
                    height: 200,
                    type: 'circle'
                },
                boundary: {
                    width: 400,
                    height: 300
                }
            });
        }

        $(document).ready(function () {
            var avatar_file_el = $('#id_avatar_file');

            $('#id_phone').mask("(99) 99999-9999");

            // Listener responsavel por ler o arquivo que foi submetido.
            // È aqui que começa o processo de crop.
            avatar_file_el.on('change', function () {
                replaceFile();
            });

            $('#start_crop').on('click', function () {
                if (typeof(croppie_obj) === "undefined") {
                    croppie_obj = createCroppieObj();
                }
            });

            $('.avatar-remove').on('click', function () {

                $('.avatar-div').hide();
                $('.avatar-loader').show();

                if (typeof(croppie_obj) !== "undefined") {
                    croppie_obj.croppie('destroy');
                    croppie_obj = undefined;
                }

                $('#id_remove_image').val('True');
                $('#organization-form').submit();
            });

        });

    </script>

{% endblock %}


{% block modals %}
    <div class="modal fade" id="edit_avatar_modal" tabindex="-1"
         role="dialog"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">Editar avatar da organização: </h3>
                    <button type="button" class="close"
                            data-dismiss="modal" aria-hidden="true">
                        ×
                    </button>
                </div>
                <div class="modal-body">

                    <div class="row text-center">

                        <img {% if organization.avatar %}
                            src="{{ organization.avatar.url }}"
                        {% else %}
                            src="{% static 'assets/img/user_undefined.jpg' %}"
                        {% endif %}
                            id="avatar-thumbnail-modal" class="img-circle">

                    </div>

                    <div class="row text-center" style="margin-top: 5px">
                        <div class="row text-center" style="margin-top: 5px">
                            <div class="row text-center" style="margin-top: 3px;
                    margin-bottom: 5px">

                                <button class="btn btn-md btn-info"
                                        onclick="askForFile();" id="edit_btn" type="button">
                                    <i class="fas fa-exchange-alt"></i>
                                    Trocar
                                </button>


                                <button class="btn btn-md btn-info"
                                        id="start_crop"
                                        type="button">
                                    <i class="fas fa-pencil-alt"></i>
                                    Ativar crop
                                </button>


                                <button type="button" class="btn btn-md  btn-danger avatar-remove"
                                        data-dismiss="modal">
                                    <i class="fas fa-trash"></i>
                                    Deletar
                                </button>

                            </div>
                        </div>
                    </div>


                </div>
                <div class="modal-footer">


                    <div class="pull-right">
                        <button type="button" class="btn btn-md btn-success"
                                data-dismiss="modal"
                                onclick="submitImage();">
                            <i class="far fa-save"></i>
                            Salvar
                        </button>
                        <button type="button" class="btn btn-md  btn-default"
                                data-dismiss="modal">
                            Cancelar
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

