{% extends "base/base.html" %}
{% block title %} Organizações | Congressy{% endblock %}
{% load i18n static %}
{% block pageheader %}
    <div class="pageheader">
        <h1>Organizações</h1>
    </div>
{% endblock %}

{% block content %}
    <div class="row" style="padding-top: 30px;">
        <div class="col-lg-6 col-lg-offset-3">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Minhas Organizações</h3>
                </div>
                <div class="panel-body">





                </div>
            </div>
        </div>
    </div>
{% endblock %}
