<div class="modal fade" id="change_organization" role="dialog"
     data-backdrop="static">
    <div class="modal-dialog " role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close"
                        data-dismiss="modal"
                        aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title text-bold">MINHAS ORGANIZAÇÕES</h4>
            </div>
            <div class="modal-body modal-scroll">
                <div class="panel panel-primary">
                    <div class="panel-body ">
                        {% if organizations %}
                            <div class="row">
                                <div class="col-md-12">
                                    {% for item in organizations|slice:":5" %}
                                        <button class="btn btn-primary btn-trans btn-block text-left" href="javascript:void(0)" style="text-align: left;margin-bottom:10px"
                                                onclick="$(this).parent().find('button').attr('disabled', true);cgsy_submit({{ item.pk }})"
                                            {% if item.name|length > 50 %}data-toggle="tooltip" title="{{ item.name }}"{% endif %}>
                                            {{ item.name|truncatechars:50 }}
                                        </button>
                                    {% endfor %}
                                </div>
                            </div>
                        {% if organizations|length > 5 %}
                            <div class="row">
                                <div class="col-md-12 text-center">
                                    <br />
                                    <button type="button"
                                            class="btn btn-success btn-trans btn-sm dropdown-toggle"
                                            data-toggle="dropdown"
                                            aria-expanded="false"
                                            aria-haspopup="true"
                                            onclick="location.href='{% url 'event:organization-list' %}'">
                                        <span>Ver todas organizações</span>
                                    </button>
                                </div>
                            </div>
                        {% endif %}
                        {% else %}
                            <h3>Nenhum dado.</h3>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <form action="{% url 'event:organization-switch' %}" method="post"
          id="organization_context">
        {% csrf_token %}
        <input type="hidden" name="organization-context-pk"
               id="organization-context-pk"/>
        <input type="hidden" name="next" value="{{ request.path }}"/>
    </form>
</div>