{% extends "base/base.html" %}
{# @TODO Change the icons in nav_aside_itens  #}
{% load static %}
{% load event_tags %}

{% block title %} {{ object.name }} | Congressy{% endblock %}

{% block page_title %}Painel{% endblock %}
{% block page_sub_title %}{{ object.name }} {% endblock %}


{% block nav_aside_itens %}
    <li>
        <a href="{% url 'event:event-list' %}" title="Eventos">
            <i class="fa  fa-fw fa-rocket"></i>Eventos
        </a>
    </li>
    {% if can_manage_invitations %}
        <li>
            <a href="{% url 'event:invitation-list' object.pk %}" title="Convites">
                <i class="fa  fa-fw fa-rocket"></i> Convites
            </a>
        </li>
    {% endif %}

    {% if can_view_members or can_view_members %}
        <li>
            <a href="{% url 'event:member-list' object.pk %}" title="Membros">
                <i class="fa  fa-fw fa-rocket"></i> Membros
            </a>
        </li>
    {% endif %}

    {% if can_manage_places %}
        <li>
            <a href="{% url 'event:place-list' object.pk %}" title="Locais de eventos">
                <i class="fa  fa-fw fa-rocket"></i> Locais de eventos
            </a>
        </li>
    {% endif %}

    <li>
        <a href="{% url 'subscription:fields' object.pk %}" title="Formulário Padrão">
            <i class="fa  fa-fw fa-rocket"></i>Formulário Padrão
        </a>
    </li>
    <li>
        <a href="{% url 'event:organization-cancel-membership' object.pk %}" title="Sair da Organização">
            <i class="fa  fa-fw fa-rocket"></i>Sair da Organização
        </a>
    </li>
{% endblock %}


{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-body">


                </div>
            </div>
        </div>
    </div>







{% endblock %}