{% load humanize %}
{% load i18n %}{% autoescape off %}

    <p style="text-align: justify;">
        Olá,
    </p>
    <p style="text-align: justify;">
        Seja bem-vindo a Congressy Plataforma de Eventos!
    </p>
    <p style="text-align: justify;">
        Caso queira redefinir sua senha, você tem a opção de clicar no link abaixo:
        {% block reset_link %}
            <a href="{{ url }}">Defina sua Senha</a>
        {% endblock %}
    </p>
    <p style="text-align: justify;">
        Equipe {{system_name}}
    </p>
{% endautoescape %}
