{% load humanize %}
{% load i18n %}{% autoescape off %}

    <p style="text-align: justify;">
        Olá,
    </p>
    <p style="text-align: justify;">
        Seja bem-vindo a Congressy Plataforma de Eventos!
    </p>
    <p style="text-align: justify;">
        Por favor, clique no link abaixo e defina sua senha:
        {% block reset_link %}
            <a href="{{ url }}">Defina sua Senha</a>
        {% endblock %}
    </p>
    <p style="text-align: justify;">
        Equipe Congressy
    </p>
{% endautoescape %}
