{% load humanize %}

<p style="text-align: justify;">
    Prezado(a) <strong>{{ person.user.first_name }}</strong>,
</p>
<p style="text-align: justify;">
    Agradecemos por fazer sua inscrição em nosso evento. Será uma honra
    recebê-lo(a).
</p>
<hr />
<p style="text-align: justify;">
    <h2>Dados da inscrição</h2>
    <div style="margin-left:10px">
        <strong>Nome do Evento:</strong> {{ event.name }}
        <br/>
        <strong>Data:</strong> {{ period }}
{#        <br/>#}
{#        <strong>Local:</strong> {{ local }}#}
{#        <br/>#}
{#        <strong>Número da inscrição:</strong> {{ count|intcomma }}#}
        <br/>
        <strong>Registrado em:</strong> {{ date|date:"DATETIME_FORMAT" }}
    </div>
</p>
<hr />
<p style="text-align: justify;">
    <h2>Dados do Evento</h2>
    <div style="margin-left:10px">
        <strong>Link para acessar o evento: </strong> <a href="{{ event_url }}">{{ event.name }}</a>
    </div>
</p>
<hr />
<p style="text-align: justify;">
    Caso não se lembre da sua senha, siga os procedimentos de
    recuperação de senha no formulário em "Esqueci minha senha".
</p>
<p style="text-align: justify;">
    Contamos com a sua presença!
</p>

<p style="text-align: justify;">
    <strong>Congressy</strong>
    &nbsp;&ndash; Crie seu evento agora mesmo!

    <br />
    <a target="_blank" href="congressy.com">www.congressy.com</a>
</p>