{% load humanize %}

<p style="text-align: justify;">
    {% if convidado %}
    Prezado <strong>{{ convidado }}</strong>,
    {% else %}
    Olá,
    {% endif %}
</p>
<p style="text-align: justify;">
    Este é um convite para que você possa entrar em nossa organização gerenciar eventos conosco.
</p>
<hr/>
<h2>Click no link abaixo para aceitar ou negar o convite</h2>
<p style="text-align: justify;">
    <a href="{{ link }}">Convite</a>
</p>
<p style="text-align: justify;">
    Atenciosamente,
</p>
<p style="text-align: justify;">
    <strong>{{ hospedeiro|upper }}</strong>
    <br />
    <strong>Organização: </strong> {{ organizacao|upper }}
</p>
