{% load humanize %}

<p style="text-align: justify;">
    Prezado <strong>{{ convidado }}</strong>,
</p>
<p style="text-align: justify;">
    Eu configurei a {{ organizacao }} na Congressy para nós - para que possamos gerenciar nossos eventos.
</p>
<hr/>
<h2>Click no link abaixo para aceitar o convite</h2>
<p style="text-align: justify;">
    <a href="{{ link }}">Convite</a>
</p>
<p style="text-align: justify;">
    Atenciosamente,
</p>
<p style="text-align: justify;">
    <strong>{{ hospedeiro|upper }}</strong>
    <br />
    <strong>Organização: </strong> {{ organizacao|uppper }}
</p>
