{% load humanize %}
{% load i18n %}{% autoescape off %}

    <p style="text-align: justify;">
        {% if nome %}
            Olá {{ nome }},
        {% else %}
            Olá,
        {% endif %}
    </p>
    <p style="text-align: justify;">
        Seja bem-vindo ao programa de parceiros da <strong>Congressy Plataforma de Eventos!</strong>
    </p>
    <p style="text-align: justify;">
        Seu cadastro foi realizado com sucesso! Logo nossa equipe comercial entrará em contato com você
        para tratar de detalhes da parceria.
    </p>
    <p style="text-align: justify;">
        Obrigado pelo seu interesse em se tornar nosso parceiro.
    </p>
    <p style="text-align: justify;">
        Atenciosamente,
        <div style="margin-left:10px">Equipe Congressy</div>
    </p>
{% endautoescape %}
