/* ================== DEVICES 1280px X 950px ================== */
/* ----------- 1280 ----------- */
@media screen
and (device-width: 1280px)
and (device-height: 950px) {
    .navbar-left {
        width: 77%;
    }
}

/* ----------- 950 ----------- */
@media screen
and (device-width: 950px)
and (device-height: 1280px) {
    .navbar-left {
        width: 100%;
    }

    .navbar-logo {
        width: 76%;
    }

    .navbar .top-title,
    .navbar-default .top-title {
        font-size: 18px;
    }
}