{% extends "gatheros_front/base.html" %}
{% load i18n static %}

{% block content %}
    <div style="padding:10px">
        {% if next_path %}
            <a href="{{ next_path|urlencode }}">Voltar</a>
        {% else %}
            <a href="{% url 'event:organization-panel' place_organization.pk %}">Voltar</a>
        {% endif %}
    </div>
    <hr/>
    <h1>{{ place_organization.name }}</h1>
    <div style="margin-bottom:10px;padding: 10px;background-color: #DDDDDD;text-align: center;"></div>

    {% if form_title %}
        <h2>{{ form_title }}</h2>
    {% endif %}
    <form action="" method="post">{% csrf_token %}
        <table>
            {{ form.as_table }}
        </table>
        <br />
        <hr />
        <input type="submit" value="Salvar"/>
        {% if next_path %}
            <a href="{{ next_path|urlencode }}">Cancelar</a>
            <input type="hidden" name="next" value="{{ next_path }}"/>
        {% else %}
            <a href="{% url 'event:organization-panel' place_organization.pk %}">Voltar</a>
        {% endif %}
    </form>
{% endblock %}
