{% extends "base/base.html" %}
{% load l10n static event_tags  base_tags  widget_tweaks form_config_tags %}
{% load humanize %}

{% block messages %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }} alert-dismissable">
                <button type="button" class="close"
                        data-dismiss="alert" aria-hidden="true">×
                </button>
                {{ message|get_first_item }}
            </div>
        {% endfor %}
    {% endif %}
{% endblock messages %}

{% block title %}
    {% if object %}Editar{% else %}Novo{% endif %} Lote | Congressy
{% endblock %}

{% block page_title %}
    {% if object %}Editar{% else %}Novo{% endif %} Lotes/Categorias
{% endblock %}

{% block page_sub_title %}
    {% if form_title %}
        {{ form_title }}
    {% endif %}
{% endblock %}

{% block scripts %}
    <script src="{% static "assets/plugins/mask/mask.min.js" %}"></script>
    <script src="{% static "assets/js/price-format.min.js" %}"></script>
    <script type="application/javascript">
        function show(el) {
            $(el).fadeIn();
        }

        function hide(el) {
            $(el).fadeOut();
        }

        function showHideLimit() {
            var limitCheckbox = $('#id_limit').parent().parent().parent();
            if ($('#limit_switch').prop('checked')) {
                show(limitCheckbox);
            } else {
                hide(limitCheckbox);
                $('#id_limit').val(0);
            }
        }

        function showHideExihibitionCode() {
            var exhibition_code = $('#id_exhibition_code').parent().parent().parent();
            if ($('#id_private').prop('checked')) {
                show(exhibition_code);
            } else {
                hide(exhibition_code);
            }
        }

        function showHideTransferTax() {
            var transfer_tax = $('#id_transfer_tax').parent().parent().parent();
            if (parseFloat($('#id_price').val()) > 0) {
                show(transfer_tax);
            } else {
                hide(transfer_tax);
            }
        }

        function showPrices(action) {
            action = action === true;
            var price_box = $('.price-box');
            if (action) {
                price_box.fadeIn();
            } else {
                price_box.fadeOut();
            }
        }

        function calculatePrices() {
            var minimum = parseFloat(
                '{{ congressy_minimum_price|unlocalize|intcomma }}'
                    .replace(',', '.')
            );
            var percent = parseFloat(
                '{{ congressy_plan_percent_10|unlocalize|intcomma }}'
                    .replace(',', '.')
            );
            percent = percent/100;

            var id_price = $('#id_price');
            if (!id_price.length) {
                return;
            }

            var price = $('#id_price').val().replace('.', '').replace(',', '.');

            if (!price) {
                showPrices(false);
                return;
            }

            price = parseFloat(price);

            var congressy_price = price * percent;
            if (congressy_price < minimum) {
                congressy_price = minimum;
            }

            var subscription_price = $('.subscription_price');
            var price_to_recieve = $('.price_to_recieve');
            var transfer_tax = $('#id_transfer_tax').prop('checked');

            var hide_tax = function(tax_el) {
                var parent = tax_el.parent().parent().find('.congressy_tax').parent();
                parent.css('visibility', 'hidden');
            };
            var show_tax = function(tax_el) {
                var parent = tax_el.parent().parent().find('.congressy_tax').parent();
                parent.css('visibility', 'visible');
            };

            $('.congressy_tax').text(as_currency(congressy_price));

            if (transfer_tax) {
                show_tax(subscription_price);
                hide_tax(price_to_recieve);
                subscription_price.text(as_currency(price + congressy_price));
                price_to_recieve.text(as_currency(price));
            } else {
                show_tax(price_to_recieve);
                hide_tax(subscription_price);
                subscription_price.text(as_currency(price));
                price_to_recieve.text(as_currency(price - congressy_price));
            }
        }

        $(document).ready(function () {
            $('#id_price').mask('#.##0,00', {reverse: true});

            showHideLimit();
            showHideExihibitionCode();
            showHideTransferTax();
            calculatePrices();

            $('#limit_switch').on('change', function () {
                showHideLimit();
            });

            $('#id_private').on('change', function () {
                showHideExihibitionCode();
            });

            $('#id_transfer_tax').on('change', function () {
                calculatePrices();
            });

            var id_price = $('#id_price');
            if (id_price.length) {
                $('#id_price').on('keyup', function () {
                    var transfer_tax = $('#id_transfer_tax').parent().parent().parent();
                    var val = parseFloat($(this).val());
                    if (val > 0) {
                        show(transfer_tax);
                        showPrices(true);
                    } else {
                        hide(transfer_tax);
                        showPrices(false);
                    }
                    calculatePrices();
                });
            }
        });
    </script>
{% endblock %}

{% block nav_aside_itens %}
    <h5 class="sidebar-header">Participantes</h5>
    <ul class="nav nav-pills nav-stacked">
        <li class="active">
            <a href="{% url 'subscription:lot-list' event.pk %}"
            title="Inscrições">
                <i class="fa  fa-fw fa-rocket"></i>
                Lotes/Categorias
            </a>
        </li>
        <li>
            <a href="{% url 'subscription:subscription-list' event.pk %}"
               title="Inscrições">
                <i class="fa  fa-fw fa-rocket"></i>
                Inscrições
            </a>
        </li>
        {#        <li>#}
        {#            <a href="{% url 'subscription:subscription-attendance-search' event.pk %}"#}
        {#               title="Check-in">#}
        {#                <i class="fa  fa-fw fa-rocket"></i>#}
        {#                Check-in#}
        {#            </a>#}
        {#        </li>#}
    </ul>
    <h5 class="sidebar-header">Configurações</h5>
    <ul class="nav nav-pills nav-stacked">
        <li>
            <a href="{% url 'event:event-hotsite' event.pk %}"
               title="Página do evento">
                <i class="fa  fa-fw fa-rocket"></i> Página do evento
            </a>
        </li>
        <li>
            <a href="{% url 'subscription:form-config' event.pk %}"
               title="Formulário">
                <i class="fa  fa-fw fa-rocket"></i> Formulário
            </a>
        </li>
        {% if has_paid_lots %}
            <li>
                <a href="{% url 'payment:event-payments' event.pk %}"
                   title="Pagamentos">
                    <i class="fa  fa-fw fa-rocket"></i> Pagamentos
                </a>
            </li>
        {% endif %}
    </ul>
{% endblock %}

{% block content %}

    <form action="" method="post" class="form-horizontal form-border"
          role="form" name="event_form">
        {% csrf_token %}

        {% if form.non_field_errors %}
            {% render_errors form.non_field_errors %}
        {% endif %}

        {% for hidden_field in form.hidden_fields %}
            {% if hidden_field.errors %}
                {% render_errors hidden_field.errors %}
            {% endif %}
            {{ hidden_field }}
        {% endfor %}

        <div class="row">
            <div class="col-lg-8 col-lg-push-2 col-xl-8 col-xl-push-2">
                <div class="buttonbar">
                    <div class="float-right">
                        <a href="{% url 'subscription:lot-list' event.pk %}"
                           class="btn btn-danger">
                            <i class="fas fa-times-circle"></i>
                            Cancelar
                        </a>

                        <button type="submit" class="btn btn-success">
                            <i class="fa fa-save"></i>
                            Salvar
                        </button>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-push-2 col-xl-8 col-xl-push-2">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <div class="panel-title">
                            Dados principais
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xl-9 col-lg-11 col-md-11">
                                {% render_generic_field form.name autofocus=True %}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-5 col-lg-6 col-md-6">
                                {% render_generic_field form.date_start %}
                            </div>
                            <div class="col-xl-4 col-lg-5 col-md-5">
                                {% render_generic_field form.date_end %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <div class="panel-title">
                            Configuração de vagas
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xl-4 col-lg-5 col-md-5">
                                <div class="form-group">
                                    <label>Limitar vagas</label>
                                    <div>
                                        <input name="limit_switch"
                                               class="js-switch"
                                               id="limit_switch"
                                               data-switchery="true"
                                               style="display:none"
                                               type="checkbox"
                                               {% if object and object.limit > 0 %}checked{% endif %}
                                        />
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-7 col-md-7">
                                <div style="display: none">
                                    {% render_generic_field form.limit %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <div class="panel-title">
                            Custos e taxas
                        </div>
                    </div>
                    <div class="panel-body">
                        {% if full_banking %}
                        <div class="row">
                            <div class="col-md-3">
                                {% render_generic_field form.price %}
                            </div>
                            <div class="col-md-5 col-xl-6 col-lg-5">
                                <div style="display: none">
                                    {% render_generic_field form.transfer_tax %}
                                </div>
                            </div>
                        </div>
                        <div class="row price-box">
                            <div class="col-sm-6 col-md-6">
                                <div class="well">
                                    <div style="font-size:14px;text-align: center;font-weight: bold">Preço da Inscrição:</div>
                                    <div style="text-align: center;font-weight: bold;font-size: 24px;color: blue;">
                                        R$ <span class="subscription_price"></span>
                                    </div>
                                    <div class="text-muted" style="visibility:hidden;text-align: center;font-weight: bold;padding-top: 4px;font-size: 12px">
                                        <strong>Taxa:</strong> R$ <span class="congressy_tax"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-6">
                                <div class="well">
                                    <div style="font-size:14px;text-align: center;font-weight: bold">Você receberá:</div>
                                    <div style="text-align: center;font-weight: bold;font-size: 24px;color: green;">
                                        R$ <span class="price_to_recieve"></span>
                                    </div>
                                    <div class="text-muted" style="visibility:hidden;text-align: center;font-weight: bold;padding-top: 4px;font-size: 12px">
                                        <strong>Taxa:</strong> R$ <span class="congressy_tax"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% else %}
                        <div class="row">
                            <div class="col-md-12">
                            <div class="alert alert-warning">
                                <strong>È necessário que complete seus dados bancários para criar lotes
                                    pagos!</strong>

                                </div>
                                <p><a href="{% url 'event:organization-financial-edit' organization.pk %}">
                                    Clique aqui para configurar estes dados.</a></p>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            {#                <div class="panel panel-primary">#}
            {#                    <div class="panel-heading">#}
            {#                        <div class="panel-title">#}
            {#                            Privacidade#}
            {#                        </div>#}
            {#                    </div>#}
            {#                    <div class="panel-body">#}
            {#                        <div class="row">#}
            {#                            <div class="col-xl-2 col-lg-4 col-md-4">#}
            {#                                {% render_generic_field form.private %}#}
            {#                            </div>#}
            {#                            <div class="col-xl-4 col-lg-4 col-md-4">#}
            {#                                {% render_generic_field form.exhibition_code %}#}
            {#                            </div>#}
            {#                        </div>#}
            {#                    </div>#}
            {#                </div>#}
        </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-push-2 col-xl-8 col-xl-push-2">
                <div class="buttonbar bottom">
                    <div class="float-right">
                        <a href="{% url 'subscription:lot-list' event.pk %}"
                           class="btn btn-danger">
                            <i class="fas fa-times-circle"></i>Cancelar
                        </a>
                        <button type="submit" class="btn btn-success">
                            <i class="fa fa-save"></i>
                            Salvar
                        </button>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </form>

{% endblock %}
