{% extends "base/base.html" %}
{% load l10n static event_tags  base_tags  widget_tweaks form_config_tags %}
{% load humanize %}
{% load subscription_tags %}

{% block title %}
    {% if object %}Editar{% else %}Novo{% endif %} Lote | Congressy
{% endblock %}

{% block page_title %}
    {% if object %}Editar{% else %}Novo{% endif %} Lote
{% endblock %}

{% block page_sub_title %}
    {{ event.name }}
    {% if object %}
        - {{ object.name }} (ID: {{ object.pk }})
    {% endif %}
{% endblock %}

{% block scripts %}
    <script src="{% static "assets/plugins/moment/moment.js" %}"></script>
    <script src="{% static "assets/plugins/bootstrap-datetimepicker/bootstrap-datetimepicker.js" %}"></script>
    <script src="{% static 'assets/js/date-time.js' %}"></script>
    <script src="{% static 'assets/js/user_notification.js' %}"></script>
    <script src="{% static "assets/plugins/mask/mask.min.js" %}"></script>
    <script src="{% static "assets/js/price-format.min.js" %}"></script>
    <script>
        $(document).ready(function () {
            var date = createDateStartDateEnd('#datepicker-begin .datapicker', '#datepicker-end .datapicker');
            createTimePicker();
            {% if object %}
                date.data("DateTimePicker").minDate(false);
                window.setTimeout(function() {
                    $('#datepicker-begin .datapicker input').val('{{ object.date_start|date:'d/m/Y' }}');
                    $('#datepicker-end .datapicker input').val('{{ object.date_end|date:'d/m/Y' }}');
                }, 200);
            {% endif %}
        });
        (function ($) {
            function show(el) {
                $(el).fadeIn();
            }

            function hide(el) {
                $(el).fadeOut();
            }

            function showHideLimit() {
                var limitCheckbox = $('#id_limit').parent().parent().parent();
                if ($('#limit_switch').prop('checked')) {
                    show(limitCheckbox);
                } else {
                    hide(limitCheckbox);
                }
            }

            function showHideExihibitionCode() {
                var exhibition_code = $('#id_exhibition_code').parent().parent().parent();
                if ($('#id_private').prop('checked')) {
                    show(exhibition_code);
                } else {
                    hide(exhibition_code);
                }
            }

            function showHideTransferTax() {
                var transfer_tax = $('#id_transfer_tax');
                var allow_installment = $('#id_allow_installment');

                if (!transfer_tax.length || !allow_installment.length) {
                    return;
                }

                allow_installment = allow_installment.parent().parent().parent();
                transfer_tax = transfer_tax.parent().parent().parent();

                if (parseFloat($('#id_price').val()) > 0) {
                    show(transfer_tax);
                    show(allow_installment);
                } else {
                    hide(transfer_tax);
                    app.setSwitchery('#id_allow_installment', false);
                    hide(allow_installment);
                }
            }

            function showHideInstallmentFields() {
                var allow = $('#id_allow_installment');
                if (!allow.length) {
                    return;
                }

                var num_parts = $('#id_installment_limit');
                var num_absortion = $('#id_num_install_interest_absortion');

                if (!num_parts.length || !num_absortion.length) {
                    return;
                }

                var sub_price_block = $('#subscription_price_block');
                var price_receive_block = $('#price_to_recieve_block');
                var installments_block = $('#installment_price_to_receive_block');

                if (allow.prop('checked')) {
                    show(num_parts.parent().parent());
                    show(num_absortion.parent().parent().parent().parent());
                    price_receive_block.removeAttr('class').addClass('col-sm-4 col-md-4');
                    sub_price_block.removeAttr('class').addClass('col-sm-4 col-md-4');

                    window.setTimeout(function () {
                        show(installments_block);
                    }, 300);

                } else {
                    hide(num_parts.parent().parent());
                    hide(num_absortion.parent().parent().parent().parent());

                    hide(installments_block);

                    window.setTimeout(function () {
                        price_receive_block.removeAttr('class').addClass('col-sm-6 col-md-6');
                        sub_price_block.removeAttr('class').addClass('col-sm-6 col-md-6');
                    }, 300);
                }
            }

            function showPrices(action) {
                action = action === true;
                var price_box = $('.price-box');
                if (action) {
                    price_box.fadeIn();
                } else {
                    price_box.fadeOut();
                }
            }

            function calculatePrices() {
                var minimum = parseFloat(
                    '{{ congressy_minimum_price|unlocalize|intcomma }}'
                        .replace(',', '.')
                );
                var percent = parseFloat(
                    '{{ congressy_plan_percent|unlocalize|intcomma }}'
                        .replace(',', '.')
                );
                percent = percent / 100;

                var id_price = $('#id_price');
                if (!id_price.length) {
                    return;
                }

                var price = $('#id_price').val();
                if (!price) {
                    showPrices(false);
                    return;
                }

                price = price.replace('.', '').replace(',', '.');

                if (parseFloat(price) <= 0) {
                    showPrices(false);
                    return;
                }

                price = parseFloat(price);

                var congressy_price = price * percent;
                if (congressy_price < minimum) {
                    congressy_price = minimum;
                }

                var subscription_price = $('.subscription_price');
                var price_to_recieve = $('.price_to_recieve');
                var transfer_tax = $('#id_transfer_tax').prop('checked');

                var hide_tax = function (tax_el) {
                    var parent = tax_el.parent().parent().find('.congressy_tax').parent();
                    parent.css('visibility', 'hidden');
                };
                var show_tax = function (tax_el) {
                    var parent = tax_el.parent().parent().find('.congressy_tax').parent();
                    parent.css('visibility', 'visible');
                };

                if (congressy_price > 0) {
                    $('.congressy_tax').text(as_currency(congressy_price));
                } else {
                    $('.congressy_tax').text('-');
                }

                if (transfer_tax) {
                    show_tax(subscription_price);
                    hide_tax(price_to_recieve);
                    if (congressy_price > 0) {
                        subscription_price.text(as_currency(price + congressy_price));
                        price_to_recieve.text(as_currency(price));
                    } else {
                        subscription_price.text('-');
                        price_to_recieve.text('-');
                    }
                } else {
                    show_tax(price_to_recieve);
                    hide_tax(subscription_price);
                    if (congressy_price > 0) {
                        subscription_price.text(as_currency(price));
                        price_to_recieve.text(as_currency(price - congressy_price));
                    } else {
                        subscription_price.text('-');
                        price_to_recieve.text('-');
                    }
                }
            }

            function calcInstallments() {
                var popover = $('#installment-items');
                var price = $('.subscription_price');
                var price_receive = $('.price_to_recieve');
                var parts = $('#id_installment_limit');
                var num_free_items = $('#id_num_install_interest_absortion');

                if (!popover.length || !price.length || !parts.length || !num_free_items.length || !price_receive.length) {
                    return;
                }

                if (!price.text()) {
                    return;
                }

                if (!price_receive.text()) {
                    return;
                }

                price = price.text().replace('.', '').replace(',', '.');
                price = parseFloat(price);

                price_receive = price_receive.text().replace('.', '').replace(',', '.');
                price_receive = parseFloat(price_receive);

                num_free_items = parseInt(num_free_items.val());
                var interest = parseFloat(price * (2.29 / 100));

                var items = [];
                var items2 = [];
                var interest_sum = 0.00;

                for (var i = 2; i <= parseInt(parts.val()); i++) {
                    var part_price_liquid = parseFloat(price / i);
                    var part_price = parseFloat(part_price_liquid + interest);
                    var part_recieve = price_receive;

                    if (i <= num_free_items) {
                        // Collect interest
                        interest_sum += parseFloat((part_price - part_price_liquid));

                        // Force liquid price
                        part_price = part_price_liquid;

                        part_price = as_currency(part_price);
                        part_price = '<strong>R$ ' + part_price + '</strong>';
                        part_price = part_price + ' (sem juros)';

                        part_recieve = parseFloat(part_recieve - (interest * i));

                    } else {
                        part_price = '<strong>R$ ' + as_currency(part_price) + '</strong>';
                    }

                    part_recieve = '<strong>R$ ' + as_currency(parseFloat(part_recieve)) + '</strong>';

                    var html = '<div>';
                    html += '<span>' + i + 'x: </span>';
                    html += part_price;
                    html += '</div>';

                    var html2 = '<div>';
                    html2 += part_recieve;
                    html2 += '<span> (se ' + i + 'x)</span>';
                    html2 += '</div>';

                    items.push(html);
                    items2.push(html2);
                }

                popover.attr('data-content', items.join(''));
                $('#installment_price_to_receive').html(items2.join(''));
            }

            $(document).ready(function () {
                {% if LANGUAGE_CODE == 'pt-br' %}
                    $('#id_date_start_0').mask("99/99/9999");
                    $('#id_date_start_1').mask("99:99");
                    $('#id_date_end_0').mask("99/99/9999");
                    $('#id_date_end_1').mask("99:99");
                {% elif LANGUAGE_CODE == 'en' or LANGUAGE_CODE == 'en-us' %}
                    $('#id_date_start_0').mask("99/99/9999");
                    $('#id_date_start_1').mask("99:99");
                    $('#id_date_end_0').mask("99/99/9999");
                    $('#id_date_end_1').mask("99:99");
                {% else %}
                    $('#id_date_start_0').mask("9999-99-99");
                    $('#id_date_start_1').mask("99:99");
                    $('#id_date_end_0').mask("9999-99-99");
                    $('#id_date_end_1').mask("99:99");
                {% endif %}

                var radios = $('input[type=radio]');
                var checkboxes = $('input[type=checkbox]');
                var price_el = $('#id_price');

                radios.each(function () {

                    if (!$(this).hasClass('js-switch')) {
                        if (!$(this).hasClass('js-switch')) {
                            $(this).iCheck({
                                checkboxClass: 'icheckbox_flat-grey',
                                radioClass: 'iradio_flat-grey'
                            });
                        }
                    }
                });
                checkboxes.each(function () {

                    if (!$(this).hasClass('js-switch')) {
                        $(this).iCheck({
                            checkboxClass: 'icheckbox_flat-grey',
                            radioClass: 'iradio_flat-grey'
                        });
                    }
                });

                var has_optionals = false;

                {% if has_optionals %}
                    has_optionals = true;
                {% endif %}

                if (has_optionals && parseFloat(price_el.val()) === 0.00) {
                    $('#has_optionals_warning').show();
                    $('.btn-success').prop('disabled', true);
                }

                price_el.mask('#.##0,00', {reverse: true});

                showHideLimit();
                showHideExihibitionCode();
                showHideTransferTax();
                calculatePrices();
                showHideInstallmentFields();
                calcInstallments();

                $('#limit_switch').on('change', function () {
                    showHideLimit();
                });

                $('#id_private').on('change', function () {
                    showHideExihibitionCode();
                });

                $('#id_transfer_tax').on('change', function () {
                    calculatePrices();
                    calcInstallments();
                });

                $('#id_allow_installment').on('change', function () {
                    showHideInstallmentFields();
                    calcInstallments();
                });

                $('#id_installment_limit').on('change', function () {
                    calcInstallments();
                });

                $('#id_num_install_interest_absortion').on('change', function () {
                    calcInstallments();
                });

                $('#id_exhibition_code').on('keyup', function () {
                    var el = $(this);
                    var value = el.val();
                    el.val(value.replace(/ /gi, ''));
                });

                if (price_el.length) {
                    price_el.on('keyup', function () {
                        var transfer_tax = $('#id_transfer_tax').parent().parent().parent();
                        var allow_installment = $('#id_allow_installment').parent().parent().parent();
                        var val = parseFloat($(this).val());
                        if (val > 0) {
                            $('#has_optionals_warning').hide();
                            $('.btn-success').prop('disabled', false);
                            show(transfer_tax);
                            show(allow_installment);
                            showPrices(true);
                        } else {
                            app.setSwitchery('#id_allow_installment', false);
                            hide(transfer_tax);
                            hide(allow_installment);
                            showPrices(false);

                            if (has_optionals) {
                                $('#has_optionals_warning').show();
                                $('.btn-success').prop('disabled', true);
                            }
                        }
                        showHideInstallmentFields();
                        calculatePrices();
                        calcInstallments();
                    });
                }

                $('[data-toggle="popover"]').popover({
                    placement: 'bottom',
                    container: 'body',
                    trigger: 'hover'
                });
            });

        })(jQuery);
    </script>
{% endblock %}

{% block nav_aside_itens %}

    {% include 'event/event-menu.html' with active='lotes-categorias' %}

{% endblock %}

{% block content %}

    <form action="" method="post" class="form-horizontal form-border"
          role="form" name="event_form">
        {% csrf_token %}

        {% if form.non_field_errors %}
            {% render_errors form.non_field_errors %}
        {% endif %}

        {% for hidden_field in form.hidden_fields %}
            {% if hidden_field.errors %}
                {% render_errors hidden_field.errors %}
            {% endif %}
            {{ hidden_field }}
        {% endfor %}

        <div class="row">
            <div class="col-lg-8 col-lg-push-2 col-xl-8 col-xl-push-2">
                <div class="buttonbar">
                    <div class="float-right">
                        <a href="{% url 'subscription:lot-list' event.pk %}{% if object.category %}#cat={{ object.category.pk }}{% endif %}" class="btn btn-danger">
                            <i class="fas fa-times-circle"></i>
                            Cancelar
                        </a>
                        <button type="submit" class="btn btn-success">
                            <i class="fa fa-save"></i>
                            Salvar
                        </button>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-8 col-lg-push-2 col-xl-8 col-xl-push-2">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <div class="panel-title">
                            Dados principais
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-6">
                                {% render_generic_field form.name autofocus=True %}
                            </div>
                            <div class="col-md-6">
                                {% render_generic_field form.category %}
                            </div>
                        </div>
                        <div class="row">
                            <div id="datepicker-begin"
                                 class="col-md-6">
                                {% render_generic_field form.date_start %}
                            </div>
                            <div id="datepicker-end"
                                 class="col-md-6">
                                {% render_generic_field form.date_end %}
                            </div>
                        </div>
                        {% if object.event.rsvp_type != object.event.RSVP_DISABLED and object.event.has_rsvp %}
                            <div class="row">
                                <div class="col-xl-10 col-xl-push-1 col-md-12">
                                    {% render_switchery_field form.rsvp_restrict %}
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>

                {% comment %}DJANGO TEMPLATING possui bugs para tratar 'or' {% endcomment %}
                {% if lot_has_subscriptions and not object.price %}
                {% else %}
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="panel-title">
                                Custos e taxas
                            </div>
                        </div>
                        <div class="panel-body">
                            {% if full_banking %}
                                <div class="col-md-12"
                                     id="has_optionals_warning"
                                     style="display: none">
                                    <div class="alert alert-warning">
                                        <i class="fas fa-exclamation-triangle warning-color"></i>
                                        <strong>
                                            Atenção!
                                        </strong>
                                        Você já possui opcionais
                                        vinculados a essa categoria de
                                        lote, portanto não poderá mudar o
                                        valor para $0,00.
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4 col-xl-push-1">
                                        {% render_generic_field form.price %}
                                    </div>
                                    <div class="col-md-8 col-xl-5 col-xl-push-1">
                                        <div style="display: none">
                                            {% render_switchery_field form.transfer_tax %}
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4 col-lg-3 col-xl-push-1">
                                        {% render_switchery_field form.allow_installment %}
                                    </div>
                                    <div class="col-md-3 col-lg-3 col-xl-push-1">
                                        {% render_generic_field form.installment_limit %}
                                    </div>
                                    <div class="col-md-4 col-lg-5 col-xl-3 col-xl-push-1">
                                        <div>
                                            <div class="float-left">
                                                {% render_switchery_field form.num_install_interest_absortion %}
                                            </div>
                                            <div class="float-left">
                                                <button style="position: absolute;top: 32px;"
                                                        id="installment-items"
                                                        type="button"
                                                        data-html="true"
                                                        class="btn btn-sm btn-default"
                                                        title="Parcelas da Inscrição"
                                                        data-container="body"
                                                        data-toggle="popover"
                                                        data-content="">
                                                    <i class="fa fa-info"></i>
                                                </button>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row price-box">
                                    <div id="subscription_price_block"
                                         class="col-sm-6 col-md-6">
                                        <div class="well">
                                            <div style="font-size:14px;text-align: center;font-weight: bold">
                                                Para o participante:
                                            </div>
                                            <div style="text-align: center;font-weight: bold;font-size: 24px;color: blue;">
                                                R$ <span
                                                    class="subscription_price"></span>
                                            </div>
                                            <div class="text-muted"
                                                 style="visibility:hidden;text-align: center;font-weight: bold;padding-top: 4px;font-size: 12px">
                                                <strong>Taxa:</strong> R$ <span
                                                    class="congressy_tax"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="price_to_recieve_block"
                                         class="col-sm-6 col-md-6">
                                        <div class="well">
                                            <div style="font-size:14px;text-align: center;font-weight: bold">
                                                Para você:
                                            </div>
                                            <div style="text-align: center;font-weight: bold;font-size: 24px;color: green;">
                                                R$ <span
                                                    class="price_to_recieve"></span>
                                            </div>
                                            <div class="text-muted"
                                                 style="visibility:hidden;text-align: center;font-weight: bold;padding-top: 4px;font-size: 12px">
                                                <strong>Taxa:</strong> R$ <span
                                                    class="congressy_tax"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="installment_price_to_receive_block"
                                         class="col-sm-4 col-md-4"
                                         style="display: none">
                                        <div>
                                            <div style="font-size:14px;font-weight: bold">
                                                Para você:
                                            </div>
                                            <div class="help-block"
                                                 style="font-size:12px">
                                                Se o participante pagar
                                                parcelado.
                                            </div>
                                            <div style="font-weight: bold;font-size: 14px;color:green">
                                                <div id="installment_price_to_receive"
                                                     style="padding: 4px 0 0 8px;"></div>
                                            </div>
                                            <div class="text-muted"
                                                 style="visibility:hidden;text-align: center;font-weight: bold;padding-top: 4px;font-size: 12px">
                                                <strong>Taxa:</strong> R$ <span
                                                    class="congressy_tax"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% else %}
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="alert alert-warning">
                                            <strong>È necessário que complete
                                                seus
                                                dados bancários para criar
                                                lotes
                                                pagos!</strong>

                                        </div>
                                        <p>
                                            <a href="{% url 'event:organization-financial-edit' organization.pk %}">
                                                Clique aqui para configurar
                                                estes
                                                dados.</a></p>
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>

        <div class="row">
            <div class="col-lg-8 col-lg-push-2 col-xl-8 col-xl-push-2">
                <div class="buttonbar bottom">
                    <div class="float-right">
                        <a href="{% url 'subscription:lot-list' event.pk %}{% if object.category %}#cat={{ object.category.pk }}{% endif %}" class="btn btn-danger">
                            <i class="fas fa-times-circle"></i>Cancelar
                        </a>
                        <button type="submit" class="btn btn-success">
                            <i class="fa fa-save"></i>
                            Salvar
                        </button>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </form>

{% endblock %}
{% block styles %}
    <link rel="stylesheet"
          href="{% static "assets/plugins/bootstrap-datetimepicker/bootstrap-datetimepicker.min.css" %}">
{% endblock %}