{% extends "base/base.html" %}
{# @TODO Change the icons in nav_aside_itens  #}
{% load static %}
{% load base_tags %}

{% block title %} Lotes | Congressy{% endblock %}

{% block page_title %}Lotes/Categorias{% endblock %}

{% block page_sub_title %}
    {{ event.name }}
{% endblock %}

{% block styles %}
    <style>
        ul.block-list li:hover {
            background: #f5f5f5;
            cursor: pointer;
        }
        ul.block-list li.active {
            background-color: #337ab7;
        }
        ul.block-list li .list-icons .well {
            padding: 3px !important;
            margin-bottom: 0;
        }
        ul.block-list li .list-icons .well:hover {
            background-color: #DDD;
        }
        .tab-wrapper .tab-content div.active {
            outline: none;
        }
    </style>
{% endblock %}

{% block scripts %}
    <script src="{% static 'assets/js/lot.js' %}"></script>
    <script>
    $(document).ready(function () {
        Messenger.options = {
            extraClasses: 'messenger-fixed messenger-on-bottom ' +
            'messenger-on-right',
            theme: 'flat'
        };
    });

    function save_survey() {
        var lot_id = $('#survey-lot_id').val();
        if (!lot_id) {
            Messenger().post({
                message: 'Algo deu errado: Lote não encontrado. ',
                type: 'error',
                hideAfter: 3
            });
            return;
        }

        var survey_id = $('#lot-survey').val();
        if (survey_id) {
            survey_id = parseInt(survey_id);
        }

        save_lot(
            '/api/lots/'+ lot_id +'/',
            {'event_survey': survey_id},
            'Formulário vinculado ao lote com sucesso!'
        );
        $('#survey-lot-form').modal('toggle');
    }
    function save_limit() {
        var lot_id = $('#lot-limit-lot_id').val();
        if (!lot_id) {
            Messenger().post({
                message: 'Algo deu errado: Lote não encontrado. ',
                type: 'error',
                hideAfter: 3
            });
            return;
        }

        var limit = $('#lot-limit').val();
            limit = (limit) ? parseInt(limit) : 0;

        save_lot(
            '/api/lots/'+ lot_id +'/',
            {'limit': limit },
            'Limite de vagas configurado com sucesso!'
        );

        $('#lot-limit-form').modal('toggle');

    }
    function save_privacy() {
        var lot_id = $('#lot-privacy-lot_id').val();
        if (!lot_id) {
            Messenger().post({
                message: 'Algo deu errado: Lote não encontrado. ',
                type: 'error',
                hideAfter: 3
            });
            return;
        }

        var is_private = $('#lot-privacy_private').prop('checked');
        if (is_private === true) {
            var code = $('#lot-privacy_exhibition-code').val();
            if (!code) {
                Messenger().post({
                    message: 'Informe um código para exibição do lote.',
                    type: 'info',
                    hideAfter: 3
                });
                return;
            }
            if (code.length < 8) {
                Messenger().post({
                    message: 'O código deve conter, no mínimo, 8 dígitos.',
                    type: 'info',
                    hideAfter: 3
                });
                return;
            }
        }

        save_lot(
            '/api/lots/'+ lot_id +'/',
            {
                'private': is_private,
                'exhibition_code': code
            },
            'Privacidade de lote configurada com sucesso!'
        );
        $('#lot-privacy_form').modal('toggle');
    }

    $(document).ready(function() {
        selectFromHash();
        createAnchorEvents();
    });
    </script>
{% endblock %}

{% block nav_aside_itens %}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12 col-xl-8 col-xl-push-2">
            <div class="row">
                <div class="col-md-12">
                    <div class="buttonbar">
                        <div class="float-left">
                            <a href="{% url 'subscription:category-list' event.pk %}"
                                class="btn btn-primary">
                                <i class="fab fa-stack-exchange"></i>
                                Gerenciar Categorias
                            </a>
                            <a href="{% url 'subscription:lot-add' event.pk %}"
                                class="btn btn-success">
                                <i class="fa fa-plus"></i>
                                Novo Lote
                            </a>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="panel-title">
                                Gerenciamento de Lotes por Categoria
                            </div>
                        </div>
                        <div class="panel-body" id="lot-list-main-block">
                            {% include 'lot/categories-lots-list.html' %}
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <!-- Lot survey Modal -->
    <div class="modal fade" id="survey-lot-form" tabindex="-1" role="dialog" aria-labelledby="survey-lot-form-title" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="survey-lot-form-title">Gerenciar Formulário Personalizado</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" role="form" onsubmit="save_survey();return false;">
                        <div class="form-group">
                            <div class="col-sm-12">
                                <label for="lot-survey">Formulários:</label>
                                <div>
                                    <select name="lot-survey" id="lot-survey" class="form-control">
                                        <option value="">- Sem formulário -</option>
                                        {% for event_survey in event.surveys.all %}
                                            <option value="{{ event_survey.pk }}">{{ event_survey }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div>
                                    <small class="text-muted help-text">
                                        Exibir o formulário selecionado para o lote <strong id="survey-lot-name"></strong>.
                                    </small>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                    <button type="button" class="btn btn-primary" onclick="save_survey();">Vincular formulário</button>
                    <input type="hidden" name="survey-lot_id" id="survey-lot_id" value="" />
                </div>
            </div>
        </div>
    </div>
    <!-- / Lot survey Modal -->

    <!-- Lot Limit Modal -->
    <div class="modal fade" id="lot-limit-form" tabindex="-1" role="dialog" aria-labelledby="lot-limit-form-title" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="lot-limit-form-title">Gerenciar Limite de Vagas</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" role="form" onsubmit="save_limit();return false;">
                        <div class="form-group">
                            <div class="col-sm-12">
                                <label for="lot-survey">Limite de Vagas:</label>
                                <div>
                                    <input type="number" min="0" class="form-control" name="lot-limit" id="lot-limit" value="" />
                                </div>
                                <div>
                                    <small class="text-muted help-text">
                                        Exibir o formulário selecionado para o lote <strong id="lot-limit-name"></strong>.
                                        Caso queira deixar ilimitado, infome <strong>0</strong>.
                                    </small>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                    <button type="button" class="btn btn-primary" onclick="save_limit()">Salvar Limite de Vagas</button>
                    <input type="hidden" name="lot-limit-lot_id" id="lot-limit-lot_id" value="" />
                </div>
            </div>
        </div>
    </div>
    <!-- / Lot Limit Modal -->
        
    <!-- Lot Privacy Modal -->
    <div class="modal fade" id="lot-privacy_form" tabindex="-1" role="dialog" aria-labelledby="lot-privacy_form-title" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="lot-privacy_form-title">Gerenciar Privacidade</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" role="form" onsubmit="save_privacy();return false;">
                        <div class="form-group">
                            <div class="col-sm-12">
                                <label for="lot-privacy_private">Privado:</label>
                                <div>
                                    <input
                                        type="checkbox"
                                        name="lot-privacy_private"
                                        id="lot-privacy_private"
                                        style="display:none"
                                        class="js-switch" />
                                </div>
                                <div>
                                    <small class="text-muted help-text">
                                        Configurar privacidade do lote <strong id="lot-privacy_name"></strong>.
                                    </small>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <label for="lot-survey">Cupom:</label>
                                <div>
                                    <input
                                        type="text"
                                        name="lot-privacy_exhibition-code"
                                        value=""
                                        maxlength="15"
                                        class="form-control"
                                        id="lot-privacy_exhibition-code">
                                </div>
                                <div class="text-muted">
                                    O lote estará disponível através do cupom utilizado.
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                    <button type="button" class="btn btn-primary" onclick="save_privacy()">Salvar Privacidade</button>
                    <input type="hidden" name="lot-privacy-lot_id" id="lot-privacy-lot_id" value="" />
                </div>
            </div>
        </div>
    </div>
    <!-- / Lot Privacy Modal -->



{% endblock %}
