DJANGO_SETTINGS_MODULE=
DOMAIN=
SITE_ID=
BUCKET_LOCATION=us-east-1
BUCKET_NAME=cgsyplatform
DBHOST=postgres
DBUSER=congressy
DBPASS=congressy
DBNAME=cgsyplatform
DBPORT=5432
CGSY_SYSTEM_NAME=
CGSY_SYSTEM_ALIAS=
CGSY_SYSTEM_OWNER_LINK=
CGSY_SYSTEM_TERMS_LINK=
