AWS_KEY=
AWS_SECRET=
DOMAIN=ev.congressy.com
FORCE_HTTPS=False
BUCKET_LOCATION=us-east-1
BUCKET_NAME=cgsyplatform
DBHOST=postgres
DBUSER=congressy
DBPASS=congressy
DBNAME=cgsyplatform
DBPORT=5432
SENTRY_PRIVATE_DSN=
SENTRY_PUBLIC_DSN=
