{% extends "base/base.html" %}
{% load i18n static %}
{% load subscription_tags %}

{% block title %}Credenciamento | Congressy{% endblock %}

{% block page_title %}Credenciamento{% endblock %}
{% block page_sub_title %}{{ event.name }}{% endblock %}
{% block page_description %}
    Realize o credenciamento de inscritos confirmando sua presença no evento.
{% endblock %}

{% block styles %}{% endblock %}

{% block pageheader %}
    <div class="pageheader">
        <h1>Mudar título</h1>
    </div>
{% endblock %}


{% block content %}
    {% include 'attendance/includes/top-menu.html' %}
    <div class="row">
        <div class="col-md-2 col-sm-12" id="compose-wrapper">
            {% include 'attendance/includes/attendance-menu.html' with active='checkin' %}
        </div>
        <div class="col-md-10 col-sm-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="panel-title">Realizar Checkin por
                        {% if search_type == 'barcode' %} Código de Barras
                        {% elif search_type == 'qrcode' %}QrCode
                        {% else %} Teclado{% endif %}
                     <div class="pull-right" style="cursor: pointer">
                        <i class="fa fa-expand"></i>

                    </div></div>

                </div>
                <div class="panel-body">
                    <div class="row" id="name-on-fullscren"  style="padding-bottom: 15px;display: none">
                        <div class="col-xs-12">
                            <h3 class="text-bold">{{ object.name }}</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="{% if search_type == 'qrcode' %} col-md-6 {% else %} col-md-12 {% endif %}">
                            <div class="input-group input-group-lg">
                                <div class="input-group-btn">
                                    <button id="type-search"
                                            type="button"
                                            class="btn btn-default dropdown-toggle"
                                            data-toggle="dropdown"
                                            aria-haspopup="true"
                                            aria-expanded="false"><i
                                            class="
                                            {% if search_type == 'barcode' %} fas fa-barcode
                                            {% elif search_type == 'qrcode' %} fas fa-qrcode
                                            {% else %}far fa-keyboard{% endif %}"></i>
                                        <span
                                                class="caret"></span></button>
                                    <ul class="dropdown-menu dropdown-search">
                                        <li><a href="?search_type=typing"><i
                                                class="far fa-keyboard"></i>
                                            Teclado
                                        </a></li>
                                        <li><a href="?search_type=qrcode"><i
                                                class="fas fa-qrcode"></i>
                                            QrCode
                                        </a></li>
                                        <li><a href="?search_type=barcode"><i
                                                class="fas fa-barcode"></i>
                                            Cód. Barra
                                        </a>
                                        </li>
                                    </ul>
                                </div>
                                {% if search_type != 'qrcode' %}
                                    <input id="search" type="text"
                                           class="form-control"
                                           aria-label="...">
                                {% endif %}
                            </div>
                        </div>
                        {% if search_type == 'qrcode' %}
                            <div class="col-md-6">
                                <div class="float-left">
                                    <label for="other-window-switch">Abrir em
                                        outra Janela ?</label>
                                    <input id="other-window-switch"
                                           type="checkbox"
                                           class="js-switch"
                                           data-toggle="tooltip"
                                           title="Abrir em outra Janela ?">
                                </div>
                                <div class="float-right">
                                    <button type="button"
                                            class="btn btn-primary btn-3d">
                                        Iniciar
                                    </button>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        {% endif %}
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <h3>Categorias:
                                {% for cat in lot_categories %}
                                    <span style="padding: 4px 7px 4px 7px"
                                          class="badge badge-primary">{{ cat }}</span>
                                {% endfor %}
                            </h3>
                        </div>
                    </div>
                    <div class="row"
                         style="padding-top: 20px">
                        {% if search_type == 'qrcode' %}
                            <div class="col-md-6">
                                <video width="100%" height="100%"
                                       id="webcam"></video>
                            </div>
                        {% endif %}
                        {% if search_type == 'barcode' %}
                            <div class="container-fluid">
                                <div class="alert alert-info alert-dismissable">
                                    <button type="button" class="close"
                                            data-dismiss="alert"
                                            aria-hidden="true">×
                                    </button>
                                    <span>Através do leitor de código de barras você
                                        pode
                                        fazer o check-in/out de 3 maneiras: </span>
                                    <ul>
                                        <li>Lendo o Código de barras do voucher
                                            e
                                            relendo ele.
                                        </li>
                                        <li>Lendo o Código de barras do voucher
                                            e
                                            clicando no botão de realizar
                                            check-in/out
                                            no card do participante
                                        </li>
                                        <li>Lendo o Código de barras do voucher
                                            e
                                            apertando Enter
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        {% endif %}
                        <div id="cards-list"
                             class="{% if search_type == 'qrcode' %} col-md-6
                                    {% elif search_type == 'barcode' %} col-md-6 col-md-offset-3
                                    {% else %} col-md-12 {% endif %}">

                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>


{% endblock %}

{% block scripts %}
    <script src="{% static 'assets/js/ajax.js' %}"></script>,
    <script src="{% static 'assets/js/attendance/attendance.js' %}"></script>
    <script src="{% static 'assets/plugins/instascan/instascan-1.0.0.min.js' %}"></script>
    <script src="{% static 'assets/js/attendance/cgsy-scanner.js' %}"></script>
    <script>
        $(document).ready(function () {
            $('.panel .fa-expand').click(function() {
                $('#name-on-fullscren').toggle();
            });
            var success_checkin_msg, fail_checkin_msg;
            var success_checkout_msg, fail_checkout_msg;
            console.log('{{ object.checkin_only }}');
            {% if object.checkin_only == True %}
                success_checkin_msg = 'Entrada registrada com sucesso';
                fail_checkin_msg = 'Falha ao registrar entrada';
                success_checkout_msg = 'Cancelamento de entrada registrado com sucesso';
                fail_checkout_msg = 'Falha ao registrar cancelamento de entrada';
            {% else %}
                success_checkin_msg = 'Entrada registrada com sucesso';
                fail_checkin_msg = 'Falha ao registrar entrada';
                success_checkout_msg = 'Saída registrada com sucesso';
                fail_checkout_msg = 'Falha ao registrar saída';

            {% endif %}

            {% if search_type == 'barcode' %}
                createBarCodeSearch({
                    'subscriptionUri': "{% url 'api:attendance:subscription-list' attendance_list.pk %}",
                    'checkinUri': "{% url 'api:attendance:checkin-list' %}",
                    'success_checkin_msg': success_checkin_msg,
                    'fail_checkin_msg': fail_checkin_msg,
                    'checkoutUri': "{% url 'api:attendance:checkout-list' %}",
                    'success_checkout_msg': success_checkout_msg,
                    'fail_checkout_msg': fail_checkout_msg,
                    'servicePk': '{{ attendance_list.pk }}',
                    'createdBy': '{{ request.user.get_full_name }}',
                    'listEl': $('#cards-list'),
                    'inputEl': $('#search')
                });
            {% elif search_type == 'qrcode' %}

                var scan = new window.cgsy.QRCodeScanner($('#webcam'), $('#cards-list'));
                scan.start();

            {% else %}
                createTypingSearch({
                    'subscriptionUri': "{% url 'api:attendance:subscription-list' attendance_list.pk %}",
                    'checkinUri': "{% url 'api:attendance:checkin-list' %}",
                    'success_checkin_msg': success_checkin_msg,
                    'fail_checkin_msg': fail_checkin_msg,
                    'checkoutUri': "{% url 'api:attendance:checkout-list' %}",
                    'success_checkout_msg': success_checkout_msg,
                    'fail_checkout_msg': fail_checkout_msg,
                    'servicePk': '{{ attendance_list.pk }}',
                    'createdBy': '{{ request.user.get_full_name }}',
                    'listEl': $('#cards-list'),
                    'inputEl': $('#search')
                });
            {% endif %}
        });
    </script>

{% endblock %}
