{% extends "base/base.html" %}
{% load i18n static %}
{% load subscription_tags %}

{% block title %}Credenciamento | Congressy{% endblock %}

{% block page_title %}Credenciamento{% endblock %}
{% block page_sub_title %}{{ event.name }}{% endblock %}
{% block page_description %}
    Realize o credenciamento de inscritos confirmando sua presença no evento.
{% endblock %}

{% block styles %}{% endblock %}

{% block pageheader %}
    <div class="pageheader">
        <h1>Mudar título</h1>
    </div>
{% endblock %}


{% block content %}
    <div class="row">
        <div class="col-md-2 col-sm-12" id="compose-wrapper">
            {% include 'attendance/includes/attendance-menu.html' with active='checkin' %}
        </div>
        <div class="col-md-10">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="panel-title">Realizar Checkin por
                    {% if search_type == 'typing' %} Teclado
                    {% elif search_type == 'barcode' %} Código de Barras
                    {% elif search_type == 'qrcode' %} QrCode {% endif %}</div>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="input-group input-group-lg">
                                <div class="input-group-btn">
                                    <button id="type-search"
                                            type="button"
                                            class="btn btn-default dropdown-toggle"
                                            data-toggle="dropdown"
                                            aria-haspopup="true"
                                            aria-expanded="false"><i
                                            class="
                                            {% if search_type == 'typing' %} far fa-keyboard
                                            {% elif search_type == 'barcode' %} fas fa-barcode
                                             {% elif search_type == 'qrcode' %} fas fa-qrcode {% endif %}"></i>
                                        <span
                                                class="caret"></span></button>
                                    <ul class="dropdown-menu dropdown-search">
                                        <li><a href="?search_type=typing" ><i
                                                class="far fa-keyboard"></i>
                                            Teclado
                                        </a></li>
                                        <li><a href="?search_type=qrcode"><i
                                                class="fas fa-qrcode"></i>
                                            QrCode
                                        </a></li>
                                        <li><a href="?search_type=barcode"><i
                                                class="fas fa-barcode"></i>
                                            Cód. Barra
                                        </a>
                                        </li>
                                    </ul>
                                </div>
                                <input id="search" type="text"
                                       class="form-control"
                                       aria-label="...">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <h3>Categorias:
                                {% for cat in lot_categories %}
                                    <span class="badge badge-primary">{{ cat.name }}</span>
                                {% endfor %}
                            </h3>
                        </div>
                    </div>
                    <div class="row" id="cards-list"
                         style="padding-top: 20px"></div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}

{% block scripts %}
    <script src="{% static 'assets/js/ajax.js' %}"></script>,
    <script src="{% static 'assets/js/attendance/attendance.js' %}"></script>
    <script>
        $(document).ready(function () {
            {% if search_type == 'typing' %}
            createTypingSearch({
                'subscriptionUri': "{% url 'api:attendance:subscription-list' attendance_list.pk %}",
                'checkinUri': "{% url 'api:attendance:checkin-list' %}",
                'checkoutUri': "{% url 'api:attendance:checkout-list' %}",
                'servicePk': '{{ attendance_list.pk }}',
                'createdBy': '{{ request.user.get_full_name }}',
                'listEl': $('#cards-list'),
                'inputEl': $('#search')
            });
            {% endif %}
        });
    </script>

{% endblock %}
