{% extends "base/base.html" %}
{% load i18n static %}
{% load subscription_tags %}

{% block title %}Atendidos | Congressy{% endblock %}

{% block page_title %}{{ object.name|truncatechars:30 }}{% endblock %}
{% block page_sub_title %}{{ event.name }}{% endblock %}
{% block page_description %}
    Lista dos atendidos.
{% endblock %}

{% block content %}
    {% include 'attendance/includes/top-menu.html' with title='Atendidos' %}
    <div class="row">
        <div class="col-md-2 col-sm-12">

            {% include 'attendance/includes/attendance-menu.html' with active='credenciados' %}
        </div>
        <div class="col-md-10">

            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="panel-title">
                        Lista de participantes que foram atendidos
                    </div>
                </div>
                <div class="panel-body">
                    <table id="attendance_table"
                           class="table table-striped table-bordered dataTable no-footer nowrap"
                           cellspacing="0"
                           width="100%">
                        <thead>
                        <tr>
                            <th>Nome</th>
                            <th>Ingresso</th>
                            <th>Código</th>
                            <th>Horário</th>
                        </tr>
                        </thead>

                        <tbody>
                        {% for att in attendances %}
                            <tr>
                                <td>
                                    {{ att.subscription.person.name }}
                                    <div style="display: none">
                                        <p>{{ att.subscription.person.email }}</p>
                                        <p>{{ att.subscription.person.cpf }}</p>
                                        <p>{{ att.subscription.person.city.name }}</p>
                                        <p>{{ att.subscription.person.city.uf }}</p>
                                        <p>{{ att.subscription.person.phone }}</p>
                                        <p>{{ att.subscription.person.city_international }}</p>
                                        <p>{{ att.subscription.person.international_doc }}</p>
                                    </div>
                                    <br>
                                    <small class="text-muted">
                                        {{ att.person.person.email }}
                                    </small>
                                </td>
                                <td class="col-md-1">
                                    {{ att.subscription.ticket_lot.name }}
                                </td>
                                <td>
                                    {{ att.subscription.code }}
                                </td>
                                <td>
                                    {% if att.created_on %}
                                        {{ att.created_on|date:"d/m/Y H\hi" }}
                                    {% else %}
                                        Não disponivel.
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>


        </div>
    </div>

{% endblock %}

{% block scripts %}
    <script src="{% static 'assets/plugins/dataTables/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'assets/plugins/dataTables/js/dataTables.responsive.min.js' %}"></script>

    <script src="{% static 'assets/plugins/dataTables/js/dataTables.bootstrap.min.js' %}"></script>

    <script src="{% static 'assets/plugins/dataTables/js/responsive.bootstrap.min.js' %}"></script>

    <script src="{% static 'assets/plugins/icheck/js/icheck.min.js' %}"></script>

    <script>
        $(document).ready(function () {


            $('.cpf').each(function () {
                var str = $(this).text().trim();
                var formatted = str.replace(/^(\d{3})(\d{3})?(\d{3})?(\d{2})?/,
                    "$1.$2.$3-$4");
                $(this).text(formatted);
            });


            $('.cnpj').each(function () {
                var str = $(this).text().trim();
                var formatted = str
                    .replace(/\D/g, '')
                    .replace(/^(\d{2})(\d{3})?(\d{3})?(\d{4})?(\d{2})?/, "$1.$2.$3/$4-$5");
                $(this).text(formatted);
            });


            $('#attendance_table').DataTable({
                "language": {
                    sEmptyTable: "Nenhum registro encontrado",
                    sInfo: "Mostrando de _START_ até _END_ de _TOTAL_ registros",
                    sInfoEmpty: "Mostrando 0 até 0 de 0 registros",
                    sInfoFiltered: "(Filtrados de _MAX_ registros)",
                    sInfoPostFix: "",
                    sInfoThousands: ".",
                    sLengthMenu: "_MENU_ resultados por página",
                    sLoadingRecords: "Carregando...",
                    sProcessing: "Processando...",
                    sZeroRecords: "Nenhum registro encontrado",
                    sSearch: "Pesquisar",
                    oPaginate: {
                        sNext: "Próximo",
                        sPrevious: "Anterior",
                        sFirst: "Primeiro",
                        sLast: "Último"
                    },
                    oAria: {
                        sSortAscending: ": Ordenar colunas de forma ascendente",
                        sSortDescending: ": Ordenar colunas de forma descendente"
                    }
                },
                responsive: true,
                scrollX: true
            });

        });

        var openExportModal = function () {
            $('#export-modal').modal('show');
            asyncExport(true);
        };

        var exporter_process = null;
        var asyncExport = function (create) {

            window.clearTimeout(exporter_process);

            var modalEl = $('#export-modal');

            var promise = asyncExporterPromise(create);

            promise.then(function (value) {

                if (value === 201 || value === 204) {
                    exporter_process = setTimeout(function () {
                        asyncExport(false);
                    }, 5000);
                } else if (value === 200) {
                    modalEl.modal('hide');
                    window.location.href = '/api/attendance/services/{{ object.pk }}/export/';
                }

            }).catch(function (reason) {
                if (reason['status'] === 403) {
                    asyncExport(false);
                } else {
                    console.error(reason);
                }
            });
        };


        var asyncExporterPromise = function (create) {

            return new Promise(function (resolve, reject) {

                var defaultArgs = {
                    url: '/api/attendance/services/{{ object.pk }}/export/',
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
                    },
                    success: function (data, textStatus, xhr) {
                        console.log("SUCCESS STATUS CODE IS: " + xhr.status);
                        resolve(xhr.status);
                    },
                    error: function (xhr, textStatus, errThrown) {
                        reject({'reason': errThrown, 'status': xhr.status});
                    }
                };

                if (create) {
                    defaultArgs.type = "POST"
                } else {
                    defaultArgs.type = "GET"
                }
                $.ajax(defaultArgs);
            });

        };
    </script>

{% endblock %}

{% block styles %}
    <link rel="stylesheet"
          href="{% static 'assets/plugins/dataTables/css/responsive.bootstrap.min.css' %}">
    <link rel="stylesheet"
          href="{% static 'assets/plugins/dataTables/css/datatables.min.css' %}">
    <link rel="stylesheet"
          href="{% static 'assets/plugins/icheck/css/all.css' %}">
    <link rel="stylesheet"
          href="{% static 'assets/plugins/dataTables/css/responsive.dataTables.min.css' %}">

{% endblock %}

{% block modals %}
    <div class="modal fade" id="export-modal" tabindex="-1" role="dialog" data-backdrop="static"
         aria-labelledby="modal-service-delete-title" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="modal-service-delete-title">
                        Exportar
                    </h4>
                </div>
                <div class="modal-body">

                    <div class="row text-center">
                        <h3 class="text-bold">Estamos gerando seu arquivo, por gentileza aguarde...</h3>
                    </div>

                    <div class="row text-center" style="margin-top: 10px">
                        <i class="fas fa-circle-notch info-color fa-spin fa-4x"></i>
                    </div>

                    <div class="row text-center" style="margin-top: 15px">

                        <i class="text-mute">
                            Em casos de evento com muitas inscrições pode demorar alguns minutos.
                        </i>


                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}