<div class="panel panel-primary">
    <div class="panel-heading">
        <div class="panel-title">Atendimento</div>
    </div>
    <div class="panel-body">

        <ul class="nav nav-stacked compose-nav">

            <li {% if active == 'dashboard' %}class="active" {% endif %}>
                <a href="{% url 'attendance:dashboard' event.pk object.pk %}">
                    Painel de Check-in
                </a>
            </li>
            <li {% if active == 'checkin' %}class="active" {% endif %}>
                <a href="{% url 'attendance:attendance' event.pk object.pk %}">
                    Check-in
                </a>
            </li>
            <li {% if active == 'credenciados' %}class="active" {% endif %}>
                <a href="{% url 'attendance:checkin-list' event.pk object.pk %}">Credenciados</a>
            </li>
        </ul>
    </div>
</div>