<div class="col-md-4" id="sub-card" style="display: none">
    <div class="panel" style="border-radius: 5px; box-shadow: 0 10px 15px 0 rgba(223, 223, 223, 0.5);">
        <div class="container-fluid card-header" style="height: 70px; border-top-left-radius: 5px; border-top-right-radius: 5px;"></div>
        <div class="row">
            <div class="col-xs-6 col-xs-offset-3" style="margin-top:-50px;">
{#                <img src="http://cdn.staticneo.com/w/evangelion/6/6a/Shinji.jpg"#}
{#                     class="img-responsive img-circle" alt="Responsive image">#}
            </div>
        </div>

        <div class="panel-body">
            <h2 class="text-center card-name" style="font-size: 20px;padding-top: 10px"></h2>
            <div class="text-center" style="padding-top: 8px">
                <div class="row">
                    <div class="col-md-7">
                        <h3 style="padding-bottom: 5px">
                            <i class="fas fa-barcode"

                               data-toggle="tooltip"
                               data-placement="left"
                               title=""
                               data-original-title="código da inscrição">

                            </i>
                            <span class="card_code"></span>
                            </h3>
                    </div>
                    <div class="col-md-5">
                        <h3 style=" padding-bottom: 5px">
                            <i class="fas fa-list-ol"

                               data-toggle="tooltip"
                               data-placement="left"
                               title=""
                               data-original-title="Número da Inscrição"></i>
                            <span class="card_subscription_number"></span>
                        </h3>
                    </div>
                </div>
            </div>
            <div class="text-center" style="overflow: hidden">
                <div style="height: 0.5px;width: 100%; background-color: #e6e6e6; margin-top: 10px; margin-bottom: 10px"></div>
                <h3 style="padding-bottom: 5px" >
                    <i class="far fa-envelope" data-toggle="tooltip" data-placement="left" title="" data-original-title="Email"></i>
                    <span class="card_email"></span>
                </h3>

                <h3 style="padding-bottom: 5px" >
                    <i class="fas fa-th-list"
                       data-toggle="tooltip"
                       data-placement="left"
                       title=""
                       data-original-title="Categoria"></i>
                    <span class="card_category" ></span>
                </h3>
                <h3 style="padding-bottom: 5px" >
                    <i class="fas fa-th-large"
                       data-toggle="tooltip"
                       data-placement="left"
                       title=""
                       data-original-title="Lote"></i>
                    <span class="card_lot"></span>
                </h3>
                <h3 style="padding-bottom: 5px" >
                    <i class="far fa-id-badge"
                       data-toggle="tooltip"
                       data-placement="left"
                       title=""
                       data-original-title="Status"></i>
                    <span class="card_status"></span>
                </h3>

                <div style=" text-align: center">
                    <button style="margin-top:5px;border-radius: 25px" class="btn card-button btn-trans">
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>


