<div class="col-md-2 col-sm-12" id="compose-wrapper">
    <div class="btn btn-block btn-default">
        <i class="fa fa-arrow-alt-circle-left"></i>
        Voltar
    </div>
    <div class="panel">
        <aside class="panel-body">
            <a>Credenciamento</a>
            <ul class="nav nav-pills nav-stacked compose-nav">
                <li>
                    <a href="#">
                         Painel de Check-in
                    </a>
                </li>
                <li>
                    <a href="#">
                        Check-in
                    </a>
                </li>
                <li>
                    <a href="#">Credenciados</a>
                </li>
            </ul>
        </aside>
    </div>


</div>