{#<div class="panel panel-primary" style="margin-top: 15px ">#}
{#    <div class="panel-heading">#}
{##}
{#    </div>#}
{#    <div class="panel-body">#}
{#        <span>Faça o check-in/out de 3 maneiras. Após fazer a leitura do código de barras:  </span>#}
{#        <ul>#}
{#            <li>Releia o código de barras#}
{#            </li>#}
{#            <li>Clique no botão de realizar atendimento#}
{#            </li>#}
{#            <li>Aperte espaço#}
{#            </li>#}
{#        </ul>#}
{#    </div>#}
{#</div>#}

<div>
        <div
             style=" background-color: #f8f8f8;margin-top: 15px;
             text-align: center;padding: 10px;
              border-left-width: 4px;border-left-style: solid;
               border-left-color: #42b983;
                border-bottom-right-radius: 2px;
                border-top-right-radius: 2px;">
            <h3 class="text-bold"> Checkin por código de barras</h3>
            <div style="height: 0.5px;width: 100%; background-color: #e6e6e6; margin-top: 10px; margin-bottom: 10px"></div>
            <div style="line-height: 1.6em">
                <span>Faça o check-in/out de 3 maneiras. Após fazer a leitura do código de barras:  </span>
                <br>
                <span><strong>- </strong> Releia o código de barras
                    </span>
                <br>
                <span><strong>- </strong> Clique no botão de realizar atendimento
                    </span>
                <br>
                <span> <strong>- </strong> Aperte a tecla espaço
                    </span>
            </div>
        </div>
    </div>
