
<div class="col-md-12">
    <div class="barcode-user-tips">
        <span style="font-size:18px ;padding-bottom: 20px"> CHECKIN POR CÓDIGO DE BARRAS</span>
        <div style="line-height: 1.6em">
            <span>Faça o check-in/out de 3 maneiras. Após fazer a leitura do código de barras:  </span>
            <br>
            <ul>
                <li> Releia o código de barras
                </li>
                <li> Clique no botão de realizar atendimento
                </li>
                <li> Aperte a tecla espaço
                </li>
            </ul>
        </div>
    </div>
</div>
