<div class="row" style="padding-bottom: 10px">
    <div class="col-xs-12 col-sm-2">
        <a href="{% url 'attendance:manage-list-attendance' event.pk %}"
           class="btn btn-primary btn-block">
            <i class="fas fa-arrow-circle-left"></i>
            Voltar
        </a>
    </div>
    <div class="col-xs-12 col-sm-7">
        <h3 class="text-bold" style="margin: 8px 0 0 20px;font-size:22px;">
            {{ object.name|truncatechars:30 }}
        </h3>
    </div>
    <div class="col-xs-12 col-sm-3">
        <div class="row" >
            <div class="col-xs-9">
                <h3 style="margin: 8px 0 0 20px;">{% if object.checkin_only %}

                    Somente Check-in
                {% else %}Check-in/out
                {% endif %}</h3>
            </div>
            <div class="col-xs-3">
                <button type="button" class="btn btn-primary btn-trans btn-sm"
                        style="float: right;margin: 8px 0 0 20px;"
                        onclick="location.href= '{% url 'attendance:attendance-list-edit' event.pk object.pk %}'">

                    <span class="fas fa-pencil-alt"></span>
                </button>
            </div>
        </div>
    </div>
</div>
