<div class="row" style="padding-bottom: 10px">
    <div class="col-xs-12 col-sm-2">
        <a href="{% url 'attendance:manage-list-attendance' event.pk %}"
           class="btn btn-primary btn-block">
            <i class="fas fa-arrow-circle-left"></i>
            Voltar
        </a>
    </div>
    <div class="col-xs-12 col-sm-5">
        <h3 class="text-bold" style="margin: 8px 0 0 20px;font-size:22px;">
            {{ title }}
        </h3>
    </div>
    <div class="col-xs-12 col-sm-5">
        <div class="row">
            <div class="col-xs-6">
                <h3 style="margin: 8px 0 0 20px;padding-top: 4px">
                    {% if object.checkout_enabled %}
                        <i class="fas fa-check-circle text-success"></i>
                        Registro de horas ativado
                    {% endif %}
                </h3>
            </div>

            <div class="col-xs-6 text-right">
                <button type="button" class="btn btn-primary btn-trans btn-sm"
                        style="margin-top: 8px"
                        data-toggle="tooltip"
                        title="Editar dados de atendimento"
                        onclick="export_service('{{ object.pk }}');$('#attendance-exporter-modal').modal();">
                    <span class="fas fa-file-excel"></span>
                    Exportar
                </button>
                <button type="button" class="btn btn-primary btn-trans btn-sm"
                        style="margin-top: 8px"
                        data-toggle="tooltip"
                        title="Editar"
                        onclick="location.href= '{% url 'attendance:attendance-list-edit' event.pk object.pk %}'">

                    <span class="fas fa-pencil-alt"></span>
                    Editar
                </button>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
