{% extends 'base/base.html' %}
{% load static humanize i18n l10n form_config_tags %}

{% block title %}
    Certificado | Congressy
{% endblock %}
{% block page_title %}
    Configurações do certificado do seu evento
{% endblock %}
{% block page_sub_title %}
    {{ event.name }}
{% endblock %}
{% block sidebar %}{% endblock %}
{% block sidebar-bars %}{% endblock %}
{% block toptitle %}{% endblock %}

{% block styles %}
    <style>
        {% if  object.background_image  %}
            .resize-container {
                background: url("{{ object.background_image.regular.url }}") no-repeat;
                width: 1024px;
                height: 725px;
            }
        {% endif %}

        #cert-text {
            width: {{ object.text_width|unlocalize }}px;
            height: {{ object.text_height|unlocalize }}px;
            font-size: {{ object.text_font_size|unlocalize }}px;
            overflow: hidden;
        }

        #cert-title {
            font-size: {{ object.title_font_size|unlocalize }}px;
        }

        #cert-date {
            font-size: {{ object.date_font_size|unlocalize }}px;
        }

        .template-img {
            border: 3px solid white;
        }

        .template-img:hover {
            border: 3px solid black;
        }

    </style>
{% endblock %}

{% block content %}

    {% if object.is_ready %}
        <div class="row">
            <div class="col-md-12">
                <div class="buttonbar">
                    <div class="float-left">
                        <button class="btn btn-primary open-edit-modal">
                            <i class="fas fa-pencil-alt"></i>
                            Conteúdo
                        </button>
                        <button class="btn btn-primary open-config-modal"
                                style="margin-left: 10px">
                            <i class="fas fa-align-center"></i>
                            Alinhamento
                        </button>
                        <button class="btn btn-primary open-template-modal"
                                style="margin-left: 10px">
                            <i class="fas fa-clone"></i>
                            Templates
                        </button>

                        <a class="btn btn-primary{% if not object.is_ready %} disabled{% endif %}"
                           href="{% url 'certificate:event-certificate-example-pdf' event.pk %}"
                           target="_blank"
                                {% if not object.is_ready %}
                           data-toggle="tooltip"
                           title="Certificado não configurado"
                                {% endif %}
                           style="margin-left: 10px">
                            <i class="far fa-eye"></i>
                            Pré-Visualização
                        </a>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    {% endif %}

    <div class="row">
        <div class="col-lg-8 col-lg-push-2 col-xl-8 col-xl-push-2">
            {% if form.non_field_errors %}
                {% render_errors form.non_field_errors %}
            {% endif %}
            {% for field in form %}
                {% if field.errors %}
                    {% render_errors field.errors %}
                {% endif %}
            {% endfor %}
            {% if form.forms %}
                {% render_errors form.non_field_errors %}
            {% endif %}
            {% for hidden_field in form.hidden_fields %}
                {% if hidden_field.errors %}
                    {% render_errors hidden_field.errors %}
                {% endif %}
                {{ hidden_field }}
            {% endfor %}
        </div>
    </div>

    {% if object.is_ready %}
        <div id="certificate">
            <div class="resize-container">
                <div style="
                        position: absolute;
                        text-align: justify;
                        color: {{ object.font_color }};
                        transform: translate({{ object.title_position_x }}px, {{ object.title_position_y }}px);
                        {% if object.title_hide %}display: none;{% endif %}
                        " id="cert-title">{{ object.title_content }}</div>

                {% if object.is_ready and object.event_has_any_type_of_location %}
                    <div style="position:absolute;color: {{ object.font_color }};
                            {% if object.date_hide %}
                                display: none;
                            {% endif %}
                            text-align: justify;"
                         id="cert-date">
                        {% language 'pt-br' %}
                            {% if has_city %}
                                {{ event.place.city.name.title }}, {{ event.date_end|date:"d" }} de {{ event.date_end|date:"F"|lower }} de {{ event.date_end|date:"Y" }}.
                            {% elif has_location %}
                                {{ object.event_location }},{{ event.date_end|date:"d" }} de {{ event.date_end|date:"F"|lower }} de {{ event.date_end|date:"Y" }}.
                            {% endif %}
                        {% endlanguage %}
                    </div>
                {% endif %}
                <div style="
                        position:absolute;
                        color: {{ object.font_color }};
                        {% if object.text_center %}
                            text-align:center;
                        {% else %}
                            text-align:justify;
                        {% endif %}"
                     id="cert-text">
                    {{ object.text_content|safe }}
                </div>
            </div>
        </div>
    {% else %}
        <div id="no-background-warning">
            <div class="panel panel-default col-md-6 col-lg-offset-2">
                <div class="panel-body">
                    <div class="certificate-config">
                        <div class="row text-center ">
                            <h3 style="margin-left: 15px">
                                <strong>
                                    Vamos configurar seu certificado!
                                </strong>
                            </h3>
                        </div>
                        <div class="row text-center" style="margin-top: 20px">
                            <button class="btn btn-success open-edit-modal">
                                Configure você mesmo
                            </button>
                            Ou
                            <button class="btn btn-primary open-template-modal">
                                Utilize nosso template padrão
                            </button>
                        </div>
                    </div>


                    <div class="row text-center certificate-loader"
                         style="margin-top:20px; display: none">
                        <h3>Processando, aguarde...</h3>
                        <i class="fas info-color fa-circle-notch fa-spin
                        fa-6x" style="margin-top: 20px"></i>
                    </div>


                </div>
            </div>

        </div>
    {% endif %}

{% endblock %}

{% block scripts %}
    <script src="{% static "assets/plugins/interact/interact.min.js" %}"></script>
    <script src="{% static "assets/js/ajax.js" %}"></script>
    <script src="{% static "assets/js/messenger.js" %}"></script>
    <script src="{% static "assets/js/certificado.js" %}"></script>
    <script>
        $(document).ready(function () {
            window.cgsy.cert.persistence.url = "{% url 'certificate:certificate-detail' event.pk object.pk %}";
            var certificate_template_modal = $('#certificateTemplateModal');


            $('.open-edit-modal').on("click", function () {
                $('#certificateDataModal').modal('show');
            });

            $('.open-template-modal').on("click", function () {
                certificate_template_modal.modal('show');
            });

            $('.template-img').on("click", function () {
                certificate_template_modal.modal('hide');
                $('.certificate-config').hide();
                $('.certificate-loader').show();

                if ($(this).data('name') === "premium") {

                    var data = {
                        'background_image': '{{ premium_template_image }}'
                    };


                    var sender = new cgsy.AjaxSender("{% url 'certificate:certificate-detail' event.pk object.pk %}");
                    sender.setSuccessCallback(function () {
                        window.location.reload(true);
                    });
                    sender.setFailCallback(function (err) {
                        console.error(err.responseText);
                    });

                    sender.send('PATCH', data)
                }

            });

            //Line breaks in textarea
            var text_content = $("#id_text_content");
            text_content.keypress(function (e) {
                if (e.keyCode !== 13) return;
                text_content.val(text_content.val().replace(/\n/g, ""));
                return false;
            });


            {% if object.is_ready %}
                var title = $('#cert-title');
                var text = $('#cert-text');
                var date = $('#cert-date');
                var titleCheckBox = $('#titleCheckBox');
                var dateCheckBox = $('#dateCheckBox');
                var centralizarCheckBox = $('#centralizar');
                var showLongNameCheckBox = $('#showLongNameCheckBox');
                var showEventNameCheckBox = $('#showEventNameCheckBox');

                // GET parameters
                var url_string = window.location.href;
                var url = new URL(url_string);
                var longName = url.searchParams.get("longName");
                var eventName = url.searchParams.get("eventName");

                if (longName === "1") {
                    showLongNameCheckBox.click();
                }

                if (eventName === "1") {
                    showEventNameCheckBox.click();
                }

                var interact = new window.cgsy.cert.Interact(title, text, date);
                var cert = new window.cgsy.cert.CertDocument(title, text, date);
                interact.moveElement(title, '{{ object.title_position_x|unlocalize }}', '{{ object.title_position_y|unlocalize }}');
                interact.moveElement(text, '{{ object.text_position_x|unlocalize }}', '{{ object.text_position_y|unlocalize }}');
                interact.moveElement(date, '{{ object.date_position_x|unlocalize }}', '{{ object.date_position_y|unlocalize }}');


                $('.open-config-modal').on("click", function () {
                    $('#certificateAlignmentModal').modal('show');
                });

                titleCheckBox.on('change', function () {

                    if (this.checked) {
                        cert.hideTitle();
                    } else {
                        cert.showTitle();
                    }
                });
                dateCheckBox.on('change', function () {


                    {% if  object.event_has_any_type_of_location %}
                        if (this.checked) {
                            cert.hideDate();
                        } else {
                            cert.showDate();
                        }
                    {% else %}
                        alert("Você não pode habilitar esse recurso sem antes" +
                            " configurar sua localização, veja o 'Conteudo' ");
                    {% endif %}


                });
                centralizarCheckBox.on('change', function () {
                    if (this.checked) {
                        cert.centralizeText();
                        text.css("text-align", "center");
                    } else {
                        cert.justifyText();
                        text.css("text-align", "justify");
                    }
                });

                $('#titleFontSize').bind('keyup', function () {
                    cert.saveTitleFontSize($(this).val());
                    title.css("font-size", $(this).val() + "px");
                });

                $('#dateFontSize').bind('keyup', function () {
                    cert.saveDateFontSize($(this).val());
                    date.css("font-size", $(this).val() + "px");
                });

                $('#textFontSize').bind('keyup', function () {
                    cert.saveTextFontSize($(this).val());
                    text.css("font-size", $(this).val() + "px");
                });

                $('#textLineHeight').bind('keyup', function () {
                    cert.saveTextLineHeight($(this).val());
                    text.css('line-height', $(this).val() + "px");
                });

            {% endif %}

        });
    </script>
{% endblock %}

{% block modals %}

    <!-- CONTENT MODAL -->
    <div class="modal fade in" id="certificateDataModal"
         role="dialog"
         aria-labelledby="certificateDataModal" aria-hidden="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"
                            aria-hidden="true">×
                    </button>
                    <h4 class="modal-title" id="certificateAlignmentModalLabel">
                        Editar conteudo do certificado
                    </h4>
                </div>

                <div class="modal-body" style="margin-right: 15px">
                    <form class="submission_form form-horizontal"
                          role="form"
                          method="post"
                          id="certificate_modal_form"
                          style="margin-left: 15px"
                          action="{% url 'certificate:event-certificate-form' event.pk %}"
                          enctype="multipart/form-data">

                        {% csrf_token %}
                        {% render_generic_field form.background_image required=True %}
                        {% render_generic_field form.font_color required=True %}
                        <small class="text-muted">
                            Core da font do seu certificado em forma
                            hexadecimal. (#ff7373) Veja mais <a
                                href="http://www1.color-hex.com/"
                                target="_blank"> Exemplos </a>
                        </small>
                        {% render_switchery_field form.only_attending_participantes required=True %}
                        <small class="text-muted">
                            Independente da presença confirmada ou não,
                            certificados serão emitidos apenas para
                            participantes que possuem inscrição confirmada.
                        </small>
                        {% render_generic_field form.text_content required=True %}
                        {% render_generic_field form.event_location required=True %}
                        {% if not object.event_has_any_type_of_location %}
                            <div class="alert alert-warning">
                                <strong>
                                    <i class="fas fa-exclamation-triangle warning-color"></i>
                                    Atenção!
                                </strong>
                                Você não possui nenhuma localização para seu
                                evento, portanto não podera usar o atributo
                                de data até que ele seja informado.
                            </div>
                        {% endif %}
                        <div class="well">
                            <i>
                                <strong>
                                    Os valores dentro das chaves {% verbatim %}
                                    {{
                                    exemplo }} {% endverbatim %} será
                                    substituido
                                    pelo valor correto.
                                </strong>
                            </i>

                            <div>
                                <strong>
                                    Chaves disponiveis no momento:
                                </strong>
                            </div>
                            <div>
                                <code>
                                    {% verbatim %}
                                    {{ NOME }}
                                    {%endverbatim %}
                                </code>
                                = Nome completo do participante
                            </div>

                            <div>
                                <code>
                                    {% verbatim %}
                                    {{ EVENTO }}
                                    {%endverbatim %}
                                </code>
                                = Nome do seu evento
                            </div>

                        </div>
                        {{ form.event }}

                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger"
                            data-dismiss="modal">
                        Fechar
                    </button>
                    <button type="button"
                            class="btn btn-success"
                            id="certificate_modal_form_save_btn"
                            onclick="save_form();return false;">
                        <i class="far fa-save"></i>
                        Salvar
                    </button>
                </div>

            </div>
        </div>
    </div>

    <!-- EDIÇÃO MODAL -->
    <div class="modal fade in" id="certificateAlignmentModal"
         role="dialog"
         aria-labelledby="certificateAlignmentModalLabel" aria-hidden="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"
                            aria-hidden="true">×
                    </button>
                    <h4 class="modal-title" id="certificateAlignmentModalLabel">
                        Editar alinhamento do certificado
                    </h4>
                </div>
                <div class="modal-body">

                    <table class="table borderless">
                        <thead>
                        <tr>
                            <th></th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>
                                <input class="js-switch" type="checkbox"
                                       {% if object.title_hide %}checked{% endif %}
                                       id="titleCheckBox"
                                       name="titleCheckBox">
                            </td>
                            <td>
                                <label for="titleCheckBox">
                                    Esconder título
                                </label></td>
                        </tr>


                        {% if object.event_has_any_type_of_location %}
                            <tr>
                                <td>
                                    <input type="checkbox" class="js-switch"
                                           {% if object.date_hide %}checked{% endif %}
                                           id="dateCheckBox"
                                           name="dateCheckBox">
                                </td>
                                <td>
                                    <label for="dateCheckBox">
                                        Esconder data
                                    </label></td>
                            </tr>
                        {% endif %}
                        <tr>
                            <td>
                                <input class="js-switch" type="checkbox" id='centralizar' name="centralizar" {% if object.text_center %}checked{% endif %}>
                            </td>
                            <td>
                                <label for="centralizar">Centralizar texto</label>
                            </td>
                        </tr>

                        </tbody>
                    </table>


                    <div class="row">
                        <div class="col-md-6">
                            <label for="titleFontSize">
                                Tamanho do titulo:
                            </label>
                            <input class="form-control"
                                   type="number"
                                   id="titleFontSize" min="1"
                                   value= {{ object.title_font_size|floatformat:"0" }}>
                        </div>
                        <div class="col-md-6">
                            <label for="dateFontSize">
                                Tamanho da data:
                            </label>
                            <input class="form-control"
                                   type="number"
                                   id="dateFontSize" min="1"
                                   value= {{ object.date_font_size|floatformat:"0" }}>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-md-6" style="margin-top: 10px">
                            <label for="textFontSize">
                                Tamanho do texto
                            </label>
                            <input class="form-control"
                                   type="number"
                                   id="textFontSize" min="1"
                                   value={{ object.text_font_size|floatformat:"0" }}>
                        </div>
                        <div class="col-md-6" style="margin-top: 10px">
                            <label for="textLineHeight">
                                Espaço entre linhas do texto
                            </label>
                            <input class="form-control"
                                   type="number"
                                   id="textLineHeight" min="10"
                                   value={{ object.text_line_height|floatformat:"0" }}>
                        </div>
                    </div>


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default"
                            data-dismiss="modal">
                        Fechar
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- TEMPLATE MODAL -->
    <div class="modal fade in" id="certificateTemplateModal"
         role="dialog"
         aria-labelledby="certificateTemplateModalLabel" aria-hidden="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"
                            aria-hidden="true">×
                    </button>
                    <h2 class="modal-title" id="certificateTemplateModalLabel">
                        Selecione um dos templates cuidadosamente criados
                        pela Congressy
                    </h2>
                </div>
                <div class="modal-body">

                    <div style="margin-top: 20px">
                        <img class="template-img"
                             data-name="premium"
                             src="{% static 'assets/img/default_certificates/premium/thumbnail.jpg' %}">
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger"
                            data-dismiss="modal">
                        Cancelar
                    </button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
