{% extends 'base/base.html' %}
{% load static humanize l10n form_config_tags %}

{% block title %}
    Certificado | Congressy
{% endblock %}
{% block page_title %}
    Configurações do certificado do seu evento
{% endblock %}
{% block page_sub_title %}
    {{ event.name }}
{% endblock %}
{% block sidebar %}{% endblock %}
{% block sidebar-bars %}{% endblock %}
{% block toptitle %}{% endblock %}

{% block styles %}
    <style>
        {% if  object.background_image  %}
            .resize-container {
                background: url("{{ object.background_image.regular.url }}") no-repeat;
                width: 1024px;
                height: 725px;
            }
        {% endif %}

        #cert-title {
            font-size: {{ object.title_font_size|unlocalize }}px;
        }

        #cert-text {
            width: {{ object.text_width|unlocalize }}px;
            height: {{ object.text_height|unlocalize }}px;
            font-size: {{ object.text_font_size|unlocalize }}px;
        }

        #cert-date {
            font-size: {{ object.date_font_size|unlocalize }}px;
        }
    </style>
{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-lg-9 col-lg-push-3 col-xl-9 col-xl-push-3">
            <div class="buttonbar">
                <div class="float-right">
                    <button class="btn btn-primary open-edit-modal">
                        <i class="fas fa-pencil-alt"></i>
                        Conteúdo
                    </button>
                    <button class="btn btn-primary open-config-modal"
                            style="margin-left: 10px">
                        <i class="fas fa-align-center"></i>
                        Alinhamento
                    </button>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-8 col-lg-push-2 col-xl-8 col-xl-push-2">
            {% if form.non_field_errors %}
                {% render_errors form.non_field_errors %}
            {% endif %}
            {% for field in form %}
                {% if field.errors %}
                    {% render_errors field.errors %}
                {% endif %}
            {% endfor %}
            {% if form.forms %}
                {% render_errors form.non_field_errors %}
            {% endif %}
            {% for hidden_field in form.hidden_fields %}
                {% if hidden_field.errors %}
                    {% render_errors hidden_field.errors %}
                {% endif %}
                {{ hidden_field }}
            {% endfor %}
        </div>
    </div>

    {% if object.background_image %}
        <div id="certificate">
            <div class="resize-container">
                <div style="position: absolute; text-align: justify; transform: translate({{ object.title_position_x }}px, {{object.title_position_y}}px);" id="cert-title">{{ object.title_content }}</div>
                <div style="position:absolute; text-align: justify" id="cert-date">
                    Goiânia, 1 de abril de 2018
                </div>
                <div style="position:absolute; text-align: justify" id="cert-text">{{ object.text_content }}</div>
            </div>
        </div>
    {% else %}
        <div id="no-background-warning">
            <div class="panel panel-warning">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Alerta
                        <i class="fas fa-exclamation-triangle"></i>
                    </h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <h3>
                            <strong>
                                Você ainda não possui nenhuma imagem de fundo
                                definida
                                portanto não pode editar seu certificado.
                            </strong>
                        </h3>
                    </div>

                    <div class="row text-center" style="margin-top: 20px">
                        <button class="btn btn-success open-edit-modal">
                            Click para configurar
                        </button>
                    </div>
                </div>
            </div>

        </div>
    {% endif %}

{% endblock %}

{% block scripts %}
    <script src="{% static "assets/plugins/interact/interact.min.js" %}"></script>
    <script src="{% static "assets/js/ajax.js" %}"></script>
    <script src="{% static "assets/js/messenger.js" %}"></script>
    <script src="{% static "assets/js/certificado.js" %}"></script>
    <script>
        $(document).ready(function() {
            window.cgsy.cert.persistence.url = "{% url 'certificate:certificate-detail' event.pk object.pk %}";
            var title = $('#cert-title');
            var text = $('#cert-text');
            var date = $('#cert-date');
            var interact = new window.cgsy.cert.Interact(title, text, date);
                interact.moveElement(title, '{{ object.title_position_x|unlocalize }}', '{{ object.title_position_y|unlocalize }}');
                interact.moveElement(text, '{{ object.text_position_x|unlocalize }}', '{{ object.text_position_y|unlocalize }}');
                interact.moveElement(date, '{{ object.date_position_x|unlocalize }}', '{{ object.date_position_y|unlocalize }}');
        });
    </script>
{% endblock %}


{% block modals %}

    <!-- CONTENT MODAL -->
    <div class="modal fade in" id="certificateDataModal"
         role="dialog"
         aria-labelledby="certificateDataModalLabel" aria-hidden="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"
                            aria-hidden="true">×
                    </button>
                    <h4 class="modal-title" id="certificateDataModalLabel">
                        Editar conteudo do certificado
                    </h4>
                </div>
                <form class="submission_form form-horizontal"
                      role="form"
                      method="post"
                      style="margin-left: 15px"
                      action="{% url 'certificate:event-certificate-form' event.pk %}"
                      enctype="multipart/form-data">
                    <div class="modal-body">

                        {% csrf_token %}
                        {% render_generic_field form.background_image required=True %}
                        {% render_generic_field form.text_content help_text=False %}
                        <div class="well">
                            <i>
                                <strong>
                                    Os valores dentro das chaves {% verbatim %}
                                    {{
                                    exemplo }} {% endverbatim %} será
                                    substituido
                                    pelo valor correto. Caso não deseja exibir
                                    esse
                                    campo basta removê-lo.
                                </strong>
                            </i>


                            <div style="margin-top: 10px">
                                <strong>
                                    Chaves disponiveis no momento:
                                </strong>
                            </div>
                            <div>
                                <code>
                                    {% verbatim %}
                                    {{ NOME }}
                                    {%endverbatim %}
                                </code>
                                = Nome completo do participante
                            </div>

                            <div>
                                <code>
                                    {% verbatim %}
                                    {{ EVENTO }}
                                    {%endverbatim %}
                                </code>
                                = Nome do seu evento
                            </div>


                            <div>
                                <code>
                                    {% verbatim %}
                                    {{ CPF_CNPJ }}
                                    {%endverbatim %}
                                </code>
                                = Documento identificador CPF/CNPJ
                            </div>

                        </div>
                        {{ form.event }}

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger"
                                data-dismiss="modal">
                            Cancelar
                        </button>
                        <button type="submit" class="btn btn-success">
                            <i class="far fa-save"></i>
                            Salvar
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}


