{% extends 'base/base.html' %}
{% load static humanize l10n %}

{#{% block sidebar %}{% endblock %}#}
{#{% block sidebar-bars %}{% endblock %}#}

{% block styles %}
<style>
    .certificate-image {
        background: url('{% static "assets/img/certificate-example.jpg" %}');
    }
    </style>
{% endblock %}

{% block content %}
<div id="certificate">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-body">
                    <div class="certificate-tools">
                        asdf
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-body">
                    <div class="certificate-row">
                        <div class="certificate-image">
                            asdf

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{% static "assets/plugins/interact/interact.min.js" %}"></script>
<script src="{% static "assets/js/certificado_drag_resize.js" %}"></script>
<script src="{% static "assets/js/certificado.js" %}"></script>

<script>
(function($){
    $.fn.fixedMenu=function(){
        return this.each(function(){
            var menu= $(this);
            menu.find('ul li > a').bind('click',function(){
            if ($(this).parent().hasClass('active')){
                $(this).parent().removeClass('active');
            }
            else{
                $(this).parent().parent().find('.active').removeClass('active');
                $(this).parent().addClass('active');
            }
            })
        });
    }
})(jQuery);

</script>
{% endblock %}
