{% extends "base/base.html" %}
{% load i18n static %}
{% load subscription_tags %}

{% block title %}Certificados Manuais | Congressy{% endblock %}

{% block page_title %}Lançamento de Certificados{% endblock %}
{% block page_sub_title %}{{ event.name }}{% endblock %}
{% block page_description %}
    Lançamento manual dos certificados do seu evento.
{% endblock %}

{% block extrascript %}
    <script type="text/javascript">
        function configure_input(field_name) {
            var input = document.getElementById('search_input');
            var size;
            switch (field_name) {
                case 'code':
                    size = 10;
                    input.setAttribute('type', 'search');
                    break;
                case 'email':
                    input.setAttribute('type', 'email');
                    size = 40;
                    break;
                default:
                    input.setAttribute('type', 'search');
                    size = 60;
            }

            input.setAttribute('size', size);
            input.focus();
            {% if search_by == 'code' and result %}
                document.getElementById('registration_button').focus();
            {% else %}
                input.focus();
            {% endif %}
        }

        document.addEventListener('DOMContentLoaded', function () {
            configure_input('{{ search_by }}');

            {% if search_by == 'code' and result %}
                window.setTimeout(function () {
                    document.getElementById('registration_button').focus()
                }, 500);
            {% endif %}
        }, false);
    </script>
{% endblock %}
{% block styles %}
    <style>
        .vertical-align {
            display: flex;
            align-items: center;
        }
    </style>
{% endblock %}

{% block pageheader %}
    <div class="pageheader">
        <h1>Lançamento manual dos Certificados</h1>
    </div>
{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-md-12" style="margin-left: 250px">

            <div id="searchBar">
                <form onsubmit="search();return false;">
                    <div class="vertical-align">
                        <span style="font-size: 30px"></span>
                        <input id="searchBarInput" type="text"
                               list="recent_searches"
                               style="height: 50px;
                    width:
                    500px;
                    font-size:30px ">
                        <datalist id="recent_searches">
                        </datalist>

                        <button type="button" onclick="search()" class="btn
                        btn-lg btn-success"
                                id="searchBtn" style="margin-left: 5px">
                            <i class="fas fa-search"></i>
                        </button>
                    </div>
                </form>


            </div>

            <div id="results" style="display: none; margin-top: 25px">

                <div id="result_list"></div>

            </div>

        </div>
    </div>

{% endblock %}

{% block scripts %}

    <script src="{% static 'assets/js/vendor/moment.js' %}"></script>

    <script>

        // CSRF code
        function getCookie(name) {
            var cookieValue = null;
            var i = 0;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (i; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        var csrftoken = getCookie('csrftoken');

        function create_result_list(res) {
            var i;
            console.log(res['count']);
            if (res['count'] === 0) {
                console.log('1');
                var row = document.createElement('div');
                row.className = 'row res';
                var cols = document.createElement('div');
                cols.className = 'col-md-8';
                row.appendChild(cols);
                var panel = document.createElement('div');
                panel.className = 'panel panel-primary';
                cols.appendChild(panel);
                var panel_body = document.createElement('div');
                panel_body.className = 'panel-body';
                panel.appendChild(panel_body);

                var title = document.createElement('h3');
                $(title).text('Nenhum resultado encontrado.');
                panel_body.appendChild(title);

                $('#result_list').append(row);
            }


            for (i = 0; i < res['count']; i++) {
                var s = res['results'][i];
                var row = document.createElement('div');
                row.className = 'row res';
                var cols = document.createElement('div');
                cols.className = 'col-md-8';
                row.appendChild(cols);
                var panel = document.createElement('div');
                panel.className = 'panel panel-primary';
                cols.appendChild(panel);
                var panel_body = document.createElement('div');
                panel_body.className = 'panel-body';
                panel.appendChild(panel_body);

                var title = document.createElement('h3');
                $(title).text('Nome: ' + s['person']['name']);
                var email = document.createElement('h3');
                $(email).text('Email: ' + s['person']['email']);
                var document_id = document.createElement('h3');
                document_id.className = 'cpf_field';
                if (s['person']['cpf']) {
                    $(document_id).text('CPF: ' + s['person']['cpf'].replace(/^(\d{3})(\d{3})?(\d{3})?(\d{2})?/, "$1.$2.$3-$4"));
                } else if (s['person']['institution_cnpj']) {
                    $(document_id).text('CNPJ: ' + s['person']['institution_cnpj']
                        .replace(/\D/g, '')
                        .replace(/^(\d{2})(\d{3})?(\d{3})?(\d{4})?(\d{2})?/, "$1.$2.$3/$4-$5"));
                }
                var code = document.createElement('h3');
                $(code).text('Código: ' + s['code']);

                var check_in = document.createElement('h3s');
                var subscription_status = document.createElement('h3s');
                var check_in_html = "";
                var subscription_status_html = "";

                var details_url = '';

                details_url += window.location.origin + '/';
                var current_url = new URL(window.location.href);
                details_url += current_url.pathname.split('/')[1] + '/';
                details_url += current_url.pathname.split('/')[2] + '/';
                details_url += current_url.pathname.split('/')[3] + '/';
                details_url += current_url.pathname.split('/')[4] + '/';

                details_url += s['pk'] +
                    '/payments/?details=1#report_detail_hidden/';


                if (s['status'] === 'canceled') {
                    subscription_status_html =
                        "<i class='fas fa-times-circle danger-color'" +
                        "Inscrição Cancelada: <a target='_blank' href='" + details_url
                        + "'>Ver " +
                        "detalhes</a><br/>"
                } else if (s['status'] === 'awaiting') {
                    subscription_status_html =
                        "<i class='fas fa-exclamation-triangle " +
                        "warning-color'>" +
                        "</i> Inscrição pendente: <a target='_blank' href='" + details_url + "'>Ver " +
                        "detalhes</a><br/>"
                }

                var formatted_cpf = '';
                var formatted_cnpj = '';

                if (s['person']['cpf']) {
                    formatted_cpf = s['person']['cpf']
                        .replace(/^(\d{3})(\d{3})?(\d{3})?(\d{2})?/, "$1.$2.$3-$4");
                }

                if (s['person']['institution_cnpj']) {
                    formatted_cnpj = s['person']['institution_cnpj']
                        .replace(/\D/g, '')
                        .replace(/^(\d{2})(\d{3})?(\d{3})?(\d{4})?(\d{2})?/, "$1.$2.$3/$4-$5");
                }


                {% if certificate.only_attending_participantes %}

                    if (s['has_certificate']) {
                        check_in_html +=
                            "<button " +
                            "style='margin-top:5px' class='btn btn-md btn-success" +
                            " create-manual-certificate' " +
                            "data-pk='" + s['pk'] + "'>" +
                            "Ver certificado" +
                            "</button>";
                    } else {
                        check_in_html +=
                            "<i class='fas fa-exclamation-triangle " +
                            "warning-color'>" +
                            "</i> Certificado disponivel apenas para participantes com presença confirmada!<br/>"
                    }
                    
                {% else %}

                    check_in_html +=
                        "<button " +
                        "style='margin-top:5px' class='btn btn-md btn-success" +
                        " create-manual-certificate' " +
                        "data-pk='" + s['pk'] + "'>" +
                        "Ver certificado" +
                        "</button>";

                {% endif %}
                $(check_in).html(check_in_html);
                $(subscription_status).html(subscription_status_html);
                panel_body.appendChild(title);
                panel_body.appendChild(email);

                if (s['person']['cpf'] || s['person']['institution_cnpj']) {
                    panel_body.appendChild(document_id);
                }

                panel_body.appendChild(code);

                if (s['status'] !== 'confirmed') {
                    panel_body.appendChild(subscription_status);
                }
                if (s['status'] === 'confirmed') {
                    panel_body.appendChild(check_in);
                }
                $('#result_list').append(row);
            }

            recreate_events();


        }

        function search() {

            $('.res').remove();
            $('#results').hide();

            var raw_query = $('#searchBarInput').val();
            var query = '?query=' + raw_query;

            var option = document.createElement('option');
            option.setAttribute('value', raw_query);
            $('#recent_searches').append(option);

            $.ajax({
                url: '{% url 'subscription:subscription-api-attendance-search' event.pk %}' + query,
                type: 'GET',
                success: function (res) {
                    create_result_list(res);
                    $('#results').show();
                }
            }).fail(function (err) {
                console.error(err);
            });
        }

        function recreate_events() {

            var create_manual_certificate_el = $('.create-manual-certificate');
            create_manual_certificate_el.unbind('click');

            create_manual_certificate_el.on('click', function () {

                var pk = $(this).data('pk');
                var url = "/manage/events/{{ event.pk }}/certificate/subscription/" + pk + "/";
                window.open(url);
            });

        }

        $(document).ready(function () {


            Messenger.options = {
                extraClasses: 'messenger-fixed messenger-on-bottom ' +
                'messenger-on-right',
                theme: 'flat'
            };

            recreate_events();

        });

    </script>

{% endblock %}

{% block modals %}
    <div class="modal" id="check_in_modal" tabindex="-1" role="dialog"
         aria-labelledby="confirmModalLabel">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"
                            aria-hidden="true">×
                    </button>
                    <h4 class="modal-title"
                        id="confirmModalLabel">Confirmação de check-in</h4>
                </div>
                <div class="modal-body">


                    <h3 style="font-weight: bold" id="confirmName"></h3>
                    <h3 style="font-weight: bold" id="confirmEmail"></h3>
                    <h3 style="font-weight: bold" id="confirmCpf"></h3>
                    <h3 style="font-weight: bold" id="confirmCnpj"></h3>
                    <h3 style="font-weight: bold" id="confirmCode"></h3>
                    <input type="hidden" id="confirmPk"/>


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger"
                            data-dismiss="modal">Fechar
                    </button>
                    <button type="button" class="btn btn-success"
                            id="check_in_btn">
                        Confirmar!
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal" id="check_out_modal" tabindex="-1" role="dialog"
         aria-labelledby="unconfirmModalLabel">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"
                            aria-hidden="true">×
                    </button>
                    <h4 class="modal-title"
                        id="confirmModalLabel">Confirmação de check-out</h4>
                </div>
                <div class="modal-body">

                    <h2 class="danger-color">
                        <i class="fas fa-exclamation-triangle
                        fa-1x"></i> Atenção! <i class="fas
                        fa-exclamation-triangle
                        fa-1x"></i>
                    </h2>
                    <h2 style="margin-top: 5px" class="danger-color">
                        Você está prestes a realizar o check-out do
                        seguinte participante:
                    </h2>


                    <h3 style="font-weight: bold; margin-top: 25px"
                        id="unconfirmName"></h3>
                    <h3 style="font-weight: bold" id="unconfirmEmail"></h3>
                    <h3 style="font-weight: bold" id="unconfirmCpf"></h3>
                    <h3 style="font-weight: bold" id="unconfirmCnpj"></h3>
                    <h3 style="font-weight: bold" id="unconfirmCode"></h3>
                    <input type="hidden" id="unconfirmPk"/>


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success"
                            id="check_out_btn">
                        Confirmar!
                    </button>
                    <button type="button" class="btn btn-danger"
                            data-dismiss="modal">Fechar
                    </button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
