{% load i18n static widget_tweaks form_config_tags %}
<div class="row">
    <div class="col-md-12">
        <div class="form-group">

            <label>
                Áreas Temáticas:
            </label>

            <div>
                {% if area_categories %}

                    <table class="table">

                        <thead>

                        <tr>
                            <th>Nome:</th>
                            <th></th>
                        </tr>

                        </thead>

                        <tbody>

                        {% for category in area_categories %}
                            <tr>
                                <td>
                                    {{ category.name }}
                                </td>
                                <td class="col-sm-1">
                                    <i class="fas fa-pencil-alt edit-area-category"
                                        data-url="{% url 'scientific_work:areacategory-detail' category.pk %}"
                                        data-name="{{ category.name }}">
                                    </i>
                                </td>
                                <td class="col-sm-1">
                                    <i class="fas fa-trash-alt danger-color delete-area-category"
                                       data-url="{% url 'scientific_work:areacategory-detail' category.pk %}">
                                    </i>
                                </td>

                            </tr>
                        {% endfor %}


                        </tbody>

                    </table>

                {% else %}
                    <h3>Nenhuma área temática criada até o momento.</h3>
                {% endif %}
                <button type="button"
                        class="btn btn-trans btn-success new-area-category pull-right"
                        style="margin-top: 15px">
                    Cadastrar nova área
                    temática
                </button>
            </div>
        </div>
    </div>
</div>