{% extends "gatheros_front/base.html" %}
{% load i18n static %}

{% block sidebar_organization %}{% endblock %}
{% block sidebar %}{% endblock %}
{% block content_width %}99%{% endblock %}

{% block content %}
    <h1>Convite > Criar perfil</h1>

    <form action="" method="post">{% csrf_token %}
        <table>
            {{ form.as_table }}
        </table>

        <input type="submit" value="Salvar"/>
        <a href="{% url 'gatheros_event:invitation-decision' invite.pk %}">Voltar</a>
    </form>

{% endblock %}
