{% extends "base/base.html" %}
{% load l10n static event_tags  base_tags  widget_tweaks form_config_tags %}
{% load humanize %}
{% load subscription_tags %}

{% block title %}
    {% if object %}Editar{% else %}Nova{% endif %} Atividades Extras |
    Congressy
{% endblock %}

{% block page_title %}
    {% if object %}Editar{% else %}Nova{% endif %} Atividade Extra
{% endblock %}

{% block page_sub_title %}
    {% if form_title %}
        {{ form_title }}
    {% endif %}
{% endblock %}

{% block scripts %}
    <script src="{% static "assets/plugins/moment/moment.js" %}"></script>
    <script src="{% static "assets/plugins/bootstrap-datetimepicker/bootstrap-datetimepicker.js" %}"></script>
    <script src="{% static 'assets/js/date-time.js' %}"></script>

    {#    <script src="http://malsup.github.com/jquery.form.js"></script>#}
    <script src="{% static "assets/plugins/mask/mask.min.js" %}"></script>
    <script src="{% static "assets/js/price-format.min.js" %}"></script>
    <script src="{% static "assets/js/addon.js" %}"></script>
        <script src="{% static 'assets/js/user_notification.js' %}"></script>

    <script type="application/javascript">
        $(document).ready(function () {

            var dateStart = createDateStartDateEnd('#datepicker-begin .datapicker', '#datepicker-end  .datapicker');
            createTimePicker();
            var dateRestrict = createDatePicker();
            {% if object %}
                dateStart.data("DateTimePicker").minDate(false);
                dateRestrict.data("DateTimePicker").minDate(false);
            {% endif %}
        });
            (function ($) {
                "use strict";

                $(document).ready(function () {
                    {% if LANGUAGE_CODE == 'pt-br' or LANGUAGE_CODE == 'en' or LANGUAGE_CODE == 'en-us' %}
                        $('#id_date_end_sub_0').mask("99/99/9999");
                        $('#id_schedule_start_0').mask("99/99/9999");
                        $('#id_schedule_end_0').mask("99/99/9999");
                    {% else %}
                        $('#id_date_end_sub_0').mask("9999-99-99");
                        $('#id_schedule_start_0').mask("9999-99-99");
                        $('#id_schedule_end_0').mask("9999-99-99");
                    {% endif %}

                    $('#id_date_end_sub_1').mask("99:99");
                    $('#id_schedule_start_1').mask("99:99");
                    $('#id_schedule_end_1').mask("99:99");
                    $('#id_liquid_price').mask('#.##0,00', {reverse: true});

                    window.setTimeout(function () {
                        window.cgsy.addon.create_events();

                        {% for theme in themes %}
                            window.cgsy.addon.add_theme_limit({{ theme.pk }}, '{{ theme.name }}', {{ theme.limit|default_if_none:0 }});
                        {% endfor %}
                        window.cgsy.addon.show_theme_limit();
                        window.cgsy.addon.check_uncheck_has_price();
                    }, 300);
                });

            })(jQuery);
    </script>
{% endblock %}

{% block nav_aside_itens %}
    {% include 'addon/optional/includes/side-menu.html' %}
{% endblock %}

{% block content %}

    <div id="output"></div>

    <form action="" id="optional_form" method="post"
          class="form-horizontal form-border"
          role="form" name="optional_form">
        {% csrf_token %}

        {% if form.non_field_errors %}
            {% render_errors form.non_field_errors %}
        {% endif %}

        {% for hidden_field in form.hidden_fields %}
            {% if hidden_field.errors %}
                {% render_errors hidden_field.errors %}
            {% endif %}
            {{ hidden_field }}
        {% endfor %}

        <div class="row">
            <div class="col-lg-8 col-lg-push-2 col-xl-8 col-xl-push-2">
                <div class="buttonbar">
                    <div class="float-right">
                        <a href="

                                {% url 'addon:optional-service-list' event.pk %}{% if object.lot_category %}#cat={{ object.lot_category.pk }}{% endif %}"
                           class="btn btn-danger">
                            <i class="fas fa-times-circle"></i>
                            Cancelar
                        </a>

                        <button type="submit" class="btn btn-success">
                            <i class="fa fa-save"></i>
                            Salvar
                        </button>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-8 col-lg-push-2 col-xl-8 col-xl-push-2">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <div class="panel-title">
                            Dados principais
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xl-10 col-xl-push-1 col-md-12">
                                {% render_generic_field form.name autofocus=True %}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-5 col-xl-push-1 col-md-6">
                                {% render_generic_field form.optional_type %}

                            </div>
                            <div class="col-xl-5 col-xl-push-1 col-md-6">
                                {% render_generic_field form.lot_category %}
                            </div>
                        </div>
                        {#                        <div class="row">#}
                        {#                            <div class="col-xl-10 col-xl-push-1 col-md-12">#}
                        {#                                {% render_generic_field form.description %}#}
                        {#                            </div>#}
                        {#                        </div>#}
                    </div>
                </div>

                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <div class="panel-title">
                            Programação
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xl-10 col-xl-push-1 col-md-12">
                                {% render_generic_field form.theme %}
                            </div>
                        </div>

                        <div class="row">
                            <div id="datepicker-begin"
                                 class="col-xl-5 col-xl-push-1 col-md-6">
                                {% render_generic_field form.schedule_start %}
                            </div>
                            <div id="datepicker-end"
                                 class="col-xl-5 col-xl-push-1 col-md-6">
                                {% render_generic_field form.schedule_end %}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-10 col-xl-push-1 col-md-12">
                                {% render_generic_field form.place %}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <div class="panel-title">
                            Cobrança
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xl-10 col-xl-push-1 col-md-12">
                                {% comment %}DJANGO TEMPLATING possui bugs para tratar 'or' {% endcomment %}
                                {% if optonal_has_subscriptions and not object.liquid_price %}
                                {% else %}
                                    <div class="form-group">
                                        <label for="id_has_price">Cobrar pela
                                            atividade?</label>
                                        <div>
                                            <input type="checkbox"
                                                   name="has_price"
                                                   id="id_has_price"
                                                   class="js-switch"
                                                   style="display:none">
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="row" id="price-block"
                             style="display: none">
                            {% comment %}DJANGO TEMPLATING possui bugs para tratar 'or' {% endcomment %}
                            {% if optonal_has_subscriptions and not object.liquid_price %}
                            {% else %}
                                <div class="col-xl-3 col-xl-push-1 col-md-4">
                                    {% render_generic_field form.liquid_price %}
                                </div>
                                <div class="col-xl-7 col-xl-push-1 col-md-8">
                                    <div class="well well-sm"
                                         style="text-align: justify">
                                        <div><strong>Importante:</strong></div>
                                        <small class="help-text text-muted">
                                            Este item irá transferir as
                                            <strongs>Taxas</strongs>
                                            para o participante.
                                            Então é importante verificar o
                                            <span style="text-decoration: underline;">valor final</span>
                                            do item opcional e informar o valor
                                            adequado .
                                        </small>
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>

                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <div class="panel-title">
                            Restrições
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xl-5 col-xl-push-1 col-md-6">
                                {% render_generic_field form.date_end_sub %}
                            </div>
                            <div class="col-xl-5 col-xl-push-1 col-md-6">
                                {% render_switchery_field form.restrict_unique %}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-10 col-xl-push-1 col-md-12">
                                <div class="form-group" id="theme-limit-block"
                                     style="display: none">
                                    <label>Restrição de grupo:</label>
                                    <div>
                                        <small class="help-text text-muted">
                                            O grupo <span
                                                style="font-weight: bold;color: blue;text-transform: uppercase;"
                                                id="theme_limit_name"></span>
                                            possui
                                            restrição de <span
                                                style="font-weight: bold;"
                                                id="theme_limit_limit"></span>
                                            por participante.
                                        </small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-8 col-lg-push-2 col-xl-8 col-xl-push-2">
                <div class="buttonbar bottom">
                    <div class="float-right">
                        <a href="

                                {% url 'addon:optional-service-list' event.pk %}{% if object.lot_category %}#cat={{ object.lot_category.pk }}{% endif %}"
                           class="btn btn-danger">
                            <i class="fas fa-times-circle"></i>Cancelar
                        </a>
                        <button type="submit" class="btn btn-success">
                            <i class="fa fa-save"></i>
                            Salvar
                        </button>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </form>

{% endblock %}

{% block styles %}
    <link rel="stylesheet"
          href="{% static "assets/plugins/bootstrap-datetimepicker/bootstrap-datetimepicker.min.css" %}">
{% endblock %}