{% extends "base/base.html" %}
{% load i18n static %}
{% load subscription_tags %}

{% block title %}Credenciamento | Congressy{% endblock %}

{% block page_title %}Credenciamento{% endblock %}
{% block page_sub_title %}{{ event.name }}{% endblock %}
{% block page_description %}
    Realize o credenciamento de inscritos confirmando sua presença no evento.
{% endblock %}

{% block extrascript %}
    <script type="text/javascript">
        function configure_input(field_name) {
            var input = document.getElementById('search_input');
            var size;
            switch (field_name) {
                case 'code':
                    size = 10;
                    input.setAttribute('type', 'search');
                    break;
                case 'email':
                    input.setAttribute('type', 'email');
                    size = 40;
                    break;
                default:
                    input.setAttribute('type', 'search');
                    size = 60;
            }

            input.setAttribute('size', size);
            input.focus();
            {% if search_by == 'code' and result %}
                document.getElementById('registration_button').focus();
            {% else %}
                input.focus();
            {% endif %}
        }

        document.addEventListener('DOMContentLoaded', function () {
            configure_input('{{ search_by }}');

            {% if search_by == 'code' and result %}
                window.setTimeout(function () {
                    document.getElementById('registration_button').focus()
                }, 500);
            {% endif %}
        }, false);
    </script>
{% endblock %}
{% block styles %}
    <style>

        .vertical-align {
            display: flex;
            align-items: center;
        }
    </style>
{% endblock %}

{% block pageheader %}
    <div class="pageheader">
        <h1>Credenciamento</h1>
    </div>
{% endblock %}

{% block nav_aside_itens %}
    <h5 class="sidebar-header">Configurações</h5>
    <ul class="nav nav-pills nav-stacked">
        <li>
            <a href="{% url 'event:event-hotsite' event.pk %}"
               title="Página do evento">
                <i class="fa  fa-fw fa-rocket"></i> Página do evento
            </a>
        </li>
        <li>
            <a href="{% url 'subscription:form-config' event.pk %}"
               title="Formulário">
                <i class="fa  fa-fw fa-rocket"></i> Formulário
            </a>
        </li>
    </ul>

    <h5 class="sidebar-header">Participantes</h5>
    <ul class="nav nav-pills nav-stacked">
        <li>
            <a href="{% url 'subscription:lot-list' event.pk %}"
               title="Inscrições">
                <i class="fa  fa-fw fa-rocket"></i>
                Ingressos
            </a>
        </li>
        <li>
            <a href="{% url 'subscription:subscription-list' event.pk %}"
               title="Inscrições">
                <i class="fa  fa-fw fa-rocket"></i>
                Inscrições
            </a>
        </li>
        {#        <li class="active">#}
        {#            <a href="{% url 'subscription:subscription-attendance-search' event.pk %}"#}
        {#               title="Check-in">#}
        {#                <i class="fa  fa-fw fa-rocket"></i>#}
        {#                Check-in#}
        {#            </a>#}
        {#        </li>#}
    </ul>
{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-md-12" style="margin-left: 250px">

            <div id="searchBar">
                <div class="vertical-align">
                    <span style="font-size: 30px"></span>
                    <input id="searchBarInput" type="text"
                           list="recent_searches"
                           style="height: 50px;
                    width:
                    500px;
                    font-size:30px ">
                    <datalist id="recent_searches">
                    </datalist>

                    <button type="button" class="btn btn-lg btn-success"
                            id="searchBtn" style="margin-left: 5px">
                        <i class="fas fa-search"></i>
                    </button>
                </div>

            </div>

            <div id="results" style="display: none">
                <button class="btn btn-md btn-primary new_search" style="margin-bottom:
                15px">
                    Realizar nova pesquisa
                </button>
                <div id="result_list">
                </div>

                <button class="btn btn-md btn-primary new_search "
                        style="margin-bottom:
                15px">
                    Realizar nova pesquisa
                </button>
                <small>Não encontrou o participante? Tente refinar sua
                    busca.
                </small>


            </div>

        </div>
    </div>

{% endblock %}

{% block scripts %}

    <script>

        // CSRF code
        function getCookie(name) {
            var cookieValue = null;
            var i = 0;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (i; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        var csrftoken = getCookie('csrftoken');

        function create_result_list(res) {

            if (res.length === 0) {
                const row = document.createElement('div');
                row.className = 'row res';
                const cols = document.createElement('div');
                cols.className = 'col-md-8';
                row.appendChild(cols);
                const panel = document.createElement('div');
                panel.className = 'panel panel-primary';
                cols.appendChild(panel);
                const panel_body = document.createElement('div');
                panel_body.className = 'panel-body';
                panel.appendChild(panel_body);

                const title = document.createElement('h3');
                $(title).text('Nenhum resultado encontrado.');
                panel_body.appendChild(title);

                $('#result_list').append(row);
            }

            for (const s of res) {
                const row = document.createElement('div');
                row.className = 'row res';
                const cols = document.createElement('div');
                cols.className = 'col-md-8';
                row.appendChild(cols);
                const panel = document.createElement('div');
                panel.className = 'panel panel-primary';
                cols.appendChild(panel);
                const panel_body = document.createElement('div');
                panel_body.className = 'panel-body';
                panel.appendChild(panel_body);

                const title = document.createElement('h3');
                $(title).text('Nome: ' + s['person']['name']);
                const email = document.createElement('h3');
                $(email).text('Email: ' + s['person']['email']);
                const document_id = document.createElement('h3');
                document_id.className = 'cpf_field';
                if (s['person']['cpf']) {
                    $(document_id).text('CPF: ' + s['person']['cpf'].replace(/^(\d{3})(\d{3})?(\d{3})?(\d{2})?/, "$1.$2.$3-$4"));
                } else if (s['person']['institution_cnpj']) {
                    $(document_id).text('CNPJ: ' + s['person']['institution_cnpj']
                        .replace(/\D/g, '')
                        .replace(/^(\d{2})(\d{3})?(\d{3})?(\d{4})?(\d{2})?/, "$1.$2.$3/$4-$5"));
                }
                const code = document.createElement('h3');
                $(code).text('Código: ' + s['code']);

                const check_in = document.createElement('h3s');
                const subscription_status = document.createElement('h3s');
                let check_in_html = "";
                let subscription_status_html = "";

                let details_url = '';

                details_url += window.location.origin + '/';
                const current_url = new URL(window.location.href);
                details_url += current_url.pathname.split('/')[1] + '/';
                details_url += current_url.pathname.split('/')[2] + '/';
                details_url += current_url.pathname.split('/')[3] + '/';
                details_url += current_url.pathname.split('/')[4] + '/';

                details_url += s['pk'] +
                    '/payments/?details=1#report_detail_hidden/';


                if (s['status'] === 'canceled') {
                    subscription_status_html =
                        "<i class='fas fa-times-circle danger-color'" +
                        "Inscrição Cancelada: <a target='_blank' href='" + details_url
                        +"'>Ver " +
                        "detalhes</a><br/>"
                } else if (s['status'] === 'awaiting') {
                    subscription_status_html =
                        "<i class='fas fa-exclamation-triangle " +
                        "warning-color'>" +
                        "</i> Inscrição pendente: <a target='_blank' href='"+ details_url+ "'>Ver " +
                        "detalhes</a><br/>"
                }

                let formatted_cpf = '';
                let formatted_cnpj = '';

                if (s['person']['cpf']) {
                    formatted_cpf = s['person']['cpf']
                        .replace(/^(\d{3})(\d{3})?(\d{3})?(\d{2})?/, "$1.$2.$3-$4");
                }

                if (s['person']['institution_cnpj']) {
                    formatted_cnpj = s['person']['institution_cnpj']
                        .replace(/\D/g, '')
                        .replace(/^(\d{2})(\d{3})?(\d{3})?(\d{4})?(\d{2})?/, "$1.$2.$3/$4-$5");
                }
                if (s['attended']) {
                    const attended_on = new Date(Date.parse(s['attended_on']));
                    check_in_html +=
                        "Status de Check-in: <i class='fas fa-check-circle " +
                        "success-color'> " + "</i> <br> Realizado ás: " +
                        attended_on.toLocaleString('pt-BR', {
                            timeZone:
                                'America/Sao_Paulo'
                        }) + '<br/>' +


                        "<button " +
                        "style='margin-top:5px' class='btn btn-md btn-danger" +
                        " undo-checkin' " +
                        "data-name='" + s['person']['name'] + "'" +
                        "data-email='" + s['person']['email'] + "'" +
                        "data-document_cpf='" + formatted_cpf + "'" +
                        "data-document_cnpj='" + formatted_cnpj + "'" +
                        "data-pk='" + s['pk'] + "'" +
                        "data-code='" + s['code'] + "'>" +
                        "Realizar Check-out" +
                        "</button>";
                } else {
                    check_in_html +=
                        "Status de Check-in: <i class='fas fa-times-circle" +
                        " danger-color'></i> Não realizado.<br/>" +
                        "<button " +
                        "style='margin-top:5px' class='btn btn-md btn-success do-checkin' " +
                        "data-name='" + s['person']['name'] + "'" +
                        "data-email='" + s['person']['email'] + "'" +
                        "data-document_cpf='" + formatted_cpf + "'" +
                        "data-document_cnpj='" + formatted_cnpj + "'" +
                        "data-pk='" + s['pk'] + "'" +
                        "data-code='" + s['code'] + "'>" +
                        "Realizar Check-in" +
                        "</button>";
                }
                $(check_in).html(check_in_html);
                $(subscription_status).html(subscription_status_html);
                panel_body.appendChild(title);
                panel_body.appendChild(email);

                if (s['person']['cpf'] || s['person']['institution_cnpj']) {
                    panel_body.appendChild(document_id);
                }

                panel_body.appendChild(code);

                if (s['status'] !== 'confirmed') {
                    panel_body.appendChild(subscription_status);
                }
                if (s['status'] === 'confirmed') {
                    panel_body.appendChild(check_in);
                }
                $('#result_list').append(row);

            }

            recreate_events();


        }

        function recreate_events() {

            const searchBtn = $('#searchBtn');
            const new_search = $('.new_search');
            const do_checkin = $('.do-checkin');
            const undo_checkin = $('.undo-checkin');
            const confirmBtn = $('#confirmBtn');
            const unconfirmBtn = $('#unconfirmBtn');
            const confirmModal = $('#confirmModal');
            const unconfirmModal = $('#unconfirmModal');

            searchBtn.unbind('click');
            new_search.unbind('click');
            do_checkin.unbind('click');
            undo_checkin.unbind('click');
            confirmBtn.unbind('click');
            unconfirmBtn.unbind('click');

            searchBtn.on('click', function () {

                const raw_query = $('#searchBarInput').val();
                var query = '?query=' + raw_query;
                const option = document.createElement('option');
                option.setAttribute('value', raw_query);
                $('#recent_searches').append(option);
                $.ajax({
                    url: '{% url 'subscription:subscription-api-attendance-search' event.pk %}' + query,
                    type: 'GET',
                    success: function (res) {
                        create_result_list(res);
                        $('#searchBar').hide('slow');
                        $('#results').show();
                    }
                }).fail(function (err) {
                    console.error(err);
                });
            });
            new_search.on('click', function () {
                $('.res').remove();
                $('#results').hide();
                $('#searchBarInput').val("");
                $('#searchBar').show('slow');
            });
            do_checkin.on('click', function () {

                $("#confirmName").text("Nome: " + $(this).data('name'));
                $("#confirmEmail").text("Email: " + $(this).data('email'));
                $('#confirmPk').val($(this).data('pk'));
                if ($(this).data('document_cpf') !== '') {
                    $("#confirmCpf").text("CPF: " + $(this).data('document_cpf'));
                } else if ($(this).data('document_cnpj') !== '') {
                    $("#confirmCnpj").text("CNPJ: " + $(this).data('document_cnpj'));
                }

                $("#confirmCode").text("Código: " + $(this).data('code'));
                confirmModal.modal('show');
            });
            undo_checkin.on('click', function () {

                $("#unconfirmName").text("Nome: " + $(this).data('name'));
                $("#unconfirmEmail").text("Email: " + $(this).data('email'));
                $('#unconfirmPk').val($(this).data('pk'));
                if ($(this).data('document_cpf') !== '') {
                    $("#unconfirmCpf").text("CPF: " + $(this).data
                    ('document_cpf'));
                } else if ($(this).data('document_cnpj') !== '') {
                    $("#unconfirmCnpj").text("CNPJ: " + $(this).data
                    ('document_cnpj'));
                }

                $("#unconfirmCode").text("Código: " + $(this).data('code'));
                unconfirmModal.modal('show');
            });
            confirmBtn.on('click', function () {
                confirmModal.modal('hide');
                const formData = new FormData();
                const pk = $('#confirmPk').val();
                const current_url = new URL(window.location.href);
                let url = '';

                url += window.location.origin + '/';
                url += current_url.pathname.split('/')[1] + '/';
                url += current_url.pathname.split('/')[2] + '/';
                url += current_url.pathname.split('/')[3] + '/';
                url += current_url.pathname.split('/')[4] + '/';

                url += pk + '/check-in';

                formData.append('attended', true);

                $.ajax({
                    url: url,
                    type: 'PATCH',
                    processData: false,
                    contentType: false,
                    data: formData,
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    },
                    success: function () {
                        Messenger().post({
                            message: 'Check-in realizado com sucesso!',
                            type: 'success'
                        });
                        $('.res').remove();
                        $('#results').hide();
                        $('#searchBarInput').val("");
                        $('#searchBar').show('slow');

                    }
                }).fail(function (err) {
                    console.error(err);
                    Messenger().post({
                        message: 'Não foi possivel realizar o check-in.',
                        type: 'danger'
                    });
                });

            });
            unconfirmBtn.on('click', function () {
                unconfirmModal.modal('hide');
                const formData = new FormData();
                const pk = $('#unconfirmPk').val();
                const current_url = new URL(window.location.href);
                let url = '';

                url += window.location.origin + '/';
                url += current_url.pathname.split('/')[1] + '/';
                url += current_url.pathname.split('/')[2] + '/';
                url += current_url.pathname.split('/')[3] + '/';
                url += current_url.pathname.split('/')[4] + '/';

                url += pk + '/check-in';

                formData.append('attended', false);

                $.ajax({
                    url: url,
                    type: 'PATCH',
                    processData: false,
                    contentType: false,
                    data: formData,
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    },
                    success: function () {
                        Messenger().post({
                            message: 'Check-out realizado com sucesso!',
                            type: 'success'
                        });
                        $('.res').remove();
                        $('#results').hide();
                        $('#searchBarInput').val("");
                        $('#searchBar').show('slow');

                    }
                }).fail(function (err) {
                    console.error(err);
                    Messenger().post({
                        message: 'Não foi possivel realizar o check-out.',
                        type: 'danger'
                    });
                });

            });
        }

        $(document).ready(function () {

            Messenger.options = {
                extraClasses: 'messenger-fixed messenger-on-bottom ' +
                'messenger-on-right',
                theme: 'flat'
            };

            recreate_events();

        });

    </script>

{% endblock %}

{% block modals %}
    <div class="modal" id="confirmModal" tabindex="-1" role="dialog"
         aria-labelledby="confirmModalLabel">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"
                            aria-hidden="true">×
                    </button>
                    <h4 class="modal-title"
                        id="confirmModalLabel">Confirmação de check-in</h4>
                </div>
                <div class="modal-body">


                    <h3 style="font-weight: bold" id="confirmName"></h3>
                    <h3 style="font-weight: bold" id="confirmEmail"></h3>
                    <h3 style="font-weight: bold" id="confirmCpf"></h3>
                    <h3 style="font-weight: bold" id="confirmCnpj"></h3>
                    <h3 style="font-weight: bold" id="confirmCode"></h3>
                    <input type="hidden" id="confirmPk"/>


                    <button type="button" class="btn btn-lg btn-success"
                            style="margin-top: 15px" id="confirmBtn">
                        Confirmar!
                    </button>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger"
                            data-dismiss="modal">Fechar
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal" id="unconfirmModal" tabindex="-1" role="dialog"
         aria-labelledby="unconfirmModalLabel">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"
                            aria-hidden="true">×
                    </button>
                    <h4 class="modal-title"
                        id="confirmModalLabel">Confirmação de check-out</h4>
                </div>
                <div class="modal-body">

                    <h2 class="danger-color">
                        <i class="fas fa-exclamation-triangle
                        fa-1x"></i> Atenção! <i class="fas
                        fa-exclamation-triangle
                        fa-1x"></i>
                    </h2>
                    <h2 style="margin-top: 5px" class="danger-color">
                        Você está prestes a realizar o check-out do
                        seguinte participante:
                    </h2>


                    <h3 style="font-weight: bold; margin-top: 25px"
                        id="unconfirmName"></h3>
                    <h3 style="font-weight: bold" id="unconfirmEmail"></h3>
                    <h3 style="font-weight: bold" id="unconfirmCpf"></h3>
                    <h3 style="font-weight: bold" id="unconfirmCnpj"></h3>
                    <h3 style="font-weight: bold" id="unconfirmCode"></h3>
                    <input type="hidden" id="unconfirmPk"/>


                    <button type="button" class="btn btn-lg btn-success"
                            style="margin-top: 15px" id="unconfirmBtn">
                        Confirmar!
                    </button>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger"
                            data-dismiss="modal">Fechar
                    </button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
