{% extends "base/base.html" %}
{% load i18n static %}
{% load subscription_tags %}
<link rel="stylesheet" href="
{% static "/assets/plugins/morris/css/morris.css" %}">


{% block title %}Credenciamento | Congressy{% endblock %}

{% block page_title %}Credenciamento{% endblock %}
{% block page_sub_title %}{{ event.name }}{% endblock %}
{% block page_description %}
    Realize o credenciamento de inscritos confirmando sua presença no evento.
{% endblock %}

{% block scripts %}
    <script src="{% static "/assets/plugins/morris/js/morris.min.js" %}"></script>
    <script src="{% static "/assets/plugins/morris/js/raphael.2.1.0.min.js" %}"></script>


    <script type="text/javascript">
        var progress = ((parseFloat('{{ number_attendances }}') /
            parseFloat('{{confirmed }}')) *
            100).toFixed(1);

        ;
        $('.progress-bar').text(progress + '%');
        $('.progress-bar').attr('aria-valuenow', progress);
        $('.progress-bar').css('width', progress + '%');

        invert_progress = 100 - progress;
        Morris.Donut({
            element: 'donut_attendances',
            data: [
                {
                    value: progress, label: 'Credenciados', formatted:
                    progress + '%'
                },
                {
                    value: invert_progress,
                    label: 'Não Credenciados',
                    formatted:
                    invert_progress + '%'
                }
            ],
            backgroundColor: '#fff',
            labelColor: '#1abc9c',
            colors: [
                '#1abc9c', '#293949'
            ],
            formatter: function (x, data) {
                return data.formatted;
            }
        });
        var confirmed_percent = ((parseFloat('{{ confirmed }}') /
            parseFloat('{{total_subscriptions }}')) *
            100).toFixed(1);
        var invert_confirmed = 100 - confirmed_percent
        Morris.Donut({
            element: 'donut_confirmed',
            data: [
                {
                    value: confirmed_percent, label: 'Inscrições Confirmadas',
                    formatted:
                    confirmed_percent + '%'
                },
                {
                    value: invert_confirmed,
                    label: 'Inscrições não confirmadas',
                    formatted: invert_confirmed + '%'
                }
            ],
            backgroundColor: '#fff',
            labelColor: '#1abc9c',
            colors: [
                '#1abc9c', '#293949'
            ],
            formatter: function (x, data) {
                return data.formatted;
            }
        });
    </script>
{% endblock %}

=


{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="panel-title">Taxa de inscritos Credenciados
                    </div>
                </div>
                <div class="panel-body">
                    <div class="progress">
                        <div class="progress-bar progress-bar-info"
                             role="progressbar"
                             aria-valuemin="0" aria-valuemax="100">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
     <div class="col-md-3">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Histórico</h3>
            </div>
            <div class="panel-body">
                {% for attendance in attendances %}
                    <div style="background: #FFF;padding: 5px;border-bottom: 1px solid #DDD">
                        <table width="100%" border="0" cellspacing="0"
                               cellpadding="0">
                            <tr>
                                <td style="padding: 5px">
                                    <div style="font-weight: bold;text-transform: uppercase">{{ attendance.person.name }}</div>
                                    <div>
                                        <strong>Data:</strong> {{ attendance.attended_on }}
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <div id="donut_attendances"></div>

        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <div id="donut_confirmed"></div>
        </div>

    </div>





{% endblock %}
