{% extends "base/base.html" %}
{% load i18n static %}
{% load subscription_tags %}

{% block title %}Credenciamento | Congressy{% endblock %}

{% block page_title %}Credenciamento{% endblock %}
{% block page_sub_title %}{{ event.name }}{% endblock %}
{% block page_description %}
    Realize o credenciamento de inscritos confirmando sua presença no evento.
{% endblock %}

{% block extrascript %}
    <script type="text/javascript">
        function configure_input(field_name) {
            var input = document.getElementById('search_input');
            var size;
            switch (field_name) {
                case 'code':
                    size = 10;
                    input.setAttribute('type', 'search');
                    break;
                case 'email':
                    input.setAttribute('type', 'email');
                    size = 40;
                    break;
                default:
                    input.setAttribute('type', 'search');
                    size = 60;
            }

            input.setAttribute('size', size);
            input.focus();
            {% if search_by == 'code' and result %}
                document.getElementById('registration_button').focus();
            {% else %}
                input.focus();
            {% endif %}
        }

        document.addEventListener('DOMContentLoaded', function () {
            configure_input('{{ search_by }}');

            {% if search_by == 'code' and result %}
                window.setTimeout(function () {
                    document.getElementById('registration_button').focus()
                }, 500);
            {% endif %}
        }, false);
    </script>
{% endblock %}
{% block styles %}
    <style>

        .vertical-align {
            display: flex;
            align-items: center;
        }
    </style>
{% endblock %}

{% block pageheader %}
    <div class="pageheader">
        <h1>Credenciamento</h1>
    </div>
{% endblock %}

{% block nav_aside_itens %}
    <h5 class="sidebar-header">Configurações</h5>
    <ul class="nav nav-pills nav-stacked">
        <li>
            <a href="{% url 'event:event-hotsite' event.pk %}"
               title="Página do evento">
                <i class="fa  fa-fw fa-rocket"></i> Página do evento
            </a>
        </li>
        <li>
            <a href="{% url 'subscription:form-config' event.pk %}"
               title="Formulário">
                <i class="fa  fa-fw fa-rocket"></i> Formulário
            </a>
        </li>
    </ul>

    <h5 class="sidebar-header">Participantes</h5>
    <ul class="nav nav-pills nav-stacked">
        <li>
            <a href="{% url 'subscription:lot-list' event.pk %}"
               title="Inscrições">
                <i class="fa  fa-fw fa-rocket"></i>
                Ingressos
            </a>
        </li>
        <li>
            <a href="{% url 'subscription:subscription-list' event.pk %}"
               title="Inscrições">
                <i class="fa  fa-fw fa-rocket"></i>
                Inscrições
            </a>
        </li>
        {#        <li class="active">#}
        {#            <a href="{% url 'subscription:subscription-attendance-search' event.pk %}"#}
        {#               title="Check-in">#}
        {#                <i class="fa  fa-fw fa-rocket"></i>#}
        {#                Check-in#}
        {#            </a>#}
        {#        </li>#}
    </ul>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12" style="margin-left: 250px">

            <div id="searchBar">
                <div class="vertical-align">
                    <form id="searchForm">
                        <span style="font-size: 30px"></span>
                        <input id="searchBarInput" type="text"
                               style="height: 50px;
                    width:
                    500px;
                    font-size:30px ">

                        <button type="button" class="btn btn-lg btn-success"
                                id="searchBtn" style="margin-left: 5px">
                            <i class="fas fa-search"></i>
                        </button>
                    </form>
                </div>

            </div>
        </div>
    </div>

{% endblock %}

{% block scripts %}
    <script>

        // CSRF code
        function getCookie(name) {
            var cookieValue = null;
            var i = 0;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (i; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        var csrftoken = getCookie('csrftoken');

        $(function () {


            $('#searchBtn').on('click', function () {

                var query = '?query=' + $('#searchBarInput').val();
                console.log('clicked to search');
                $.ajax({
                    url: '{% url 'subscription:subscription-api-attendance-search' event.pk %}' + query,
                    type: 'GET',
                    success: function (res) {
                        console.log(res);
                    }
                }).fail(function (err) {
                    console.error(err);
                });


            });
        });
    </script>

{% endblock %}
