{% extends "base/base.html" %}
{% load i18n static %}
{% load subscription_tags %}

{% block title %}Credenciamento | Congressy{% endblock %}

{% block page_title %}Credenciamento{% endblock %}
{% block page_sub_title %}{{ event.name }}{% endblock %}
{% block page_description %}
    Realize o credenciamento de inscritos confirmando sua presença no evento.
{% endblock %}

{% block extrascript %}
    <script type="text/javascript">
        function configure_input(field_name) {
            var input = document.getElementById('search_input');
            var size;
            switch (field_name) {
                case 'code':
                    size = 10;
                    input.setAttribute('type', 'search');
                    break;
                case 'email':
                    input.setAttribute('type', 'email');
                    size = 40;
                    break;
                default:
                    input.setAttribute('type', 'search');
                    size = 60;
            }

            input.setAttribute('size', size);
            input.focus();
            {% if search_by == 'code' and result %}
                document.getElementById('registration_button').focus();
            {% else %}
                input.focus();
            {% endif %}
        }

        document.addEventListener('DOMContentLoaded', function () {
            configure_input('{{ search_by }}');

            {% if search_by == 'code' and result %}
                window.setTimeout(function () {
                    document.getElementById('registration_button').focus()
                }, 500);
            {% endif %}
        }, false);
    </script>
{% endblock %}
{% block styles %}
    <style>

        .vertical-align {
            display: flex;
            align-items: center;
        }
    </style>
{% endblock %}

{% block pageheader %}
    <div class="pageheader">
        <h1>Credenciamento</h1>
    </div>
{% endblock %}

{% block nav_aside_itens %}
    <h5 class="sidebar-header">Configurações</h5>
    <ul class="nav nav-pills nav-stacked">
        <li>
            <a href="{% url 'event:event-hotsite' event.pk %}"
               title="Página do evento">
                <i class="fa  fa-fw fa-rocket"></i> Página do evento
            </a>
        </li>
        <li>
            <a href="{% url 'subscription:form-config' event.pk %}"
               title="Formulário">
                <i class="fa  fa-fw fa-rocket"></i> Formulário
            </a>
        </li>
    </ul>

    <h5 class="sidebar-header">Participantes</h5>
    <ul class="nav nav-pills nav-stacked">
        <li>
            <a href="{% url 'subscription:lot-list' event.pk %}"
               title="Inscrições">
                <i class="fa  fa-fw fa-rocket"></i>
                Ingressos
            </a>
        </li>
        <li>
            <a href="{% url 'subscription:subscription-list' event.pk %}"
               title="Inscrições">
                <i class="fa  fa-fw fa-rocket"></i>
                Inscrições
            </a>
        </li>
        {#        <li class="active">#}
        {#            <a href="{% url 'subscription:subscription-attendance-search' event.pk %}"#}
        {#               title="Check-in">#}
        {#                <i class="fa  fa-fw fa-rocket"></i>#}
        {#                Check-in#}
        {#            </a>#}
        {#        </li>#}
    </ul>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12" style="margin-left: 250px">

            <div id="searchBar">
                <div class="vertical-align">
                    <span style="font-size: 30px"></span>
                    <input id="searchBarInput" type="text"
                           list="recent_searches"
                           style="height: 50px;
                    width:
                    500px;
                    font-size:30px ">
                    <datalist id="recent_searches">
                    </datalist>

                    <button type="button" class="btn btn-lg btn-success"
                            id="searchBtn" style="margin-left: 5px">
                        <i class="fas fa-search"></i>
                    </button>
                </div>

            </div>


            <div id="results" style="display: none">
                <button class="btn btn-md btn-primary new_search" style="margin-bottom:
                15px">
                    Realizar nova pesquisa
                </button>
                <div id="result_list">
                </div>

                <button class="btn btn-md btn-primary new_search "
                        style="margin-bottom:
                15px">
                    Realizar nova pesquisa
                </button>
                <small>Não encontrou o participante? Tente refinar sua
                    busca.
                </small>


            </div>

        </div>
    </div>

{% endblock %}

{% block scripts %}

    <script>

        // CSRF code
        function getCookie(name) {
            var cookieValue = null;
            var i = 0;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (i; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        var csrftoken = getCookie('csrftoken');

        function create_result_list(res) {

            if (res.length === 0) {
                const row = document.createElement('div');
                row.className = 'row res';
                const cols = document.createElement('div');
                cols.className = 'col-md-8';
                row.appendChild(cols);
                const panel = document.createElement('div');
                panel.className = 'panel panel-primary';
                cols.appendChild(panel);
                const panel_body = document.createElement('div');
                panel_body.className = 'panel-body';
                panel.appendChild(panel_body);

                const title = document.createElement('h3');
                $(title).text('Nenhum resultado encontrado.');
                panel_body.appendChild(title);

                $('#result_list').append(row);
            }

            for (const s of res) {
                const row = document.createElement('div');
                row.className = 'row res';
                const cols = document.createElement('div');
                cols.className = 'col-md-8';
                row.appendChild(cols);
                const panel = document.createElement('div');
                panel.className = 'panel panel-primary';
                cols.appendChild(panel);
                const panel_body = document.createElement('div');
                panel_body.className = 'panel-body';
                panel.appendChild(panel_body);

                const title = document.createElement('h3');
                $(title).text('Nome: ' + s['person']['name']);
                const email = document.createElement('h3');
                $(email).text('Email: ' + s['person']['email']);
                const code = document.createElement('h3');
                $(code).text('Código: ' + s['code']);

                const check_in = document.createElement('h3s');
                let check_in_html = "";

                if (s['attended']) {
                    const attended_on = new Date(Date.parse(s['attended_on']));
                    console.log(attended_on);

                    check_in_html +=
                        "Status de Check-in: <i class='fas fa-check-circle " +
                        "success-color'> " + "</i> <br> Realizado ás: " +
                        attended_on.toLocaleString('pt-BR', {timeZone: 'America/Sao_Paulo'});
                } else {
                    check_in_html +=
                        "Status de Check-in: <i class='fas fa-times-circle" +
                        " danger-color'></i> Não realizado.";
                }
                $(check_in).html(check_in_html);
                panel_body.appendChild(title);
                panel_body.appendChild(email);
                panel_body.appendChild(code);
                panel_body.appendChild(check_in);
                $('#result_list').append(row);

            }


        }

        $(function () {


            $('#searchBtn').on('click', function () {

                const raw_query = $('#searchBarInput').val();
                var query = '?query=' + raw_query;
                const option = document.createElement('option');
                option.setAttribute('value', raw_query);
                $('#recent_searches').append(option);
                $.ajax({
                    url: '{% url 'subscription:subscription-api-attendance-search' event.pk %}' + query,
                    type: 'GET',
                    success: function (res) {
                        console.log(res);
                        create_result_list(res);
                        $('#searchBar').hide('slow');
                        $('#results').show();
                    }
                }).fail(function (err) {
                    console.error(err);
                });
            });
            $('.new_search').on('click', function () {
                $('.res').remove();
                $('#results').hide();
                $('#searchBarInput').val("");
                $('#searchBar').show('slow');
            });
        });
    </script>

{% endblock %}
