{% extends "base/base.html" %}
{% load i18n static url_tags  form_config_tags %}

{% block title %}Processar importação | Congressy{% endblock %}

{% block page_title %}Processar importação via CSV{% endblock %}
{% block page_sub_title %}{{ event.name }}{% endblock %}
{% block page_description %}
    Processar importação de dados via CSV
{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-md-12">
            <div class="buttonbar">
                <div class="float-left">
                    <a href="{% url 'subscription:subscriptions-csv-file-prepare' event.pk object.pk %}"
                       class="btn btn-primary">
                        <i class="fas fa-arrow-circle-left"></i>
                        Voltar
                    </a>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Inscrições
                    </h3>
                </div>

                <div class="panel-body text-center" id="csv-loader" style="height: 200px; display: none;">

                    <div class="row text-center"
                         style="margin-top:20px;">
                        <h3>Processando arquivo, aguarde...</h3>
                        <i class="fas info-color fa-circle-notch fa-spin
                        fa-6x" style="margin-top: 20px"></i>
                    </div>

                </div>
                <div class="panel-body" id="csv-form-panel">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <form method="post" id="csv-form">

                                {% if process_results.valid > 0 %}

                                    <h1>
                                        Será possivel gerar
                                        <strong>{{ process_results.valid }}</strong> inscrições.
                                    </h1>
                                    {% render_generic_field form.create_subscriptions %}
                                    <button type="button" class="btn btn-md btn-success" id="generate-success-subscriptions">
                                        Gerar inscrições
                                    </button>

                                {% elif  process_results.invalid > 0 %}
                                    <div class="alert alert-danger">
                                        <strong>Atenção!</strong> Não será possivel gerar {{ process_results.invalid }} inscrições.
                                    </div>
                                    {% render_generic_field form.create_error_xls %}
                                    <button type="button" class="btn btn-md btn-danger" id="generate-error-xls">
                                        Gerar XLS de erros
                                    </button>
                                {% endif %}

                                {% csrf_token %}


                            </form>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>



{% endblock %}

{% block scripts %}

    <script type="application/javascript">

        $(document).ready(function () {

            $('#generate-error-xls').on('click', function () {
                $('#id_create_error_xls').val(true);

                //$('#csv-form-panel').hide();
                //$('#csv-loader').show();
                $('#csv-form').submit();

            });


            //$('#generate-success-subscriptions').on('click', function () {

                //$('#csv-form-panel').hide();
                //$('#csv-loader').show();
                //$('#csv-form').submit();
                //alert('not implemented yet.');

            //});


        });

    </script>

{% endblock %}
