{% extends "base/base.html" %}

{% block title %}Importar | Congressy{% endblock %}

{% block page_title %}Importar via CSV{% endblock %}
{% block page_sub_title %}{{ event.name }}{% endblock %}
{% block page_description %}
    Importação de dados via CSV
{% endblock %}


{% block scripts %}

    <script type="application/javascript">
        $(document).ready(function () {

            var file_el = $('#id_csv_file');
            var file_loader_el = $('#csv-file-loader');
            var csv_file_els = $('.csv-file');

            $('#trigger-import').on('click', function () {
                file_el.trigger('click');
            });

            file_el.on('change', function () {

                //TODO Implement filetype check, verify that the file is a csv before submitting this form. 

                csv_file_els.hide();
                file_loader_el.show();

                $('#file-form').submit();

            });


        });
    </script>

{% endblock %}


{% block content %}


    <div class="row">
        <div class="col-md-12">
            <div class="buttonbar">
                <div class="float-right">

                    {% if object_list %}

                        <button class="btn btn-success" id="trigger-import">
                            <i class="fa fa-plus"></i>
                            Adicionar
                        </button>

                    {% endif %}

                </div>
                <div class="float-left">
                    <a href="{% url 'subscription:subscriptions-csv-list' event.pk %}"
                       class="btn btn-primary">
                        <i class="fas fa-arrow-circle-left"></i>
                        Voltar
                    </a>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Lista de Arquivos
                    </h3>
                </div>

                <div class="panel-body text-center" id="csv-file-loader" style="height: 200px; display: none;">

                    <div class="row text-center"
                         style="margin-top:20px;">
                        <h3>Processando arquivo, aguarde...</h3>
                        <i class="fas info-color fa-circle-notch fa-spin
                        fa-6x" style="margin-top: 20px"></i>
                    </div>

                </div>


                {% if object_list %}
                    <div class="panel-body csv-file">

                        <div class="col-md-12">


                            <table class="table table-bordered">
                                <thead>
                                <tr>
                                    <th>Nome do arquivo</th>
                                    <th>Data de Envio</th>
                                    <th>Já foi processada?</th>
                                </tr>
                                </thead>
                                <tbody>


                                {% for csv in object_list %}
                                    <tr>
                                        <td>{{ csv.filename }}</td>
                                        <td>{{ csv.created|date:"d/m/Y H\hi" }}</td>
                                        <td class="text-center">
                                            {% if csv.processed %}
                                                <i class="fas fa-check-circle" style="color: #00dd1c"></i>
                                            {% else %}
                                                <i class="fas fa-times-circle" style="color: #dd0901"></i>
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}


                                </tbody>
                            </table>


                        </div>


                        <button class="btn btn-primary" style="margin-top: 15px" id="trigger-import">
                            <i class="fas fa-upload"></i>
                            Importar
                        </button>
                        <form method="POST" action="{% url 'subscription:subscriptions-csv-import-upload' event.pk %}" id="file-form" enctype=multipart/form-data>

                            {% csrf_token %}

                            {{ form.event }}

                            <input name="csv_file" id="id_csv_file" type="file" accept=".csv">

                        </form>

                    </div>

                {% else %}

                    <div class="panel-body text-center csv-file" style="height: 200px;">

                        <h1 style="margin-top: 50px">

                            <strong>
                                Nenhum arquivo até o momento =(
                            </strong>

                        </h1>

                        <form method="POST" action="{% url 'subscription:subscriptions-csv-import-upload' event.pk %}" id="file-form" enctype=multipart/form-data>

                            {% csrf_token %}

                            {{ form.event }}

                            <input name="csv_file" id="id_csv_file" type="file" accept=".csv">

                        </form>

                    </div>

                {% endif %}
            </div>
        </div>
    </div>


{% endblock %}
