{% extends "base/base.html" %}
{% load i18n static url_tags  form_config_tags %}

{% block title %}Processar importação | Congressy{% endblock %}

{% block page_title %}Processar importação via CSV{% endblock %}
{% block page_sub_title %}{{ event.name }}{% endblock %}
{% block page_description %}
    Processar importação de dados via CSV
{% endblock %}

{% block content %}

    <div class="row" id="preview">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Preview</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12" id="preview-content">
                            {% if preview.table %}
                                {{ preview.table|safe }}
                            {% else %}
                                <div class="text-center">
                                    <h1>
                                        <strong>Não foi possivel realizar um preview do seu documento CSV.</strong>
                                    </h1>
                                </div>
                            {% endif %}

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row" id="csv-form">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Editar as configurações
                    </h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <form class="form-inline" method="post" enctype="multipart/form-data">

                                {% csrf_token %}
                                {% for hidden_field in form.hidden_fields %}
                                    {% if hidden_field.errors %}
                                        {% render_errors hidden_field.errors %}
                                    {% endif %}
                                    {{ hidden_field }}
                                {% endfor %}
                                {% render_generic_field form.delimiter %}
                                {% render_generic_field form.encoding %}
                                {% render_generic_field form.separator %}


                                <div class="form-group">
                                    <div>
                                        <button type="submit" class="btn btn-success">
                                            Salvar
                                        </button>
                                    </div>
                                </div>

                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row" id="keys">

        <div class="col-md-6">

            <div class="panel panel-primary">

                <div class="panel-heading">
                    <h3 class="panel-title">
                        Campos Disponíveis
                    </h3>
                </div>
                <div class="panel-body">

                    <div class="row">

                        <div class="col-md-12">

                            <table class="table">
                                <thead>
                                <tr>
                                    <th>Nome da coluna</th>
                                    <th>Descrição</th>
                                    <th>Possiveis valores</th>
                                </tr>
                                </thead>
                                <tbody>

                                <tr>
                                    <td>
                                        <strong>
                                            status
                                        </strong>
                                    </td>
                                    <td>
                                        Inscrição confirmada?
                                    </td>
                                    <td>
                                        <ul>
                                            <li>Sim</li>
                                            <li>Não</li>
                                        </ul>
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        <strong>
                                            credenciado
                                        </strong>
                                    </td>
                                    <td>
                                        Já foi realizado o check-in?
                                    </td>
                                    <td>
                                        <ul>
                                            <li>Sim</li>
                                            <li>Não</li>
                                        </ul>
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        <strong>
                                            nome
                                        </strong>
                                    </td>
                                    <td>
                                        Nome do participante
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        <strong>
                                            doc internacional
                                        </strong>
                                    </td>
                                    <td>
                                        Passaporte ou Documento de Identificação para inscrições internacionais
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        <strong>
                                            cpf
                                        </strong>
                                    </td>
                                    <td>
                                        CPF do participante sem formatação
                                    </td>
                                    <td>
                                        Exemplo: 05235400003
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        <strong>
                                            data nasc
                                        </strong>
                                    </td>
                                    <td>
                                        Data de nascimento no formato dd/mm/aaaa
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        <strong>
                                            email
                                        </strong>
                                    </td>
                                    <td>
                                        Email do participante
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        <strong>
                                            celular
                                        </strong>
                                    </td>
                                    <td>
                                        Número de telefone celular com o DDI.
                                        Caso DDI não seja informado, será assumido '+55', DDI do Brasil.
                                    </td>
                                    <td>
                                        Exemplo: +5562999999999
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        <strong>
                                            rua/logradouro
                                        </strong>
                                    </td>
                                    <td>
                                        Endereço do participante
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        <strong>
                                            complemento
                                        </strong>
                                    </td>
                                    <td>
                                        Completo como quadra, lote, afins.
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        <strong>
                                            número
                                        </strong>
                                    </td>
                                    <td>
                                        Número do endereço
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        <strong>
                                            bairro
                                        </strong>
                                    </td>
                                    <td>
                                        Bairro ou setor
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        <strong>
                                            cep
                                        </strong>
                                    </td>
                                    <td>
                                        CEP do endereço
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        <strong>
                                            uf
                                        </strong>
                                    </td>
                                    <td>
                                        Estado do Participante
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        <strong>
                                            cidade
                                        </strong>
                                    </td>
                                    <td>
                                        Cidade do Participante
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        <strong>
                                            instituição/empresa
                                        </strong>
                                    </td>
                                    <td>
                                        Empresa do Participante
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        <strong>
                                            cnpj
                                        </strong>
                                    </td>
                                    <td>
                                        CNPJ da empresa do sem formatação
                                    </td>
                                    <td>
                                        Exemplo: 02562513000111
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        <strong>
                                            função/cargo
                                        </strong>
                                    </td>
                                    <td>
                                        Cargo do Participante
                                    </td>
                                </tr>

                                </tbody>
                            </table>

                        </div>

                    </div>

                </div>
            </div>
        </div>

        {% if preview.invalid_keys|length > 0 %}

            <div class="col-md-3" id="invalid-keys">
                <div class="panel panel-danger">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            Campos que serão ignorados
                        </h3>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <h3>
                                <ul>
                                    {% for key in  preview.invalid_keys %}
                                        <li>{{ key|truncatechars:40 }}</li>
                                    {% endfor %}
                                </ul>
                            </h3>
                        </div>
                    </div>
                </div>
            </div>

        {% endif %}

        <div class="col-md-3">

            <div class="panel panel-primary">
                <div class="panel-body">

                    <div class="row">


                        <div class="col-md-12">

                            <h3>
                                <strong>
                                    Caso todas as informações estejam ok, você já pode prosseguir com a importação.
                                </strong>
                            </h3>

                            <a href="#" class="btn btn-primary" type="button" style="margin-top: 15px">
                                Continuar a importação
                                <i class="fas fa-arrow-right"></i>
                            </a>

                        </div>

                    </div>

                </div>
            </div>
        </div>


    </div>

{% endblock %}
