{% extends "base/base.html" %}

{% block title %}Importar | Congressy{% endblock %}

{% block page_title %}Importar via CSV{% endblock %}
{% block page_sub_title %}{{ event.name }}{% endblock %}
{% block page_description %}
    Importação de dados via CSV
{% endblock %}


{% block scripts %}

    <script type="application/javascript">
        $(document).ready(function () {

            var file_el = $('#id_csv_file');
            var file_loader_el = $('#csv-file-loader');
            var csv_file_els = $('.csv-file');

            $('#trigger-import').on('click', function () {
                file_el.trigger('click');
            });

            file_el.on('change', function () {

                //TODO Implement filetype check, verify that the file is a csv before submitting this form. 

                csv_file_els.hide();
                file_loader_el.show();

                $('#file-form').submit();

            });


        });
    </script>

{% endblock %}


{% block content %}

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Lista de Arquivos
                    </h3>
                </div>

                <div class="panel-body text-center" id="csv-file-loader" style="height: 200px; display: none;">

                    <div class="row text-center"
                         style="margin-top:20px;">
                        <h3>Processando arquivo, aguarde...</h3>
                        <i class="fas info-color fa-circle-notch fa-spin
                        fa-6x" style="margin-top: 20px"></i>
                    </div>

                </div>


                {% if object_list %}
                    <div class="panel-body csv-file">

                        <div class="col-md-12">

                            <ul>
                                {% for file in object_list %}
                                    <li>
                                        {{ file.url }}
                                    </li>
                                {% endfor %}
                            </ul>

                        </div>

                    </div>

                {% else %}

                    <div class="panel-body text-center csv-file" style="height: 200px;">

                        <h1 style="margin-top: 50px">

                            <strong>
                                Nenhum arquivo até o momento =(
                            </strong>

                        </h1>
                        <button class="btn btn-primary" style="margin-top: 15px" id="trigger-import">
                            <i class="fas fa-upload"></i>
                            Importar
                        </button>
                        <form method="post" action="{% url 'subscription:subscriptions-csv-import-upload' event.pk %}" id="file-form">

                            {% csrf_token %}

                            <input name="csv_file" id="id_csv_file" type="file" accept=".csv">

                        </form>

                    </div>

                {% endif %}
            </div>
        </div>
    </div>


{% endblock %}
