{% extends "base/base.html" %}
{% load i18n static queryset_filter %}

{% block title %}Congressy{% endblock %}
{% block page_title %}Confirmar cancelamento da inscrição{% endblock %}

{% block nav_aside_itens %}
    <h5 class="sidebar-header">Participantes</h5>
    <ul class="nav nav-pills nav-stacked">
        {% if event.subscription_type != event.SUBSCRIPTION_SIMPLE %}
            <li>
                <a href="{% url 'subscription:lot-list' event.pk %}"
                   title="Inscrições">
                    <i class="fa  fa-fw fa-rocket"></i>
                    Lotes/Categorias
                </a>
            </li>
        {% endif %}
        <li class="active">
            <a href="{% url 'subscription:subscription-list' event.pk %}"
               title="Inscrições">
                <i class="fa  fa-fw fa-rocket"></i>
                Inscrições
                <span class="badge float-right">{{ event.subscriptions|queryset_count:"status__in=['confirmed','awaiting']" }}</span>
            </a>
        </li>
        {#        <li>#}
        {#            <a href="{% url 'subscription:\subscription-attendance-search' event.pk %}"#}
        {#               title="Check-in">#}
        {#                <i class="fa  fa-fw fa-rocket"></i>#}
        {#                Check-in#}
        {#            </a>#}
        {#        </li>#}
    </ul>
    <h5 class="sidebar-header">Configurações</h5>
    <ul class="nav nav-pills nav-stacked">
        <li>
            <a href="{% url 'event:event-hotsite' event.pk %}"
               title="Página do evento">
                <i class="fa  fa-fw fa-rocket"></i> Página do evento
            </a>
        </li>
        <li>
            <a href="{% url 'subscription:form-config' event.pk %}"
               title="Formulário">
                <i class="fa  fa-fw fa-rocket"></i> Formulário
            </a>
        </li>
        {% if has_paid_lots %}
            <li>
                <a href="{% url 'payment:event-payments' event.pk %}"
                   title="Pagamentos">
                    <i class="fa  fa-fw fa-rocket"></i> Pagamentos
                </a>
            </li>
        {% endif %}
    </ul>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">

            {% if delete_message %}
                <p>
                    {{ delete_message }}
                </p>
            {% endif %}
            <form method="post">
                {% csrf_token %}
                <div>
                    <!--suppress HtmlUnknownAttribute -->
                    {% if next_path %}
                        <a href="{{ next_path|urlencode }}"
                           class="btn btn-danger">Não, leve-me de volta</a>
                    {% else %}
                        <a href="{{ go_back_path }}" class="btn btn-danger">Não,
                            leve-me de volta</a>
                    {% endif %}
                    <input type="submit" value="Sim, tenho certeza"
                           class="btn btn-info"/>
                </div>
            </form>


        </div>
    </div>
{% endblock %}
