{% extends "base/base.html" %}
{% load i18n static widget_tweaks base_tags queryset_filter form_config_tags %}

{% block title %}
    Inscrição | Congressy
{% endblock %}

{% block page_title %}
    Formulários Padrão e Personalizados
{% endblock %}

{% block page_sub_title %}
    <div>{{ event.name }}</div>
{% endblock %}


{% block content %}

    {% if has_paid_lots %}
        <div class="well well-info">
            Este evento possui um de seus lotes pagos, portanto os
            seguintes
            campos
            serão sempre obrigatórios:

            <ul style="margin-top: 8px;">
                <li>E-mail;</li>
                <li>CPF ou ID/Passport;</li>
                <li>Celular (contato);</li>
                <li>Data de Nasicmento; e,</li>
                <li>Endereço completo.</li>
            </ul>
        </div>
    {% endif %}

    <form action="" method="post"
          class="form-horizontal form-border"
          role="form" name="event_form">
        {% csrf_token %}

        {% if form.non_field_errors %}
            <div class="alert alert-danger alert-dismissable">
                <button type="button"
                        class="close"
                        data-dismiss="alert"
                        aria-hidden="true">
                    ×
                </button>
                {{ error }}
            </div>
        {% endif %}

        {% for hidden_field in form.hidden_fields %}
            {% if hidden_field.errors %}
                {% for error in hidden_field.errors %}
                    <div class="alert alert-danger alert-dismissable">
                        <button type="button"
                                class="close"
                                data-dismiss="alert"
                                aria-hidden="true">
                            ×
                        </button>
                        (Hidden
                        field {{ hidden_field.name }}) {{ error }}
                    </div>
                {% endfor %}
            {% endif %}
            {{ hidden_field }}
        {% endfor %}

        <div class="row">
            <div class="col-md-12">
                <div class="buttonbar">
                    <div class="float-right">
                        <button type="submit"
                                class="btn btn-success">
                            <i class="fa fa-save"></i>
                            Salvar
                        </button>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>

        <div class="row">

            <div class="col-md-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <div class="panel-title">
                            Campos adicionais
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="well text-info small">
                            Campos que não fazem parte do formulário
                            padrão
                            e são pré-definidos pelo sistema.
                        </div>
                        {% for field in form %}
                            {% if field.field.widget.input_type == 'radio' %}
                                <div class="form-group"
                                     class="col-md-3">
                                    <label for="{{ field.id_for_label }}">
                                        {{ field.label }}
                                        {% if field.field.required %}
                                            <small style="color:#C9302C">
                                                *
                                            </small>
                                        {% endif %}
                                    </label>
                                    {{ field |add_class:"icheck"|attr:"style:display:none" }}
                                    {% if field.errors %}
                                        {% for error in field.errors %}
                                            <div class="alert alert-danger
                                        alert-dismissable">
                                                <button type="button"
                                                        class="close"
                                                        data-dismiss="alert"
                                                        aria-hidden="true">
                                                    ×
                                                </button>
                                                {{ error }}
                                            </div>
                                        {% endfor %}
                                    {% endif %}
                                    {% if field.help_text %}
                                        <div>
                                            <small class="text-muted">{{ field.help_text|safe }}</small>
                                        </div>
                                    {% endif %}
                                </div>
                            {% endif %}
                        {% endfor %}

                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="panel panel-primary"
                     id="survey-list-panel">
                    <div class="panel-heading">
                        <div class="panel-title">
                            Formulários Personalizados
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="row text-center survey-loader"
                             style="margin-top:20px; display: none">
                            <h3>Processando, aguarde...</h3>
                            <i class="fas info-color fa-circle-notch fa-spin
                        fa-6x" style="margin-top: 20px"></i>
                        </div>

                        <div id="survey-list">
                            {% include 'subscription/includes/survey_form.html' %}
                        </div>
                        <small class="text-muted">Você deve adicionar o
                            formulário no lote desejado.
                            Ir para <strong><a
                                    href="{% url 'subscription:lot-list' event.pk %}">Lotes</a></strong>.
                        </small>
                    </div>
                </div>

                <div class="panel panel-primary ">
                    <div class="panel-heading">
                        <div class="panel-title">
                            Campos pré-definidos
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="well text-info small">
                            Campos que já existem no formulário e
                            não podem ser
                            removidos.
                        </div>
                        {% for field in form %}
                            {% if field.field.widget.input_type == 'checkbox' %}
                                <div class="form-group">
                                    <label for="{{ field.id_for_label }}">
                                        {{ field.label }}
                                    </label>
                                    {{ field |add_class:"js-switch"|attr:"style:display:none" }}
                                    {% if field.errors %}
                                        {% for error in field.errors %}
                                            <div class="alert alert-danger
                                        alert-dismissable">
                                                <button type="button"
                                                        class="close"
                                                        data-dismiss="alert"
                                                        aria-hidden="true">
                                                    ×
                                                </button>
                                                {{ error }}
                                            </div>
                                        {% endfor %}
                                    {% endif %}
                                    {% if field.help_text %}
                                        <div>
                                            <small class="text-muted">{{ field.help_text|safe }}</small>
                                        </div>
                                    {% endif %}
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="buttonbar">
                    <div class="float-right">
                        <button type="submit"
                                class="btn btn-success">
                            <i class="fa fa-save"></i>
                            Salvar
                        </button>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>

    </form>


{% endblock %}

{% block scripts %}
    <script src="{% static 'assets/js/user_notification.js' %}"></script>

    <script>

        var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();

        // Se algum lote pago.
        var setLotPaiedStatus = function () {
            var radios = $('input[type=radio]');
            radios.iCheck({
                checkboxClass: 'icheckbox_flat-grey',
                radioClass: 'iradio_flat-grey'
            });
            radios.prop('disabled', 'disabled');

            window.setTimeout(function () {
                app.switcheryElements['id_email'].disable();
                app.switcheryElements['id_phone'].disable();
                app.switcheryElements['id_city'].disable();
            }, 200);

            // Fields which are not influenced by paied lotes.
            var fields_not_required = [
                'institution',
                'institution_cnpj',
                'function'
            ];

            $.each(fields_not_required, function (i, f_name) {
                for (var ii = 0; ii < 3; ii++) {
                    var el = $('#id_' + f_name + '_' + ii);
                    if (el.length) {
                        el.removeAttr('disabled');
                        el.iCheck({
                            checkboxClass: 'icheckbox_flat-grey',
                            radioClass: 'iradio_flat-blue'
                        });
                    }
                }
            });
        };

        // @TODO é o que vier da edição, se houver valor
        var city_checked = {% if object and object.city %}true{% else %}
            false{% endif %};
        var enableDisableCityButton = function (enabled) {
            // @TODO inserir constate do model
            if (enabled === true) {
                app.switcheryElements['id_city'].enable();
                window.setTimeout(function () {
                    app.setSwitchery('#id_city', city_checked);
                }, 200);
            } else {
                app.setSwitchery('#id_city', true);
                window.setTimeout(function () {
                    app.switcheryElements['id_city'].disable();
                }, 200);
            }
        };


        var loadList = function () {
            $.ajax({
                url: '{% url 'subscription:survey-list' event.pk %}', success:
                    function
                        (result) {
                        $("#survey-list").html(result);
                        $("#survey-list-panel").show();

                    }
            });
        };

        $(document).ready(function () {

            //loadList();

            $('#id_city').on('change', function () {
                var address_required_el = $('input[value=address-show]');
                // Seta flag somente se endereço não for obrigatório.
                if (address_required_el.prop('checked') === false) {
                    city_checked = $(this).prop('checked');
                }
            });

            {% if object and object.address == object.ADDRESS_SHOW %}
                enableDisableCityButton(false);
            {% endif %}

            {% if has_paid_lots %}
                setLotPaiedStatus();
            {% endif %}

            $('input[type=radio]').on('ifChecked', function () {
                var el = $(this);
                if (el.prop('name') == 'address') {
                    // @TODO inserir constate do model
                    enableDisableCityButton(el.val() == 'address-hide');
                }
            });

            Messenger.options = {
                extraClasses: 'messenger-fixed messenger-on-bottom ' +
                'messenger-on-right',
                theme: 'flat'
            };

            create_events();
        });


        function editEventSurvey() {
            
            var form = $('#editEventSurvey');

            $('#editSurvey').modal('hide');

            var values = {};

            $.each($(form).serializeArray(), function (i, field) {
                values[field.name] = field.value;
            });

            var payload = {
                action: 'edit',
                event_survey_id: values['event_survey_id'],
                survey_edit_title: values['survey_edit_title'],
                survey_edit_description: values['survey_edit_description']
            };

            $.ajax({
                type: "POST",
                url: '{% url 'subscription:survey-ajax-edit' event.pk%}',
                beforeSend: function (request) {
                    request.setRequestHeader("X-CSRFToken", csrftoken);
                },
                data: payload,
                success: function (res) {
                    Messenger().post({
                        message: 'Formulário editado com sucesso!',
                        type: 'success'
                    });
                    updateSurveyList();
                },
                error: function () {

                    Messenger().post({
                        message: 'Não foi possivel editar seu formulário.',
                        type: 'error'
                    });
                }
            });

            return false;

        }

        function updateSurveyList() {
            $.ajax({
                url: '{% url 'subscription:form-config' event.pk %}' +
                '?template_name=subscription/includes/survey_form',
                success:
                    function
                        (result) {
                        $("#survey-list").html(result);
                        create_events();
                    }
            });
        }

        function createEventSurvey(form) {

            var survey_list = $('#survey-list');

            $('#addSurvey').modal('hide');
            survey_list.hide();
            $('.survey-loader').show();
            var url = "{% url 'subscription:survey-create' event.pk %}";

            var values = {};
            $.each($(form).serializeArray(), function (i, field) {
                values[field.name] = field.value;
            });

            $.ajax({
                type: "POST",
                url: url,
                data: values, // serializes the form's elements.
                error: function (err) {
                    survey_list.show();
                    Messenger().post({
                        message: 'Não foi possivel criar este ' +
                        'formulário.',
                        type: 'danger'
                    });

                    throw err.textField;
                },
                success: function (res) {
                    res = JSON.parse(res);
                    window.location.replace(res.url);
                }
            });


            $('#id_name').val('');
            $('#id_description').val('');
        }

        function create_events() {

            $(".open-editSurvey").click(function () {
                $('#surveyEditId').val($(this).data('id'));
                $('#surveyEditTitle').val($(this).data('title'));
                $('#surveyEditDescription').val($(this).data('description'));
                $('#edit_event_survey_id').val($(this).data('id'));
                $('input.action').val('edit');
                $('#editSurvey').modal('show');
            });

            $(".open-deleteSurvey").click(function () {
                $('#surveyDeleteId').val($(this).data('id'));
                $('#surveyDeleteTitle').val($(this).data('title'));
                $('#surveyDeleteDescription').val($(this).data('description'));
                $('#delete_event_survey_id').val($(this).data('id'));
                $('input.action').val('delete');
                $('#deleteSurvey').modal('show');
                create_events();
            });

            $(".open-AddSimpleQuestionDialog").click(function () {
                var typeOfField = $(this).data('field-type');
                var IconOfField = $(this).data('field-icon');
                var typeEl = $('.modal-body .typeOfField');
                var iconEl = $('.modal-body .iconOfField');
                var formTypeEl = $('#id_simple_form-type');

                typeEl.text(typeOfField);
                iconEl.attr('class', 'iconOfField');
                iconEl.addClass(IconOfField);
                formTypeEl.val('simple');
                $('#options').hide();
                $('#addQuestion').modal('show');
            });

            $(".open-AddComplexQuestionDialog").click(function () {

                var typeOfField = $(this).data('field-type');
                var IconOfField = $(this).data('field-icon');
                var typeEl = $('.modal-body .typeOfField');
                var iconEl = $('.modal-body .iconOfField');
                var formTypeEl = $('#id_complex_form-type');

                typeEl.text(typeOfField);
                iconEl.attr('class', 'iconOfField');
                iconEl.addClass(IconOfField);
                formTypeEl.val('complex');
                $('#options').show();
                $('#addQuestion').modal('show');
            });

            $(".open-DeleteQuestionDialog").click(function () {

                var survey_id = $(this).data('survey');
                var survey_name = $(this).data('survey-name');

                $.get('{% url 'subscription:survey-ajax-delete' event.pk%}',
                    function (data) {
                        $('#question_delete_modal').html(data);
                        $('#deleteSurvey').modal('show');
                        $("#survey_name").text(survey_name);
                        $("#delete_event_survey_id").val(survey_id);
                    })
                    .fail(function (err) {

                        Messenger().post({
                            message: 'Não foi possivel realizar essa ação ' +
                            'nesse momento.',
                            type: 'error'
                        });

                        throw err.responseText;

                    });
            });

            $('.open-lotModal').on('click', function () {
                var survey_id = $(this).data('id');
                var existing_modal = $("#survey-lots-form-modal");

                if (typeof(existing_modal[0]) !== 'undefined') {
                    existing_modal.remove()
                }

                $.ajax({
                    type: "GET",
                    url: '?survey=' + survey_id + '&template_name=subscription/includes/modal-survey-lots',
                    error: function (err) {
                        Messenger().post({
                            message: 'Não foi possivel buscar os dados deste ' +
                            'formulário.',
                            type: 'danger'
                        });

                        throw err.textField;
                    },
                    success: function (res) {
                        var new_modal = $($.parseHTML(res));
                        new_modal = $(new_modal[1]);
                        $('.modals').append(new_modal);
                        app.switcheryToggle();
                        $('#survey-lots-form-modal').modal('show');

                    }
                });
            });


            //Disable btn save on first click
            $(".new_survey_save").click(function () {
                this.disabled = true;
            });

        }

        function processSurveyLot() {
            $('#survey-lots-form-modal').modal('hide');
            var changed_data = {};
            changed_data['event_survey'] = $('#survey-being-changed').val();
            changed_data['lots'] = {};
            $('.change-lot').each(function (i, obj) {
                changed_data['lots'][$(obj).data('lot-id')] = obj.checked;
            });

            $.ajax({
                type: "POST",
                url: '{% url 'subscription:survey-ajax-lots' event.pk%}',
                beforeSend: function (request) {
                    request.setRequestHeader("X-CSRFToken", csrftoken);
                },
                data: changed_data,
                success: function (res) {
                    Messenger().post({
                        message: 'Formulário vinculado aos lotes com sucesso!',
                        type: 'success'
                    });
                    updateSurveyList();
                },
                error: function () {

                    Messenger().post({
                        message: 'Não foi possivel vincular seu formulário ' +
                        'aos lotes',
                        type: 'error'
                    });
                }
            });

        }

    </script>

{% endblock %}
{% block modals %}

    <div class="modals">

        <div class="modal fade" id="addSurvey"
             role="dialog">

            <div class="modal-dialog " role="document">

                <div class="modal-content">

                    <div class="modal-header">
                        <button type="button" class="close"
                                data-dismiss="modal"
                                aria-label="Close"><span
                                aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title">
                            Novo formulário
                        </h4>
                    </div>

                    <form id="createSurveyForm" onsubmit="createEventSurvey(this);return false;">
                        <div class="modal-body" style="padding: 20px">
                            {% csrf_token %}
                            {% render_generic_field survey_list_form.name autofocus=True %}
                            {% render_generic_field survey_list_form.description %}
                        </div>


                        <div class="modal-footer">
                            <button type="button"
                                    class="btn btn-danger"
                                    data-dismiss="modal">
                                Cancelar
                            </button>
                            <button type="submit"
                                    class="btn btn-success">
                                Salvar
                            </button>
                        </div>
                    </form>

                </div>

            </div>

        </div>

        <div class="modal fade" id="editSurvey"
             role="dialog">

            <div class="modal-dialog " role="document">

                <div class="modal-content">

                    <div class="modal-header">
                        <button type="button" class="close"
                                data-dismiss="modal"
                                aria-label="Close"><span
                                aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title">
                            Editar questionário</h4>
                    </div>

                    <form id="editEventSurvey">

                        {% csrf_token %}


                        <div class="modal-body">

                            <div class="form-group">

                                <label>Nome:</label>

                                <small style="color:#C9302C">
                                    *
                                </small>


                                <div>

                                    <input type="text"
                                           maxlength="255"
                                           autofocus=""
                                           required=""
                                           class="form-control form-control"
                                           name="survey_edit_title"
                                           id="surveyEditTitle">


                                    <div>
                                        <small class="text-muted">
                                            Nome do seu
                                            questionário
                                        </small>
                                    </div>


                                </div>
                            </div>

                            <div class="form-group">

                                <label>Descrição:</label>

                                <div>

                                <textarea cols="20" rows="3"
                                          class="form-control"
                                          name="survey_edit_description"
                                          id="surveyEditDescription"></textarea>

                                    <div>
                                        <small class="text-muted">
                                            Uma descrição
                                            para
                                            te ajudar a
                                            identificar este
                                            questionário.
                                        </small>
                                    </div>


                                </div>
                            </div>

                            <input type="hidden"
                                   name="action">
                            <input type="hidden"
                                   name="event_survey_id"
                                   id="edit_event_survey_id">

                        </div>


                        <div class="modal-footer">
                            <button type="button"
                                    class="btn btn-danger"
                                    data-dismiss="modal">
                                Cancelar
                            </button>
                            <button type="button"
                                    onclick="editEventSurvey()"
                                    class="btn btn-success">
                                Salvar
                            </button>
                        </div>


                    </form>

                </div>

            </div>

        </div>



        <div class="modal fade" id="deleteSurvey"
             role="dialog">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">

                    <div id="question_delete_modal"></div>

                </div>
            </div>
        </div>


    </div>



{% endblock %}

{% block styles %}

    <style>

        .list-group-item .control-buttons {
            visibility: hidden;
        }

        .list-group-item:hover .control-buttons {
            visibility: visible;
        }

        .noborder td, .noborder th {
            border: none !important;
        }

    </style>

{% endblock %}