{% extends "base/base.html" %}
{% load static i18n %}
{% load static %}
{% load base_tags %}
{% load widget_tweaks %}
{% load event_tags %}
{% load form_config_tags %}

{% block styles %}
    <link rel="stylesheet"
          href="{% static 'assets/plugins/icheck/css/all.css' %}">

    <!-- Select2 lib -->
    <link rel="stylesheet"
          href="{% static 'assets/plugins/select2/css/select2.min.css' %}">
    <!-- Select2 theme -->
    <link rel="stylesheet"
          href="{% static 'assets/plugins/select2/css/select2-bootstrap4.min.css' %}">

    <link rel="stylesheet"
          href="{% static "assets/plugins/bootstrap-datetimepicker/bootstrap-datetimepicker.min.css" %}">
{% endblock %}

{{% block title %}
    {% if object %}Editar{% else %}Nova{% endif %} Inscrição | Congressy
{% endblock %}

{% block page_title %}
    {% if object %}Editar{% else %}Nova{% endif %} Inscrição
{% endblock %}

{% block page_sub_title %}
    {{ event.name }}
{% endblock %}

{% block scripts %}
    <script src="{% static "hotsite/js/subscription.js" %}"></script>
    <script src="{% static 'assets/js/user_notification.js' %}"></script>
    <script src="{% static "assets/plugins/moment/moment.js" %}"></script>
    <script src="{% static 'assets/plugins/icheck/js/icheck.min.js' %}"></script>

    <script src="{% static "assets/plugins/bootstrap-datetimepicker/bootstrap-datetimepicker.js" %}"></script>

    <script src="{% static 'assets/js/date-time.js' %}"></script>
    <!-- Select2 lib -->
    <script src="{% static 'assets/plugins/select2/js/select2.min.js' %}"></script>


    <script type="application/javascript">

        $(document).ready(function () {
            $('#id_subscription-lot').on('change', function () {
                $('#loader-person').show();
            });

            var dateInput = $('#id_person-birth_date');
            if (dateInput.length) {
                var birthDate = createDatePicker(dateInput);
                birthDate.data("DateTimePicker").minDate(false);
                birthDate.data("DateTimePicker").useCurrent(false);
                var datePerson = dateInput.attr('value');
                if (datePerson) {
                    birthDate.data("DateTimePicker").date(datePerson);
                }
            }


            var checkboxes = $('#survey_questions_block input[type=checkbox]');

            checkboxes.iCheck({
                checkboxClass: 'icheckbox_flat-grey',
                radioClass: 'iradio_flat-grey'
            });


            hotsiteShowHideCepLoader();

            var uf_el = $('#id_person-state');
            var city_el = $('#id_person-city_name');
            var zip_code_el = $('#id_person-zip_code');

            zip_code_el.on('keyup', function () {
                hotsiteSearchByCep();
            });
            window.setTimeout(function () {
                {% if object.city %}
                    uf_el.val('{{ object.city.uf }}');
                    fetch_cities(uf_el, $('#id_person-city_name'), $('#id_person-city'), '{{ object.city.pk }}');
                {% else %}
                    uf_el.val('');
                    city_el.val('');
                    city_el.prop('disabled', true);
                {% endif %}
            }, 300);

            $('#id_person-phone').mask("(99) 99999-9999");
            zip_code_el.mask("99999-999");

            $(uf_el).change(function () {
                var submit = $('form').find(':submit');
                city_el.html($('<option>').text('Carregando...'));
                submit.prop('disabled', true);
                var disableButton = function () {
                     var submit = $('form').find(':submit');
                    submit.prop('disabled', false);
                };
                var that = $(this);
                window.setTimeout(function () {
                    fetch_cities($(that), $('#id_city_name'), null, null, disableButton);
                }, 500);
            });

            $('#id_city_name').change(function () {
                $('#id_city').val($(this).val());
            });

            $('#id_zip_code').on('keyup', function () {
                searchByCep();
            });

            // Starting select2
            $('#id_subscription-lot').select2({
                theme: "bootstrap4",
                width: 'resolve'
            });

        });

    </script>

{% endblock %}

{% block content %}
    <form action="" method="post" class="skip-submition-check"
          name="subscription_form" enctype="multipart/form-data">
        {% csrf_token %}

        {% if form.non_field_errors %}
            {% render_errors form.non_field_errors %}
        {% endif %}

        {% for hidden_field in form.hidden_fields %}
            {% if hidden_field.errors %}
                {% render_errors hidden_field.errors %}
            {% endif %}
            {{ hidden_field }}
        {% endfor %}

        {% if  selected_lot != 0 %}
            <div class="row">
                <div class="col-md-12">
                    <div class="buttonbar">
                        <div class="float-right">
                            <a href="{% url 'subscription:subscription-list' event.pk %}"
                               class="btn btn-danger">
                                <i class="fas fa-times-circle"></i>
                                Cancelar
                            </a>

                            <button type="submit" class="btn btn-success">
                                <i class="fa fa-save"></i>
                                Salvar
                            </button>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        {% endif %}
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <div class="panel-title">
                            Dados Principais
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label for="id_person-city_name">
                                Lote:
                                <small style="color:#C9302C">*</small>
                            </label>
                            <div>
                                <select name="subscription-lot"
                                        placeholder="Digite o nome do lote..."
                                        class="form-control"
                                        id="id_subscription-lot"
                                        required="required"
                                        onchange="window.location.href=window.location.pathname+'?lot='+$(this).val()">
                                    {% if not selected_lot %}
                                        <option value="" disabled="disabled" selected="selected">- Selecione -</option>
                                    {% endif %}

                                    {% if stopped_lots %}
                                        <optgroup label="Encerrados">
                                            {% for lot in stopped_lots %}
                                                <option value=""
                                                        disabled="disabled"
                                                        {% if selected_lot and selected_lot == lot.pk %}selected="selected"{% endif %}>
                                                    {{ lot.display_publicly|truncatechars:60 }} - até: {{ lot.date_end|date:'d/m/Y H\hi' }}
                                                    {% if lot.private %}
                                                        <small>(privado)</small>
                                                    {% endif %}
                                                </option>
                                            {% endfor %}
                                        </optgroup>
                                    {% endif %}

                                    {% if running_lots %}
                                        <optgroup label="Em andamento">
                                            {% for lot in running_lots %}
                                                <option value="{{ lot.pk }}"
                                                        {% if selected_lot and selected_lot == lot.pk %}selected="selected"{% endif %}>
                                                    {{ lot.display_publicly|truncatechars:60 }} - até: {{ lot.date_end|date:'d/m/Y H\hi' }}
                                                    {% if lot.private %}<small>(privado)</small>{% endif %}
                                                </option>
                                            {% endfor %}
                                        </optgroup>
                                    {% endif %}

                                    {% if future_lots %}
                                        <optgroup label="Não-iniciados">
                                            {% for lot in future_lots %}
                                                <option value="{{ lot.pk }}"
                                                        {% if selected_lot and selected_lot == lot.pk %}selected="selected"{% endif %}>
                                                    {{ lot.display_publicly|truncatechars:60 }} - até: {{ lot.date_end|date:'d/m/Y H\hi' }}
                                                    {% if lot.private %}<small>(privado)</small>{% endif %}
                                                </option>
                                            {% endfor %}
                                        </optgroup>
                                    {% endif %}
                                </select>
                            </div>
                        </div>
                        <div class="row text-center" id="loader-person"
                             style="margin-top:20px;display: none">
                            <h3>Processando, aguarde...</h3>
                            <i class="fas info-color fa-circle-notch fa-spin
                        fa-6x" style="margin-top: 20px"></i>
                        </div>
                    </div>

                </div>
            </div>

        </div>

        {% if selected_lot %}

            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="panel-title">
                                Dados Principais
                            </div>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-12">
                                    {% render_generic_field form.country %}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-9">
                                    {% render_generic_field form.name autofocus=True %}

                                </div>
                                <div class="col-md-3">
                                    {% render_generic_field form.gender required=True %}
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-9">
                                    {% if config %}
                                        {% render_generic_field form.email config.email False %}
                                    {% else %}
                                        {% render_generic_field form.email %}
                                    {% endif %}
                                </div>
                                <div class="col-md-3">
                                    {% if config and config.cpf != config.CPF_HIDE %}
                                        {% if config.cpf == config.CPF_REQUIRED %}
                                            {% render_generic_field form.cpf required=True %}
                                        {% else %}
                                            {% render_generic_field form.cpf %}
                                        {% endif %}
                                    {% endif %}
                                </div>
                            </div>

                            <div class="row">
                                {% if config and config.birth_date != config.BIRTH_DATE_HIDE %}
                                    <div class="col-md-6">
                                        {% if config.birth_date == config.BIRTH_DATE_REQUIRED %}
                                            {% render_generic_field form.birth_date required=True %}
                                        {% else %}
                                            {% render_generic_field form.birth_date %}
                                        {% endif %}
                                    </div>
                                {% endif %}
                                <div class="col-md-6">
                                    {% if config %}
                                        {% render_generic_field form.phone config.phone False %}
                                    {% else %}
                                        {% render_generic_field form.phone %}
                                    {% endif %}
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    {% if config and config.address == config.ADDRESS_HIDE %}
                                        <div class="row">
                                            <div class="col-md-3 address-row">
                                                {% render_generic_field form.state required=config.city %}
                                            </div>
                                            <div class="col-md-9 address-row">
                                                {% render_generic_field form.city_name required=config.city %}
                                            </div>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>

                            <div class="row">
                                {% if config and config.institution_show is True %}
                                    <div class="col-md-4">
                                        {% render_generic_field form.institution required=config.institution_required %}
                                    </div>
                                {% endif %}
                                {% if config and config.institution_cnpj_show is True %}
                                    <div class="col-md-4">
                                        {% render_generic_field form.institution_cnpj required=config.institution_cnpj_required %}
                                    </div>
                                {% endif %}
                                {% if config and config.function_show is True %}
                                    <div class="col-md-4">
                                        {% render_generic_field form.function required=config.function_required %}
                                    </div>
                                {% endif %}
                            </div>

                        </div>
                    </div>
                    {% if config and config.address == config.ADDRESS_SHOW %}
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <div class="panel-title">
                                    Endereço
                                </div>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-3">
                                        {% render_generic_field form.zip_code %}
                                        <div id="cep_loader"
                                             class="cep-loader-profile"
                                        >
                                            <img src="{% static 'assets/img/loader.gif' %}"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="row address-row">
                                    <div class="col-md-9">
                                        {% render_generic_field form.street %}
                                    </div>
                                    <div class="col-md-3 address-row">
                                        {% render_generic_field form.number %}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 address-row">
                                        {% render_generic_field form.complement %}
                                    </div>
                                    <div class="col-md-6 address-row">
                                        {% render_generic_field form.village %}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3 address-row">
                                        {% render_generic_field form.state required=True %}
                                    </div>
                                    <div class="col-md-9 address-row">
                                        {% render_generic_field form.city_name required=True %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>

            {% if survey_form %}
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <div class="panel-title">
                                    Perguntas Extras
                                </div>
                            </div>
                            <div class="panel-body">

                                <div class="row">
                                    <div class="col-md-12" id="survey_questions_block">
                                        {% for field in survey_form.visible_fields %}
                                            {% render_generic_field field %}
                                        {% endfor %}
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}


        {% endif %}
        {% if selected_lot != 0 %}
            <div class="row">
                <div class="col-md-12">
                    <div class="buttonbar bottom">
                        <div class="float-right">
                            <a href="{% url 'subscription:subscription-list' event.pk %}"
                               class="btn btn-danger">
                                <i class="fas fa-times-circle"></i>
                                Cancelar
                            </a>

                            <button type="submit" class="btn btn-success">
                                <i class="fa fa-save"></i>
                                Salvar
                            </button>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        {% endif %}
    </form>
{% endblock %}

