{% load i18n humanize static base_tags queryset_filter payment_report %}

{% if event.feature_configuration.feature_manual_payments and has_open_installment_contract %}
<div class="row tooltip-wrapper">
    <div class="col-xl-11 col-lg-11 col-md-12">
        <section class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">
                    Parcelamento de Inscrição <small>(Contrato)</small>
                </h3>
            </div>
            <div class="panel-body">
                <div style="margin-left: 10px; margin-right: 10px">
                    
                    <div class="row">
                        <div class="col-md-12" id="constract-parts-list">
                            <div class="list-loader" style="text-align: center"><span class="fas fa-circle-notch fa-spin fa-3x"></span><div>carregando</div></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="text-right">
                                <a id="cancel-installment-contract" href="javascript:void(0)" style="color:darkred;display:none">Cancelar contrato</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
{% endif %}