{% extends "base/base.html" %}

{% load i18n static subscription_tags queryset_filter %}

{% block title %} Inscrições | Congressy{% endblock %}

{% block page_title %}Inscrições{% endblock %}

{% block page_sub_title %}
    {{ event.name }}
{% endblock %}

{% block styles %}
    <link rel="stylesheet"
          href="{% static 'assets/plugins/dataTables/css/responsive.bootstrap.min.css' %}">
    <link rel="stylesheet"
          href="{% static 'assets/plugins/dataTables/css/datatables.min.css' %}">
    <link rel="stylesheet"
          href="{% static 'assets/plugins/icheck/css/all.css' %}">
    <link rel="stylesheet"
          href="{% static 'assets/plugins/dataTables/css/responsive.dataTables.min.css' %}">


{% endblock %}

{% block scripts %}
    <!--ABSTRACTS DEPENDENCIES-->
    <script src="{% static "assets/js/ajax.js" %}"></script>
    <script src="{% static "assets/js/messenger.js" %}"></script>
    <script src="{% static "assets/js/vendor/moment.js" %}"></script>
    <script src="{% static "assets/js/price-format.min.js" %}"></script>

    <!--ABSTRACTS-->
    {% if DEBUG is True and STAGING_MODE is False %}
        <script src="{% static "assets/js/abstracts/01-dom.js" %}"></script>
        <script src="{% static "assets/js/abstracts/01-error.js" %}"></script>
        <script src="{% static "assets/js/abstracts/01-messenger.js" %}"></script>
        <script src="{% static "assets/js/abstracts/01-uri.js" %}"></script>
        <script src="{% static "assets/js/abstracts/02-alerter.js" %}"></script>
        <script src="{% static "assets/js/abstracts/02-form-field-mapper.js" %}"></script>
        <script src="{% static "assets/js/abstracts/02-http.js" %}"></script>
        <script src="{% static "assets/js/abstracts/03-form.js" %}"></script>
        <script src="{% static "assets/js/abstracts/03-model.js" %}"></script>
        <script src="{% static "assets/js/abstracts/04-collection.js" %}"></script>
        <script src="{% static "assets/js/abstracts/04-model-form.js" %}"></script>
        <script src="{% static "assets/js/abstracts/05-element-list.js" %}"></script>
        <script src="{% static "assets/js/abstracts/05-modal.js" %}"></script>

    {% else %}
        <script src="{% static "assets/js/abstracts/cgsy-abstracts.js" %}?v=1"></script>
    {% endif %}


    <script src="{% static 'assets/plugins/dataTables/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'assets/plugins/dataTables/js/dataTables.responsive.min.js' %}"></script>

    <script src="{% static 'assets/plugins/dataTables/js/dataTables.bootstrap.min.js' %}"></script>

    <script src="{% static 'assets/plugins/dataTables/js/responsive.bootstrap.min.js' %}"></script>

    <script src="{% static 'assets/plugins/icheck/js/icheck.min.js' %}"></script>

    {% if event.feature_configuration.feature_checkin is True %}
        <script src="{% static "assets/js/attendance/attendance.js" %}"></script>
        <script>
            var ACCREDITATION_SERVICE_ID = '';
            var priting_webhook_url = '';
            var printing_pin = '';

            {% if accreditation_service %}
                ACCREDITATION_SERVICE_ID = '{{ accreditation_service.pk }}';
                {% if accreditation_service.printing_queue_webhook %}
                    priting_webhook_url = '{{ accreditation_service.printing_queue_webhook }}';
                    printing_pin = '{{ accreditation_service.pwa_pin }}';
                {% endif %}

                var printer_config_key = 'cgsy-printer-config-' + '{{ event.pk }}';
                function savePrinterConfig(service_pk, printer_number) {
                    var data = {
                        'service_pk': service_pk,
                        'event_pk': parseInt('{{ event.pk }}'),
                        'printer_number': parseInt(printer_number)
                    };
                    localStorage.setItem(printer_config_key, JSON.stringify(data));

                    var messenger = new window.cgsy.abstracts.messenger.Messenger();
                    messenger.notifySuccess('Configurações salvas com sucesso');
                    setConfigToEnvironment();

                    $('#subscription_table').DataTable().ajax.reload();
                }

                function getPrinterConfig() {
                    var config = localStorage.getItem(printer_config_key);
                    if (!config) {
                        return;
                    }
                    return JSON.parse(config);
                }

                function setConfigToEnvironment() {
                    var config = getPrinterConfig() || {};
                    var printer_number = config.hasOwnProperty('printer_number') ? config['printer_number'] : 1;

                    $('.list-printer-number').text(printer_number);
                }

                var registerAccreditation = function (button_el, procced_printing) {
                    procced_printing = procced_printing === true;

                    if (!ACCREDITATION_SERVICE_ID) {
                        return;
                    }

                    var data = button_el.data();
                    var pk = data['pk'];
                    var name = data['person_name'];
                    var lot_name = data['lot_name'];
                    var category_name = data['category_name'];
                    var email = data['person_email'];
                    var event_count = data['event_count'];
                    var code = data['code'];
                    var status = data['status'];
                    var attended = data['attended'];

                    var options = {
                        'checkinUri': "{% url 'api:attendance:checkin-list' %}",
                        'success_checkin_msg': 'Atendimento registrado com succeso',
                        'fail_checkin_msg': 'Falha ao registrar atendimento',
                        'checkoutUri': "{% url 'api:attendance:checkout-list' %}",
                        'success_checkout_msg': 'Saída de atendimento registrada com sucesso',
                        'fail_checkout_msg': 'Falha ao registrar saída'
                    };

                    var attendance = new window.cgsy.attendance.Attendance(
                        options['checkinUri'],
                        options['success_checkin_msg'],
                        options['fail_checkin_msg'],
                        options['checkoutUri'],
                        options['success_checkout_msg'],
                        options['fail_checkout_msg']
                    );

                    var subscription = new window.cgsy.attendance.Subscription(
                        pk,
                        name,
                        lot_name,
                        category_name,
                        email,
                        event_count,
                        code,
                        status,
                        attended
                    );

                    subscription.setUri("/api/attendance/services/" + ACCREDITATION_SERVICE_ID + "/subscriptions/:pk/");


                    var parent = button_el.parent().parent();
                    parent.find('button').attr('disabled', true);
                    button_el.text('aguarde...');

                    data['accredited'] = true;
                    data['accredited_on'] = new Date();

                    attendance.checkin(ACCREDITATION_SERVICE_ID, subscription, name).then(function () {
                        if (procced_printing) {
                            triggerPrintWebhook(ACCREDITATION_SERVICE_ID, pk, priting_webhook_url, printing_pin).then(function () {
                                parent.parent().parent().html(loadAccreditationContent(data));
                                $('.accredited').popover({'html': true});
                            });
                        } else {
                            parent.parent().parent().html(loadAccreditationContent(data));
                            $('.accredited').popover({'html': true});
                        }
                    });
                };

                var unregisterAccreditation = function (button_el) {
                    if (!ACCREDITATION_SERVICE_ID) {
                        return;
                    }

                    var data = button_el.data();
                    var pk = data['pk'];
                    var name = data['person_name'];
                    var lot_name = data['lot_name'];
                    var category_name = data['category_name'];
                    var email = data['person_email'];
                    var event_count = data['event_count'];
                    var code = data['code'];
                    var status = data['status'];
                    var attended = data['attended'];

                    var options = {
                        'checkinUri': "{% url 'api:attendance:checkin-list' %}",
                        'success_checkin_msg': 'Atendimento registrado com succeso',
                        'fail_checkin_msg': 'Falha ao registrar atendimento',
                        'checkoutUri': "{% url 'api:attendance:checkout-list' %}",
                        'success_checkout_msg': 'Saída de atendimento registrada com sucesso',
                        'fail_checkout_msg': 'Falha ao registrar saída'
                    };

                    var attendance = new window.cgsy.attendance.Attendance(
                        options['checkinUri'],
                        options['success_checkin_msg'],
                        options['fail_checkin_msg'],
                        options['checkoutUri'],
                        options['success_checkout_msg'],
                        options['fail_checkout_msg']
                    );

                    var subscription = new window.cgsy.attendance.Subscription(
                        pk,
                        name,
                        lot_name,
                        category_name,
                        email,
                        event_count,
                        code,
                        status,
                        attended
                    );

                    subscription.setUri("/api/attendance/services/" + ACCREDITATION_SERVICE_ID + "/subscriptions/:pk/");

                    var parent = button_el.parent().parent();
                    parent.find('button').attr('disabled', true);
                    button_el.text('aguarde...');

                    data['accredited'] = false;
                    data['accredited_on'] = null;

                    attendance.checkout(ACCREDITATION_SERVICE_ID, subscription, name).then(function () {
                        parent.parent().parent().html(loadAccreditationContent(data));
                        $('.not-accredited').popover({'html': true});
                    });
                };

                function triggerPrintFromButton(button_el, sub_pk) {

                    button_el = $(button_el);
                    var parent = button_el.parent().parent();
                    var spinner = parent.find('i.fa-spinner').show();

                    button_el.hide();
                    spinner.show();

                    triggerPrintWebhook(ACCREDITATION_SERVICE_ID, sub_pk, priting_webhook_url, printing_pin).then(function () {
                        button_el.show();
                        spinner.hide();
                        window.setTimeout(function () {
                            $('.accredited').popover('hide');
                        }, 500);
                    });
                }

                function triggerPrintWebhook(service_pk, sub_pk, printing_webhook, pin) {
                    return new Promise(function (resolve, reject) {

                        var printer_number = 1;

                        var config = getPrinterConfig();
                        if (config && config.hasOwnProperty('printer_number')) {
                            printer_number = parseInt(config['printer_number']) || 1;
                        }

                        var data = {
                            'event_id': parseInt('{{ event.pk }}'),
                            'service_id': parseInt(service_pk),
                            'subscription_id': sub_pk,
                            'printer_number': printer_number
                        };

                        var messenger = new window.cgsy.abstracts.messenger.Messenger();

                        var sender = new window.cgsy.AjaxSender(printing_webhook + '/queues/items');
                        sender.addHeader('PIN', pin);
                        sender.crossDomainMode();
                        sender.payloadMode();

                        sender.setFailCallback(function () {
                            messenger.notifyError('Não foi possível registrar impressão do atendimento');
                            reject();
                        });
                        sender.setSuccessCallback(function () {
                            messenger.notifySuccess('Impressão enviada com sucesso.');
                            resolve();
                        });
                        sender.post(data);
                    });
                }

                $(document).ready(function () {
                    setConfigToEnvironment();
                });

            {% endif %}

        </script>
    {% endif %}

    <script>
        var customCheckbox = function () {
            $('input.icheck').iCheck({
                checkboxClass: 'icheckbox_flat-green',
                radioClass: 'iradio_flat-blue'
            });
        };

        var get_status_el = function (data, row) {


            var status;

            switch (row.status) {
                case 'confirmed':
                    status = $('#confirmed').clone();
                    break;
                case 'awaiting':
                    status = $('#awaiting').clone();
                    break;
                case 'canceled':
                    status = $('#canceled').clone();
                    break;
                default:
                    console.error("Status desconhecido de inscrição: " + row.status);
                    return;
            }

            status.remove('id');
            status.show();

            return status.prop('outerHTML');
        };

        var get_name_as_link_el = function (data, row) {

            var tag = document.createElement("a");

            tag = $(tag);
            tag.append(data).attr("href", row['link']);


            return tag.prop('outerHTML');

        };

        var get_date_el = function (row) {
            var tag = document.createElement("div");
            tag = $(tag);
            tag.css("margin-left", '18px');

            var span = $(document.createElement('small'));
            span.addClass('text-muted');

            span.append(new Date(row['created']).toLocaleString());

            tag.append(span);
            return tag.prop('outerHTML');

        };

        var get_institution_el = function (row) {

            var institution = row['institution'];

            if (!institution) {
                return ''
            }

            var tag = document.createElement("div");
            tag = $(tag);
            tag.css("margin-left", '18px');

            var span = $(document.createElement('small'));
            span.addClass('text-muted');

            span.append(institution);

            tag.append(span);
            return tag.prop('outerHTML');
        };

        var get_origin_badge_el = function (row) {

            var tag = document.createElement("div");
            tag = $(tag);
            tag.css("margin-left", '18px');

            var span = $(document.createElement('span'));
            span.addClass('badge badge-info');

            if (row['origin'] === 'manage') {
                span.append('Interno');
                tag.append(span);
                return tag.prop('outerHTML');

            } else if (row['origin'] === 'csv_import') {
                span.append('CSV');
                tag.append(span);
                return tag.prop('outerHTML');
            }

            return ''
        };

        var get_code_badge_el = function (row) {

            var span = $('<span>').addClass('badge badge-info');
            span.text(row['code']);

            var tag = $('<div>').css("margin-left", '18px');
            tag.append(span);

            return tag.prop('outerHTML');
        };

        var get_test_badge_el = function (row) {

            var tag = document.createElement("div");
            tag = $(tag);
            tag.css("margin-left", '18px');

            var span = $(document.createElement('span'));
            span.addClass('badge badge-warning');

            if (row['test_subscription']) {
                span.append('Inscrição de teste');
                tag.append(span);
                return tag.prop('outerHTML');

            }

            return ''
        };

        var get_dropdown_btn = function (row) {

            var main = $('#drop_down_btn').clone();
            main.remove("id");


            main.find("#link").attr("href", row['link']).remove("id");
            var edit_link = main.find("#edit_link");
            edit_link.attr("href", row['edit_link']).remove("id");


            if (row['status'] === 'confirmed') {
                var voucher_link = main.find("#voucher_link");
                voucher_link.attr("href", row['voucher_link']).show().remove("id");
            }

            main.show();
            return main.prop('outerHTML');
        };

        var get_hidden_person = function (row) {

            var tag = document.createElement("div");

            tag = $(tag);
            tag.hide();

            var f = [
                'person_cpf',
                'person_city',
                'person_uf',
                'person_phone',
                'person_city_international',
                'person_international_doc'
            ];


            var i;

            for (i = 0; i < f.length; i++) {

                var p = document.createElement("p");
                p = $(p);
                p.append(row[f[i]]);

                tag.append(p)
            }


            return tag.prop('outerHTML');


        };

        var getAccreditationInfo = function (row) {

            var output = '';

            var printer_number = 1;

            var config = getPrinterConfig();
            if (config && config.hasOwnProperty('printer_number')) {
                printer_number = parseInt(config['printer_number']) || 1;
            }

            var printer_list = $('<select>').attr({
                'class': 'form-control form-control-sm printer-number-' + row['code'],
                'data-toggle': 'tooltip',
                'data-placement': 'bottom',
                'title': 'Número da impressora',
                'style': 'display:none',
                'onchange': 'savePrinterConfig(' + ACCREDITATION_SERVICE_ID + ', $(this).val());$(\'.list-printer-number\').text($(this).val());'
            });

            for (var a = 1; a <= 15; a++) {
                var o = $('<option>').attr('value', a).text(a);
                if (a === printer_number) {
                    o.attr('selected', true);
                }
                printer_list.append(o);
            }

            if (row['accredited'] === false) {

                output += '<div>';
                output += '<button class="btn btn-sm btn-block btn-success"' +
                    ' data-pk="' + row['pk'] + '"' +
                    ' data-person_name="' + row['person_name'] + '"' +
                    ' data-lot_name="' + row['lot_name'] + '"' +
                    ' data-category_name="' + row['category_name'] + '"' +
                    ' data-person_email="' + row['person_email'] + '"' +
                    ' data-event_count="' + row['event_count'] + '"' +
                    ' data-code="' + row['code'] + '"' +
                    ' data-status="' + row['status'] + '"' +
                    ' onclick="registerAccreditation($(this))">Registrar</button>';


                if (priting_webhook_url) {
                    output += '<button class="btn btn-sm btn-block btn-success btn-trans"' +
                        ' data-pk="' + row['pk'] + '"' +
                        ' data-person_name="' + row['person_name'] + '"' +
                        ' data-lot_name="' + row['lot_name'] + '"' +
                        ' data-category_name="' + row['category_name'] + '"' +
                        ' data-person_email="' + row['person_email'] + '"' +
                        ' data-event_count="' + row['event_count'] + '"' +
                        ' data-code="' + row['code'] + '"' +
                        ' data-status="' + row['status'] + '"' +
                        ' onclick="registerAccreditation($(this), true)">Registrar e imprimir</button>';
                }
                output += '</div>';

                if (priting_webhook_url) {
                    output += '<div class="text-center">';
                    output += '<a href="javascript:void(0)" onclick="$(this).hide();$(\'.printer-number-' + row['code'] + '\').show();">';
                    output += '<div style="margin-top:10px;"></div>';
                    output += '<strong class="list-printer-number" data-toggle="tooltip" data-placement="bottom" title="Número da impressora" style="border:1px solid lightgray;padding:6px;border-radius:2px">' + printer_number + '</strong>';
                    output += '</a>';
                    output += printer_list.prop('outerHTML');
                    output += '</div>';
                }

                return output;
            }

            if (row['accredited_on']) {

                var date = new Date(row['accredited_on']);

                output += '<div>';
                output += '<span class="text-bold">Data:</span> ';
                output += date.toLocaleDateString() + ' ' + date.toLocaleTimeString();
                output += '</div>';

                if (ACCREDITATION_SERVICE_ID && priting_webhook_url) {
                    output += '<hr />';
                }
            }

            if (ACCREDITATION_SERVICE_ID && priting_webhook_url) {
                output += '<div>';
                output += '<div class="float-left" style="margin-left:69px">';
                output += '<a href="javascript:void(0)" data-toggle="tooltip" data-placement="bottom" title="Reimprimir" onclick="triggerPrintFromButton($(this), \'' + row['pk'] + '\')">';
                output += '<i class="fas fa-print fa-2x"></i>';
                output += '</a>';
                output += '<i class="fas fa-spinner fa-spin fa-2x" style="display:none"></i>';
                output += '&ensp;';
                output += '</div>';
                output += '<div class="float-right input-group input-group-sm" style="margin-right:17px;margin-top:4px">';
                output += '<a href="javascript:void(0)" onclick="$(this).hide();$(\'.printer-number-' + row['code'] + '\').show()">';
                output += '<strong class="list-printer-number" data-toggle="tooltip" data-placement="bottom" title="Número da impressora" style="border:1px solid lightgray;padding:6px;border-radius:2px">' + printer_number + '</strong>';
                output += '</a>';
                output += printer_list.prop('outerHTML');
                output += '</div>';
                output += '<div class="clearfix"></div>';
                output += '</div>';
            }

            output += '<hr />';
            output += '<div>';
            output += '<button class="btn btn-sm btn-block btn-danger btn-trans"' +
                ' data-pk="' + row['pk'] + '"' +
                ' data-person_name="' + row['person_name'] + '"' +
                ' data-lot_name="' + row['lot_name'] + '"' +
                ' data-category_name="' + row['category_name'] + '"' +
                ' data-person_email="' + row['person_email'] + '"' +
                ' data-event_count="' + row['event_count'] + '"' +
                ' data-code="' + row['code'] + '"' +
                ' data-status="' + row['status'] + '"' +
                ' onclick="unregisterAccreditation($(this), true)">Cancelar</button>';
            output += '</div>';

            return output;
        };

        var loadAccreditationContent = function (data) {
            if (!ACCREDITATION_SERVICE_ID) {
                return '-';
            }

            var a;
            var icon = $('<span>').addClass('fas fa-2x');
            if (data['accredited'] === false) {
                icon.addClass('fa-minus-circle').css('color', 'gray');
                icon.attr({
                    'data-toggle': 'tooltip',
                    'title': 'Não credenciado'
                });

                a = $('<a>').attr({
                    'href': 'javascript:void(0)',
                    'data-toggle': 'popover',
                    'data-placement': 'bottom',
                    'title': 'Credenciamento',
                    'data-content': getAccreditationInfo(data)
                });

                a.addClass('not-accredited');
                a.append(icon);

                return a.prop('outerHTML');
            }

            icon.addClass('fa-check-circle').css('color', 'green');
            icon.attr({
                'data-toggle': 'tooltip',
                'title': 'Credenciado'
            });

            a = $('<a>').attr({
                'href': 'javascript:void(0)',
                'data-toggle': 'popover',
                'data-placement': 'bottom',
                'title': 'Credenciamento',
                'data-content': getAccreditationInfo(data)
            });
            a.addClass('accredited');
            a.append(icon);

            return a.prop('outerHTML');
        };

        var openExportModal = function () {
            $('#export-modal').modal('show');
            asyncExport(true);
        };

        var asyncExport = function (create) {

            var modalEl = $('#export-modal');

            var promise = asyncExporterPromise(create);

            promise.then(function (value) {

                if (value === 201 || value === 204) {
                    setTimeout(function () {
                        asyncExport(false);
                    }, 5000);
                } else if (value === 200) {
                    modalEl.modal('hide');
                    window.location.href = '/api/events/{{ event.pk }}/subscriptions/export/';
                }

            }).catch(function (reason, value) {

                if (typeof(value) !== 'undefined') {
                    if (value === 403) {
                        asyncExport(false);
                    } else {
                        console.error("Status code: " + value);
                        console.error(reason);
                    }
                }


            });

        };


        var asyncExporterPromise = function (create) {

            return new Promise(function (resolve, reject) {

                var defaultArgs = {
                    url: '/api/events/{{ event.pk }}/subscriptions/export/',
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
                    },
                    success: function (data, textStatus, xhr) {
                        console.log("SUCCESS STATUS CODE IS: " + xhr.status);
                        resolve(xhr.status);
                    },
                    error: function (xhr, textStatus, errThrown) {
                        reject(errThrown, xhr.status);
                    }
                };

                if (create) {
                    defaultArgs.type = "POST"
                } else {
                    defaultArgs.type = "GET"
                }
                $.ajax(defaultArgs);
            });

        };


        $(document).ready(function () {
            customCheckbox();

            var lots = {% jsonify lots %};

            var url = '{% url 'api:subscription:subscription-list-api' event.pk %}';

            var table = $('#subscription_table').DataTable({
                "processing": true,
                "serverSide": true,
                "lengthMenu": [[10, 25, 50, 100, -1], [10, 25, 50, 100, "All"]],
                "pageLength": 10,
                "searchDelay": 500,
                "ajax": function (data, callback, settings) {

                    var tag_group = $('#tag_group_filter option:selected').val();
                    var category = $('#category_filter option:selected').val();
                    var lot = $('#lot_filter option:selected').val();


                    var payload = {
                        limit: data.length,
                        offset: data.start,
                        filter_by: settings.aaSorting[0][0],
                        dir: settings.aaSorting[0][1],
                        search: data.search['value']
                    };


                    if (tag_group !== "---") {
                        payload['tag_group'] = tag_group
                    }

                    if (category !== "---") {
                        payload['category'] = category
                    }

                    if (lot !== "---") {
                        payload['lot'] = lot
                    }


                    $.ajax({
                        url: url,
                        data: payload,
                        success: function (res) {
                            callback(res);
                        }
                    });


                },
                "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {

                    if (aData['category_name']) {
                        $("td:eq(3)", nRow).attr("data-toggle", "tooltip").attr("title", aData['category_name']);
                    }

                },
                "drawCallback": function (settings) {
                    $('.accredited').popover({'html': true});
                    $('.not-accredited').popover({'html': true});
                },
                // constract columns
                columns: [
                    {
                        data: 'person_name', "render": function (data, type, row, meta) {
                            var statusBall = get_status_el(data, row);
                            var nameWithLink = get_name_as_link_el(data, row);
                            var dateCreated = get_date_el(row);
                            var institution = get_institution_el(row);
                            var testBage = get_test_badge_el(row);
                            var badge = get_origin_badge_el(row);
                            var code = get_code_badge_el(row);

                            return statusBall
                                + '&nbsp;'
                                + nameWithLink
                                + testBage
                                + badge
                                + code
                                + institution
                                + dateCreated;
                        }
                    },
                    {
                        data: 'code', "render": function (data, type, row, meta) {


                            var hidden = get_hidden_person(row);

                            return data + hidden
                        }
                    },
                    {% if event.feature_configuration.feature_checkin is True and event.feature_management.checkin is True %}
                        {
                            data: 'accredited', "render": function (data, type, row, meta) {
                                return loadAccreditationContent(row);
                            }
                        },
                    {% endif %}
                    {data: 'lot_name'},
                    {data: 'event_count'},
                    {
                        data: 'link', "render": function (data, type, row, meta) {
                            return get_dropdown_btn(row);

                        }
                    }
                ],
                "language": {
                    sEmptyTable: "Nenhum registro encontrado",
                    sInfo: "Mostrando de _START_ até _END_ de _TOTAL_ registros",
                    sInfoEmpty: "Mostrando 0 até 0 de 0 registros",
                    sInfoFiltered: "(Filtrados de _MAX_ registros)",
                    sInfoPostFix: "",
                    sInfoThousands: ".",
                    sLengthMenu: "_MENU_ resultados por página",
                    sLoadingRecords: "Carregando...",
                    sProcessing: "Processando...",
                    sZeroRecords: "Nenhum registro encontrado",
                    sSearch: "Pesquisar",
                    oPaginate: {
                        sNext: "Próximo",
                        sPrevious: "Anterior",
                        sFirst: "Primeiro",
                        sLast: "Último"
                    },
                    oAria: {
                        sSortAscending: ": Ordenar colunas de forma ascendente",
                        sSortDescending: ": Ordenar colunas de forma descendente"
                    }
                },
                "columnDefs": [
                    // Disable sort in first, last column
                    {
                        "searchable": false,
                        "orderable": false,
                        "targets": [-1]
                    },
                    {
                        "targets": 1,
                        "orderable": false
                    },
                    {
                        "targets": 2,
                        "orderable": false,
                        "class": "text-center"
                    },
                    {% if event.feature_configuration.feature_checkin is True and event.feature_management.checkin is True %}
                        {
                            "targets": 4,
                            "orderable": true,
                            "class": "text-center"
                        },
                        {
                            "targets": 5,
                            "orderable": true,
                            "type": 'date-euro'
                        },
                    {% else %}
                        {
                            "targets": 4,
                            "orderable": true,
                            "class": 'text-center',
                            "type": 'date-euro'
                        },
                    {% endif %}
                ],
                // Default order
                "order": [[0, 'asc']],
                responsive: true
            });

            $('#tag_group_filter,#category_filter,#lot_filter').on("change", function () {
                table.ajax.reload();
            });

            $('#category_filter').on("change", function () {

                var select = $("#lot_filter");

                select.empty()
                    .append('<option selected>---</option>');

                var id = $(this).val();

                if (lots.hasOwnProperty(id)) {

                    Object.keys(lots[id]).forEach(function (k) {
                        select.append($("<option>").val(k).html(lots[id][k]));
                    });

                } else {
                    console.log('Nenhum lote.')
                }
            });
        });

    </script>
{% endblock %}

{% block content %}


    <i id="confirmed" class="fa fa-circle" data-toggle="tooltip" data-placement="right"
       style="color:#5cb85c; display: none;"
       data-original-title="Status: confirmado" aria-hidden="true"></i>

    <i id="awaiting" class="fa fa-circle"
       data-toggle="tooltip"
       data-placement="right"
       data-original-title="Status: pendente"
       aria-hidden="true"
       style="color: #f0ad4e;display: none;"></i>
    <i id="canceled" class="fa fa-circle"
       data-toggle="tooltip"
       data-placement="right"
       data-original-title="Status: cancelado"
       aria-hidden="true"
       style="color: #d9534f;display: none;"></i>


    <div id="drop_down_btn" class="btn-group" style="display:none;">
        <button
                type="button"
                class="btn btn-primary btn-trans btn-sm dropdown-toggle"
                data-toggle="dropdown"
                aria-expanded="false">
            <span class="fas fa-cog"></span>
        </button>
        <ul class="dropdown-menu dropdown-menu-right"
            role="menu">
            <li>
                <a id="link">
                    <i class="fa fa-eye"></i>
                    Visualizar
                </a>
            </li>
            {% if event.allow_internal_subscription %}
                <li>
                    <a id="edit_link">
                        <i class="fas fa-pencil-alt"></i>
                        Editar
                    </a>
                </li>
            {% endif %}

            <li>
                <a id="voucher_link" style="display: none">
                    <i class="fas fa-file-pdf"></i>
                    Voucher
                </a>
            </li>

        </ul>
    </div>



    <div class="row">
        <div class="col-md-12">
            <div class="buttonbar">
                <div class="float-left">
                    <button type="button" id="export_btn"
                            class="btn btn-primary {% if not has_subs %}disabled{% endif %}"
                            onclick="openExportModal();">
                        <i class="fa fa-download"></i>
                        Exportar
                    </button>
                </div>

                <div class="float-right">
                    {% if event.feature_configuration.feature_import_via_csv %}
                        <a href="{% url 'importer:csv-list' event.pk %}"
                           class="btn btn-primary">
                            <i class="fas fa-file-excel"></i>
                            Importar via CSV
                        </a>
                    {% endif %}
                    {% if event.feature_configuration.feature_internal_subscription %}
                        <a role="button" class="btn btn-success"
                           href="{% url 'subscription:subscription-add' event.pk %}">
                            <i class="fa fa-plus"></i>
                            Nova inscrição
                        </a>
                    {% endif %}
                </div>

                <div class="clearfix"></div>
            </div>
        </div>
    </div>

    {% if has_filter %}
        <div class="row tooltip-wrapper">

            <div class="col-md-12">

                <div class="panel panel-primary">

                    <div class="panel-body">


                        <div class="col-md-12">

                            <div>

                                <span style="font-weight: bold; font-size: 17px">Filtros:</span>

                                <form class="form">
                                    <div class="form-group row">

                                        {% if group_tags|length > 0 %}



                                            <div class="col-xs-3">
                                                <label class="control-label" for="tag_group_filter">
                                                    Tag de Agrupador:
                                                </label>
                                                <select class="form-control input-sm" id="tag_group_filter">
                                                    <option selected>---</option>
                                                    {% for tag in group_tags %}
                                                        <option value="{{ tag }}">{{ tag }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>



                                        {% endif %}


                                        {% if categories|length > 0 %}



                                            <div class="col-xs-3">

                                                <label class="control-label" for="category_filter">
                                                    Categorias:
                                                </label>
                                                <select class="form-control input-sm" id="category_filter">
                                                    <option selected>---</option>
                                                    {% for category_name, category_pk in categories.items %}
                                                        <option value="{{ category_pk }}">{{ category_name }}</option>
                                                    {% endfor %}
                                                </select>

                                            </div>


                                            <div class="col-xs-3">

                                                <label for="lot_filter" class="control-label">Lotes:</label>
                                                <select class="form-control input-sm" id="lot_filter">
                                                    <option selected>---</option>
                                                </select>

                                            </div>



                                        {% endif %}


                                    </div>

                                </form>

                            </div>

                        </div>


                    </div>

                </div>

            </div>

        </div>
    {% endif %}


    <div class="row tooltip-wrapper">

        <div class="col-md-12">

            <div class="panel panel-primary">

                <div class="panel-body">

                    <div class="col-md-12">

                        <table id="subscription_table"
                               class="table table-striped table-bordered"
                               cellspacing="0">

                            <thead>

                            <tr>

                                <th>Nome do Participante</th>

                                <th width="10%">Código</th>
                                {% if event.feature_configuration.feature_checkin is True and event.feature_management.checkin is True %}
                                    <th width="10%">Credenciado</th>
                                {% endif %}

                                <th width="18%">Lote</th>

                                <th width="10%" class="text-center"># Insc.</th>

                                <th class="text-center" width="5%"></th>

                            </tr>

                            </thead>
                        </table>

                    </div>


                </div>

            </div>

        </div>

    </div>

{% endblock %}

{% block modals %}

    <div class="modal fade" id="export-modal" tabindex="-1" role="dialog"
         aria-labelledby="modal-service-delete-title" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="modal-service-delete-title">
                        Exportar
                    </h4>
                </div>
                <div class="modal-body">

                    <div class="row text-center">
                        <h3 class="text-bold">Estamos gerando seu arquivo, por gentileza aguarde...</h3>
                    </div>

                    <div class="row text-center" style="margin-top: 10px">
                        <i class="fas fa-circle-notch info-color fa-spin fa-4x"></i>
                    </div>

                    <div class="row text-center" style="margin-top: 15px">

                        <i class="text-mute">
                            Em casos de evento com muitas inscrições pode demorar alguns minutos.
                        </i>


                    </div>

                </div>
            </div>
        </div>
    </div>


{% endblock %}