{% load i18n humanize static base_tags queryset_filter payment_report %}

{% include 'subscription/installment-parts-list.html' %}

<div class="row tooltip-wrapper">
    <div class="col-xl-11 col-lg-11 col-md-12">
        <section class="panel panel-primary" id="report_detail_hidden">
            <div class="panel-heading">
                <h3 class="panel-title">Detalhamentos Financeiros</h3>
            </div>
            <div class="panel-body">
                <div class="table-responsive">

                    {% now "Y-m-d" as today %}
                    {% for lot in financial_report.lots %}
                        <h3 class="text-bold">{{ lot.name }}</h3>
                        <hr/>
                        {% filter_lookup financial_report.debt_amounts lot.pk as debt_items %}
                        {% filter_lookup financial_report.paid_amounts lot.pk as payment_items %}
                        {% filter_lookup financial_report.tax_amounts lot.pk as tax_items %}

                        <table class="table table-hover table-striped table-bordered transaction-list">
                            <thead>
                            <tr>
                                <th width="12%">Data/hora</th>
                                <th>Descrição</th>
                                <th class="text-center" width="2%">
                                    <span class="text-prmary">Tipo</span>
                                </th>
                                <th class="text-center" width="15%">Valor (R$)</th>
                                <th class="text-center hidden-sm hidden-xs" width="2%">
                                    <i style="font-size:30px" class="fas fa-hand-paper"
                                       data-toggle="tooltip"
                                       title="Lançamento manual"
                                    ></i>
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for item in debt_items %}
                            <tr>
                                <td class="table-row text-center">
                                    <span>{{ item.created_on|date:"d/m/Y H\hi" }}</span>
                                </td>
                                <td class="table-row">
                                    <div>
                                        <div class="float-left hidden-sm hidden-xs">
                                            <i style="font-size:30px" class="fas fa-user-edit"></i>
                                        </div>
                                        <div class="float-left" style="margin-left:5px">
                                            <div class="text-bold">{{ item.name }}</div>
                                            <small class="text-muted text-bold">{{ item.description|safe }}</small>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </td>
                                <td class="table-row text-center text-bold">
                                    <span class="text-danger" data-toggle="tooltip" title="Débito">D</span>
                                </td>
                                <td class="table-row text-right">
                                    <span class="text-danger">R$ {{ item.amount|intcomma }}</span>
                                </td>
                                <td class="table-row text-center hidden-sm hidden-xs">-</td>
                            </tr>
                            {% endfor %}

                            {% for item in payment_items %}
                                <tr>
                                    <td class="table-row text-center">
                                        <span>{{ item.created_on|date:"d/m/Y H\hi" }}</span>
                                    </td>
                                    <td class="table-row">
                                        <div>
                                            <div>
                                                {% if item.manual is True %}
                                                    {% if item.manual_type == item.transaction.MANUAL_PAYMENT_MONEY %}
                                                        <div class="float-left hidden-sm hidden-xs">
                                                            <i style="font-size:30px" class="far fa-money-bill-alt"></i>
                                                        </div>
                                                        <div class="float-left" style="margin:5px 0 0 5px">
                                                            <span class="text-bold">Dinheiro</span>
                                                            <small>(manual)</small>
                                                        </div>
                                                        {% if event.feature_configuration.feature_manual_payments %}
                                                            <div class="float-right" style="margin-top:5px">
                                                                <a style="margin-left:10px;" href="javascript:void(0)" onclick="delete_payment('{{ item.transaction.pk }}', '{{ item.amount|intcomma }}')">
                                                                    <i class="fas fa-trash-alt text-danger" data-toggle="tooltip" title="Excluir"></i>
                                                                </a>
                                                            </div>
                                                        {% endif %}
                                                    {% elif item.manual_type == item.transaction.MANUAL_PAYMENT_PAYCHECK %}
                                                        <div class="float-left hidden-sm hidden-xs">
                                                            <i style="font-size:30px" class="fas fa-money-check-alt"></i>
                                                        </div>
                                                        <div class="float-left" style="margin:5px 0 0 5px">
                                                            <span class="text-bold">Cheque</span>
                                                            <small>(manual)</small>
                                                        </div>
                                                        {% if event.feature_configuration.feature_manual_payments %}
                                                            <div class="float-right" style="margin-top:5px">
                                                                <a style="margin-left:10px;" href="javascript:void(0)" onclick="delete_payment('{{ item.transaction.pk }}', '{{ item.transaction.amount|intcomma }}')">
                                                                    <i class="fas fa-trash-alt text-danger" data-toggle="tooltip" title="Excluir"></i>
                                                                </a>
                                                            </div>
                                                        {% endif %}
                                                    {% elif item.manual_type == item.transaction.MANUAL_PAYMENT_DEBIT_CARD %}
                                                        <div class="float-left hidden-sm hidden-xs">
                                                            <i style="font-size:30px" class="far fa-credit-card"></i>
                                                        </div>
                                                        <div class="float-left" style="margin:5px 0 0 5px">
                                                            <span class="text-bold">Cartão de Débito</span>
                                                            <small>(manual)</small>
                                                        </div>
                                                        {% if event.feature_configuration.feature_manual_payments %}
                                                            <div class="float-right" style="margin-top:5px">
                                                                <a style="margin-left:10px;" href="javascript:void(0)" onclick="delete_payment('{{ item.transaction.pk }}', '{{ item.transaction.amount|intcomma }}')">
                                                                    <i class="fas fa-trash-alt text-danger" data-toggle="tooltip" title="Excluir"></i>
                                                                </a>
                                                            </div>
                                                        {% endif %}
                                                    {% elif item.manual_type == item.transaction.MANUAL_PAYMENT_CREDIT_CARD %}
                                                        <div class="float-left hidden-sm hidden-xs">
                                                            <i style="font-size:30px" class="far fa-credit-card"></i>
                                                        </div>
                                                        <div class="float-left" style="margin:5px 0 0 5px">
                                                            <span class="text-bold">Cartão de Crédito</span>
                                                            <small>(manual)</small>
                                                        </div>
                                                        {% if event.feature_configuration.feature_manual_payments %}
                                                            <div class="float-right" style="margin-top:5px">
                                                                <a style="margin-left:10px;" href="javascript:void(0)" onclick="delete_payment('{{ item.transaction.pk }}', '{{ item.transaction.amount|intcomma }}')">
                                                                    <i class="fas fa-trash-alt text-danger" data-toggle="tooltip" title="Excluir"></i>
                                                                </a>
                                                            </div>
                                                        {% endif %}
                                                    {% elif item.manual_type == item.transaction.MANUAL_PAYMENT_BANK_DEPOSIT %}
                                                        <div class="float-left hidden-sm hidden-xs">
                                                            <i style="font-size:30px" class="fas fa-university"></i>
                                                        </div>
                                                        <div class="float-left" style="margin:5px 0 0 5px">
                                                            <span class="text-bold">Depósito</span>
                                                            <small>(manual)</small>
                                                        </div>
                                                        {% if event.feature_configuration.feature_manual_payments %}
                                                            <div class="float-right" style="margin-top:5px">
                                                                <a style="margin-left:10px;" href="javascript:void(0)" onclick="delete_payment('{{ item.transaction.pk }}', '{{ item.transaction.amount|intcomma }}')">
                                                                    <i class="fas fa-trash-alt text-danger" data-toggle="tooltip" title="Excluir"></i>
                                                                </a>
                                                            </div>
                                                        {% endif %}
                                                    {% elif item.manual_type == item.transaction.MANUAL_PAYMENT_BANK_TRANSFER %}
                                                        <div class="float-left hidden-sm hidden-xs">
                                                            <i style="font-size:30px" class="fas fa-exchange-alt"></i>
                                                        </div>
                                                        <div class="float-left" style="margin:5px 0 0 5px">
                                                            <span class="text-bold">Transferência bancária</span>
                                                            <small>(manual)</small>
                                                        </div>
                                                        {% if event.feature_configuration.feature_manual_payments %}
                                                            <div class="float-right" style="margin-top:5px">
                                                                <a style="margin-left:10px;" href="javascript:void(0)" onclick="delete_payment('{{ item.transaction.pk }}', '{{ item.transaction.amount|intcomma }}')">
                                                                    <i class="fas fa-trash-alt text-danger" data-toggle="tooltip" title="Excluir"></i>
                                                                </a>
                                                            </div>
                                                        {% endif %}
                                                    {% elif item.manual_type == item.transaction.MANUAL_WAITING_PAYMENT %}
                                                        <div class="float-left hidden-sm hidden-xs">
                                                            <i style="font-size:30px" class="fas fa-warning"></i>
                                                        </div>
                                                        <div class="float-left" style="margin:5px 0 0 5px">
                                                            <span class="text-bold">Pendente para pagamento</span>
                                                            <small>(manual)</small>
                                                        </div>
                                                        {% if event.feature_configuration.feature_manual_payments %}
                                                            <div class="float-right" style="margin-top:5px">
                                                                <a style="margin-left:10px;" href="javascript:void(0)" onclick="delete_payment('{{ item.transaction.pk }}', '{{ item.transaction.amount|intcomma }}')">
                                                                    <i class="fas fa-trash-alt text-danger" data-toggle="tooltip" title="Excluir"></i>
                                                                </a>
                                                            </div>
                                                        {% endif %}
                                                    {% endif %}
                                                    <div class="clearfix"></div>
                                                    {% if item.transaction.part_id %}
                                                    <div>
                                                        <div>
                                                            <small>
                                                                Parcela relacionada:
                                                                <strong>{{ item.transaction.part.installment_number }}x</strong> -
                                                            </small>
                                                            <small><strong>CONTRATO ID:</strong> {{ item.transaction.part.contract_id }}</small>
                                                            {% if item.transaction.part.contract.status == 'cancelled' %}
                                                                <span class="text-danger"> CANCELADO</span>
                                                            {% endif %}
                                                        </div>
                                                        <small class="text-muted">
                                                            <strong>Criado:</strong> {{ item.transaction.part.contract.created|date:"d/m/Y H\hi" }}
                                                        </small>
                                                    </div>
                                                    {% endif %}
                                                {% else %}
                                                    {% if item.transaction.type == item.transaction.BOLETO %}
                                                        <div class="float-left hidden-sm hidden-xs">
                                                            <i style="font-size:30px" class="fas fa-barcode"></i>
                                                        </div>
                                                        <div class="float-left" style="margin:5px 0 0 5px">
                                                            <span class="text-bold">Boleto</span>
                                                            <small>(on-line)</small>
                                                        </div>
                                                    {% elif item.transaction.type == item.transaction.CREDIT_CARD %}
                                                        <div class="float-left hidden-sm hidden-xs">
                                                            <i style="font-size:30px" class="far fa-credit-card"></i>
                                                        </div>
                                                        <div class="float-left" style="margin-left: 5px">
                                                            <div>
                                                                <span class="text-bold">Cartão de Crédito</span>
                                                                <small>(on-line)</small>
                                                            </div>
                                                            <div>
                                                                {% if item.transaction.credit_card_last_digits %}
                                                                    <small class="text-muted text-bold">
                                                                        *** *** {{ item.transaction.credit_card_last_digits }}
                                                                    </small>
                                                                {% endif %}
                                                                {% if item.transaction.credit_card_holder %}
                                                                    <small class="text-muted text-bold">
                                                                        ({{ item.transaction.credit_card_holder|upper }})
                                                                    </small>
                                                                {% endif %}
                                                            </div>
                                                        </div>
                                                    {% endif %}
                                                {% endif %}
                                                <div class="clearfix"></div>
                                            </div>
                                            {% if item.manual is False and item.transaction.type == item.transaction.BOLETO %}
                                                <div>
                                                    <small class="text-bold">Vencimento:</small>
                                                    <small>{{ item.transaction.boleto_expiration_date }}</small>
                                                </div>
                                            {% endif %}
                                        </div>
                                    </td>
                                    <td class="table-row text-center text-bold">
                                        {% if item.manual is False %}
                                            {% if transaction.type == item.transaction.CREDIT_CARD %}
                                                <div>
                                                    <span class="text-success" data-toggle="tooltip" title="Entrada">C</span>
                                                </div>
                                            {% else %}
                                                <div>
                                                    <span class="text-success" data-toggle="tooltip" title="Entrada">C</span>
                                                </div>
                                            {% endif %}

                                        {% else %}
                                            <div>
                                                <span class="text-success" data-toggle="tooltip" title="Entrada">C</span>
                                            </div>
                                        {% endif %}
                                    </td>
                                    <td class="table-row text-right">
                                        {% if item.manual is False %}
                                            {% if transaction.type == transaction.CREDIT_CARD %}
                                                <div>
                                                    <span class="text-success">R$ {{ item.amount|intcomma }}</span>
                                                </div>
                                            {% else %}
                                                <div>
                                                    <span class="text-success">R$ {{ item.amount|intcomma }}</span>
                                                </div>
                                            {% endif %}
                                        {% else %}
                                        <div>
                                            <span class="text-success">R$ {{ item.amount|intcomma }}</span>
                                        </div>
                                        {% endif %}
                                    </td>
                                    <td class="table-row text-center">
                                        {% if item.manual is True %}
                                            <i style="font-size:30px" class="fas fa-user-circle"
                                               data-toggle="tooltip"
                                               title="<div>Inserido manualmente por</div><div class='text-bold'>por {{ item.manual_author }}</div>"
                                            ></i>
                                        {% else %}
                                            -
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                            {% for item in tax_items %}
                            <tr>
                                <td class="table-row text-center">
                                    <span>{{ item.created_on|date:"d/m/Y H\hi" }}</span>
                                </td>
                                <td class="table-row">
                                    <div>
                                        <div class="float-left hidden-sm hidden-xs">
                                            <i style="font-size:30px" class="fas fa-user-edit"></i>
                                        </div>
                                        <div class="float-left" style="margin-left:5px">
                                            <div class="text-bold">{{ item.name }}</div>
                                            <small class="text-muted text-bold">{{ item.description|safe }}</small>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </td>
                                <td class="table-row text-center text-bold">
                                    <span class="text-danger" data-toggle="tooltip" title="Débito">D</span>
                                </td>
                                <td class="table-row text-right">
                                    <span class="text-danger">R$ {{ item.amount|intcomma }}</span>
                                </td>
                                <td class="table-row text-center hidden-sm hidden-xs">-</td>
                            </tr>
                            {% endfor %}
                            </tbody>
                            <tfoot>
                            <tr>
                                <td colspan="3" class="table-row text-right text-bold" style="color:#FFF;background-color: #9e9e9e">TOTAL</td>
                                <td class="text-right text-bold">
                                    {% if financial_report.cash_amount < 0 %}
                                        <span class="text-bold text-danger">R$ {{ financial_report.cash_amount|intcomma }}</span>
                                    {% elif financial_report.cash_amount > 0 %}
                                        <span class="text-bold text-success">R$ {{ financial_report.cash_amount|intcomma }}</span>
                                    {% elif financial_report.cash_amount == 0 %}
                                        <span class="text-bold">R$ {{ financial_report.cash_amount|intcomma }}</span>
                                    {% endif %}
                                </td>
                                <td colspan="2" class="table-row text-center">
                                    {% if financial_report.cash_amount < 0 %}
                                        <i class="fas fa-exclamation-triangle text-warning animated shake"
                                           data-toggle="tooltip"
                                           title="Participante com pendências."
                                        ></i>
                                    {% elif financial_report.cash_amount > 0 %}
                                        <i class="fas fa-exclamation-triangle text-warning animated shake"
                                           data-toggle="tooltip"
                                           title="Participante com valor em ver com o evento."
                                        ></i>
                                    {% elif financial_report.cash_amount == 0 %}
                                        <i class="fas fa-check text-success"
                                           data-toggle="tooltip"
                                           title="Participante sem pendências."
                                        ></i>
                                    {% endif %}
                                </td>
                            </tr>
                            </tfoot>
                        </table>
                    {% endfor %}
                </div>
            </div>
        </section>
    </div>
</div>