{% load i18n humanize static base_tags queryset_filter payment_report %}

<div class="row tooltip-wrapper">
    <div class="col-xl-11 col-lg-11 col-md-12">
        <section class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Situação Financeira</h3>
            </div>
            <div class="panel-body">
                <div class="table-responsive">

                    <table class="table table-hover table-striped table-bordered transaction-list">
                        <thead>
                        <tr>
                            <th class="text-center" width="3%">#</th>
                            <th>Categoria/Lote</th>
                            <th>Descrição</th>
                            <th class="text-center" width="15%">Valor (R$)</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for lot_pk, lot in lots.items %}
                            <tr>
                                <td class="table-row text-center">{{ forloop.counter }}</td>
                                <td class="table-row">
                                    <div class="text-bold">{{ lot.name }}</div>
                                    <div>
                                        <span>Categoria:</span>
                                        <span class="text-bold">{{ lot.name }}</span>
                                    </div>
                                </td>
                                <td class="table-row">
                                    <div>
                                        <div class="float-left hidden-sm hidden-xs">
                                            <i style="font-size:30px" class="fas fa-user-edit"
                                               data-toggle="tooltip"
                                               title="Inscrição: {{ object.code }}"
                                            ></i>
                                        </div>
                                        <div class="float-left" style="margin-left:5px">
                                            <div class="text-bold">Inscrição</div>
                                            <small class="text-muted text-bold">{{ object.code }}</small>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </td>
                                <td class="table-row text-right">
                                    {% filter_lookup full_prices lot.pk as full_price %}
                                    {% if full_price < 0 %}
                                        <span class="text-danger">R$ {{ full_price|intcomma }}</span>
                                    {% elif full_price > 0 %}
                                        <span class="text-success">R$ {{ full_price|intcomma }}</span>
                                    {% elif full_price == 0 %}
                                        <span>R$ {{ full_price|intcomma }}</span>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                        <tfoot>
                        <tr>
                            <td colspan="3" class="table-row text-right text-bold" style="color:#FFF;background-color: #9e9e9e">VALOR DEVIDO:</td>
                            <td class="text-right text-bold">
                                {% if dividend_amount < 0 %}
                                    <span class="text-danger">R$ {{ dividend_amount|intcomma }}</span>
                                    <i class="fas fa-exclamation-triangle text-warning animated shake" style="margin-left:20px"
                                       data-toggle="tooltip"
                                       title="Participante com dívidas."
                                    ></i>
                                {% elif dividend_amount > 0 %}
                                    <span class="text-success">R$ {{ dividend_amount|intcomma }}</span>
                                    <i class="fas fa-exclamation-triangle text-warning animated shake" style="margin-left:20px"
                                       data-toggle="tooltip"
                                       title="Participante com valor em ver com o evento."
                                    ></i>
                                {% elif dividend_amount == 0 %}
                                    <span class="text-bold">R$ {{ dividend_amount|intcomma }}</span>
                                    <i class="fas fa-check text-success" style="margin-left:20px"
                                       data-toggle="tooltip"
                                       title="Participante sem dívidas."
                                    ></i>
                                {% endif %}
                            </td>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </section>
    </div>
</div>
<div class="row tooltip-wrapper">
    <div class="col-xl-11 col-lg-11 col-md-12">
        <section class="panel" id="report_detail_visible" {% if show_details %}style="display: none"{% endif %}>
            <div class="panel-heading">
                <h3 class="panel-title">
                    Detalhamentos Financeiros <a href="javascript:void(0)"
                                                 onclick="$(this).parent().parent().parent().hide();$('#report_detail_hidden').show();"
                                                 style="padding:0;margin:0;font-size:10px;text-transform: lowercase">(mostrar)</a>
                </h3>
            </div>
        </section>
        <section class="panel panel-primary" id="report_detail_hidden" {% if not show_details %}style="display: none"{% endif %}>
            <div class="panel-heading">
                <h3 class="panel-title">
                    Detalhamentos Financeiros <a href="javascript:void(0)"
                                                 onclick="$(this).parent().parent().parent().hide();$('#report_detail_visible').show();"
                                                 style="padding:0;margin:0;font-size:10px;text-transform: lowercase">(esconder)</a>
                </h3>
            </div>
            <div class="panel-body">
                <div class="table-responsive">

                    {% now "Y-m-d" as today %}
                    {% for lot_pk, lot in lots.items %}
                        {% filter_lookup transactions lot.pk as lot_transactions %}
                        {% filter_lookup has_manual lot.pk as has_manual %}

                        <h3 class="text-bold">{{ lot.name }}</h3>
                        {% if lot.category %}
                            <div style="font-size:14px">
                                <strong class="text-muted">Categoria:</strong> {{ lot.category.name }}
                            </div>
                        {% endif %}
                        <hr/>

                        <table class="table table-hover table-striped table-bordered transaction-list">
                            <thead>
                            <tr>
                                <th class="text-center hidden-sm hidden-xs" width="3%">#</th>
                                <th width="12%">Data/hora</th>
                                <th>Descrição</th>
                                <th class="text-center" width="2%">
                                    <span class="text-prmary">Tipo</span>
                                </th>
                                <th class="text-center" width="15%">Valor (R$)</th>
                                <th width="15%">Status</th>
                                <th class="text-center" width="2%">
                                    <i style="font-size:30px" class="fas fa-hand-paper"
                                       data-toggle="tooltip"
                                       title="Lançamento manual"
                                    ></i>
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td class="table-row text-center">1</td>
                                <td class="table-row text-center">
                                    <span>{{ object.created|date:"d/m/Y H\hi" }}</span>
                                </td>
                                <td class="table-row">
                                    <div>
                                        <div class="float-left hidden-sm hidden-xs">
                                            <i style="font-size:30px" class="fas fa-user-edit"
                                               data-toggle="tooltip"
                                               title="Inscrição: {{ object.code }}"
                                            ></i>
                                        </div>
                                        <div class="float-left" style="margin-left:5px">
                                            <div class="text-bold">Inscrição</div>
                                            <small class="text-muted text-bold">{{ object.code }}</small>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </td>
                                <td class="table-row text-center text-bold">
                                    <span class="text-danger" data-toggle="tooltip" title="Débito">D</span>
                                </td>
                                <td class="table-row text-right">
                                    <span class="text-danger">R$ {{ lot.get_calculated_price|intcomma }}</span>
                                </td>
                                <td class="table-row">
                                    <span>Pendente</span>
                                </td>
                                <td class="table-row text-center">-</td>
                            </tr>

                            {% filter_lookup installments lot.pk as installment %}
                            {% if installment %}
                                <tr>
                                    <td class="table-row text-center">2</td>
                                    <td class="table-row text-center">
                                        <span>{{ object.created|date:"d/m/Y H\hi" }}</span>
                                    </td>
                                    <td class="table-row">
                                        <div>
                                            <div class="float-left hidden-sm hidden-xs">
                                                <i style="font-size:30px" class="fas fa-percentage"></i>
                                            </div>
                                            <div class="float-left" style="margin-left:5px">
                                                <div class="text-bold">Taxas de Parcelamento</div>
                                                <small class="text-muted text-bold">{{ installment.num }}x R$ {{ installment.amount|intcomma }}</small>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                    </td>
                                    <td class="table-row text-center text-bold">
                                        <span class="text-bold" data-toggle="tooltip" title="Débito">D</span>
                                    </td>
                                    <td class="table-row text-right">
                                        <span class="text-danger">R$ {{ installment.interests_amount|intcomma }}</span>
                                    </td>
                                    <td class="table-row">
                                        <span>Pendente</span>
                                    </td>
                                    <td class="table-row text-center">-</td>
                                </tr>
                            {% endif %}

                            {% for transaction in lot_transactions %}
                                <tr>
                                    <td class="table-row text-center">
                                        {% if installment %}{{ forloop.counter|add:2 }}{% else %}{{ forloop.counter|add:2 }}{% endif %}</td>
                                    <td class="table-row text-center">
                                        <span>{{ transaction.date_created|date:"d/m/Y H\hi" }}</span>
                                    </td>
                                    <td class="table-row">
                                        <div>
                                            <div>
                                                {% if transaction.manual is True %}
                                                    {% if transaction.manual_payment_type == transaction.MANUAL_PAYMENT_MONEY %}
                                                        <div class="float-left hidden-sm hidden-xs">
                                                            <i style="font-size:30px" class="far fa-money-bill-alt"></i>
                                                        </div>
                                                        <div class="float-left" style="margin:5px 0 0 5px">
                                                            <span class="text-bold">Dinheiro</span>
                                                            <small>(manual)</small>
                                                        </div>
                                                        {% if event.feature_configuration.feature_manual_payments %}
                                                            <div class="float-right" style="margin-top:5px">
                                                                <a href="javascript:void(0)" onclick="edit_payment('{{ transaction.pk }}', '{{ transaction.manual_payment_type }}', '{{ transaction.amount|intcomma }}')">
                                                                    <i class="fas fa-pencil-alt" data-toggle="tooltip" title="Editar"></i>
                                                                </a>
                                                                <a style="margin-left:10px;" href="javascript:void(0)" onclick="delete_payment('{{ transaction.pk }}', '{{ transaction.amount|intcomma }}')">
                                                                    <i class="fas fa-trash-alt text-danger" data-toggle="tooltip" title="Excluir"></i>
                                                                </a>
                                                            </div>
                                                        {% endif %}
                                                    {% elif transaction.manual_payment_type == transaction.MANUAL_PAYMENT_PAYCHECK %}
                                                        <div class="float-left hidden-sm hidden-xs">
                                                            <i style="font-size:30px" class="fas fa-money-check-alt"></i>
                                                        </div>
                                                        <div class="float-left" style="margin:5px 0 0 5px">
                                                            <span class="text-bold">Cheque</span>
                                                            <small>(manual)</small>
                                                        </div>
                                                        {% if event.feature_configuration.feature_manual_payments %}
                                                            <div class="float-right" style="margin-top:5px">
                                                                <a href="javascript:void(0)" onclick="edit_payment('{{ transaction.pk }}', '{{ transaction.manual_payment_type }}', '{{ transaction.amount|intcomma }}')">
                                                                    <i class="fas fa-pencil-alt" data-toggle="tooltip" title="Editar"></i>
                                                                </a>
                                                                <a style="margin-left:10px;" href="javascript:void(0)" onclick="delete_payment('{{ transaction.pk }}', '{{ transaction.amount|intcomma }}')">
                                                                    <i class="fas fa-trash-alt text-danger" data-toggle="tooltip" title="Excluir"></i>
                                                                </a>
                                                            </div>
                                                        {% endif %}
                                                    {% elif transaction.manual_payment_type == transaction.MANUAL_PAYMENT_DEBIT_CARD %}
                                                        <div class="float-left hidden-sm hidden-xs">
                                                            <i style="font-size:30px" class="far fa-credit-card"></i>
                                                        </div>
                                                        <div class="float-left" style="margin:5px 0 0 5px">
                                                            <span class="text-bold">Cartão de Débito</span>
                                                            <small>(manual)</small>
                                                        </div>
                                                        {% if event.feature_configuration.feature_manual_payments %}
                                                            <div class="float-right" style="margin-top:5px">
                                                                <a href="javascript:void(0)" onclick="edit_payment('{{ transaction.pk }}', '{{ transaction.manual_payment_type }}', '{{ transaction.amount|intcomma }}')">
                                                                    <i class="fas fa-pencil-alt" data-toggle="tooltip" title="Editar"></i>
                                                                </a>
                                                                <a style="margin-left:10px;" href="javascript:void(0)" onclick="delete_payment('{{ transaction.pk }}', '{{ transaction.amount|intcomma }}')">
                                                                    <i class="fas fa-trash-alt text-danger" data-toggle="tooltip" title="Excluir"></i>
                                                                </a>
                                                            </div>
                                                        {% endif %}
                                                    {% elif transaction.manual_payment_type == transaction.MANUAL_PAYMENT_CREDIT_CARD %}
                                                        <div class="float-left hidden-sm hidden-xs">
                                                            <i style="font-size:30px" class="far fa-credit-card"></i>
                                                        </div>
                                                        <div class="float-left" style="margin:5px 0 0 5px">
                                                            <span class="text-bold">Cartão de Crédito</span>
                                                            <small>(manual)</small>
                                                        </div>
                                                        {% if event.feature_configuration.feature_manual_payments %}
                                                            <div class="float-right" style="margin-top:5px">
                                                                <a href="javascript:void(0)" onclick="edit_payment('{{ transaction.pk }}', '{{ transaction.manual_payment_type }}', '{{ transaction.amount|intcomma }}')">
                                                                    <i class="fas fa-pencil-alt" data-toggle="tooltip" title="Editar"></i>
                                                                </a>
                                                                <a style="margin-left:10px;" href="javascript:void(0)" onclick="delete_payment('{{ transaction.pk }}', '{{ transaction.amount|intcomma }}')">
                                                                    <i class="fas fa-trash-alt text-danger" data-toggle="tooltip" title="Excluir"></i>
                                                                </a>
                                                            </div>
                                                        {% endif %}
                                                    {% elif transaction.manual_payment_type == transaction.MANUAL_PAYMENT_BANK_DEPOSIT %}
                                                        <div class="float-left hidden-sm hidden-xs">
                                                            <i style="font-size:30px" class="fas fa-university"></i>
                                                        </div>
                                                        <div class="float-left" style="margin:5px 0 0 5px">
                                                            <span class="text-bold">Depósito</span>
                                                            <small>(manual)</small>
                                                        </div>
                                                        {% if event.feature_configuration.feature_manual_payments %}
                                                            <div class="float-right" style="margin-top:5px">
                                                                <a href="javascript:void(0)" onclick="edit_payment('{{ transaction.pk }}', '{{ transaction.manual_payment_type }}', '{{ transaction.amount|intcomma }}')">
                                                                    <i class="fas fa-pencil-alt" data-toggle="tooltip" title="Editar"></i>
                                                                </a>
                                                                <a style="margin-left:10px;" href="javascript:void(0)" onclick="delete_payment('{{ transaction.pk }}', '{{ transaction.amount|intcomma }}')">
                                                                    <i class="fas fa-trash-alt text-danger" data-toggle="tooltip" title="Excluir"></i>
                                                                </a>
                                                            </div>
                                                        {% endif %}
                                                    {% elif transaction.manual_payment_type == transaction.MANUAL_PAYMENT_BANK_TRANSFER %}
                                                        <div class="float-left hidden-sm hidden-xs">
                                                            <i style="font-size:30px" class="fas fa-exchange-alt"></i>
                                                        </div>
                                                        <div class="float-left" style="margin:5px 0 0 5px">
                                                            <span class="text-bold">Transferência bancária</span>
                                                            <small>(manual)</small>
                                                        </div>
                                                        {% if event.feature_configuration.feature_manual_payments %}
                                                            <div class="float-right" style="margin-top:5px">
                                                                <a href="javascript:void(0)" onclick="edit_payment('{{ transaction.pk }}', '{{ transaction.manual_payment_type }}', '{{ transaction.amount|intcomma }}')">
                                                                    <i class="fas fa-pencil-alt" data-toggle="tooltip" title="Editar"></i>
                                                                </a>
                                                                <a style="margin-left:10px;" href="javascript:void(0)" onclick="delete_payment('{{ transaction.pk }}', '{{ transaction.amount|intcomma }}')">
                                                                    <i class="fas fa-trash-alt text-danger" data-toggle="tooltip" title="Excluir"></i>
                                                                </a>
                                                            </div>
                                                        {% endif %}
                                                    {% endif %}
                                                {% else %}
                                                    {% if transaction.type == transaction.BOLETO %}
                                                        <div class="float-left hidden-sm hidden-xs">
                                                            <i style="font-size:30px" class="fas fa-barcode"></i>
                                                        </div>
                                                        <div class="float-left" style="margin:5px 0 0 5px">
                                                            <span class="text-bold">Boleto</span>
                                                            <small>(on-line)</small>
                                                        </div>
                                                    {% elif transaction.type == transaction.CREDIT_CARD %}
                                                        <div class="float-left hidden-sm hidden-xs">
                                                            <i style="font-size:30px" class="far fa-credit-card"></i>
                                                        </div>
                                                        <div class="float-left" style="margin-left: 5px">
                                                            <div>
                                                                <span class="text-bold">Cartão de Crédito</span>
                                                                <small>(on-line)</small>
                                                            </div>
                                                            <div>
                                                                {% if transaction.credit_card_last_digits %}
                                                                    <small class="text-muted text-bold">
                                                                        *** {{ transaction.credit_card_last_digits }}
                                                                    </small>
                                                                {% endif %}
                                                                {% if transaction.credit_card_holder %}
                                                                    <small class="text-muted text-bold">
                                                                        ({{ transaction.credit_card_holder|upper }})
                                                                    </small>
                                                                {% endif %}
                                                            </div>
                                                        </div>
                                                    {% endif %}
                                                {% endif %}
                                                <div class="clearfix"></div>
                                            </div>
                                            {% if transaction.manual is False and transaction.type == transaction.BOLETO %}
                                                <div>
                                                    <small class="text-bold">Vencimento:</small>
                                                    <small>{{ transaction.boleto_expiration_date }}</small>
                                                    {% if transaction.status != transaction.PAID and today > transaction.boleto_expiration_date|date:'Y-m-d' %}
                                                        <small class="text-bold text-danger">(vencido)</small>
                                                    {% endif %}
                                                </div>
                                            {% endif %}
                                        </div>
                                    </td>
                                    <td class="table-row text-center text-bold {% if transaction.status != transaction.PAID and today > transaction.boleto_expiration_date|date:'Y-m-d' %}cancelled{% endif %}" data-toggle="tooltip" title="Crédito">
                                        {% if transaction.status == transaction.PAID %}
                                            <span class="text-success">C</span>
                                        {% else %}
                                            <span class="text-default">C</span>
                                        {% endif %}
                                    </td>
                                    <td class="table-row text-right {% if transaction.status != transaction.PAID and today > transaction.boleto_expiration_date|date:'Y-m-d' %}cancelled{% endif %}">
                                        {% if transaction.status == transaction.PAID %}
                                            <span class="text-success">R$ {{ transaction.amount|intcomma }}</span>
                                        {% else %}
                                            <span class="text-default">R$ {{ transaction.amount|intcomma }}</span>
                                        {% endif %}
                                    </td>
                                    <td class="table-row {% if transaction.status != transaction.PAID and today > transaction.boleto_expiration_date|date:'Y-m-d' %}cancelled{% endif %}">
                                        {% if transaction.status == transaction.PAID %}
                                            <span class="text-success">{{ transaction.get_status_display }}</span>
                                        {% else %}
                                            <span class="text-default">{{ transaction.get_status_display }}</span>
                                        {% endif %}
                                    </td>
                                    <td class="table-row text-center">
                                        {% if transaction.manual is True %}
                                            <i style="font-size:30px" class="fas fa-user-circle"
                                               data-toggle="tooltip"
                                               title="<div>Inserido manualmente por</div><div class='text-bold'>por {{ transaction.manual_author }}</div>"
                                            ></i>
                                        {% else %}
                                            -
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                            <tfoot>
                            <tr>
                                <td colspan="4" class="table-row text-right text-bold" style="color:#FFF;background-color: #9e9e9e">TOTAL</td>
                                <td class="text-right text-bold">
                                    {% filter_lookup full_prices lot.pk as full_price %}
                                    {% if full_price < 0 %}
                                        <span class="text-bold text-danger">R$ {{ full_price|intcomma }}</span>
                                    {% elif full_price > 0 %}
                                        <span class="text-bold text-success">R$ {{ full_price|intcomma }}</span>
                                    {% elif full_price == 0 %}
                                        <span class="text-bold">R$ {{ full_price|intcomma }}</span>
                                    {% endif %}
                                </td>
                                <td colspan="2" class="table-row text-center">
                                    {% if full_price < 0 %}
                                        <i class="fas fa-exclamation-triangle text-warning animated shake"
                                           data-toggle="tooltip"
                                           title="Participante com dívidas."
                                        ></i>
                                    {% elif full_price > 0 %}
                                        <i class="fas fa-exclamation-triangle text-warning animated shake"
                                           data-toggle="tooltip"
                                           title="Participante com valor em ver com o evento."
                                        ></i>
                                    {% elif full_price == 0 %}
                                        <i class="fas fa-check text-success"
                                           data-toggle="tooltip"
                                           title="Participante sem dívidas."
                                        ></i>
                                    {% endif %}
                                </td>
                            </tr>
                            </tfoot>
                        </table>
                    {% endfor %}
                </div>
            </div>
        </section>
    </div>
</div>