{% extends "base/base.html" %}
{% load i18n static queryset_filter %}


{% block title %}
    Inscrição | Congressy
{% endblock %}

{% block page_title %}
    Inscrição
{% endblock %}

{% block page_sub_title %}
    <div>{{ event.name }}</div>
    {% if object %}
        <div class="text-muted" style="margin-top: 12px;">
            {{ object.name }}
        </div>
    {% endif %}
{% endblock %}

{% block messages %}
    {{ block.super }}

    {% if subscription_exists %}
        <div class="text-center alert alert-warning alert-dismissable">
            Esta pessoa já está inscrita neste evento.
            <br/>
            <br/>
            <a href="#" class="btn btn-primary">Ver inscrição</a>
        </div>
    {% endif %}
{% endblock messages %}

{% block nav_aside_itens %}

    <h5 class="sidebar-header">Participantes</h5>
    <ul class="nav nav-pills nav-stacked">
        {% if event.subscription_type != event.SUBSCRIPTION_SIMPLE %}
            <li>
                <a href="{% url 'subscription:lot-list' event.pk %}"
                   title="Inscrições">
                    <i class="fa  fa-fw fa-rocket"></i>
                    Lotes/Categorias
                </a>
            </li>
        {% endif %}
        <li class="active">
            <a href="{% url 'subscription:subscription-list' event.pk %}"
               title="Inscrições">
                <i class="fa  fa-fw fa-rocket"></i>
                Inscrições
                <span class="badge float-right">{{ event.subscriptions|queryset_count:"status__in=['confirmed','awaiting']" }}</span>
            </a>
        </li>
        {#        <li>#}
        {#            <a href="{% url 'subscription:\subscription-attendance-search' event.pk %}"#}
        {#               title="Check-in">#}
        {#                <i class="fa  fa-fw fa-rocket"></i>#}
        {#                Check-in#}
        {#            </a>#}
        {#        </li>#}
    </ul>
    <h5 class="sidebar-header">Configurações</h5>
    <ul class="nav nav-pills nav-stacked">
        <li>
            <a href="{% url 'event:event-hotsite' event.pk %}"
               title="Página do evento">
                <i class="fa  fa-fw fa-rocket"></i> Página do evento
            </a>
        </li>
        <li>
            <a href="{% url 'subscription:form-config' event.pk %}"
               title="Formulário">
                <i class="fa  fa-fw fa-rocket"></i> Formulário
            </a>
        </li>
        {% if has_paid_lots %}
            <li>
                <a href="{% url 'payment:event-payments' event.pk %}"
                   title="Pagamentos">
                    <i class="fa  fa-fw fa-rocket"></i> Pagamentos
                </a>
            </li>
        {% endif %}
    </ul>
{% endblock %}

{% block scripts %}
    <script>
        function show_block(el_to_show, el_to_hide) {
            el_to_show = $(el_to_show);
            el_to_hide = $(el_to_hide);

            el_to_show.show();
            el_to_hide.hide();
        }
    </script>
{% endblock %}

{% block styles %}
    <style>
        .profile-info-padding {
            padding: 4px 9px;
        }
    </style>
{% endblock %}

{% block content %}


    <div id="main-profile-content">
{#        {% include 'subscription/includes/profile-subscriber.html' %}#}
        {% include 'subscription/includes/profile-financial.html' %}

    </div>
{% endblock %}
