{% extends "base/base.html" %}
{% load i18n static queryset_filter %}


{% block title %}
    Inscrição | Congressy
{% endblock %}

{% block page_title %}
    Inscrição
{% endblock %}

{% block page_sub_title %}
    <div>{{ event.name }}</div>
    {% if object %}
        <div class="text-muted" style="margin-top: 12px;">
            {{ object.name }}
        </div>
    {% endif %}
{% endblock %}

{% block messages %}
    {{ block.super }}

    {% if subscription_exists %}
        <div class="text-center alert alert-warning alert-dismissable">
            Esta pessoa já está inscrita neste evento.
            <br/>
            <br/>
            <a href="#" class="btn btn-primary">Ver inscrição</a>
        </div>
    {% endif %}
{% endblock messages %}

{% block nav_aside_itens %}

    <h5 class="sidebar-header">Participantes</h5>
    <ul class="nav nav-pills nav-stacked">
        {% if event.subscription_type != event.SUBSCRIPTION_SIMPLE %}
            <li>
                <a href="{% url 'subscription:lot-list' event.pk %}"
                   title="Inscrições">
                    <i class="fa  fa-fw fa-rocket"></i>
                    Lotes/Categorias
                </a>
            </li>
        {% endif %}
        <li class="active">
            <a href="{% url 'subscription:subscription-list' event.pk %}"
               title="Inscrições">
                <i class="fa  fa-fw fa-rocket"></i>
                Inscrições
                <span class="badge float-right">{{ event.subscriptions|queryset_count:"status__in=['confirmed','awaiting']" }}</span>
            </a>
        </li>
        {#        <li>#}
        {#            <a href="{% url 'subscription:\subscription-attendance-search' event.pk %}"#}
        {#               title="Check-in">#}
        {#                <i class="fa  fa-fw fa-rocket"></i>#}
        {#                Check-in#}
        {#            </a>#}
        {#        </li>#}
    </ul>
    <h5 class="sidebar-header">Configurações</h5>
    <ul class="nav nav-pills nav-stacked">
        <li>
            <a href="{% url 'event:event-hotsite' event.pk %}"
               title="Página do evento">
                <i class="fa  fa-fw fa-rocket"></i> Página do evento
            </a>
        </li>
        <li>
            <a href="{% url 'subscription:form-config' event.pk %}"
               title="Formulário">
                <i class="fa  fa-fw fa-rocket"></i> Formulário
            </a>
        </li>
        {% if has_paid_lots %}
            <li>
                <a href="{% url 'payment:event-payments' event.pk %}"
                   title="Pagamentos">
                    <i class="fa  fa-fw fa-rocket"></i> Pagamentos
                </a>
            </li>
        {% endif %}
    </ul>
{% endblock %}

{% block scripts %}
    <script>
        function show_block(el_to_show, el_to_hide) {
            el_to_show = $(el_to_show);
            el_to_hide = $(el_to_hide);

            el_to_show.show();
            el_to_hide.hide();
        }

        function edit_payment(transaction_id, type, amount) {
            $('#manual-payment-form-modal').modal();
            $('#edit-transaction-id').val(transaction_id);
            $('#id_manual_payment_type').val(type);
            $('#id_amount').val(amount);
        }

        function delete_payment(transaction_id, amount) {
            if (!confirm('Tem certeza que deseja deletar o lançamento de R$ '+amount+'?')) {
                return;
            }
            $('#transaction_id').val(transaction_id);
            $('#payment-delete-form').submit();
        }

        $(document).ready(function() {
            Messenger.options = {
                extraClasses: 'messenger-fixed messenger-on-bottom ' +
                'messenger-on-right',
                theme: 'flat'
            };

            {% if modal == 'manual-payment' %}
            window.setTimeout(function() {
                $('#manual-payment-form-modal').modal();
            }, 300);
            {% endif %}
            {% if show_details %}
            window.setTimeout(function() {
                window.location.hash='report_detail_hidden';
            }, 500);
            {% endif %}

            {% if messenger %}
                {% for msg in messenger %}
                    Messenger().post({
                        message: '{{ msg.message }}',
                        type: '{{ msg.type }}'
                    });
                {% endfor %}
            {% endif %}
        });
    </script>
{% endblock %}

{% block styles %}
<style>
    .transaction-list span {
        font-size: 12px;
    }
    .transaction-list small {
        font-size: 10px;
    }

    .transaction-list hr {
        margin: 5px 0;

    }

    .transaction-list ul {
        padding-left:20px;
    }

    .cancelled,
    .cancelled span,
    .cancelled small {
        text-decoration: line-through;
        color: #CCC;
    }
</style>
{% endblock %}

{% block content %}
    <div id="main-profile-content">
        {% if financial %}
            {% include 'subscription/includes/profile-financial.html' %}
        {% else %}
            {% include 'subscription/includes/profile-subscriber.html' %}
        {% endif %}
    </div>
    <form action="{% url 'subscription:payment-delete' event.pk object.pk %}" method="post" id="payment-delete-form" style="display:none">
        {% csrf_token %}
        <input type="hidden" name="transaction_id" id="transaction_id" value="" />
    </form>
{% endblock %}
{% block modals %}
    {% include 'subscription/includes/modal-manual-payment-form.html' with form=manual_payment_form %}
{% endblock %}
