{% extends "base/base.html" %}
{% load i18n l10n static queryset_filter %}


{% block title %}
    Inscrição | Congressy
{% endblock %}

{% block page_title %}
    Inscrição
{% endblock %}

{% block page_sub_title %}
    <div>{{ event.name }}</div>
    {% if object %}
        <div class="text-muted" style="margin-top: 12px;">
            {{ object.name }}
        </div>
    {% endif %}
{% endblock %}

{% block scripts %}
    <script>
        function show_block(el_to_show, el_to_hide) {
            el_to_show = $(el_to_show);
            el_to_hide = $(el_to_hide);

            el_to_show.show();
            el_to_hide.hide();
        }

        function edit_payment(transaction_id, type, amount) {
            $('#manual-payment-form-modal').modal();
            $('#edit-transaction-id').val(transaction_id);
            $('#id_manual_payment_type').val(type);
            $('#id_amount').val(amount);
        }

        function delete_payment(transaction_id, amount) {
            if (!confirm('Tem certeza que deseja deletar o lançamento de R$ '+amount+'?')) {
                return;
            }
            $('#transaction_id').val(transaction_id);
            $('#payment-delete-form').submit();
        }

        function open_checkout() {
            var payment_form_el = $('#checkout_form');
            var checkout = new window.cgsy.pagarme.Checkout(
                '{{ encryption_key }}',
                'boleto',
                payment_form_el
            );
            checkout.add_item(
                'subscription',
                '{{ object.pk }}',
                'Inscrição: {{ event.name }}',
                1,
                parseFloat('{{ object.lot.get_calculated_price|unlocalize }}')
            );
            {% if products %}
                // Adiciona billing de opcionais de produtos/serviços
                {% for product in products %}
                    {% if product.optional_price %}
                    window.cgsy.payment.add_item(
                        'optional-product',
                        '{{ object.pk }}',
                        'Produto/Serviço: {{ event.name }}',
                        1,
                        parseFloat('{{ product.optional_price|unlocalize }}')
                    );
                    {% endif %}
                {% endfor %}
            {% endif %}
            {% if services %}
                // Adiciona billing de opcionais de produtos/serviços
                {% for service in services %}
                    {% if service.optional_price %}
                    window.cgsy.payment.add_item(
                        'optional-product',
                        '{{ object.pk }}',
                        'Produto/Serviço: {{ event.name }}',
                        1,
                        parseFloat('{{ service.optional_price|unlocalize }}')
                    );
                    {% endif %}
                {% endfor %}
            {% endif %}

            checkout.setSuccessCallback(function() {
                var form = new window.cgsy.pagarme.CheckoutForm($('#checkout_form_block'));
                    form.setNextUrl("{% url 'subscription:subscription-view' event.pk object.pk %}");
                    form.send("{% url 'public:payment-checkout' %}");
            });

            checkout.run();
        }

        $(document).ready(function() {
            Messenger.options = {
                extraClasses: 'messenger-fixed messenger-on-bottom ' +
                'messenger-on-right',
                theme: 'flat'
            };

            {% if modal == 'manual-payment' %}
            window.setTimeout(function() {
                $('#manual-payment-form-modal').modal();
            }, 300);
            {% endif %}
            {% if show_details %}
            window.setTimeout(function() {
                window.location.hash='report_detail_hidden';
            }, 500);
            {% endif %}

            {% if messenger %}
                {% for msg in messenger %}
                    Messenger().post({
                        message: '{{ msg.message }}',
                        type: '{{ msg.type }}'
                    });
                {% endfor %}
            {% endif %}

            {% if last_transaction.type == last_transaction.BOLETO and last_transaction.status == last_Transaction.PROCESSING %}
                window.setTimeout(function() {
                    window.location.href=window.location.href;
                }, 5000);
            {% endif %}
        });
    </script>
{% endblock %}

{% block styles %}
<style>
    .transaction-list span {
        font-size: 12px;
    }
    .transaction-list small {
        font-size: 10px;
    }

    .transaction-list hr {
        margin: 5px 0;

    }

    .transaction-list ul {
        padding-left:20px;
    }

    .cancelled,
    .cancelled span,
    .cancelled small {
        text-decoration: line-through;
        color: #CCC;
    }
</style>
{% endblock %}

{% block content %}
    <div id="main-profile-content">
        {% if financial %}
            {% include 'subscription/includes/profile-financial.html' %}
        {% else %}
            {% include 'subscription/includes/profile-subscriber.html' %}
        {% endif %}
    </div>
    <form action="{% url 'subscription:payment-delete' event.pk object.pk %}" method="post" id="payment-delete-form" style="display:none">
        {% csrf_token %}
        <input type="hidden" name="transaction_id" id="transaction_id" value="" />
    </form>
    <div id="checkout_form_block" style="display:none">
        <form id="checkout_form" action="{% url 'public:payment-checkout' %}" method="POST">
            {% csrf_token %}
            {{ form.as_p }}
        </form>
    </div>

{% endblock %}
{% block modals %}
    {% include 'subscription/includes/modal-manual-payment-form.html' with form=manual_payment_form %}
{% endblock %}
