{% load i18n static base_tags queryset_filter payment_report l10n humanize %}
{% now "Y-m-d" as today %}
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <title>Extrato</title>
    <link rel="stylesheet"
          href="{{ base_url }}assets/plugins/bootstrap/css/bootstrap.min.css">

    <style>
        .table.no-border tr td, .table.no-border tr th {
            border-width: 0;
        }
    </style>
</head>
<body>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <img src="data:image/png;base64,{{ logo }}"
                 style="margin-top: 15px;" alt="Congressy">
        </div>
    </div>
    <div class="row" align="center">
        <h1>Extrato do Pedido | Ingresso</h1>
        <div style="font-weight: bold;font-size:18px">{{ subscription.code }}</div>
        <div style="font-size:14px">{{ subscription.created }}</div>
    </div>
    <hr/>
    <br>


    <div>

        <h2 class="text-center" style="font-weight: bold;">
            {{ event.name|upper }}
        </h2>


    </div>

    <div style="margin-top: 20px">

        <h3 style="font-weight: bold;">
            Pessoais
        </h3>

        <table class="table no-border" style="border-width: 0;margin-top: 20px">
            <tbody style="border-width: 0;">

            <tr style="border-width: 0;">
                <td class="col-sm-2" style="border-width: 0;">
                    <strong>
                        Nome completo
                    </strong>
                </td>
                <td class="col-sm-2">
                    {{ person.name|title }}
                </td>
            </tr>

            <tr style="border-width: 0;">
                <td class="col-sm-2" style="border-width: 0;">
                    <strong>
                        Email
                    </strong>
                </td>
                <td class="col-sm-2">
                    {{ person.email|lower }}
                </td>
            </tr>

            </tbody>

        </table>

    </div>

    <div>

        <h3 style="font-weight: bold;">
            Inscrição
        </h3>

        <table class="table no-border" style="border-width: 0;margin-top: 20px">
            <tbody style="border-width: 0;">

            <tr style="border-width: 0;">
                <td class="col-sm-2" style="border-width: 0;">
                    <strong>
                        Lote
                    </strong>
                </td>
                <td class="col-sm-2">
                    {{ lot.name }}
                </td>
            </tr>

            {% if lot.price and lot.price > 0 %}
                <tr style="border-width: 0;">
                    <td class="col-sm-2" style="border-width: 0;">
                        <strong>
                            Valor
                        </strong>
                    </td>
                    <td class="col-sm-2">
                        R$ {{ lot.get_calculated_price }}
                    </td>
                </tr>
            {% endif %}

            </tbody>

        </table>

    </div>

    {% if lot.price and lot.price > 0 %}
        <div>

            <h3 style="font-weight: bold;">
                Financeiro
            </h3>

            <table class="table no-border" style="border-width: 0;margin-top: 20px">
                <thead>
                <tr>
                    <th width="12%">Data/hora</th>
                    <th>Descrição</th>
                    <th class="text-center" width="15%">Valor (R$)</th>
                    <th width="15%">Status</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td class="table-row text-center">
                        <span>{{ subscription.created|date:"d/m/Y H\hi" }}</span>
                    </td>
                    <td class="table-row">
                        <div>
                            <div class="float-left hidden-sm hidden-xs">
                                <i style="font-size:30px" class="fas fa-user-edit"
                                   data-toggle="tooltip"
                                   title="Inscrição: {{ subscription.code }}"
                                ></i>
                            </div>
                            <div class="float-left" style="margin-left:5px">
                                <div class="text-bold">Inscrição</div>
                                <small class="text-muted text-bold">{{ subscription.code }}</small>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </td>
                    <td class="table-row text-right">
                        <span class="text-danger">R$ {{ lot.get_calculated_price|intcomma }}</span>
                    </td>
                    <td class="table-row">
                        <span>Pendente</span>
                    </td>
                </tr>
                
                {% filter_lookup transactions lot.pk as lot_transactions %}
                {% if installment %}
                    <tr>
                        <td class="table-row text-center">
                            <span>{{ subscription.created|date:"d/m/Y H\hi" }}</span>
                        </td>
                        <td class="table-row">
                            <div>
                                <div class="float-left hidden-sm hidden-xs">
                                    <i style="font-size:30px" class="fas fa-percentage"></i>
                                </div>
                                <div class="float-left" style="margin-left:5px">
                                    <div class="text-bold">Taxas de Parcelamento</div>
                                    <small class="text-muted text-bold">{{ installment.num }}x R$ {{ installment.amount|intcomma }}</small>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </td>
                        <td class="table-row text-right">
                            <span class="text-danger">R$ {{ installment.interests_amount|intcomma }}</span>
                        </td>
                        <td class="table-row">
                            <span>Pendente</span>
                        </td>
                    </tr>
                {% endif %}

                {% for transaction in lot_transactions %}
                    {% if transaction.manual_payment_type != transaction.MANUAL_WAITING_PAYMENT and transaction.status != transaction.WAITING_PAYMENT %}

                        <tr>
                            <td class="table-row text-center">
                                <span>{{ transaction.date_created|date:"d/m/Y H\hi" }}</span>
                            </td>
                            <td class="table-row">
                                <div>
                                    <div>
                                        {% if transaction.manual is True %}
                                            {% if transaction.manual_payment_type == transaction.MANUAL_PAYMENT_MONEY %}
                                                <div class="float-left hidden-sm hidden-xs">
                                                    <i style="font-size:30px" class="far fa-money-bill-alt"></i>
                                                </div>
                                                <div class="float-left" style="margin:5px 0 0 5px">
                                                    <span class="text-bold">Dinheiro</span>
                                                    <small>(manual)</small>
                                                </div>
                                                {% if event.feature_configuration.feature_manual_payments %}
                                                    <div class="float-right" style="margin-top:5px">
                                                        <a href="javascript:void(0)" onclick="edit_payment('{{ transaction.pk }}', '{{ transaction.manual_payment_type }}', '{{ transaction.amount|intcomma }}')">
                                                            <i class="fas fa-pencil-alt" data-toggle="tooltip" title="Editar"></i>
                                                        </a>
                                                        <a style="margin-left:10px;" href="javascript:void(0)" onclick="delete_payment('{{ transaction.pk }}', '{{ transaction.amount|intcomma }}')">
                                                            <i class="fas fa-trash-alt text-danger" data-toggle="tooltip" title="Excluir"></i>
                                                        </a>
                                                    </div>
                                                {% endif %}
                                            {% elif transaction.manual_payment_type == transaction.MANUAL_PAYMENT_PAYCHECK %}
                                                <div class="float-left hidden-sm hidden-xs">
                                                    <i style="font-size:30px" class="fas fa-money-check-alt"></i>
                                                </div>
                                                <div class="float-left" style="margin:5px 0 0 5px">
                                                    <span class="text-bold">Cheque</span>
                                                    <small>(manual)</small>
                                                </div>
                                                {% if event.feature_configuration.feature_manual_payments %}
                                                    <div class="float-right" style="margin-top:5px">
                                                        <a href="javascript:void(0)" onclick="edit_payment('{{ transaction.pk }}', '{{ transaction.manual_payment_type }}', '{{ transaction.amount|intcomma }}')">
                                                            <i class="fas fa-pencil-alt" data-toggle="tooltip" title="Editar"></i>
                                                        </a>
                                                        <a style="margin-left:10px;" href="javascript:void(0)" onclick="delete_payment('{{ transaction.pk }}', '{{ transaction.amount|intcomma }}')">
                                                            <i class="fas fa-trash-alt text-danger" data-toggle="tooltip" title="Excluir"></i>
                                                        </a>
                                                    </div>
                                                {% endif %}
                                            {% elif transaction.manual_payment_type == transaction.MANUAL_PAYMENT_DEBIT_CARD %}
                                                <div class="float-left hidden-sm hidden-xs">
                                                    <i style="font-size:30px" class="far fa-credit-card"></i>
                                                </div>
                                                <div class="float-left" style="margin:5px 0 0 5px">
                                                    <span class="text-bold">Cartão de Débito</span>
                                                    <small>(manual)</small>
                                                </div>
                                                {% if event.feature_configuration.feature_manual_payments %}
                                                    <div class="float-right" style="margin-top:5px">
                                                        <a href="javascript:void(0)" onclick="edit_payment('{{ transaction.pk }}', '{{ transaction.manual_payment_type }}', '{{ transaction.amount|intcomma }}')">
                                                            <i class="fas fa-pencil-alt" data-toggle="tooltip" title="Editar"></i>
                                                        </a>
                                                        <a style="margin-left:10px;" href="javascript:void(0)" onclick="delete_payment('{{ transaction.pk }}', '{{ transaction.amount|intcomma }}')">
                                                            <i class="fas fa-trash-alt text-danger" data-toggle="tooltip" title="Excluir"></i>
                                                        </a>
                                                    </div>
                                                {% endif %}
                                            {% elif transaction.manual_payment_type == transaction.MANUAL_PAYMENT_CREDIT_CARD %}
                                                <div class="float-left hidden-sm hidden-xs">
                                                    <i style="font-size:30px" class="far fa-credit-card"></i>
                                                </div>
                                                <div class="float-left" style="margin:5px 0 0 5px">
                                                    <span class="text-bold">Cartão de Crédito</span>
                                                    <small>(manual)</small>
                                                </div>
                                                {% if event.feature_configuration.feature_manual_payments %}
                                                    <div class="float-right" style="margin-top:5px">
                                                        <a href="javascript:void(0)" onclick="edit_payment('{{ transaction.pk }}', '{{ transaction.manual_payment_type }}', '{{ transaction.amount|intcomma }}')">
                                                            <i class="fas fa-pencil-alt" data-toggle="tooltip" title="Editar"></i>
                                                        </a>
                                                        <a style="margin-left:10px;" href="javascript:void(0)" onclick="delete_payment('{{ transaction.pk }}', '{{ transaction.amount|intcomma }}')">
                                                            <i class="fas fa-trash-alt text-danger" data-toggle="tooltip" title="Excluir"></i>
                                                        </a>
                                                    </div>
                                                {% endif %}
                                            {% elif transaction.manual_payment_type == transaction.MANUAL_PAYMENT_BANK_DEPOSIT %}
                                                <div class="float-left hidden-sm hidden-xs">
                                                    <i style="font-size:30px" class="fas fa-university"></i>
                                                </div>
                                                <div class="float-left" style="margin:5px 0 0 5px">
                                                    <span class="text-bold">Depósito</span>
                                                    <small>(manual)</small>
                                                </div>
                                                {% if event.feature_configuration.feature_manual_payments %}
                                                    <div class="float-right" style="margin-top:5px">
                                                        <a href="javascript:void(0)" onclick="edit_payment('{{ transaction.pk }}', '{{ transaction.manual_payment_type }}', '{{ transaction.amount|intcomma }}')">
                                                            <i class="fas fa-pencil-alt" data-toggle="tooltip" title="Editar"></i>
                                                        </a>
                                                        <a style="margin-left:10px;" href="javascript:void(0)" onclick="delete_payment('{{ transaction.pk }}', '{{ transaction.amount|intcomma }}')">
                                                            <i class="fas fa-trash-alt text-danger" data-toggle="tooltip" title="Excluir"></i>
                                                        </a>
                                                    </div>
                                                {% endif %}
                                            {% elif transaction.manual_payment_type == transaction.MANUAL_PAYMENT_BANK_TRANSFER %}
                                                <div class="float-left hidden-sm hidden-xs">
                                                    <i style="font-size:30px" class="fas fa-exchange-alt"></i>
                                                </div>
                                                <div class="float-left" style="margin:5px 0 0 5px">
                                                    <span class="text-bold">Transferência bancária</span>
                                                    <small>(manual)</small>
                                                </div>
                                                {% if event.feature_configuration.feature_manual_payments %}
                                                    <div class="float-right" style="margin-top:5px">
                                                        <a href="javascript:void(0)" onclick="edit_payment('{{ transaction.pk }}', '{{ transaction.manual_payment_type }}', '{{ transaction.amount|intcomma }}')">
                                                            <i class="fas fa-pencil-alt" data-toggle="tooltip" title="Editar"></i>
                                                        </a>
                                                        <a style="margin-left:10px;" href="javascript:void(0)" onclick="delete_payment('{{ transaction.pk }}', '{{ transaction.amount|intcomma }}')">
                                                            <i class="fas fa-trash-alt text-danger" data-toggle="tooltip" title="Excluir"></i>
                                                        </a>
                                                    </div>
                                                {% endif %}
                                            {% endif %}
                                        {% else %}
                                            {% if transaction.type == transaction.BOLETO %}
                                                <div class="float-left">
                                                    <i style="font-size:30px" class="fas fa-barcode"></i>
                                                </div>
                                                <div class="float-left" style="margin:5px 0 0 5px">
                                                    <span class="text-bold">Boleto</span>
                                                </div>
                                            {% elif transaction.type == transaction.CREDIT_CARD %}
                                                <div class="float-left hidden-sm hidden-xs">
                                                    <i style="font-size:30px" class="far fa-credit-card"></i>
                                                </div>
                                                <div class="float-left" style="margin-left: 5px">
                                                    <div>
                                                        <span class="text-bold">Cartão de Crédito</span>
                                                        <small>(on-line)</small>
                                                    </div>
                                                    <div>
                                                        {% if transaction.credit_card_last_digits %}
                                                            <small class="text-muted text-bold">
                                                                *** {{ transaction.credit_card_last_digits }}
                                                            </small>
                                                        {% endif %}
                                                        {% if transaction.credit_card_holder %}
                                                            <small class="text-muted text-bold">
                                                                ({{ transaction.credit_card_holder|upper }})
                                                            </small>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            {% endif %}
                                        {% endif %}
                                        <div class="clearfix"></div>
                                    </div>
                                    {% if transaction.manual is False and transaction.type == transaction.BOLETO %}
                                        <div>
                                            <small class="text-bold">Vencimento:</small>
                                            <small>{{ transaction.boleto_expiration_date }}</small>
                                            {% if transaction.status != transaction.PAID and today > transaction.boleto_expiration_date|date:'Y-m-d' %}
                                                <small class="text-bold text-danger">(vencido)</small>
                                            {% endif %}
                                        </div>
                                    {% endif %}
                                </div>
                            </td>
                            <td class="table-row text-right {% if transaction.status != transaction.PAID and today > transaction.boleto_expiration_date|date:'Y-m-d' %}cancelled{% endif %}">
                                {% if transaction.status == transaction.PAID %}
                                    <span class="text-success">R$ {{ transaction.amount|intcomma }}</span>
                                {% else %}
                                    <span class="text-default">R$ {{ transaction.amount|intcomma }}</span>
                                {% endif %}
                            </td>
                            <td class="table-row {% if transaction.status != transaction.PAID and today > transaction.boleto_expiration_date|date:'Y-m-d' %}cancelled{% endif %}">
                                {% if transaction.status == transaction.PAID %}
                                    <span class="text-success">{{ transaction.get_status_display }}</span>
                                {% else %}
                                    <span class="text-default">{{ transaction.get_status_display }}</span>
                                {% endif %}
                        </tr>

                    {% endif %}
                {% endfor %}
                </tbody>
            </table>
        

        </div>
    {% endif %}

</div>

</body>
</html>


