{% load i18n static base_tags queryset_filter payment_report l10n humanize %}
{% now "Y-m-d" as today %}
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <title>Extrato</title>
    <link rel="stylesheet"
          href="{{ base_url }}assets/plugins/bootstrap/css/bootstrap.min.css">

    <style>
        .table.no-border tr td, .table.no-border tr th {
            border-width: 0;
            border: none;
        }

        thead {
            display: table-header-group
        }

        tfoot {
            display: table-row-group
        }

        tr {
            page-break-inside: avoid
        }

        th, td, small {
            font-size: .65em;
        }

    </style>
</head>
<body>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <img src="data:image/png;base64,{{ logo }}"
                 style="margin-top: 15px;" alt="Congressy">
        </div>
    </div>
    <div class="row" align="center">
        <h4>Extrato do Pedido | Ingresso</h4>
        <small class="text-muted">Gerado ás {{ now|date:"d/m/Y H\hi" }} por {{ by }}</small>
    </div>
    <hr class="hr"/>


    <h5 class="text-center" style="font-weight: bold;">
        {{ event.name|upper }}
    </h5>


    <div style="margin-top: 20px">

        <h5 style="font-weight: bold;">
            Pessoais
        </h5>

        <table class="table no-border" style="border-width: 0;margin-top: 20px">
            <tbody style="border-width: 0;">

            <tr style="border-width: 0;">
                <td width="20%" style="border-width: 0;">
                    <strong>Nome completo:</strong>
                </td>
                <td class="col-sm-2">
                    {{ person.name|title }}
                </td>
            </tr>

            <tr>
                <td class="col-sm-2" style="border-width: 0;">
                    <strong>
                        Email:
                    </strong>
                </td>
                <td>
                    {{ person.email|lower }}
                </td>
            </tr>

            </tbody>

        </table>

    </div>

    <div>

        <h5 style="font-weight: bold;">
            Inscrição
        </h5>

        <table class="table no-border" style="border-width: 0;margin-top: 20px">
            <tbody style="border-width: 0;">

            <tr style="border-width: 0;">
                <td width="12%" style="border-width: 0;">
                    <strong>
                        Lote:
                    </strong>
                </td>
                <td>
                    {{ lot.name }}
                </td>
            </tr>

            {% if lot.price and lot.price > 0 %}
                <tr>
                    <td class="col-sm-2" style="border-width: 0;">
                        <strong>Valor</strong>
                    </td>
                    <td class="col-sm-2">
                        R$ {{ lot.get_calculated_price }}
                    </td>
                </tr>
            {% endif %}

            </tbody>

        </table>

    </div>

    {% if lot.price and lot.price > 0 %}
        <div>
            <h5 style="font-weight: bold;">
                Financeiro
            </h5>

            {% now "Y-m-d" as today %}
            {% for lot_pk, lot in lots.items %}
                {% filter_lookup transactions lot.pk as lot_transactions %}
                {% filter_lookup has_manual lot.pk as has_manual %}

                <table class="table no-border">
                    <thead>
                    <tr>
                        <th width="25%">Data/hora</th>
                        <th>Descrição</th>
                        <th class="text-center" width="2%">
                            <span class="text-prmary">Tipo</span>
                        </th>
                        <th class="text-center" width="15%">Valor (R$)</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="table-row">
                            <span>{{ object.created|date:"d/m/Y H\hi" }}</span>
                        </td>
                        <td class="table-row">
                            <div>
                                <div class="float-left hidden-sm hidden-xs">
                                    <i class="fas fa-user-edit"
                                       data-toggle="tooltip"
                                       title="Inscrição: {{ object.code }}"
                                    ></i>
                                </div>
                                <div class="float-left" style="margin-left:5px">
                                    <div class="text-bold">Inscrição</div>
                                    <small class="text-muted text-bold">{{ object.code }}</small>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </td>
                        <td class="table-row text-center text-bold">
                            <span class="text-danger" data-toggle="tooltip" title="Débito">D</span>
                        </td>
                        <td class="table-row text-right">
                            <span class="text-danger">R$ {{ lot.get_calculated_price|intcomma }}</span>
                        </td>
                    </tr>

                    {% for transaction in lot_transactions %}
                        {% if transaction.manual_payment_type != transaction.MANUAL_WAITING_PAYMENT and transaction.status != transaction.WAITING_PAYMENT %}

                            <tr>
                                <td class="table-row">
                                    <span>{{ transaction.date_created|date:"d/m/Y H\hi" }}</span>
                                </td>
                                <td class="table-row">
                                    <div>
                                        <div>
                                            {% if transaction.manual is True %}
                                                {% if transaction.manual_payment_type == transaction.MANUAL_PAYMENT_MONEY %}
                                                    <div class="float-left hidden-sm hidden-xs">
                                                        <i class="far fa-money-bill-alt"></i>
                                                    </div>
                                                    <div class="float-left" style="margin:5px 0 0 5px">
                                                        <span class="text-bold">Dinheiro</span>
                                                        <small>(manual)</small>
                                                    </div>
                                                {% elif transaction.manual_payment_type == transaction.MANUAL_PAYMENT_PAYCHECK %}
                                                    <div class="float-left hidden-sm hidden-xs">
                                                        <i class="fas fa-money-check-alt"></i>
                                                    </div>
                                                    <div class="float-left" style="margin:5px 0 0 5px">
                                                        <span class="text-bold">Cheque</span>
                                                        <small>(manual)</small>
                                                    </div>
                                                {% elif transaction.manual_payment_type == transaction.MANUAL_PAYMENT_DEBIT_CARD %}
                                                    <div class="float-left hidden-sm hidden-xs">
                                                        <i class="far fa-credit-card"></i>
                                                    </div>
                                                    <div class="float-left" style="margin:5px 0 0 5px">
                                                        <span class="text-bold">Cartão de Débito</span>
                                                        <small>(manual)</small>
                                                    </div>
                                                {% elif transaction.manual_payment_type == transaction.MANUAL_PAYMENT_CREDIT_CARD %}
                                                    <div class="float-left hidden-sm hidden-xs">
                                                        <i class="far fa-credit-card"></i>
                                                    </div>
                                                    <div class="float-left" style="margin:5px 0 0 5px">
                                                        <span class="text-bold">Cartão de Crédito</span>
                                                        <small>(manual)</small>
                                                    </div>
                                                {% elif transaction.manual_payment_type == transaction.MANUAL_PAYMENT_BANK_DEPOSIT %}
                                                    <div class="float-left hidden-sm hidden-xs">
                                                        <i class="fas fa-university"></i>
                                                    </div>
                                                    <div class="float-left" style="margin:5px 0 0 5px">
                                                        <span class="text-bold">Depósito</span>
                                                        <small>(manual)</small>
                                                    </div>
                                                {% elif transaction.manual_payment_type == transaction.MANUAL_PAYMENT_BANK_TRANSFER %}
                                                    <div class="float-left hidden-sm hidden-xs">
                                                        <i class="fas fa-exchange-alt"></i>
                                                    </div>
                                                    <div class="float-left" style="margin:5px 0 0 5px">
                                                        <span class="text-bold">Transferência bancária</span>
                                                        <small>(manual)</small>
                                                    </div>
                                                {% endif %}
                                            {% else %}
                                                {% if transaction.type == transaction.BOLETO %}
                                                    <div class="float-left hidden-sm hidden-xs">
                                                        <i class="fas fa-barcode"></i>
                                                    </div>
                                                    <div class="float-left" style="margin:5px 0 0 5px">
                                                        <span class="text-bold">Boleto</span>
                                                        <small>(on-line)</small>
                                                    </div>
                                                {% elif transaction.type == transaction.CREDIT_CARD %}
                                                    <div class="float-left hidden-sm hidden-xs">
                                                        <i class="far fa-credit-card"></i>
                                                    </div>
                                                    <div class="float-left" style="margin-left: 5px">
                                                        <div>
                                                            <span class="text-bold">Cartão de Crédito</span>
                                                            <small>(on-line)</small>
                                                        </div>
                                                        <div>
                                                            {% if transaction.credit_card_last_digits %}
                                                                <small class="text-muted text-bold">
                                                                    *** {{ transaction.credit_card_last_digits }}
                                                                </small>
                                                            {% endif %}
                                                            {% if transaction.credit_card_holder %}
                                                                <small class="text-muted text-bold">
                                                                    ({{ transaction.credit_card_holder|upper }})
                                                                </small>
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                {% endif %}
                                            {% endif %}
                                            <div class="clearfix"></div>
                                        </div>
                                        {% if transaction.manual is False and transaction.type == transaction.BOLETO %}
                                            <div>
                                                <small class="text-bold">Vencimento:</small>
                                                <small>{{ transaction.boleto_expiration_date|date:"d/m/Y" }}</small>
                                                {% if transaction.status != transaction.PAID and today > transaction.boleto_expiration_date|date:'Y-m-d' %}
                                                    <small class="text-bold text-danger">(vencido)</small>
                                                {% endif %}
                                            </div>
                                        {% endif %}
                                    </div>
                                </td>
                                <td class="table-row text-center text-bold {% if transaction.status != transaction.PAID and today > transaction.boleto_expiration_date|date:'Y-m-d' %}cancelled{% endif %}" data-toggle="tooltip" title="Crédito">
                                    {% if transaction.status == transaction.PAID %}
                                        <span class="text-success">C</span>
                                    {% else %}
                                        <span class="text-default">C</span>
                                    {% endif %}
                                </td>
                                <td class="table-row text-right {% if transaction.status != transaction.PAID and today > transaction.boleto_expiration_date|date:'Y-m-d' %}cancelled{% endif %}">
                                    {% if transaction.status == transaction.PAID %}
                                        <span class="text-success">R$ {{ transaction.amount|intcomma }}</span>
                                    {% else %}
                                        <span class="text-default">R$ {{ transaction.amount|intcomma }}</span>
                                    {% endif %}
                                </td>
                            </tr>

                        {% endif %}
                    {% endfor %}

                    </tbody>
                    <tfoot>
                    <tr>
                        <td colspan="3" class="table-row text-right text-bold" style="color:#000000;background-color: #c7c7c7">TOTAL</td>
                        <td class="text-right text-bold">
                            {% filter_lookup full_prices lot.pk as full_price %}
                            {% if full_price < 0 %}
                                <span class="text-bold text-danger">R$ {{ full_price|intcomma }}</span>
                            {% elif full_price > 0 %}
                                <span class="text-bold text-success">R$ {{ full_price|intcomma }}</span>
                            {% elif full_price == 0 %}
                                <span class="text-bold">R$ {{ full_price|intcomma }}</span>
                            {% endif %}
                        </td>
                        <td colspan="1" class="table-row text-center">
                            {% if full_price < 0 %}
                                <i class="fas fa-exclamation-triangle text-warning animated shake"
                                   data-toggle="tooltip"
                                   title="Participante com pendências."
                                ></i>
                            {% elif full_price > 0 %}
                                <i class="fas fa-exclamation-triangle text-warning animated shake"
                                   data-toggle="tooltip"
                                   title="Participante com valor em ver com o evento."
                                ></i>
                            {% elif full_price == 0 %}
                                <i class="fas fa-check text-success"
                                   data-toggle="tooltip"
                                   title="Participante sem pendências."
                                ></i>
                            {% endif %}
                        </td>
                    </tr>
                    </tfoot>
                </table>

            {% endfor %}

        </div>

        {% if contracts.count > 0 %}


            <div>

                <h5 style="font-weight: bold;">
                    Contratos de Parcelamento
                </h5>

                {% for contract in contracts %}
                    <h6 style="margin-top: 3px">
                        Contrato(ID: {{ contract.pk }}) criado dia:
                        <span class="text-muted">
                               {{ contract.created|date:"d/m/Y H\hi" }}
                        </span>
                    </h6>
                    <table class="table no-border" style="border-width: 0;">
                        <thead>
                        <tr>
                            <th width="5%">Parcela</th>
                            <th width="12%">Vencimento</th>
                            <th class="text-center" width="15%">Valor (R$)</th>
                            <th width="15%">Status</th>
                        </tr>
                        </thead>

                        <tbody>

                        {% for part in contract.installment_parts.all %}

                            <tr>
                                <td class="table-row text-center">
                                    <span>{{ part.installment_number }}</span>
                                </td>
                                <td class="table-row text-center">
                                    <span>{{ part.created|date:"d/m/Y H\hi" }}</span>
                                </td>
                                <td class="table-row text-right">

                                    {% if part.paid %}
                                        <span class="text-success">
                                    {% else %}
                                        <span class="text-danger">
                                    {% endif %}

                                    R$ {{ part.amount|intcomma }}</span>
                                </td>
                                <td class="table-row">

                                    <span>
                                        {% if part.paid %}
                                            Pago
                                        {% else %}
                                            Aguardando
                                        {% endif %}
                                    </span>


                                </td>
                            </tr>

                        {% endfor %}
                        </tbody>
                    </table>

                    <hr/>
                {% endfor %}

            </div>

        {% endif %}


    {% endif %}

</div>

</body>
</html>


