{% extends "registration/login_base.html" %}
{% load l10n static event_tags  base_tags  widget_tweaks form_config_tags %}
{% load humanize %}
{% load subscription_tags %}

{% block title %}Nova Parceiro | Congressy{% endblock %}
{% block login_block_title %}Nova conta de parceiro{% endblock %}


{% block form %}
    <p class="text-center"> Olá, bem-vindo ao programa de parceiros da
        Congressy. Por gentileza complete o cadastro abaixo para se
        cadastrar como parceiro. </p>


    <form id="createForm"
          action=""
          method="post"
          class="form-horizontal form-border"
          role="form"
          onsubmit="submit_form(this);">

        {% csrf_token %}

        {% if form.non_field_errors %}
            {% render_errors form.non_field_errors %}
        {% endif %}

        {% for hidden_field in form.hidden_fields %}
            {% if hidden_field.errors %}
                {% render_errors hidden_field.errors %}
            {% endif %}
            {{ hidden_field }}
        {% endfor %}

        <div class="row">
            <div class="col-md-12">
                {% render_generic_field form.name autofocus=True %}
                {% render_generic_field form.email %}
                {% render_generic_field form.phone %}
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                {% render_generic_field form.legal_name %}
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                {% render_switchery_field form.type_of_document label="CPF/CNPJ" help_text="Tipo de Documento"%}
            </div>
            <div class="col-md-6">
                {% render_generic_field form.document_number label="CPF" %}
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                {% render_generic_field form.bank_code %}
            </div>
            <div class="col-md-6">
                {% render_generic_field form.account_type %}
            </div>
        </div>

        <div class="row">
            <div class="col-md-9">
                {% render_generic_field form.agency label="Agencia" %}
            </div>
            <div class="col-md-3">
                {% render_generic_field form.agency_dv label='Dígito' %}
            </div>
        </div>

        <div class="row">
            <div class="col-md-9">
                {% render_generic_field form.account label="Conta" %}
            </div>
            <div class="col-md-3">
                {% render_generic_field form.account_dv label='Dígito' %}
            </div>
        </div>

        <div class="row">

        </div>

        <div class="form-group">
            <div class="col-md-12">
                <button id="submitButton" class="btn btn-info btn-block">
                    Aceitar e Realizar Cadastro
                </button>
                <div class="help-block text-center" style="font-size: 13px;">
                    Ao criar sua conta, você declara ter aceitado os
                    <a href="https://www.congressy.com/termos-de-uso/" style="font-weight: bold;" target="_blank">termos de uso</a>.
                </div>
            </div>
        </div>


    </form>
{% endblock %}
{% block local_js %}
    <script type="application/javascript">
        $(document).ready(function () {
            $('#id_phone').mask("(99) 99999-9999");

            var type_of_document = $('#id_type_of_document');
            var type_of_document_lable = $("label[for='id_document_number']");
            var document_number = $('#id_document_number');


            if (type_of_document.is(':checked')) {
                type_of_document_lable.text('CNPJ:');
                document_number.mask("99.999.999/9999-99");
            } else {
                type_of_document_lable.text('CPF:');
                document_number.mask("999.999.999-99");
            }

            type_of_document.change(function () {

                if ($(this).is(':checked')) {
                    type_of_document_lable.text('CNPJ:');
                    document_number.val("");
                    document_number.mask("99.999.999/9999-99");
                } else {
                    type_of_document_lable.text('CPF:');
                    document_number.val("");
                    document_number.mask("999.999.999-99");
                }

            });


        });


    </script>


{% endblock %}