{% extends "base/base.html" %}
{% load i18n static widget_tweaks form_config_tags %}
{% block title %}Áreas Temáticas | Congressy{% endblock %}
{% block page_title %}Configurações das áreas temáticas{% endblock %}
{% block sidebar %}{% endblock %}
{% block sidebar-bars %}{% endblock %}
{% block toptitle %}{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="panel-title">
                        Áreas Temáticas
                    </div>
                </div>
                <div class="panel-body">
                    {% if event.is_scientific %}
                        <div id="area_category_list">
                            {% include 'scientific_work/includes/area_category_list.html' %}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}



{% block scripts %}
    {{ block.super }}
    <script>
        $(document).ready(function () {

            $('#add_area_category').val('');


            (function ($) {


                // CSRF code
                function getCookie(name) {
                    var cookieValue = null;
                    var i = 0;
                    if (document.cookie && document.cookie !== '') {
                        var cookies = document.cookie.split(';');
                        for (i; i < cookies.length; i++) {
                            var cookie = jQuery.trim(cookies[i]);
                            // Does this cookie string begin with the name we want?
                            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                                break;
                            }
                        }
                    }
                    return cookieValue;
                }

                var csrftoken = getCookie('csrftoken');

                // Action(update, delete) functions
                function add_area_category(name) {

                    var formData = new FormData();
                    formData.append('name', name);
                    formData.append('event', {{ event.pk }});

                    $.ajax({
                        url: '{% url 'scientific_work:areacategory-list' %}',
                        type: 'POST',
                        processData: false,
                        contentType: false,
                        data: formData,
                        beforeSend: function (xhr) {
                            xhr.setRequestHeader("X-CSRFToken", csrftoken);
                        },
                        success: function () {
                            update_area_category_list();
                            $('#add_area_category').val('');
                        }
                    }).fail(function (err) {
                        console.error(err);
                    });


                }

                function delete_area_category(url) {


                    $.ajax({
                        url: url,
                        type: 'DELETE',
                        processData: false,
                        contentType: false,
                        beforeSend: function (xhr) {
                            xhr.setRequestHeader("X-CSRFToken", csrftoken);
                        },
                        success: function () {
                            update_area_category_list();
                            $('#add_area_category').val('');
                        }
                    }).fail(function (err) {
                        console.error(err);
                    });


                }

                function update_area_category_list() {
                    $.ajax({
                        url: '{% url 'scientific_work:area_category_config' event.pk %}' +
                        '?template_name=scientific_work/includes' +
                        '/area_category_list',
                        type: 'GET',
                        processData: false,
                        contentType: false,
                        beforeSend: function (xhr) {
                            xhr.setRequestHeader("X-CSRFToken", csrftoken);
                        },
                        success: function (response) {
                            $('#area_category_list').html(response);
                            recreate_event_triggers();
                        }
                    }).fail(function (err) {
                        console.error(err);
                    });
                }

                function recreate_event_triggers() {


                    var new_area_category_btn = $('.new-area-category');
                    var add_area_category_modal_btn = $('#add_area_category_modal_btn');
                    var add_area_category_modal = $('#add_area_category_modal');
                    var delete_area_category_btn = $('.delete-area-category');

                    new_area_category_btn.unbind("click");
                    add_area_category_modal_btn.unbind("click");
                    delete_area_category_btn.unbind("click");


                    // Triggers
                    new_area_category_btn.on("click", function () {
                        add_area_category_modal.modal('show');
                    });
                    add_area_category_modal_btn.on("click", function () {
                        var category_name = $('#add_area_category').val();

                        if (category_name && category_name !== "") {
                            add_area_category(category_name);
                        }
                    });
                    delete_area_category_btn.on("click", function () {
                        var res = confirm("Certeza que deseja excluir este?");
                        if (res) {
                            delete_area_category($(this).data('url'))
                        }

                    });

                }

                recreate_event_triggers();

            })(jQuery);
        });
    </script>
{% endblock %}

{% block modals %}
    <!-----------------------MODALS ----------------------------------->
    <div class="modal fade" id="add_area_category_modal" tabindex="-1"
         role="dialog"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">Nova área temática: </h3>
                    <button type="button" class="close"
                            data-dismiss="modal" aria-hidden="true">
                        ×
                    </button>
                </div>
                <div class="modal-body">

                    <div class="form-group">

                        <label for="add_area_category">Nome:</label>
                        <div>
                            <input name="add_area_category" maxlength="255"
                                   class="form-control" id="add_area_category"
                                   type="text">
                        </div>
                    </div>


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-md btn-success"
                            data-dismiss="modal"
                            id="add_area_category_modal_btn">
                        <i class="far fa-save"></i>
                        Salvar
                    </button>
                    <button type="button" class="btn btn-md  btn-danger"
                            data-dismiss="modal">Close
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!---------------------END MODALS---------------------------------->

{% endblock %}

