{% extends "base/base.html" %}

{% load i18n static widget_tweaks form_config_tags %}

{% block title %}Nova submissão | Congressy{% endblock %}

{% block page_title %}Nova submissão{% endblock %}

{% block content %}

    <form method="POST" enctype="multipart/form-data" id="submission_form">
        {% csrf_token %}
        {{ wizard.management_form }}
        <div class="row">
            <div class="col-lg-6     col-lg-push-2 col-xl-8 col-xl-push-2">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <div class="panel-title">Author(s) do Trabalho</div>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-9 text-center">

                                <div class="col-md-2 col-lg-offset-2">
                                    <div class="row">
                                        <span class="fa-stack fa-2x" style="opacity: 0.5">
                                            <i class="fa fa-circle fa-stack-2x"
                                               style="color: #556b8d"></i>
                                            <i class="fas fa-file-alt fa-stack-1x fa-inverse"></i>
                                        </span>
                                    </div>

                                    <div class="row">
                                        <strong>Artigo</strong>
                                    </div>

                                </div>
                                <div class="col-lg-1">
                                    <i class="fas fa-arrow-right fa-2x"></i>
                                </div>
                                <div class="col-md-2">

                                    <div class="row">
                                        <span class="fa-stack fa-2x">
                                            <i class="fa fa-circle fa-stack-2x"
                                            style="color: #556b8d"></i>
                                            <i class="fas fa-user-plus fa-stack-1x fa-inverse"></i>
                                        </span>
                                    </div>

                                    <div class="row">
                                        <strong>Autores</strong>
                                    </div>

                                </div>

                            </div>
                            <div class="col-md-12" style="margin-top: 20px">
                                <h1>
                                    Algo aqui
                                </h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-push-2 col-xl-8 col-xl-push-2">
                <div class="buttonbar">
                    <div class="float-right">
                        <button type="submit" id="save_btn" class="btn
                  btn-success">
                            Próximo
                            <i class="fas fa-arrow-circle-right"></i>
                        </button>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </form>

{% endblock %}
{% block sidebar %}{% endblock %}
{% block sidebar-bars %}{% endblock %}
{% block toptitle %}{% endblock %}
{% block scripts %}
    <script type="application/javascript">
        $(document).ready(function () {
            console.log('Page is ready.');
        });
    </script>
{% endblock %}

