{% extends "base/base.html" %}
{% load i18n static widget_tweaks form_config_tags %}
{% block title %}
    Trabalhos científicos | Congressy
{% endblock %}
{% block page_title %}
    Configurações geral para submissão de trabalhos
{% endblock %}
{% block sidebar %}{% endblock %}
{% block sidebar-bars %}{% endblock %}
{% block toptitle %}{% endblock %}

{% block content %}
    <div id="status">
        {% include 'scientific_work/includes/status.html' %}
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="panel-title">
                        Período de Submissão
                    </div>
                </div>
                <div id="date_period_form">
                    {% include 'scientific_work/includes/date_period_form.html' %}
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="panel-title">
                        Áreas Temáticas
                    </div>
                </div>
                <div class="panel-body">

                    <div id="area_category_list">
                        {% include 'scientific_work/includes/area_category_list.html' %}
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="panel-title">
                        Tipos de Apresentações
                    </div>
                </div>
                <div id="presenting_form">
                    {% include 'scientific_work/includes/presenting_type_form.html' %}
                </div>

            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="panel-title">
                        Criterios para submissões
                    </div>
                </div>
                <div id="presenting_form">
                    {% include 'scientific_work/includes/allow_unconfirmed_subscriptions.html' %}
                </div>

            </div>
        </div>
    </div>

{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script>
        $(document).ready(function () {

            $('#add_area_category').val('');

            Messenger.options = {
                extraClasses: 'messenger-fixed messenger-on-bottom ' +
                'messenger-on-right',
                theme: 'flat'
            };

            (function ($) {


                // CSRF code
                function getCookie(name) {
                    var cookieValue = null;
                    var i = 0;
                    if (document.cookie && document.cookie !== '') {
                        var cookies = document.cookie.split(';');
                        for (i; i < cookies.length; i++) {
                            var cookie = jQuery.trim(cookies[i]);
                            // Does this cookie string begin with the name we want?
                            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                                break;
                            }
                        }
                    }
                    return cookieValue;
                }

                var csrftoken = getCookie('csrftoken');

                // Action(update, delete) functions
                function add_area_category(name) {

                    var formData = new FormData();
                    formData.append('name', name);
                    formData.append('event', {{ event.pk }});

                    $.ajax({
                        url: '{% url 'scientific_work:areacategory-list' %}',
                        type: 'POST',
                        processData: false,
                        contentType: false,
                        data: formData,
                        beforeSend: function (xhr) {
                            xhr.setRequestHeader("X-CSRFToken", csrftoken);
                        },
                        success: function () {
                            update_area_category_list();
                            Messenger().post({
                                message: 'Área temática adicionada com ' +
                                'sucesso!',
                                type: 'success'
                            });
                            $('#add_area_category').val('');
                            update_status();
                        }
                    }).fail(function (err) {
                        console.error(err);
                        Messenger().post({
                            message: 'Não foi possivel adicionar essa ' +
                            'área temática.',
                            type: 'danger'
                        });
                    });


                }

                function edit_area_category(name, url) {
                    var formData = new FormData();
                    formData.append('name', name);
                    formData.append('event', {{ event.pk }});

                    $.ajax({
                        url: url,
                        type: 'PATCH',
                        processData: false,
                        contentType: false,
                        data: formData,
                        beforeSend: function (xhr) {
                            xhr.setRequestHeader("X-CSRFToken", csrftoken);
                        },
                        success: function () {
                            update_area_category_list();
                            Messenger().post({
                                message: 'Área temática editada com ' +
                                'sucesso!',
                                type: 'success'
                            });
                            $('#edit_area_category').val('');
                            $('#edit_area_category_url').val('');
                            update_area_category_list();
                            update_status();
                        }
                    }).fail(function (err) {
                        console.error(err);
                        Messenger().post({
                            message: 'Não foi possivel editar essa ' +
                            'área temática.',
                            type: 'danger'
                        });
                    });


                }

                function delete_area_category(url) {


                    $.ajax({
                        url: url,
                        type: 'DELETE',
                        processData: false,
                        contentType: false,
                        beforeSend: function (xhr) {
                            xhr.setRequestHeader("X-CSRFToken", csrftoken);
                        },
                        success: function () {
                            update_area_category_list();
                            Messenger().post({
                                message: 'Área temática removida com ' +
                                'sucesso!',
                                type: 'success'
                            });
                            $('#add_area_category').val('');
                            update_status();
                        }
                    }).fail(function (err) {
                        console.error(err);
                        Messenger().post({
                            message: 'Não foi possivel remover essa área ' +
                            'temática.',
                            type: 'danger'
                        });
                    });


                }

                function update_area_category_list() {
                    $.ajax({
                        url: '{% url 'scientific_work:scientific_event_config' event.pk %}' +
                        '?template_name=scientific_work/includes' +
                        '/area_category_list',
                        type: 'GET',
                        processData: false,
                        contentType: false,
                        beforeSend: function (xhr) {
                            xhr.setRequestHeader("X-CSRFToken", csrftoken);
                        },
                        success: function (response) {
                            $('#area_category_list').html(response);
                            recreate_event_triggers();
                            update_status();
                        }
                    }).fail(function (err) {
                        console.error(err);
                    });
                }

                function update_presenting_form() {
                    $.ajax({
                        url: '{% url 'scientific_work:scientific_event_config' event.pk %}' +
                        '?template_name=scientific_work/includes' +
                        '/presenting_type_form',
                        type: 'GET',
                        processData: false,
                        contentType: false,
                        beforeSend: function (xhr) {
                            xhr.setRequestHeader("X-CSRFToken", csrftoken);
                        },
                        success: function (response) {
                            $('#presenting_form').html(response);
                            Messenger().post({
                                message: 'Tipo de apresentação alterado com ' +
                                'sucesso!',
                                type: 'success'
                            });
                            recreate_event_triggers();
                            update_status();
                        }
                    }).fail(function (err) {
                        console.error(err);
                        Messenger().post({
                            message: 'Não foi possivel alertar o tipo de ' +
                            'apresentação.',
                            type: 'danger'
                        });
                    });
                }

                function update_date_period_form() {
                    $.ajax({
                        url: '{% url 'scientific_work:scientific_event_config' event.pk %}' +
                        '?template_name=scientific_work/includes' +
                        '/date_period_form',
                        type: 'GET',
                        processData: false,
                        contentType: false,
                        beforeSend: function (xhr) {
                            xhr.setRequestHeader("X-CSRFToken", csrftoken);
                        },
                        success: function (response) {
                            $('#date_period_form').html(response);
                            Messenger().post({
                                message: 'Periodo de submissão alterado com ' +
                                'sucesso!',
                                type: 'success'
                            });
                            recreate_event_triggers();
                            update_status();
                        }
                    }).fail(function (err) {
                        console.error(err);
                        Messenger().post({
                            message: 'Não foi possivel alterar o periodo de ' +
                            'submissão.',
                            type: 'danger'
                        });
                    });
                }

                function update_status() {
                    $.ajax({
                        url: '{% url 'scientific_work:scientific_event_config' event.pk %}' +
                        '?template_name=scientific_work/includes' +
                        '/status',
                        type: 'GET',
                        success: function (response) {
                            $('#status').html(response);
                        }
                    }).fail(function (err) {
                        console.error(err);
                        location.reload(true);
                    });
                }

                function recreate_event_triggers() {

                    var new_area_category_btn = $('.new-area-category');
                    var edit_area_category_btn = $('.edit-area-category');
                    var add_area_category_modal_btn = $('#add_area_category_modal_btn');
                    var edit_area_category_modal_btn = $('#edit_area_category_modal_btn');
                    var add_area_category_modal = $('#add_area_category_modal');
                    var edit_area_category_modal = $('#edit_area_category_modal');
                    var delete_area_category_btn = $('.delete-area-category');
                    var date_save_btn = $('.work-config-date-save');
                    var presenting_save_btn = $('.work-config-presenting-save');
                    var date_form = $('#work_config_date_form');
                    var presenting_form = $('#work_config_presenting_type_form');
                    var unconfirmed_save_btn = $('.work-config-unconfirmed-save');
                    var unconfirmed_subscription_form = $('#work_config_unconfirmed_subscription_form');

                    new_area_category_btn.unbind("click");
                    edit_area_category_btn.unbind("click");
                    add_area_category_modal_btn.unbind("click");
                    edit_area_category_modal_btn.unbind("click");
                    delete_area_category_btn.unbind("click");
                    date_save_btn.unbind("click");
                    presenting_save_btn.unbind("click");
                    unconfirmed_save_btn.unbind("click");

                    // Triggers
                    new_area_category_btn.on("click", function () {
                        add_area_category_modal.modal('show');
                    });
                    edit_area_category_btn.on("click", function () {
                        console.log($(this).data('name'));
                        $('#edit_area_category').val($(this).data('name'));
                        $('#edit_area_category_url').val($(this).data('url'));
                        edit_area_category_modal.modal('show');
                    });
                    add_area_category_modal_btn.on("click", function () {
                        var category_name = $('#add_area_category').val();

                        if (category_name && category_name !== "") {
                            add_area_category(category_name);
                        }
                    });
                    edit_area_category_modal_btn.on("click", function () {
                        var category_name = $('#edit_area_category').val();
                        var category_url = $('#edit_area_category_url').val();

                        if (category_name !== "" && category_url !== "") {
                            edit_area_category(category_name, category_url);
                        }
                    });
                    delete_area_category_btn.on("click", function () {
                        var res = confirm("Certeza que deseja excluir este?");
                        if (res) {
                            delete_area_category($(this).data('url'))
                        }

                    });
                    date_save_btn.on("click", function () {
                        var form_data = new FormData(date_form[0]);
                        $.ajax({
                            url: '{% url 'scientific_work:workconfig-detail' work_config.pk %}',
                            type: 'PATCH',
                            processData: false,
                            data: form_data,
                            contentType: false,
                            beforeSend: function (xhr) {
                                xhr.setRequestHeader("X-CSRFToken", csrftoken);
                            },
                            success: function () {
                                update_date_period_form();
                            }
                        }).fail(function (err) {
                            console.error(err.responseText);
                        });


                    });
                    presenting_save_btn.on("click", function () {

                        var form_data = new FormData(presenting_form[0]);
                        $.ajax({
                            url: '{% url 'scientific_work:workconfig-detail' work_config.pk %}',
                            type: 'PATCH',
                            processData: false,
                            data: form_data,
                            contentType: false,
                            beforeSend: function (xhr) {
                                xhr.setRequestHeader("X-CSRFToken", csrftoken);
                            },
                            success: function () {
                                update_presenting_form();
                            }
                        }).fail(function (err) {
                            console.error(err.responseText);
                        });


                    });
                    unconfirmed_save_btn.on("click", function () {
                        var btn = $('#id_allow_unconfirmed_subscriptions')[0];
                        var form_data = new FormData(unconfirmed_subscription_form[0]);

                        // ugly hack because switchery can't play nice.
                        form_data.delete('allow_unconfirmed_subscriptions');
                        form_data.set('allow_unconfirmed_subscriptions', btn.checked);

                        $.ajax({
                            url: '{% url 'scientific_work:workconfig-detail' work_config.pk %}',
                            type: 'PATCH',
                            processData: false,
                            data: form_data,
                            contentType: false,
                            beforeSend: function (xhr) {
                                xhr.setRequestHeader("X-CSRFToken", csrftoken);
                            },
                            success: function () {
                                //update_unconfirmed_form();
                                Messenger().post({
                                    message: 'Configurações de submissão salvas ' +
                                    'com sucesso!',
                                    type: 'success'
                                });
                                update_status();
                            }
                        }).fail(function (err) {
                            console.error(err.responseText);
                            Messenger().post({
                                message: 'Não foi possivel alterar as ' +
                                'configurações para permitir  ' +
                                'submissões.',
                                type: 'danger'
                            });
                        });


                    });
                }

                recreate_event_triggers();

            })(jQuery);
        });
    </script>
{% endblock %}

{% block modals %}
    <!-----------------------MODALS ----------------------------------->
    <div class="modal fade" id="add_area_category_modal" tabindex="-1"
         role="dialog"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">Nova área temática: </h3>
                    <button type="button" class="close"
                            data-dismiss="modal" aria-hidden="true">
                        ×
                    </button>
                </div>
                <div class="modal-body">

                    <div class="form-group">

                        <label for="add_area_category">Nome:</label>
                        <div>
                            <input name="add_area_category" maxlength="255"
                                   class="form-control" id="add_area_category"
                                   type="text">
                        </div>
                    </div>


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-md btn-success"
                            data-dismiss="modal"
                            id="add_area_category_modal_btn">
                        <i class="far fa-save"></i>
                        Salvar
                    </button>
                    <button type="button" class="btn btn-md  btn-danger"
                            data-dismiss="modal">Close
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="edit_area_category_modal" tabindex="-1"
         role="dialog"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">Editar área temática: </h3>
                    <button type="button" class="close"
                            data-dismiss="modal" aria-hidden="true">
                        ×
                    </button>
                </div>
                <div class="modal-body">

                    <div class="form-group">
                        <label for="edit_area_category">Nome:</label>
                        <div>
                            <input name="edit_area_category" maxlength="255"
                                   class="form-control" id="edit_area_category"
                                   type="text">
                            <input id="edit_area_category_url"
                                   type="hidden">
                        </div>
                    </div>


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-md btn-success"
                            data-dismiss="modal"
                            id="edit_area_category_modal_btn">
                        <i class="far fa-save"></i>
                        Salvar
                    </button>
                    <button type="button" class="btn btn-md  btn-danger"
                            data-dismiss="modal">Close
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!---------------------END MODALS---------------------------------->

{% endblock %}

