

{% extends "base/base.html" %}
{% load i18n static widget_tweaks form_config_tags %}
{% block title %}Nova submissão | Congressy{% endblock %}
{% block page_title %}Nova submissão{% endblock %}
{% block content %}
    <form method="POST" class="submission_form">
        {% csrf_token %}
        <div class="row">
            <div class="col-lg-8 col-lg-push-2 col-xl-8 col-xl-push-2">
                {% if form.non_field_errors %}
                    {% render_errors form.non_field_errors %}
                {% endif %}
                {% for field in form %}
                    {% if field.errors %}
                        {% render_errors field.errors %}
                    {% endif %}
                {% endfor %}
                {% if form.forms %}
                    {% render_errors form.non_field_errors %}
                {% endif %}
                {% for hidden_field in form.hidden_fields %}
                    {% if hidden_field.errors %}
                        {% render_errors hidden_field.errors %}
                    {% endif %}
                    {{ hidden_field }}
                {% endfor %}
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <div class="panel-title">Nova submissão</div>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12" style="margin-top: 20px">
                                {% render_generic_field form.modality %}
                                {% render_generic_field form.area_category %}
                                {% render_generic_field form.title %}
                                <div class="form-group">
                                    {{ form.accepts_terms }}
                                    <small style="color:#C9302C">*</small>
                                    <strong>
                                        Declaro que li
                                        e estou de acordo com as seguintes
                                        <a href="#">regras</a>
                                    </strong>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-push-2 col-xl-8 col-xl-push-2">
                <div class="buttonbar">
                    <div class="float-right">
                        <button type="submit"
                                class="btn btn-success">
                            <i class="far fa-save"></i>
                            Salvar
                        </button>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </form>
{% endblock %}

{% block sidebar %}{% endblock %}
{% block sidebar-bars %}{% endblock %}
{% block toptitle %}{% endblock %}
{% block scripts %}
    <script src="{% static 'assets/js/user_notification.js' %}"></script>

    <script type="application/javascript">
        $(document).ready(function () {

            var select_el = $('#id_modality');
            var article_file_el = $('#article_file_el');
            var banner_file_el = $('#banner_file_el');

            banner_file_el.hide();

            select_el.on("change", function () {

                if (this.value === "resumo") {
                    article_file_el.fadeOut();
                    banner_file_el.fadeOut();
                } else if (this.value === "artigo") {
                    article_file_el.fadeIn("slow");
                    banner_file_el.fadeOut();
                } else if (this.value === "banner") {
                    banner_file_el.fadeIn("slow");
                    article_file_el.fadeOut();
                }
            });

        });
    </script>
{% endblock %}

