{% extends "base/base.html" %}
{% load i18n static widget_tweaks form_config_tags %}
{% block title %}Todas submissões | Congressy{% endblock %}
{% block page_title %}Todas submissões{% endblock %}
{% block sidebar %}{% endblock %}
{% block sidebar-bars %}{% endblock %}
{% block toptitle %}{% endblock %}
{% block styles %}
    <style>
        input[type="file"] {
            display: none;
        }

        .custom-file-upload {
            border: 1px solid #ccc;
            display: inline-block;
            padding: 6px 12px;
            cursor: pointer;
        }

        .form-inline {
            display: inline-block;
        }
    </style>
{% endblock %}


{% block content %}

    <div class="row">

        {% if object_list %}

            <div class="col-lg-8 col-lg-push-2 col-xl-8 col-xl-push-2">

                {% for work in  object_list %}

                    <div class="row col-md-8">

                        <div class="panel panel-primary">

                            <div class="panel-heading">

                                <div class="panel-title">

                                    Submissão ID:{{ work.pk }}

                                </div>

                            </div>

                            <div class="panel-body">

                                <div class="row">

                                    <div class="table-responsive">

                                        <table class="table">

                                            <thead>

                                            <tr>
                                                <th></th>
                                                <th></th>
                                            </tr>

                                            </thead>

                                            <tbody>

                                            <tr>
                                                <td>Nome:

                                                </td>
                                                <td>
                                                    <strong>
                                                        {{ work.title }}
                                                    </strong>
                                                    <i class="fas
                                                        fa-check-circle success-color fa-lg pull-right"></i>
                                                </td>
                                            </tr>

                                            <tr>
                                                <td>
                                                    Modalidade:

                                                </td>
                                                <td>
                                                    <strong>
                                                        {{ work.get_modality_display }}
                                                    </strong>
                                                    <i class="fas
                                                        fa-check-circle
                                                        success-color fa-lg
                                                        pull-right"></i>
                                                </td>
                                            </tr>

                                            <tr>
                                                <td>
                                                    Área:
                                                </td>
                                                <td>
                                                    <strong>
                                                        {{ work.get_area_category_display }}
                                                    </strong>
                                                    <i class="fas
                                                        fa-check-circle success-color fa-lg pull-right"></i>
                                                </td>

                                            </tr>

                                            <tr>
                                                <td>
                                                    Palavras chave:
                                                </td>
                                                <td>
                                                    {% if work.keywords %}
                                                        <button class="btn btn-trans btn-sm
                                                btn-success edit-keywords-btn"
                                                                data-keywords_text="{{ work.keywords }}"
                                                                data-work_url="{% url 'scientific_work:api_work-update' pk=work.pk %}">
                                                            Editar
                                                        </button>
                                                        <i class="fas
                                                        fa-check-circle success-color fa-lg pull-right"></i>
                                                    {% else %}
                                                        <button class="btn
                                                            btn-trans btn-sm btn-success edit-keywords-btn"
                                                                data-keywords_text="{{ work.keywords }}"
                                                                data-work_url="{% url 'scientific_work:api_work-update' pk=work.pk %}">
                                                            Adicionar
                                                        </button>
                                                        <i class="fas fa-times-circle
                                                        danger-color fa-lg pull-right"></i>
                                                    {% endif %}
                                                </td>

                                            </tr>

                                            <tr>
                                                <td>
                                                    Resumo:
                                                </td>
                                                <td>
                                                    {% if work.summary %}

                                                        <button class="btn btn-trans btn-sm
                                                btn-success edit-summary-btn"
                                                                data-summary_text="{{ work.summary }}"
                                                                data-work_url="{% url 'scientific_work:api_work-update' pk=work.pk %}"
                                                                data-work_id="{{ work.pk }}">
                                                            Editar
                                                        </button>
                                                    {% endif %}
                                                    <i class="fas
                                                        fa-check-circle success-color fa-lg pull-right"></i>
                                                </td>
                                            </tr>

                                            {% if work.modality == 'artigo' or work.modality == 'banner' %}
                                                <tr>

                                                    <td>
                                                        {% if work.modality == 'artigo' %}
                                                            Artigo:
                                                        {% elif work.modality == 'banner' %}
                                                            Banner:
                                                        {% endif %}
                                                    </td>
                                                    <td>
                                                        {% if work.modality == 'artigo' %}
                                                            {% if work.article_file %}
                                                                <a target="_blank"
                                                                   href="{{ work.article_file.url }}">
                                                                    Artigo
                                                                </a>
                                                            {% endif %}
                                                            <div class="form-inline">
                                                                <label for="article_file"
                                                                       class="custom-file-upload">
                                                                    <i class="fas fa-cloud-upload-alt"></i>
                                                                </label>
                                                                <input id="article_file"
                                                                       type="file"/>
                                                                <button
                                                                        class="btn btn-sm btn-success"
                                                                        onclick="submit_article('{% url 'scientific_work:api_work-update' pk=work.pk %}');">
                                                                    Salvar
                                                                </button>
                                                            </div>

                                                            {% if work.article_file %}
                                                                <i class="fas
                                                        fa-check-circle success-color fa-lg pull-right"></i>
                                                            {% else %}
                                                                <i class="fas fa-times-circle
                                                        danger-color fa-lg pull-right"></i>
                                                            {% endif %}
                                                        {% elif work.modality == 'banner' and work.banner_file %}
                                                            <a target="_blank"
                                                               href="{{ work.banner_file.url }}">Banner</a>
                                                            <i class="fas
                                                        fa-check-circle success-color fa-lg pull-right"></i>
                                                        {% elif  work.modality == 'banner' %}
                                                            Faça upload do
                                                            seu banner:
                                                            <input
                                                                    id="banner_file"
                                                                    type="file">
                                                            <i class="fas fa-times-circle
                                                        danger-color fa-lg pull-right"></i>
                                                        {% endif %}
                                                    </td>

                                                </tr>
                                            {% endif %}

                                            <tr>

                                                <td>
                                                    Publicar:
                                                </td>
                                                <td>

                                                    {% if work.status == 'not ready' %}
                                                        <strong>
                                                            Há pendencias
                                                            nessa submissão
                                                            que
                                                            impossibilitam
                                                            sua publicação.
                                                        </strong>
                                                        <input type="checkbox"
                                                               disabled
                                                               class="js-switch"/>

                                                    {% elif work.status == 'ready' %}

                                                        <strong>
                                                            <input
                                                                    class="js-switch published"
                                                                    data-work_url="{% url 'scientific_work:api_work-update' pk=work.pk %}"
                                                                    type="checkbox"
                                                                    {% if work.published %}
                                                                    checked {% endif %}  />
                                                        </strong>
                                                        <i class="fas
                                                        fa-check-circle success-color fa-lg pull-right"></i>
                                                    {% endif %}

                                                </td>

                                            </tr>

                                            </tbody>

                                        </table>

                                    </div>

                                </div>

                            </div>

                        </div>

                    </div>

                {% endfor %}

            </div>

            <!-----------------------MODALS ----------------------------------->
            <div class="modal fade" id="edit_summary_modal" tabindex="-1"
                 role="dialog"
                 aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h3 class="modal-title">Editar Resumo: </h3>
                            <button type="button" class="close"
                                    data-dismiss="modal" aria-hidden="true">
                                ×
                            </button>
                        </div>
                        <div class="modal-body">
                            <textarea id="edit_summary_modal_body" rows="10"
                                      cols="55"></textarea>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-md btn-success"
                                    data-dismiss="modal"
                                    id="edit_summary_modal_btn">
                                <i class="far fa-save"></i>
                                Salvar
                            </button>
                            <button type="button" class="btn btn-md  btn-danger"
                                    data-dismiss="modal">Close
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="edit_keywords_modal" tabindex="-1"
                 role="dialog"
                 aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h3 class="modal-title">Editar palavaras chave:
                            </h3>
                            <button type="button" class="close"
                                    data-dismiss="modal" aria-hidden="true">
                                ×
                            </button>
                        </div>
                        <div class="modal-body">
                            <textarea id="edit_keywords_modal_body" rows="5"
                                      cols="55"></textarea>
                            <small>Separadas por virgula</small>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-md btn-success"
                                    data-dismiss="modal"
                                    id="edit_keywords_modal_btn">
                                <i class="far fa-save"></i>
                                Salvar
                            </button>
                            <button type="button" class="btn btn-md  btn-danger"
                                    data-dismiss="modal">Close
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <!---------------------END MODALS---------------------------------->

        {% else %}

            <div class="col-lg-8 col-lg-push-2 col-xl-8 col-xl-push-2">

                <div class="panel panel-primary">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12">
                                <h3>Nenhuma submissão até o momento.</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        {% endif %}

    </div>

{% endblock %}


{% block scripts %}
    <script type="application/javascript">


        $(document).ready(function () {

            //buttons
            var edit_summary_btn = $('.edit-summary-btn');
            var edit_keyword_btn = $('.edit-keywords-btn');
            var edit_summary_modal_btn = $('#edit_summary_modal_btn');
            var edit_keywords_modal_btn = $('#edit_keywords_modal_btn');
            var edit_published_btn = $('.published');
            console.log(edit_published_btn);

            // modals
            var edit_summary_modal = $('#edit_summary_modal');
            var edit_summary_modal_body = $('#edit_summary_modal_body');

            var edit_keywords_modal = $('#edit_keywords_modal');
            var edit_keywords_modal_body = $('#edit_keywords_modal_body');


            // modal btn triggers
            edit_summary_btn.on("click", function () {
                edit_summary_modal_body.text($(this).data('summary_text'));
                edit_summary_modal_btn.data('work_url', $(this).data('work_url'));
                edit_summary_modal.modal('show');
            });
            edit_keyword_btn.on("click", function () {
                edit_keywords_modal_body.text($(this).data('keywords_text'));
                edit_keyword_btn.data('work_url', $(this).data('work_url'));
                edit_keywords_modal.modal('show');
            });

            // save btn triggers
            edit_summary_modal_btn.on("click", function () {
                update_summary($(this).data('work_url'), edit_summary_modal_body.val());
            });
            edit_keywords_modal_btn.on("click", function () {
                update_keywords($(this).data('work_url'), edit_keywords_modal_body.val());
            });


        });


        // CSRF code
        function getCookie(name) {
            var cookieValue = null;
            var i = 0;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (i; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        var csrftoken = getCookie('csrftoken');

        // functions
        function submit_article(url) {

            var article_file = document.getElementById('article_file').files[0];
            var formData = new FormData();
            formData.append('article_file', article_file);
            $.ajax({
                url: url,
                type: 'PUT',
                processData: false,
                contentType: false,
                data: formData,
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                },
                success: function (data, textStatus, xhr) {
                    //location.reload();
                    console.log('---------------------------------------');
                    console.log(xhr.status);
                    console.log('---------------------------------------');
                    console.log(textStatus);
                    console.log('---------------------------------------');
                    console.log(data);
                    console.log('---------------------------------------');

                }
            }).fail(function (err) {
                console.log('err');
                console.log(err.responseText);
            });


        }

        function update_summary(url, text) {
            var formData = new FormData();
            formData.append('summary', text);

            $.ajax({
                url: url,
                type: 'PATCH',
                processData: false,
                contentType: false,
                data: formData,
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                },
                success: function () {
                    location.reload();
                }
            }).fail(function (err) {
                console.error(err.responseText);
            });
        }

        function update_keywords(url, text) {
            var formData = new FormData();
            formData.append('keywords', text);

            $.ajax({
                url: url,
                type: 'PATCH',
                processData: false,
                contentType: false,
                data: formData,
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                },
                success: function () {
                    location.reload();
                }
            }).fail(function (err) {
                console.error(err.responseText);
            });
        }

    </script>
{% endblock %}

