{% load static %}
{% load base_tags %}

<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title %}Congressy{% endblock %}</title>
    <meta name="description" content="">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet"
          href="{% static "assets/plugins/bootstrap/css/bootstrap.min.css" %}">
    <!-- Fonts  -->
    <link rel="stylesheet"
          href="{% static "assets/css/font-awesome.min.css" %}">
    <link rel="stylesheet"
          href="{% static "assets/css/simple-line-icons.css" %}">
    <!-- CSS Animate -->
    <link rel="stylesheet" href="{% static "assets/css/animate.css" %}">
    <link rel="stylesheet"
          href="{% static "assets/plugins/switchery/switchery.min.css" %}">

    <!-- Custom styles for this theme -->
    <link rel="stylesheet" href="{% static 'assets/css/main.css' %}">

    {% block styles %}{% endblock %}

    <script src="{% static "assets/js/vendor/jquery-1.12.3.min.js" %}"></script>
    {% if form %}
        {{ form.media }}
    {% endif %}

    {% block headscripts %}{% endblock %}

    <!-- Feature detection -->
    <script src="{% static "assets/js/vendor/modernizr-2.6.2.min.js" %}"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="{% static "assets/js/vendor/html5shiv.js"%}"></script>
        <script src="{% static "assets/js/vendor/respond.min.js"%}"></script>
    <![endif]-->
</head>
<body>


<section id="main-wrapper" class="theme-cgsy-full">
    <header id="header">

        <!--logo start-->
        <div class="brand">
            <a href="{% url 'front:start' %}">
                <img class="base_logo" src=
                        "{% static "assets/img/logo.png" %}"/>
            </a>
        </div>
        <!--logo end-->


        {% block navbar %}
            {% include "base/navbar.html" %}
        {% endblock %}
    </header>

    {% block sidebar %}
        <aside class="sidebar sidebar-left">

            {% if organization and not organization.internal %}
                <div class="sidebar-profile">
                    <div class="profile-body dropdown">
                        <a href="javascript:void(0);" class="dropdown-toggle"
                           data-toggle="dropdown" aria-expanded="false">
                            <h4>

                                {{ organization.name }}<span
                                    class="caret"></span>
                            </h4></a>
                        <small class="title">{{ member.get_group_display }}
                        </small>
                        <ul class="dropdown-menu" role="menu">

                            <li>
                                <a href="{% url 'event:organization-panel' organization.pk %}">
                            <span class="icon">
                                <i class="fa fa-rocket"></i>
                            </span>Painel
                                </a>
                            </li>
                            {% if is_manager %}
                                <li>
                                    <a href="
{% url 'event:invitation-list' organization.pk %}">
                            <span class="icon">
                                <i class="fa fa-envelope"></i>
                            </span>Convites
                                    </a>
                                </li>
                            {% endif %}
                            <li>
                                <a href="
{% url 'event:member-list' organization.pk%}">
                            <span class="icon">
                                <i class="fa fa-users"></i>
                            </span>Membros
                                </a>
                            </li>
                            <li>
                                <a href="
{% url 'event:place-list' organization.pkgit  %}">
                            <span class="icon">
                                <i class="fa fa-map-marker"></i>
                            </span>Locais
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            {% endif %}

            <nav>
                <br>
                <ul class="nav nav-pills nav-stacked">
                    {% block nav_aside_itens %}
                        <li>
                            <a href="{% url 'event:organization-list' %}"
                               title="Organizações">
                                <i class="fa  fa-fw fa-sitemap"></i>
                                Organizações
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'event:event-list' %}"
                               title="Eventos">
                                <i class="fa  fa-fw fa-rocket"></i> Eventos
                            </a>
                        </li>
                    {% endblock %}
                </ul>
            </nav>
            <br/>
            <div class="setting-list">
                <div class="row">
                    <div class="col-xs-8">
                        <label for="check1" class="control-label">Modo de
                            Organizador</label>
                    </div>
                    <div class="col-xs-4">
                        <input class="js-switch" checked="" id="check1"
                               style="display: none;" data-switchery="true"
                               type="checkbox">
                    </div>
                </div>
            </div>
        </aside>
    {% endblock %}

    <!--main content start-->
    <section class="main-content-wrapper" style="position: relative;">
        <div class="pageheader">
            <h1>{% block page_title %}{% endblock %}</h1>
            <h2>{% block page_sub_title %}{% endblock %}</h2>
            <p class="text-muted">
                {% block page_description %}{% endblock %}</p>
        </div>
        <section id="main-content">
            {% block messages %}
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-{{ message.tags }} alert-dismissable">
                            <button type="button" class="close"
                                    data-dismiss="alert" aria-hidden="true">×
                            </button>
                            {{ message|capfirst }}
                        </div>
                    {% endfor %}
                {% endif %}
            {% endblock messages %}
            {% block content %}{% endblock %}
        </section>
        <!-- main content end -->
        <section class="cgsy-footer footer-wrapper">
            Congressy© 2018 - Version: 0.0.1
        </section>
    </section>

</section>

<!--Global JS-->

<script src="{% static "assets/plugins/bootstrap/js/bootstrap.min.js" %}"></script>
<script src="{% static "assets/plugins/navgoco/jquery.navgoco.min.js" %}"></script>
<script src="{% static "assets/plugins/pace/pace.min.js" %}"></script>
<script src="{% static "assets/plugins/switchery/switchery.min.js" %}"></script>
<script src="{% static "assets/js/src/app.js" %}"></script>
<script src="{% static "assets/js/cgsy.js" %}"></script>

{% block scripts %}{% endblock %}
</body>
</html>
