{% load i18n static base_tags %}

{% get_current_language as LANGUAGE_CODE %}{% get_current_language_bidi as LANGUAGE_BIDI %}
<!DOCTYPE html>
<!--[if lt IE 7 ]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="{{ LANGUAGE_CODE|default:"pt-br"}}">
<![endif]-->
<!--[if IE 7 ]>
<html class="no-js lt-ie9 lt-ie8" lang="{{ LANGUAGE_CODE|default:"pt-br"}}">
<![endif]-->
<!--[if IE 8 ]>
<html class="no-js lt-ie9" lang="{{ LANGUAGE_CODE|default:"pt-br"}}">
<![endif]-->
<!--[if (gte IE 9)|!(IE)]>
<html class="no-js" lang="{{ LANGUAGE_CODE|default:"pt-br"}}">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title %}Congressy{% endblock %}</title>
    <meta name="description" content="">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet"
          href="{% static "assets/plugins/bootstrap/css/bootstrap.min.css" %}">
    <link rel="stylesheet"
          href="{% static "assets/plugins/bootstrap/css/bootstrap-xl.css" %}">

    <!-- Bootstrap Accessibility -->
    <link rel="stylesheet"
          href="{% static "assets/plugins/bootstrap-accessibility/css/bootstrap-accessibility_1.0.3.css" %}">

    <!-- Fonts  -->
    <link rel="stylesheet"
          href="{% static "assets/css/fontawesome-all.min.css" %}">
    <link rel="stylesheet"
          href="{% static "assets/css/simple-line-icons.css" %}">
    <!-- CSS Animate -->
    <link rel="stylesheet" href="{% static "assets/css/animate.css" %}">
    <link rel="stylesheet"
          href="{% static 'assets/plugins/icheck/css/all.css' %}">
    <link rel="stylesheet"
          href="{% static "assets/plugins/switchery/switchery.min.css" %}">

    <!-- Messenger -->
    <link rel="stylesheet"
          href="{% static "assets/plugins/messenger/css/messenger.css" %}">
    <link rel="stylesheet"
          href="{% static "assets/plugins/messenger/css/messenger-theme-flat.css" %}">
    <link rel="stylesheet"
          href="{% static "assets/plugins/messenger/css/location-sel.css" %}">


    <!-- Custom styles for this theme -->
    <link rel="stylesheet" href="{% static 'assets/css/main.css' %}">


    <script src="{% static "assets/js/vendor/jquery-1.12.3.min.js" %}"></script>

    {% block headscripts %}{% endblock %}

    {% if form %}
        {{ form.media.css }}
    {% endif %}

    <!-- Feature detection -->
    <script src="{% static "assets/js/vendor/modernizr-2.6.2.min.js" %}"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="{% static "assets/js/vendor/html5shiv.js"%}"></script>
        <script src="{% static "assets/js/vendor/respond.min.js"%}"></script>
    <![endif]-->
</head>
<body>


<section id="main-wrapper" class="theme-cgsy-full">
    <header id="header" style="background-color: #F0F3F3">

        <!--logo start-->
        <div class="brand">
            <a href="{% url 'front:start' %}">
                <img class="img base_logo" src=
                        "{% static "assets/img/header-logo_black.png" %}"
                />
            </a>
        </div>
        <!--logo end-->

        {% block navbar %}
            {% if user %}
                <ul class="nav navbar-nav navbar-right hidden-xs">
                    <li style="padding-top: 5px">
                        <span class="meta ">
                            <button type="button" onclick="location.href=
                                    '{% url 'event:event-add' %}'"
                                    class="btn btn-sm
                        btn-success navbar-btn">
                            <i class="fa fa-plus"></i>
                                Novo Evento
                            </button>
                        </span>
                    </li>
                    {% if organization %}
                        <li class="dropdown"
                            style="background-color: #F0F3F3; outline:
                            none">
                            <a href="javascript:void(0);"
                               class="dropdown-toggle"
                               data-toggle="dropdown" style="outline: none">
                                        <span class="meta"
                                              style="color: black">
                                            <span class="text">
                                                {{ organization.name|truncatechars:20 }}
                                            </span>
                                            <span class="caret hidden-xs"></span>
                                        </span>
                            </a>
                            <ul class="dropdown-menu animated fadeInRight "
                                role="menu">

                                <li>
                                    <a href="
{% url 'event:organization-edit' organization.pk %}">
                                            <span class="icon">
                                                <i class="fas fa-list-alt"></i>
                                            </span>
                                        Gerenciar
                                    </a>
                                </li>
                                <li class="divider"></li>
                                <li role="presentation">
                                    <button type="button"
                                            class="btn  btn-sm btn-primary
                                       btn-block"
                                            tabindex="-1"
                                            data-toggle="modal"
                                            data-target="#change_organization">
                                        <i class="fas fa-exchange-alt"></i>
                                        Trocar de organização
                                    </button>
                                </li>
                            </ul>
                        </li>
                    {% endif %}
                </ul>
            {% endif %}

        {% endblock %}
    </header>
    <div class="row">
        <div class="float-right navbar-header">
            <ul class="nav nav-pills">
                {% if organization %}

                    <li class="dropdown visible-xs"
                        role="presentation"
                        style="background-color: #F0F3F3; outline:
                            none;">
                        <a href="javascript:void(0);"
                           class="dropdown-toggle"
                           data-toggle="dropdown" style="outline: none;
                           margin-top: 10px">
                                        <span class="meta"
                                              style="color: black">
                                            <span class="fa fa-sitemap"
                                                  style="font-size: 25px;
                                                  color: #565656;">
                                            </span>
                                            <span class="caret hidden-xs"></span>
                                        </span>
                        </a>
                        <ul class="dropdown-menu animated fadeInRight "
                            role="menu" style="min-width: 20px;text-align: center">

                            <li>
                                <span class="text">
                                    {{ organization.name|truncatechars:15 }}
                                </span>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href="
{% url 'event:organization-edit' organization.pk %}">
                                    <i class="fas fa-list-alt"></i>
                                    Gerenciar
                                </a>
                            </li>
                            <li class="divider"></li>
                            <li role="presentation">
                                <button type="button" id="org-button"
                                        class="btn  btn-sm btn-primary
                                       btn-block"
                                        role="menuitem" tabindex="-1"
                                        data-toggle="modal"
                                        data-target="#change_organization">
                                    <i class="fas fa-exchange-alt"></i>
                                    Trocar
                                </button>
                            </li>
                        </ul>
                    </li>
                {% endif %}
                <li role="presentation">
                    <button type="button" class="sidebar-toggle navbar-toggle
            collapsed" data-toggle="collapse" data-target="#sidebar"
                            aria-expanded="false" style="text-align:
                    right;width: 50px; ">
                        <i class="fas fa-bars"
                           style="font-size: 30px;"></i>
                        <span> </span>

                    </button>
                </li>
            </ul>
        </div>

        {% include "base/sidebar.html" %}
        <!--main content start-->
        <section class="main-content-wrapper col-sm-12" style="position:
        relative;">
            <div class="pageheader">
                <h1>{% block page_title %}{% endblock %}</h1>
                <h2>{% block page_sub_title %}{% endblock %}</h2>
                <p class="text-muted">
                    {% block page_description %}{% endblock %}</p>
            </div>
            <section id="main-content">
                {% block messages %}
                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert alert-{{ message.tags }} alert-dismissable">
                                <button type="button" class="close"
                                        data-dismiss="alert"
                                        aria-hidden="true">×
                                </button>
                                {{ message|capfirst }}
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endblock messages %}
                {% block content %}{% endblock %}

            </section>
            <!-- main content end -->

        </section>
    </div>
    </div>
    <section class="cgsy-footer footer-wrapper" style="z-index: 1000">
        {% include "base/footer.html" %}
    </section>
</section>

<!-- Modals -->
{% include 'organization/modal-switch-organization.html' %}

{% include 'sentry-javascript-sdk.html' %}
{% include 'tawto.html' %}
{% include 'hotjar.html' %}
{% include 'smartlook.html' %}

<!--Global JS-->
<script src="{% static "assets/plugins/bootstrap/js/bootstrap.min.js" %}"></script>
<script src="{% static "assets/plugins/bootstrap-accessibility/js/bootstrap-accessibility_1.0.3.js" %}"></script>
<script src="{% static "assets/plugins/navgoco/jquery.navgoco.min.js" %}"></script>
<script src="{% static "assets/plugins/pace/pace.min.js" %}"></script>
<script src="{% static "assets/plugins/switchery/switchery.min.js" %}"></script>
<script src="{% static 'assets/plugins/icheck/js/icheck.min.js' %}"></script>
<script src="{% static "assets/plugins/mask/mask.min.js" %}"></script>
<script src="{% static "assets/plugins/messenger/js/messenger.min.js" %}"></script>
<script src="{% static "assets/plugins/messenger/js/messenger-theme-flat.js" %}"></script>
<script src="{% static "assets/plugins/messenger/js/messenger-theme-future.js" %}"></script>
<script src="{% static "assets/plugins/sortable/js/Sortable.min.js" %}"></script>
<script src="{% static "assets/js/src/app.js" %}"></script>
<script src="{% static "assets/js/cgsy.js" %}"></script>

<script type="application/javascript">

    $(document).ready(function () {
        $('.cgsy-date-input').mask("99/99/9999");
        $('.cgsy-time-input').mask("99:99");
    });

    $(function () {
        var button = $("#org-button")
        var navMain = $(".navbar-collapse"); // avoid dependency on #id
        button.click(function () {
            navMain.collapse('hide');
        });
    });

    function cgsy_submit(value) {
        console.log(typeof(value));
        console.log(value);
        var org_context = document.getElementById('organization-context-pk');
        org_context.value = value;
        document.getElementById("organization_context").submit();
        console.log('SUBMITTED' + org_context.value)
    }
</script>

{% block scripts %}{% endblock %}

{% if form %}
    {{ form.media.js }}
{% endif %}
</body>
</html>
