{% load static %}
<ul class="nav navbar-nav navbar-left">
    <li class="toggle-navigation toggle-left">
        <button class="sidebar-toggle" id="toggle-left">
            <i class="fa fa-bars"></i>
        </button>
    </li>
</ul>
<ul class="nav navbar-nav navbar-right">

    <li class="dropdown profile hidden-xs ">
    </li>

    <li class="dropdown profile hidden-xs">
        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                <span class="meta">
                <span class="text  hidden-xs">{{ user.first_name }}</span>
                <span class="caret hidden-xs"></span>
                </span>
        </a>
        <ul class="dropdown-menu animated fadeInRight " role="menu">
            <li>
                <a href="{% url 'event:profile' %}">
                        <span class="icon"><i class="fa fa-user"></i>
                        </span>Meus Dados</a>
            </li>
            <li>
                <a href="{% url 'front:logout' %}">
                        <span class="icon"><i class="fa fa-sign-out"></i>
                        </span>Sair</a>
            </li>

        </ul>
    </li>
    <li class="dropdown mobile-menu hidden-sm hidden-md hidden-lg">
        <button id="mobile-top-menu-button"
                class="sidebar-toggle">
            <i class="fa fa-ellipsis-v"></i>
        </button>
        <div id="mobile-top-menu">
            {#            <h4>#}
            {#                Minhas informações:#}
            {#            </h4>#}
            <div class="mobile-top-menu-wrap">
                <div class="row">
                    <div class="col-xs-12">
                        <span class="icon"><i class="fa fa-user"></i>
                        </span><a href="{% url 'event:profile' %}"> Meus Dados</a><br/>
                        <span class="icon"><i class="fa fa-sign-out"></i>
                        </span><a href="{% url 'front:logout' %}"> Sair</a><br/>
                    </div>
                </div>
            </div>
        </div>
    </li>

</ul>