<div class="collapse navbar-collapse collapse" id="sidebar"
     data-animated="fadeInRight">
    <div class="principal_sidebar new_nav  sidebar-left sidebar"
         style=" padding-top: 0">
        <ul class="col nav nav-pills nav-stacked " style="
                            font-size: 25px;text-align: center; margin: 0">
            <li class="dropdown" style="width: 50px;">
                <div data-toggle="tooltip" data-placement="right"
                     data-original-title="{{ user.get_full_name }}"
                     style="padding-top: 5px">
                    <a id="profile-button" class="dropdown-toggle"
                       data-toggle="dropdown">
                        <span class="meta">
                           <span style="cursor: pointer;" class="text">
                               <i class="fas fa-user-circle"
                                  style=" font-size: 30px"></i>
                           </span>
                        </span>
                    </a>
                </div>
                <ul id="profile-navbar"
                    class="col nav nav-pills nav-stacked " role="menu"
                    style="display: block;font-size: 20px">
                    <li>
                        <a href="{% url 'event:profile' %}"
                           data-toggle="tooltip"
                           data-placement="right"
                           title=""
                           data-original-title="Meus dados">
                            <i class=" fas fa-list-alt"></i>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'public:logout' %}"
                           data-toggle="tooltip"
                           data-placement="right"
                           title=""
                           data-original-title="Sair">
                            <i class="fas fa-sign-out-alt"></i>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="divider sidebar_divider"></li>

            <li style="width: 50px">
                <a href="{% url 'subscription:my-subscriptions' %}"
                   data-toggle="tooltip"
                   data-placement="right"
                   title=""
                   data-original-title="Minhas Inscrições"
                   title="Inscrições" class="fa fa-list"></a>
            </li>

            <li style="width: 50px">
                <a href="{% url 'event:event-list' %}"
                   data-toggle="tooltip"
                   data-placement="right"
                   title=""
                   data-original-title="Meus Eventos"
                   class="fa fa-calendar">
                </a>
            </li>
            <li style="width: 50px">
                <a href="{% url 'event:organization-list' %}"
                   title=""
                   title="Organizações" class="fa fa-sitemap"
                   data-toggle="tooltip"
                   data-placement="right"
                   data-original-title="Minhas Organizações"

                ></a>
            </li>
            <li class="divider sidebar_divider visible-xs"></li>
        </ul>
        <ul class="col nav nav-pills nav-stacked visible-xs"
            style="font-size: 30px;text-align: center;margin: 0;">
            <li>
                <a href="{% url 'event:event-add' %}" class="btn
                    " style="width: 50px;height:
                    50px" data-toggle="tooltip"
                   data-placement="right"
                   title=""
                   data-original-title="Novo evento">
                    <i class="fa fa-plus"
                       style="color:#4caf4c"></i>
                </a>
            </li>
        </ul>
    </div>

    {% if has_inside_bar %}
        <div class="manage_sidebar">
            <div>

                <nav style="color: #383838">
                    {% if event %}
                        {% include 'event/event-menu.html' %}
                    {% elif organization %}
                        {% include 'organization/organization-menu.html' %}
                    {% endif %}
                </nav>
            </div>
        </div>
    {% endif %}
</div>

