{% if has_inside_bar %}
    <div class="tooltip-wrapper collapse navbar-collapse col-xs-12
            col-sm-4 col-lg-4
            col-xl-2" id="sidebar" data-animated="fadeInRight">
{% endif %}

<div {% if has_inside_bar %} class="col-xs-1 col-sm-1 col-lg-1
                col-xl-1" style="padding: 0" {% else %} class="tooltip-wrapper
                collapse
                navbar-collapse col-xs-1
                col-sm-1 col-lg-1
                col-xl-1 " id="sidebar" style="height:
                 100%; position: fixed;width: 60px;z-index: 2000;" {% endif %}>
    <div class="principal_sidebar new_nav sidebar-left sidebar" style="width:
                    50px; padding-top: 0">
        <ul class="col nav nav-pills nav-stacked " style="
                            font-size: 25px;text-align: center; margin: 0">
            <li class="dropdown visible-xs" style="width: 50px">
                <a class="dropdown-toggle"
                   data-toggle="dropdown">

                                    <span class="meta">
                                        <span class="fas fa-user"></span>
                                    </span>
                </a>
                <ul class="col nav nav-pills nav-stacked
                                " role="menu"
                    style="display: block;font-size: 20px">
                    <li>
                        <a href="{% url 'event:profile' %}"
                           data-toggle="tooltip"
                           data-placement="right"
                           title=""
                           data-original-title="Meus dados">
                            <i class=" fas fa-list-alt"></i>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'public:logout' %}"
                           data-toggle="tooltip"
                           data-placement="right"
                           title=""
                           data-original-title="Sair">
                            <i class="fas fa-sign-out-alt"></i>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="divider visible-xs" style="height: 1px;
                                margin: 9px 0;width: 50px;
                                overflow: hidden;
                                background-color: #52AEE9;"></li>

            <li style="width: 50px">
                <a href="{% url 'event:event-list' %}"
                   data-toggle="tooltip"
                   data-placement="right"
                   title=""
                   data-original-title="Eventos"
                   class="fa fa-calendar">
                </a>
            </li>
            <li style="width: 50px">
                <a href="{% url 'subscription:my-subscriptions' %}"
                   data-toggle="tooltip"
                   data-placement="right"
                   data-original-title="Inscrições"
                   title="Inscrições" class="fa fa-list"></a>
            </li>
            <li style="width: 50px">
                <a href="{% url 'event:organization-list' %}"
                   title="Organizações" class="fa fa-sitemap"
                   data-toggle="tooltip"
                   data-placement="right"
                   data-original-title="Organizações"

                ></a>
            </li>
        </ul>
        <ul class="col nav nav-pills nav-stacked visible-xs"
            style="
                            font-size: 30px;text-align: center;margin: 0;">
            <li class="divider visible-xs" style="height: 1px;
                                width: 50px; overflow: hidden;margin: 0;
                                background-color: #52AEE9;"></li>
            <li>
                <a href="{% url 'event:event-add' %}" class="btn
                    " style="width: 50px;height:
                    50px" data-toggle="tooltip"
                   data-placement="right"
                   title=""
                   data-original-title="Novo evento">
                    <i class="fa fa-plus"
                       style="color:#4caf4c"></i>
                </a>
            </li>
        </ul>
    </div>
</div>

{% if has_inside_bar %}
    <div class="manage_sidebar col-xs-3 col-sm-3 col-lg-3 col-xl-1">
        <div>

            <nav style="color: #383838">
                {% if event %}
                    {% include 'event/event-menu.html' %}
                {% elif organization %}
                    {% include 'organization/organization-menu.html' %}
                {% endif %}
            </nav>
        </div>
    </div>
    </div>
{% endif %}


<div {% if has_inside_bar %}
    class="col-xs-12  col-sm-8 col-lg-9 col-xl-10"
{% else %}
    class="princiapl_content col-xs-12 col-sm-12 col-lg-12
                    col-xl-12"
    style="float:right; position: relative;"
{% endif %}>

