<div class="row">
    <div class="col-sm-12">
        <form>
            <div class="text-right">
                <button type="button" class="btn btn-success">
                    Salvar
                </button>
            </div>
            {% include 'cgsy_video/includes/category/category_form_fields.html' %}
            <div class="text-right">
                <button type="button" class="btn btn-success">
                    Salvar
                </button>
            </div>
        </form>
    </div>
</div>
<br />