<div class="row">
    <div class="col-sm-12">
        <form>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="panel-title">Dados do vídeo</div>
                </div>
                <div class="panel-body">

                    <div class="row">
                        <div class="col-md-8">

                            <div class="row">
                                <div class="col-md-12">

                                    <div class="form-group">
                                        <label for="id_name" style="margin-bottom:0 ">
                                            Nome <span style="color:#C9302C">*</span>
                                        </label>
                                        <input type="text" name="name" required="" maxlength="255" class="form-control" id="id_name">
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="clearfix"></div>

                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">

                                    <div class="form-group">
                                        <label for="id_name" style="margin-bottom:0 ">
                                            Catgoria <span style="color:#C9302C">*</span>
                                        </label>

                                        <select name="category" required="" class="form-control" id="id_category">
                                          <option value="" selected="">---------</option>
                                          <option value="1139">Geral</option>
                                        </select>

                                        <div class="clearfix"></div>
                                    </div>

                                </div>
                            </div>


                            <div class="row">
                                <div class="col-md-12">

                                    <div class="row">
                                        <div class="col-md-6">

                                            <div class="form-group">
                                                <label for="id_name" style="margin-bottom:0 ">
                                                    Catgoria <span style="color:#C9302C">*</span>
                                                </label>

                                                <select name="category" required="" class="form-control" id="id_category">
                                                  <option value="" selected="">---------</option>
                                                  <option value="1139">Geral</option>
                                                </select>

                                                <div class="clearfix"></div>
                                            </div>

                                        </div>
                                        <div class="col-md-6">

                                            <div class="form-group">
                                                <label for="id_name" style="margin-bottom:0 ">
                                                    Catgoria <span style="color:#C9302C">*</span>
                                                </label>

                                                <select name="category" required="" class="form-control" id="id_category">
                                                  <option value="" selected="">---------</option>
                                                  <option value="1139">Geral</option>
                                                </select>

                                                <div class="clearfix"></div>
                                            </div>

                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>
                        <div class="col-md-4">

                            <div class="row">
                                <div class="col-md-12">

                                    <div class="form-group">
                                        <label for="id_hide_dates">
                                            Ocultar datas do lote:
                                            <small>
                                                <i class="fas fa-question-circle" data-toggle="tooltip" data-placement="right" title="Ocultar data inicial e final do lote."></i>
                                            </small>
                                        </label>
                                        <div>
                                            <input type="checkbox" name="hide_dates" style="display:none" class="js-switch" id="id_hide_dates" data-switchery="true"><span class="switchery switchery-small" style="box-shadow: rgb(179, 184, 195) 0px 0px 0px 0px inset; border-color: rgb(179, 184, 195); background-color: rgb(179, 184, 195); transition: border 0.4s ease 0s, box-shadow 0.4s ease 0s;"><small style="left: 0px; transition: background-color 0.4s ease 0s, left 0.2s ease 0s;"></small></span>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">

                                    <div class="form-group">
                                        <label for="id_hide_dates">
                                            Ocultar datas do lote:
                                            <small>
                                                <i class="fas fa-question-circle" data-toggle="tooltip" data-placement="right" title="Ocultar data inicial e final do lote."></i>
                                            </small>
                                        </label>
                                        <div>
                                            <input type="checkbox" name="hide_dates" style="display:none" class="js-switch" id="id_hide_dates" data-switchery="true"><span class="switchery switchery-small" style="box-shadow: rgb(179, 184, 195) 0px 0px 0px 0px inset; border-color: rgb(179, 184, 195); background-color: rgb(179, 184, 195); transition: border 0.4s ease 0s, box-shadow 0.4s ease 0s;"><small style="left: 0px; transition: background-color 0.4s ease 0s, left 0.2s ease 0s;"></small></span>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">

                                    <div class="form-group">
                                        <label for="id_hide_dates">
                                            Ocultar datas do lote:
                                            <small>
                                                <i class="fas fa-question-circle" data-toggle="tooltip" data-placement="right" title="Ocultar data inicial e final do lote."></i>
                                            </small>
                                        </label>
                                        <div>
                                            <input type="checkbox" name="hide_dates" style="display:none" class="js-switch" id="id_hide_dates" data-switchery="true"><span class="switchery switchery-small" style="box-shadow: rgb(179, 184, 195) 0px 0px 0px 0px inset; border-color: rgb(179, 184, 195); background-color: rgb(179, 184, 195); transition: border 0.4s ease 0s, box-shadow 0.4s ease 0s;"><small style="left: 0px; transition: background-color 0.4s ease 0s, left 0.2s ease 0s;"></small></span>
                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">

                            <div class="form-group">
                                <label for="id_name" style="margin-bottom:0 ">
                                    Link <span style="color:#C9302C">*</span>
                                </label>
                                <input type="text" name="name" required="" maxlength="255" class="form-control" id="id_name">
                                <div class="clearfix"></div>
                            </div>
                            <div class="clearfix"></div>

                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div style="border:1px dashed #ddd;">
                                <div class="text-center" style="height: 50px;margin-top:30px">

                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>


        </form>
    </div>
</div>
<br />