{% load i18n static base_tags %}
{% get_current_language as LANGUAGE_CODE %}{% get_current_language_bidi as LANGUAGE_BIDI %}
<!DOCTYPE html>
<!--[if lt IE 7 ]>
<html class="ie ie6" lang="{{ LANGUAGE_CODE|default:"pt-br"}}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
<![endif]-->
<!--[if IE 7 ]>
<html class="ie ie7" lang="{{ LANGUAGE_CODE|default:"pt-br"}}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
<![endif]-->
<!--[if IE 8 ]>
<html class="ie ie8" lang="{{ LANGUAGE_CODE|default:"pt-br"}}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
<![endif]-->
<!--[if (gte IE 9)|!(IE)]>
<html lang="{{ LANGUAGE_CODE|default:"pt-br"}}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
<!--<![endif]-->
<head>

    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- BASIC INFO -->
    <title>{{ event.name }} | Congressy</title>
    <meta name="author" content="{{ event.organization }}">
    <meta name="description"
          content="{{ info.description }}">

    <!-- FAVICONS -->
    <link rel="icon" href="{% static 'hotsite/images/favicons/favicon.ico' %}">
    <link rel="apple-touch-icon"
          href="{% static 'hotsite/images/favicons/apple-touch-icon.png' %}">

    <!-- CSS
    ================================= -->

    <!-- GOOGLE FONTS -->
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Montserrat:400,700">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800">

    <!-- LIBRARIES CSS -->
    <link rel="stylesheet" href="{% static 'hotsite/css/bootstrap.min.css' %}">
    <link rel="stylesheet"
          href="{% static 'hotsite/css/fontawesome-all.min.css' %}">
    <link rel="stylesheet"
          href="{% static 'assets/plugins/icheck/css/all.css' %}">
    <link rel="stylesheet" href="{% static 'hotsite/css/animate.min.css' %}">


    <!-- SPECIFIC CSS -->
    <link rel="stylesheet" href="{% static 'hotsite/css/style.css' %}">

    <!-- COLOR -->
    <link id="color-css" rel="stylesheet"
          href="{% static 'hotsite/css/colors/blue.css' %}">
    <style>
        img.blurred {
            -webkit-filter: blur(18px);
            -moz-filter: blur(18px);
            -o-filter: blur(18px);
            -ms-filter: blur(18px);
            filter: blur(18px);
        }
    </style>

    {% block styles %}{% endblock %}
</head>

<body class="tooltip-wrapper {% if not remove_preloader %}enable-animations enable-preloader preloader-dark{% endif %}">

<div id="document" class="document">

    {% include 'hotsite/includes/1_top_menu.html' %}

    {% block content %}{% endblock %}

{#    {% include 'hotsite/includes/7_footer.html' %}#}
</div>

<!-- LIBRARIES JS
================================= -->
<script src="{% static 'hotsite/js/jquery-1.11.2.min.js' %}"></script>
<script src="{% static 'hotsite/js/typeahead.js' %}"></script>
<script src="{% static 'hotsite/js/bootstrap.min.js' %}"></script>
<script src="{% static 'hotsite/js/respimage.min.js' %}"></script>
<script src="{% static 'hotsite/js/jpreloader.min.js' %}"></script>
<script src="{% static 'hotsite/js/smoothscroll.min.js' %}"></script>
<script src="{% static 'hotsite/js/jquery.inview.min.js' %}"></script>
<script src="{% static 'hotsite/js/jquery.counterup.min.js' %}"></script>
<script src="{% static 'hotsite/js/jquery.stellar.min.js' %}"></script>
<script src="{% static 'hotsite/js/responsiveslides.min.js' %}"></script>
<script src="{% static "assets/plugins/mask/mask.min.js" %}"></script>
<script src="{% static 'assets/plugins/icheck/js/icheck.min.js' %}"></script>


<!-- MAIN SCRIPT
================================= -->
<script src="{% static 'hotsite/js/script.js' %}"></script>
<script src="{% static 'assets/js/cgsy.js' %}"></script>

{% block scripts %}{% endblock %}

<script>
    $(document).ready(function () {
        window.setTimeout(function () {
            $('input[type=email]').on('keyup', function () {
                $(this).val($(this).val().toLowerCase());
            }, 300);

            $('.cgsy-date-input').mask("99/99/9999");
            $('.cgsy-time-input').mask("99:99");

            var radios = $('input[type=radio]');
            var checkboxes = $('input[type=checkbox]');

            radios.iCheck({
                checkboxClass: 'icheckbox_flat-grey',
                radioClass: 'iradio_flat-grey'
            });

            checkboxes.iCheck({
                checkboxClass: 'icheckbox_flat-grey',
                radioClass: 'iradio_flat-grey'
            });

            $('.tooltip-wrapper').tooltip({
                selector: "[data-toggle=tooltip]",
                container: "body",
                html: true
            });
        });
    });
</script>

{% include 'sentry-javascript-sdk.html' %}

</body>

</html>