{% load static %}

{% include 'hotsite/includes/0_page_header.html' %}

{% if remove_preloader %}
    <body>
{% else %}
    <body class="enable-animations enable-preloader preloader-dark">
{% endif %}

<div id="document" class="document">

{% include 'hotsite/includes/1_top_menu.html' %}

{% block content %}{% endblock %}

{% include 'hotsite/includes/7_footer.html' %}
</div>

{% include 'sentry-javascript-sdk.html' %}

<!-- LIBRARIES JS
================================= -->
<script src="{% static 'hotsite/js/jquery-1.11.2.min.js' %}"></script>
<script src="{% static 'hotsite/js/typeahead.js' %}"></script>
<script src="{% static 'hotsite/js/bootstrap.min.js' %}"></script>
<script src="{% static 'hotsite/js/respimage.min.js' %}"></script>
<script src="{% static 'hotsite/js/jpreloader.min.js' %}"></script>
<script src="{% static 'hotsite/js/smoothscroll.min.js' %}"></script>
<script src="{% static 'hotsite/js/jquery.inview.min.js' %}"></script>
<script src="{% static 'hotsite/js/jquery.counterup.min.js' %}"></script>
<script src="{% static 'hotsite/js/jquery.stellar.min.js' %}"></script>
<script src="{% static 'hotsite/js/responsiveslides.min.js' %}"></script>
<script src="{% static "assets/plugins/mask/mask.min.js" %}"></script>

<!-- MAIN SCRIPT
================================= -->
<script src="{% static 'hotsite/js/script.js' %}"></script>
<script src="{% static 'assets/js/cgsy.js' %}"></script>

{% block scripts %}{% endblock %}

{% if event.place and event.place.show_location is True and event.place.lat and event.place.long %}
<script src="https://maps.googleapis.com/maps/api/js?sensor=false&key={{ google_maps_api_key }}"></script>
<script src="{% static 'hotsite/js/maplace-0.1.3.min.js' %}"></script>
<script>
var MAP_POINTER = "{% static 'hotsite/images/contents/map-1.png'%}";
</script>
<script src="{% static 'hotsite/js/map.js' %}"></script>
<script>
$(document).ready(function() {
    show_map(
        '{{ event.place.lat }}'.replace(',', '.'),
        '{{ event.place.long }}'.replace(',', '.')
    );
});
</script>
{% endif %}

</body>

</html>
