<!DOCTYPE html>
<!-- Drew - A Multipurpose Landing Page Template, designed by David Rozando (http://design.davidrozando.com) -->
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en"> <!--<![endif]-->
{% load static base_tags %}
<head>

    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- BASIC INFO -->
    <title>{{ object.name }} | Congressy</title>
    <meta name="author" content="{{ object.organization }}">
    <meta name="description"
          content="{{ info.description }}">

    <!-- FAVICONS -->
    <link rel="icon" href="{% static 'hotsite/images/favicons/favicon.ico' %}">
    <link rel="apple-touch-icon" href="{% static 'hotsite/images/favicons/apple-touch-icon.png' %}">

    <!-- CSS
    ================================= -->

    <!-- GOOGLE FONTS -->
    <link rel="stylesheet"
          href="http://fonts.googleapis.com/css?family=Montserrat:400,700">
    <link rel="stylesheet"
          href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800">

    <!-- LIBRARIES CSS -->
    <link rel="stylesheet" href="{% static 'hotsite/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'hotsite/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'hotsite/css/animate.min.css' %}">

    <!-- SPECIFIC CSS -->
    <link rel="stylesheet" href="{% static 'hotsite/css/style.css' %}">

    <!-- COLORS -->
    <!-- <link id="color-css" rel="stylesheet" href="css/colors/pink.css"> -->
    <!-- <link id="color-css" rel="stylesheet" href="css/colors/red.css"> -->
    <!-- <link id="color-css" rel="stylesheet" href="css/colors/orange.css"> -->
    <!-- <link id="color-css" rel="stylesheet" href="css/colors/yellow.css"> -->
    <!-- <link id="color-css" rel="stylesheet" href="css/colors/green.css"> -->
    <!-- <link id="color-css" rel="stylesheet" href="css/colors/turquoise.css"> -->
    <link id="color-css" rel="stylesheet" href="{% static 'hotsite/css/colors/blue.css' %}">
    <style>
        img.blurred {
            -webkit-filter: blur(18px);
            -moz-filter: blur(18px);
            -o-filter: blur(18px);
            -ms-filter: blur(18px);
            filter: blur(18px);
        }
    </style>
    <link rel="stylesheet" href="{% static 'hotsite/css/screen/device-320.css' %}">
    <link rel="stylesheet" href="{% static 'hotsite/css/screen/device-360.css' %}">
    <link rel="stylesheet" href="{% static 'hotsite/css/screen/device-375.css' %}">
    <link rel="stylesheet" href="{% static 'hotsite/css/screen/device-384.css' %}">
    <link rel="stylesheet" href="{% static 'hotsite/css/screen/device-412.css' %}">
    <link rel="stylesheet" href="{% static 'hotsite/css/screen/device-414.css' %}">
    <link rel="stylesheet" href="{% static 'hotsite/css/screen/device-480.css' %}">
    <link rel="stylesheet" href="{% static 'hotsite/css/screen/device-600.css' %}">
    <link rel="stylesheet" href="{% static 'hotsite/css/screen/device-768.css' %}">
    <link rel="stylesheet" href="{% static 'hotsite/css/screen/device-800.css' %}">
    <link rel="stylesheet" href="{% static 'hotsite/css/screen/device-1024.css' %}">
    <link rel="stylesheet" href="{% static 'hotsite/css/screen/device-1280.css' %}">
</head>
{% if remove_preloader %}
    <body class="enable-animations">
{% else %}
    <body class="enable-animations enable-preloader preloader-dark">
{% endif %}
<div id="document" class="document">

    <!-- HEADER
    ================================= -->
    <header id="header"
            class="header-section section section-dark navbar navbar-fixed-top">

        <div class="container-fluid">

            <div class="navbar-header navbar-left">

                <!-- RESPONSIVE MENU BUTTON -->
                <button type="button" class="navbar-toggle"
                        data-toggle="collapse" data-target="#navigation">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <!-- HEADER LOGO -->
                <a class="navbar-logo navbar-brand anchor-link" href="#hero">
                    <img src="{% static 'hotsite/images/logos/header-logo.png' %}"
                         srcset="{% static 'hotsite/images/logos/header-logo@2x.png' %}"
                         alt="Congressy">
                </a>
            </div>

            <nav id="navigation"
                 class="navigation navbar-collapse collapse navbar-right">

                <!-- NAVIGATION LINKS -->
                <ul id="header-nav" class="nav navbar-nav">

                    <li><a href="#hero" class="anchor-link">Capa</a></li>
                    <li><a href="#about" class="anchor-link">Sobre o evento</a>
                    </li>
                    <li><a href="#map" class="anchor-link">Local</a></li>
                    {% if not object.organization.internal %}
                        <li><a href="#owner" class="anchor-link">Organizador</a>
                    {% endif %}
                    </li>

                    <!-- HEADER ACTION BUTTON -->
                    {% if user.is_authenticated %}
                        <li class="header-action-button dropdown dropdown-hover ">
                            <a href="#" class="dropdown-toggle external" data-toggle="dropdown" role="button"
                               aria-expanded="true" style="font-weight: bold">{{ user.first_name }}<span
                                    class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="{% url 'event:profile' %}">Minha conta</a>
                                </li>
                                <li><a href="{% url 'front:start' %}">Gerenciar</a></li>
                                <li><a href="{% url 'public:logout' %}">Sair</a></li>
                            </ul>
                        </li>
                    {% else %}
                        <li class="header-action-button">
                            <a href="{% url 'public:login' %}?next={% url 'public:hotsite' object.slug %}"
                               class="external btn btn-primary">
                                Entrar
                            </a>
                        </li>
                    {% endif %}

                </ul>
            </nav>
        </div>

    </header>

    <!-- HERO
    ================================= -->
    <section id="hero"
             class="hero-section hero-layout-classic hero-layout-features-and-form section section-dark">

        <div class="section-background">

            <!-- IMAGE BACKGROUND -->
            <div class="section-background-image parallax">
                <img
                        {% if info.image_main.default %}
                            src="{{ info.image_main.default.url }}"
                        {% else %}
                            src=""
                        {% endif %}
                            alt="" style="opacity: 0.2;" class="blurred">
            </div>
        </div>

        <div class="container">

            <div class="hero-content">
                <div class="hero-content-inner">

                    <div class="hero-heading text-center row"
                         data-animation="fadeIn">
                        <div class="col-md-10 col-md-offset-1">

                            <h1 class="hero-title">{{ object.name }}</h1>

                            <p class="hero-tagline">
                            <div>
                                <i class="fa fa-calendar"></i>
                                {{ period }}
                            </div>

                            <div>
                                <i class="fa fa-map-marker"></i>
                                {{ object.place.name }}
                            </div>

                            </p>
                        </div>
                    </div>

                    <div class="hero-features row">
                        <div class="hero-features-left col-md-7">
                            {% if info.lead %}
                                <p class="lead">
                                    {{ info.lead }}
                                </p>
                            {% endif %}
                        </div>

                        {% if object.data.subscription_type != 'disabled' %}
                            <div class="hero-features-right col-md-5"
                                 data-animation="fadeIn">


                                <!-- FORM -->
                                <form action="{% url 'public:hotsite' object.slug %}" method="post" class="form"
                                      role="form" onsubmit="submit_form()">

                                    {% csrf_token %}

                                    {% if user.is_authenticated %}
                                        <h4 class="form-heading"
                                            style="font-weight: bold;">Olá, {{ user.first_name }}</h4>
                                    {% else %}
                                        <h4 class="form-heading"
                                            style="font-weight: bold;">Inscreva-se
                                            agora!</h4>
                                    {% endif %}

                                    {% block messages %}
                                        {% if messages %}
                                            <div style="width:100%;margin-top:3px;padding-bottom:10px">
                                            {% for message in messages %}

                                                {% if message.tags %}
                                                    <div class="alert alert-{{ message.tags }} alert-dismissible"
                                                         role="alert">

                                                {% else %}
                                                    <div class="alert alert-warning alert-dismissible" role="alert">
                                                {% endif %}

                                            <button type="button" class="close" data-dismiss="alert"
                                                    aria-label="Close"><span aria-hidden="true">&times;</span>
                                            </button>
                                            {{ message|capfirst }}
                                            </div>

                                            {% endfor %}
                                        </div>
                                        {% endif %}
                                    {% endblock messages %}



                                    <div class="form-validation alert"></div>

                                    {% if not is_subscribed %}
                                        {% if person.email == ""  or person.name == ""  or person.phone == "" %}
                                            <p class="text-muted">Preencha os dados seguintes para realizar sua
                                                inscrição.</p>
                                        {% endif %}


                                        {% if person and person.name != "" %}
                                            <input type="hidden" name="name" value="{{ person.name }}">
                                        {% else %}
                                            <div class="form-group">
                                                <label for="id_name">
                                                    Nome Completo
                                                </label>

                                                <div>
                                                    <input name="name" id="id_name" class="form-control placeholder"
                                                           maxlength="255"
                                                           placeholder="Nome completo" required="" type="text">
                                                </div>
                                            </div>
                                        {% endif %}


                                        {% if person and  person.email != "" %}
                                            <input type="hidden" name="email" value="{{ person.email }}">
                                        {% else %}
                                            <div class="form-group">
                                                <label for="id_email">E-Mail</label>
                                                <div>
                                                    <input name="email" placeholder="me@email.com" required
                                                           class="form-control"
                                                           id="id_email" type="email">
                                                </div>
                                            </div>
                                        {% endif %}

                                        {% if person and  person.phone != "" %}
                                            <input type="hidden" name="phone" value="{{ person.phone }}">
                                        {% else %}
                                            <div class="form-group">


                                                <label for="id_phone">Celular</label>


                                                <div>
                                                    <input name="phone" class="form-control"
                                                           maxlength="14" id="id_phone"
                                                           required="" type="tel" placeholder="(00) 0000-0000">
                                                </div>


                                            </div>
                                        {% endif %}

                                        {% if not person or person.email == ""  or person.name == ""  or person.phone == "" %}
                                            <div class="form-group form-group-submit">
                                                <button class="btn btn-primary btn-lg btn-block"
                                                        data-loading-text="Enviar">
                                                    Enviar
                                                </button>
                                            </div>
                                        {% else %}
                                            <div class="form-group form-group-submit">
                                                <button class="btn btn-primary btn-lg btn-block"
                                                        data-loading-text="Quero me inscrever">
                                                    Quero me inscrever
                                                </button>
                                            </div>
                                        {% endif %}
                                    {% else %}
                                        <div class="text-center">
                                            <p style="font-size: 30px">
                                                Você já está cadastrada neste evento!
                                            </p>

                                            <div style="align-items: center;display: flex;justify-content: center;">
                                                <i class="fa fa-check-circle fa-5x" style="color: darkgreen"
                                                   aria-hidden="true"></i>

                                            </div>
                                        </div>
                                    {% endif %}


                                </form>
                            </div>
                        {% endif %}

                    </div>

                </div>
            </div>

        </div>

    </section>


    <!-- DESCRIPTION
    ================================= -->
    <section id="about" class="about-section section">

        <div class="container">

            <h2 class="section-heading text-center">Sobre o evento</h2>

            <div class="about-row row">
                {% if info.image_main.default %}
                    <!-- DESCRIPTION IMAGE -->
                    <div class="about-image col-md-6" data-animation="fadeIn">
                        <img src="{{ info.image_main.default.url }}" alt="" class="img-responsive">

                    </div>

                    <!-- DESCRIPTION TEXT -->
                    <div class="about-text col-md-6">
                        {{ info.description_html|safe }}
                    </div>
                {% else %}
                    <!-- DESCRIPTION TEXT -->
                    <div class="about-text col-md-12">
                        {{ info.description_html|safe }}
                    </div>

                {% endif %}

            </div>

        </div>

    </section>


    <!-- CLOSING
    ================================= -->
    <section id="closing" class="closing-section section-dark section">

        <div class="section-background">

            <!-- IMAGE BACKGROUND -->
            <div class="section-background-image parallax">
                <img
                        {% if info.image_main.default %}
                            src="{{ info.image_main.default.url }}"
                        {% else %}
                            src=""
                        {% endif %}
                            alt="" style="opacity: 0.2;" class="blurred">
            </div>


        </div>

        <div class="container">

            <h3 class="closing-shout">
                Faça já a sua inscrição!
            </h3>

            <div class="closing-buttons" data-animation="tada">
                <a href="#hero" class="anchor-link btn btn-lg btn-primary">
                    Realizar inscrição
                </a>
            </div>
        </div>

    </section>

    <!-- GOOGLE MAPS
    ================================= -->
    <section id="map" class="contact-maps-section section">

        <div class="section-background">

            <!-- MAPS BACKGROUND -->
            <div class="section-background-maps">
                <div id="gmap"></div>

                <script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
                <!-- GOGGLE MAPS CONFIGURATION -->
                <!-- ref: http://maplacejs.com/ -->
                <script>
                    var gmap_options = {
                        generate_controls: true,
                        locations: [{
                            lat: -22.2198393,
                            lon: -49.9524338,
                            animation: google.maps.Animation.DROP,
                            html: "Drew Headquarter",
                            icon: "{% static 'hotsite/images/contents/map-1.png'%}",
                            clickable: false,
                        }],
                        map_options: {
                            scrollwheel: false,
                            mapTypeControl: true,
                            streetViewControl: true,
                            zoomControlOptions: {
                                style: google.maps.ZoomControlStyle.SMALL,
                            },
                            zoom: 16,
                            set_center: [-22.2198393, -49.9524338], // adjust the "lon" attribute of your first location
                        },
                        styles: {
                            // source: https://snazzymaps.com/style/132/light-gray
                            'custom': [{
                                "featureType": "water",
                                "elementType": "geometry.fill",
                                "stylers": [{"color": "#d3d3d3"}]
                            }, {
                                "featureType": "transit",
                                "stylers": [{"color": "#808080"}, {"visibility": "off"}]
                            }, {
                                "featureType": "road.highway",
                                "elementType": "geometry.stroke",
                                "stylers": [{"visibility": "on"}, {"color": "#b3b3b3"}]
                            }, {
                                "featureType": "road.highway",
                                "elementType": "geometry.fill",
                                "stylers": [{"color": "#ffffff"}]
                            }, {
                                "featureType": "road.local",
                                "elementType": "geometry.fill",
                                "stylers": [{"visibility": "on"}, {"color": "#ffffff"}, {"weight": 1.8}]
                            }, {
                                "featureType": "road.local",
                                "elementType": "geometry.stroke",
                                "stylers": [{"color": "#d7d7d7"}]
                            }, {
                                "featureType": "poi",
                                "elementType": "geometry.fill",
                                "stylers": [{"visibility": "on"}, {"color": "#ebebeb"}]
                            }, {
                                "featureType": "administrative",
                                "elementType": "geometry",
                                "stylers": [{"color": "#a7a7a7"}]
                            }, {
                                "featureType": "road.arterial",
                                "elementType": "geometry.fill",
                                "stylers": [{"color": "#ffffff"}]
                            }, {
                                "featureType": "road.arterial",
                                "elementType": "geometry.fill",
                                "stylers": [{"color": "#ffffff"}]
                            }, {
                                "featureType": "landscape",
                                "elementType": "geometry.fill",
                                "stylers": [{"visibility": "on"}, {"color": "#efefef"}]
                            }, {
                                "featureType": "road",
                                "elementType": "labels.text.fill",
                                "stylers": [{"color": "#696969"}]
                            }, {
                                "featureType": "administrative",
                                "elementType": "labels.text.fill",
                                "stylers": [{"visibility": "on"}, {"color": "#737373"}]
                            }, {
                                "featureType": "poi",
                                "elementType": "labels.icon",
                                "stylers": [{"visibility": "off"}]
                            }, {
                                "featureType": "poi",
                                "elementType": "labels",
                                "stylers": [{"visibility": "off"}]
                            }, {
                                "featureType": "road.arterial",
                                "elementType": "geometry.stroke",
                                "stylers": [{"color": "#d6d6d6"}]
                            }, {
                                "featureType": "road",
                                "elementType": "labels.icon",
                                "stylers": [{"visibility": "off"}]
                            }, {}, {
                                "featureType": "poi",
                                "elementType": "geometry.fill",
                                "stylers": [{"color": "#dadada"}]
                            }],
                        }
                    };
                </script>
            </div>
        </div>

    </section>

    <!-- REALIZADOR
    ================================= -->
    <!-- REALIZADOR
 ================================= -->
    {% if not object.organization.internal %}
        <section id="owner" class="footer-section section">
            <h2 class="section-heading text-center">Organizador</h2>
            <div class="container">
                <div class="row">
                    <div class="col-md-10">
                        <div class="row">
                            <div class="col-md-12" style="text-align: left;">
                                <h3>{{ object.organization }}</h3>
                                <div class="team-member-description">
                                    {{ object.organization.description_html|safe }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </section>
    {% endif %}

    <!-- CONGRESSY FOOTER
    ================================= -->
    <section id="about-platform" class="footer-section section section-dark">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="footer-logo">
                        <img src="{% static 'hotsite/images/logos/header-logo.png' %}"
                             srcset="
                                {% static 'hotsite/images/logos/header-logo@2x.png' %}" alt="Congressy">
                    </h3>
                </div>
            </div>
        </div>
    </section>
</div>

<!-- LIBRARIES JS
================================= -->
<script src="{% static 'hotsite/js/jquery-1.11.2.min.js' %}"></script>
<script src="{% static 'hotsite/js/bootstrap.min.js' %}"></script>
<script src="{% static 'hotsite/js/respimage.min.js' %}"></script>
<script src="{% static 'hotsite/js/jpreloader.min.js' %}"></script>
<script src="{% static 'hotsite/js/smoothscroll.min.js' %}"></script>
<script src="{% static 'hotsite/js/jquery.inview.min.js' %}"></script>
<script src="{% static 'hotsite/js/jquery.counterup.min.js' %}"></script>
<script src="{% static 'hotsite/js/jquery.stellar.min.js' %}"></script>
<script src="{% static 'hotsite/js/maplace-0.1.3.min.js' %}"></script>
<script src="{% static 'hotsite/js/responsiveslides.min.js' %}"></script>

<!-- MAIN SCRIPT
================================= -->
<script src="{% static 'hotsite/js/script.js' %}"></script>
<script src="{% static "assets/plugins/mask/mask.min.js" %}"></script>
<script type="application/javascript">
    $(document).ready(function () {
        $('#id_phone').mask("(99) 99999-9999");
    });
</script>

</body>

</html>