{% extends 'hotsite/base.html' %}
{% load l10n humanize static form_config_tags user_agents user_agent_tag %}

{% block content %}

    {% include 'hotsite/includes/2_cover_no_form.html' %}

    <section id="about" class="about-section section">

        <div class="container">

            <h2 class="section-heading text-center">Inscrição</h2>

            <div class="about-row row">

                <div class="col-md-9 col-md-offset-2">

                    {% if form.non_field_errors %}
                        {% render_errors form.non_field_errors %}
                    {% endif %}

                    {% for hidden_field in form.hidden_fields %}
                        {% if hidden_field.errors %}
                            {% render_errors hidden_field.errors %}
                        {% endif %}
                    {% endfor %}


                    <h4 class="form-heading"
                        style="font-weight: bold;">
                        {% if user.is_authenticated %}
                            Olá, {{ user.first_name }}
                        {% else %}
                            Inscreva-se agora!
                        {% endif %}
                    </h4>

                    {% block messages %}
                        {% if messages %}
                            <div style="width:100%;margin-top:3px;padding-bottom:10px">
                            {% for message in messages %}

                                {% if message.tags %}
                                    <div class="alert alert-{{ message.tags }} alert-dismissible"
                                         role="alert">

                                {% else %}
                                    <div class="alert alert-warning alert-dismissible"
                                         role="alert">
                                {% endif %}

                            <button type="button" class="close"
                                    data-dismiss="alert"
                                    aria-label="Close"><span
                                    aria-hidden="true">&times;</span>
                            </button>
                            {{ message|capfirst }}
                            </div>

                            {% endfor %}
                        </div>
                        {% endif %}
                    {% endblock messages %}

                    <div class="form-validation alert"></div>

                    <div style="margin-bottom: 20px">


                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <div class="panel-title">Ingresso</div>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-12">


                                        <div style="margin-bottom: 20px"
                                             id="lots-field">
                                            {% if event.subscription_type == event.SUBSCRIPTION_BY_LOTS %}

                                                <form method="post" action="">

                                                    {% csrf_token %}
                                                    {{ wizard.management_form }}

                                                    {% for field in form %}
                                                        {% render_generic_field field %}
                                                    {% endfor %}

                                                    {% if has_coupon %}
                                                        <div class="text-right small"
                                                             style="margin-top: 8px;">
                                                            <a id="coupon_link"
                                                               href="javascript:void(0)"
                                                               data-toggle="popover"
                                                               title="<strong>Informe o código</strong>"
                                                               data-html="true"
                                                               data-container="body"
                                                               data-content="{% include 'hotsite/includes/coupon.html' %}">
                                                                Possui cupom?
                                                            </a>
                                                        </div>

                                                    {% endif %}
                                                    <a href="{% url 'public:hotsite' event.slug %}"
                                                       class="btn btn-primary pull-left"
                                                       style="margin-top: 5px;">
                                                        <i class="fas fa-chevron-circle-left"></i>
                                                        Voltar
                                                    </a>
                                                    <button style="margin-top: 5px;"
                                                            class="btn
                                                        btn-primary pull-right"
                                                            type="submit">
                                                        Próximo
                                                        <i class="fas fa-chevron-circle-right"></i>
                                                    </button>
                                                </form>


                                            {% else %}
                                                Evento não possui lotes.
                                            {% endif %}
                                        </div>


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    </div>

                </div>

            </div>

    </section>



{% endblock %}


{% block scripts %}
    <script src="{% static "hotsite/js/subscription.js" %}"></script>
{% endblock %}

