{% load base_tags static %}

<div class="row">
    <div class="col-md-12">

        <div class="panel panel-success">
            <div class="panel-heading">Selecionados</div>
            <div class="panel-body">
                <div class="row">

                    <div class="col-md-12">
                        <div id="currently_selected_products"></div>
                    </div>

                </div>
            </div>
        </div>

        <div class="panel panel-default">

            <div class="panel-heading">Disponiveis</div>

            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12">
                        <div id="available_optional_products">
                            Nenhum produtos/serviço disponivel.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function (event) {
        window.setTimeout(function () {
            render_currently_selected_products_list();
        }, 300);
    });


    function render_available_optional_products_list() {
        var url = '{% url 'public:hotsite_products' subscription.pk %}';

        send(
            url,
            'GET',
            null,
            function (response) {
                $('#available_optional_products').html(response);
                loadImageViewerEvents();
            },
            null
        );
    }
    function render_currently_selected_products_list() {
        var url = '{% url 'public:hotsite_products' subscription.pk %}';

        send(
            url,
            'GET',
            {
                fetch_in_storage: true
            },
            function (response) {
                $('#currently_selected_products').html(response);
                loadImageViewerEvents();
                render_available_optional_products_list();
            },
            null
        );
    }

    function addOptionalProduct(product_id) {

        $('#products_table').find('button').attr('disable', '');
        $('#selected_products_table').find('button').attr('disable', '');

        var url = '{% url 'public:hotsite_products' subscription.pk %}';

        send(
            url,
            'POST',
            {
                'optional_id': product_id,
                'action': 'add'
            },
            function (res) {
                console.log(res);
                render_currently_selected_products_list();
            },
            function (err) {
                console.log('err');
                console.error(err);
            }
        );
    }
    function removeOptionalProduct(product_id) {

        $('#products_table').find('button').attr('disable', '');
        $('#selected_products_table').find('button').attr('disable', '');

        var url = '{% url 'public:hotsite_products' subscription.pk %}';

        send(
            url,
            'POST',
            {
                'optional_id': product_id,
                'action': 'remove'
            },
            function (res) {
                console.log(res);
                render_currently_selected_products_list();
            },
            function (err) {
                console.log('err');
                console.error(err);
            }
        );
    }

    function loadImageViewerEvents() {
        $('.image-link-parent').magnificPopup({
            delegate: 'a',
            type: 'image',
            closeOnContentClick: true,
            closeBtnInside: false,
            fixedContentPos: false,
            mainClass: 'mfp-with-zoom mfp-img-mobile',
            image: {
                verticalFit: true,
                titleSrc: function (item) {
                    return item.el.data('optional-name');
                }
            },
            zoom: {
                enabled: true,
                duration: 300, // don't foget to change the duration also in CSS
                opener: function (element) {
                    return element.find('img');
                }
            }
        });
        reloadTooltipEvents();
    }

    function reloadTooltipEvents()
    {
        $('.tooltip').remove();
        app.tooltips();
    }

    function send(url, method, data, success_callback, error_callback) {
        // CSRF code
        function getCookie(name) {
            var cookieValue = null;
            var i = 0;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (i; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        var csrftoken = getCookie('csrftoken');

        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }

        $.ajax({
            url: url,
            type: method,
            data: data || {},
            encode: true,
            crossDomain: false,
            beforeSend: function (xhr, settings) {
                if (!csrfSafeMethod(settings.type)) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            },
            success: success_callback || function () {
            },
            error: error_callback || function (err) {
                console.log(err.responseText);
            }
        });
    }

</script>