{% load base_tags static %}

<div class="row">
    <div class="col-md-12">

        <div class="panel panel-success">
            <div class="panel-heading">Selecionados</div>
            <div class="panel-body">

                <label for="products_table">Produtos</label>

                <div class="table-responsive">
                    <table class="table">
                        <tbody id="selecionados">
                        </tbody>
                    </table>
                </div>

            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">Disponiveis</div>
            <div class="panel-body" id="available_optionals">
            </div>
        </div>


    </div>
</div>


<script>


    document.addEventListener("DOMContentLoaded", function (event) {
        Messenger.options = {
            extraClasses: 'messenger-fixed messenger-on-bottom ' +
            'messenger-on-right',
            theme: 'flat'
        };


        window.setTimeout(function () {
            render_available_options_list();
        }, 300);
    });


    function render_available_options_list() {
        var url = '{% url 'public:hotsite_available_optional_product_list' category_pk=lot_category_pk  %}';

        send(
            url,
            'GET',
            null,
            function (response) {
                $('#available_optionals').html(response);
            },
            null
        );
    }

    function send(url, method, data, success_callback, error_callback) {
    // CSRF code
    function getCookie(name) {
        var cookieValue = null;
        var i = 0;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (i; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    var csrftoken = getCookie('csrftoken');

    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }

    $.ajax({
        url: url,
        type: method,
        data: data || {},
        encode: true,
        crossDomain: false,
        beforeSend: function (xhr, settings) {
            if (!csrfSafeMethod(settings.type)) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        },
        success: success_callback || function () {
        },
        error: error_callback || function (err) {
            console.log(err);
        }
    });
}

</script>


