{% extends 'hotsite/base.html' %}
{% load l10n humanize static form_config_tags user_agents user_agent_tag %}

{% block content %}

    {% include 'hotsite/includes/2_cover_no_form.html' %}

    <!-- FORM
================================= -->
    <section id="about" class="about-section section">
        <div class="container">
            <h2 class="section-heading text-center">Inscrição</h2>
            <div class="about-row row">
                <div class="col-md-9 col-md-offset-2">

                    <div class="panel panel-default">

                        <div class="panel-heading">
                            <div class="panel-title">Pagamento</div>
                        </div>

                        <div class="panel-body">

                            {% block messages %}
                                {% if messages %}
                                    <div style="width:100%;margin-top:3px;padding-bottom:10px">
                                    {% for message in messages %}
                                        {% if message.tags %}
                                            <div class="alert alert-{{ message.tags }} alert-dismissible"
                                                 role="alert">
                                        {% else %}
                                            <div class="alert alert-warning alert-dismissible"
                                                 role="alert">
                                        {% endif %}

                                    <button type="button" class="close"
                                            data-dismiss="alert"
                                            aria-label="Close"><span
                                            aria-hidden="true">&times;</span>
                                    </button>
                                    {{ message|capfirst }}
                                    </div>
                                    {% endfor %}
                                </div>
                                {% endif %}
                            {% endblock messages %}

                            {% if form.non_field_errors %}
                                {% render_errors form.non_field_errors %}
                            {% endif %}

                            {% for field in form.hidden_fields %}
                                {% if field.error %}
                                    {% render_errors field.error %}
                                {% endif %}
                            {% endfor %}
                            <div class="well well-sm"
                                 style="text-align: justify">
                                <h3>Checkout:</h3>
                                <div><strong>Inscrição:</strong></div>
                                <ul>
                                    {% if lot.price %}
                                        <ol><strong>R$ {{ lot.price }}</strong>
                                        </ol>
                                    {% else %}
                                        <ol><strong>Grátis</strong></ol>
                                    {% endif %}
                                </ul>

                                {% if products %}
                                    <div><strong>Produtos:</strong></div>
                                    <ul>
                                        {% for product in products %}
                                            <ol>{{ product.name }}:
                                                <strong>
                                                    {% if product.price == 0.00 %}
                                                        Grátis
                                                    {% else %}
                                                        {{ product.price }}
                                                    {% endif %}
                                                </strong>
                                            </ol>
                                        {% endfor %}
                                    </ul>
                                {% endif %}

                                {% if services %}
                                    <div><strong>Serviços:</strong></div>
                                    <ul>
                                        {% for service in services %}
                                            <ol>{{ service.name }}:
                                                <strong>
                                                    {% if service.price == 0.00 %}
                                                        Grátis
                                                    {% else %}
                                                        R$ {{ service.price }}
                                                    {% endif %}
                                                </strong>
                                            </ol>
                                        {% endfor %}
                                    </ul>
                                {% endif %}

                                <h4> Total: R$ {{ total }} </h4>


                            </div>


                            <div id="payment_buttons" class="text-center"
                                 style="display: none">
                                <button id="id_boleto" type="button"
                                        style="text-align: center;display: none">
                                    Boleto
                                    <br/>
                                    <img class="img-responsive"
                                         style="height: 153px; height: 153px"
                                         src="{% static 'hotsite/logos/boleto.svg' %}">
                                </button>
                                <button id="id_credit_card" type="button"
                                        style="display: none">
                                    Cartão de Credito
                                    <br/>
                                    <img class="img-responsive"
                                         src="{% static 'hotsite/logos/cartao_de_credito.svg' %}">
                                </button>

                                <br/>

                                <a id="id_remove"
                                   style="margin-top: 11px; font-size: 12px;display: none">
                                    Remover
                                </a>
                            </div>
                            <div class="text-center">
                                <button id="id_button_pay"
                                        class="btn btn-default"
                                        type="button">
                                    Escolha meio de pagamento
                                </button>
                            </div>

                            <div class="text-center">
                                <img style="width: 80%; margin-top: 20px"
                                     src="{% static 'hotsite/images/logos/bandeiras_pagarme.png' %}">
                            </div>

                            <form action="" method="post" novalidate>
                                {% csrf_token %}
                                {{ wizard.management_form }}

                                {% for hidden in form.hidden_fields %}
                                    {{ hidden }}
                                {% endfor %}

                                {% if wizard.steps.prev %}
                                    <button type="button"
                                            onclick="submit_back_form()"
                                            class="btn btn-primary">
                                        <i class="fas fa-chevron-circle-left"></i>
                                        Voltar
                                    </button>
                                {% endif %}

                                <button type="submit"
                                        class="btn btn-primary pull-right">
                                    Finalizar
                                    <i class="fas fa-chevron-circle-right"></i>
                                </button>
                            </form>

                            <form id="back_form" action="" method="post"
                                  novalidate>

                                {% csrf_token %}
                                {{ wizard.management_form }}

                                <input type="hidden"
                                       name="wizard_goto_step"
                                       value="{{ wizard.steps.prev }}">
                            </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </section>

{% endblock %}

{% block scripts %}
    <!-- SCRIPT Payment -->
    <!-- SCRIPT PAGAR.ME -->
    <script src="https://assets.pagar.me/checkout/1.1.0/checkout.js"></script>
    <script src="{% static "hotsite/js/payment.js" %}"></script>
    <script src="{% static "hotsite/js/pagarme_integration.js" %}"></script>
    <script src="{% static "hotsite/js/subscription.js" %}"></script>


    <script type="application/javascript">
        (function ($) {
            "use strict";

            $(document).ready(function () {


                window.setTimeout(function () {


                    {% for product in products %}
                        //id, name, price, quantity, tangible
                        window.cgsy.pagarme.add_items_list({{ product.id }}, '{{ product.name }}', {{ product.price }}, 1, true);
                    {% endfor %}

                    {% for service in services %}
                        //id, name, price, quantity, tangible
                        window.cgsy.pagarme.add_items_list({{ service.id }}, '{{ service.name }}', {{ service.price }}, 1, false);
                    {% endfor %}


                    console.log(window.cgsy.pagarme.get_list());


                }, 300);
            });

        })(jQuery);
    </script>


    <script>

        $(document).ready(function () {

            $('form').submit(function () {
                $(this).find(':submit').attr('disabled', 'disabled');
            });

            var lot = JSON.parse($('#id_payment-lot_as_json').val());
            var optionals_products = JSON.parse($('#id_payment-products_as_json').val());

            $('#id_button_pay').on('click', function () {
                process_single_lot_payment_with_optional_products(
                    '{{ pagarme_encryption_key }}',
                    2.29,
                    '{{ event.name }}',
                    lot,
                    optionals_products,
                    null
                );
            });
        });

        function submit_back_form() {
            $('#back_form').submit()
        }

    </script>
{% endblock %}
