{% extends 'hotsite/base.html' %}
{% load static form_config_tags l10n humanize %}

{% block content %}

    {% include 'hotsite/includes/2_cover_no_form.html' %}

    <!-- FORM
================================= -->
    <section id="about" class="about-section section">
        <div class="container">
            <h2 class="section-heading text-center">Inscrição</h2>
            <div class="about-row row">
                <div class="col-md-9 col-md-offset-2">

                    {% include "hotsite/includes/greetings.html" %}
                    {% include "hotsite/includes/selected-lot.html" %}

                    <div class="panel panel-default">

                        <div class="panel-heading">
                            <div class="panel-title">Pagamento</div>
                        </div>

                        <div class="panel-body">
                            {% block messages %}
                                {% if messages %}
                                <div style="width:100%;margin-top:3px;padding-bottom:10px">
                                    {% for message in messages %}
                                        <div class="alert alert-{{ message.tags|default:'warning' }} alert-dismissible"role="alert">
                                            <button type="button" class="close"
                                                    data-dismiss="alert"
                                                    aria-label="Close"><span
                                                    aria-hidden="true">&times;</span>
                                            </button>
                                            {{ message|safe }}
                                        </div>
                                    {% endfor %}
                                </div>
                                {% endif %}
                            {% endblock messages %}

                            {% if form.non_field_errors %}
                                {% render_errors form.non_field_errors %}
                            {% endif %}

                            {% for field in form.hidden_fields %}
                                {% if field.error %}
                                    {% render_errors field.error %}
                                {% endif %}
                            {% endfor %}
                            <div class="well well-sm" style="text-align: justify">
                                <h3>Checkout: {{ subscription.person.name}}</h3>
                                <div>
                                    <strong>
                                        Inscrição:
                                    </strong>
                                </div>
                                <ul>
                                    {% if lot.price %}
                                        <strong>R$ {{ lot.get_calculated_price|intcomma }}</strong>
                                    {% else %}
                                        <strong>Grátis</strong>
                                    {% endif %}
                                </ul>
                                {% if products %}
                                    <div><strong>Produtos:</strong></div>
                                    <ul>
                                        {% for product in products %}
                                            <ol>{{ product.optional.name }}:
                                                <strong>
                                                    {% if product.optional.price == 0.00 %}
                                                        Grátis
                                                    {% else %}
                                                        R$
                                                        {{ product.optional.price|intcomma }}
                                                    {% endif %}
                                                </strong>
                                            </ol>
                                        {% endfor %}
                                    </ul>
                                {% endif %}

                                {% if services %}
                                    <div><strong>Serviços:</strong></div>
                                    <ul>
                                        {% for service in services %}
                                            <ol>{{ service.optional.name }}:
                                                <strong>
                                                    {% if service.optional.price == 0.00 %}
                                                        Grátis
                                                    {% else %}
                                                        R$
                                                        {{ service.optional.price|intcomma }}
                                                    {% endif %}
                                                </strong>
                                            </ol>
                                        {% endfor %}
                                    </ul>
                                {% endif %}

                                <h4> Total: R$ {{ total|intcomma }} </h4>
                            </div>


                            <div id="payment_buttons" class="text-center"
                                 style="display: none">
                                <button id="id_boleto" type="button" style="text-align: center;display: none">
                                    Boleto
                                    <br/>
                                    <img class="img-responsive" style="height: 153px; height: 153px" src="{% static 'hotsite/logos/boleto.svg' %}">
                                </button>
                                <button id="id_credit_card" type="button" style="display: none">
                                    Cartão de Credito
                                    <br/>
                                    <img class="img-responsive" src="{% static 'hotsite/logos/cartao_de_credito.svg' %}">
                                </button>
                                <br />
                                <br />
                            </div>
                            {% if 'boleto' not in allowed_transaction_types %}
                                {% if has_open_boleto %}
                                <div class="col-md-12">
                                    <div class="alert alert-info text-center">
                                        Somente pagamento com <strong>Cartão de Crédito</strong>
                                        está disponível, pois você já possui um boleto em aberto.
                                    </div>
                                </div>
                                {% else %}
                                <div class="col-md-12">
                                    <div class="alert alert-info text-center">
                                        Somente pagamento com <strong>Cartão de Crédito</strong> está disponível.
                                    </div>
                                </div>
                                {% endif %}
                            {% endif %}

                            <div class="text-center">
                                <img style="width: 80%; margin-top: 20px" src="{% static 'hotsite/images/logos/bandeiras_pagarme.png' %}">
                            </div>
                            <br/>
                            <form action="" method="post" id="next_form">
                                {% csrf_token %}
                                {{ wizard.management_form }}

                                {% for hidden in form.hidden_fields %}
                                    {{ hidden }}
                                {% endfor %}
                            </form>

                            <button type="button"
                                    class="btn btn-primary pull-right"
                                    id="id_button_pay">
                                Realizar pagamento e finalizar
                                <i class="fas fa-chevron-circle-right"></i>
                            </button>

                            <form action="" method="post" novalidate>
                                {{ wizard.management_form }}
                                {% csrf_token %}
                                {% if wizard.steps.prev %}
                                    <input type="hidden" name="wizard_goto_step"
                                           value="{{ wizard.steps.prev }}">
                                    <button type="submit"
                                            class="btn btn-primary">
                                        <i class="fas fa-chevron-circle-left"></i>
                                        Voltar
                                    </button>
                                {% endif %}
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-md-9 col-md-offset-2">
                    <div class="text-right cgsy-footer footer-wrapper text-muted"
                         style="font-size:12px;color:lightgrey">
                        {% include "base/footer.html" %}
                    </div>
                </div>
            </div>
    </section>

{% endblock %}

{% block scripts %}
    <!-- SCRIPT Payment -->
    <!-- SCRIPT PAGAR.ME -->
    <script src="https://assets.pagar.me/checkout/1.1.0/checkout.js"></script>
    <script src="{% static "hotsite/js/payment.js" %}"></script>
    <script src="{% static "hotsite/js/subscription.js" %}"></script>
    <script type="application/javascript">
        function submit_back_form() {
            $('#back_form').submit()
        }

        jQuery(document).ready(function() {
            window.setTimeout(function () {
                $('form').submit(function () {
                    $(this).find(':submit').attr('disabled', 'disabled');
                    $(this).attr('novalidate', 'novalidate');
                });

                // disable boleto method
                {% if 'boleto' in allowed_transaction_types %}
                window.cgsy.payment.enable_boleto();
                {% endif %}

                {% if lot.allow_installment is True %}
                // disable installment
                window.cgsy.payment.disable_installment();
                {% endif %}

                window.cgsy.payment.set_interest_rate(2.29);
                window.cgsy.payment.set_max_installments('{{ lot.installment_limit }}');
                window.cgsy.payment.set_free_rate_installments('{{ lot.num_install_interest_absortion }}');

                {% if lot.get_calculated_price %}
                // Adiciona billing de inscrição
                window.cgsy.payment.add_item(
                    'subscription',
                    '{{ subscription.pk }}',
                    'Inscrição: {{ lot.event.name }}',
                    1,
                    parseFloat('{{ lot.get_calculated_price|unlocalize }}')
                );
                {% endif %}

                {% if products %}
                    // Adiciona billing de opcionais de produtos/serviços
                    {% for product in products %}
                        {% if product.optional_price %}
                        window.cgsy.payment.add_item(
                            'optional-product',
                            '{{ subscription.pk }}',
                            'Produto/Serviço: {{ product.optional.name }}',
                            1,
                            parseFloat('{{ product.optional_price|unlocalize }}')
                        );
                        {% endif %}
                    {% endfor %}
                {% endif %}

                {% if services %}
                    // Adiciona billing de opcionais de atividades extras
                    {% for service in services %}
                        {% if service.optional_price %}
                        window.cgsy.payment.add_item(
                            'optional-service',
                            '{{ subscription.pk }}',
                            'Atividade extra: {{ service.optional.name }}',
                            1,
                            parseFloat('{{ service.optional_price|unlocalize }}')
                        );
                        {% endif %}
                    {% endfor %}
                {% endif %}

                 $('#id_button_pay').on('click', function () {
                     window.cgsy.pagarme.process_payment('{{ pagarme_encryption_key }}');
                 });
            }, 300);
        });
    </script>
{% endblock %}
