{% extends 'hotsite/base.html' %}
{% load l10n humanize static form_config_tags user_agents user_agent_tag %}

{% block content %}

    {% include 'hotsite/includes/2_cover_no_form.html' %}

    <!-- FORM
    ================================= -->
    <section id="about" class="about-section section">

        <div class="container">

            <h2 class="section-heading text-center">Inscrição</h2>

            <div class="about-row row">

                <div class="col-md-9 col-md-offset-2">

                    {% include "hotsite/includes/greetings.html" %}
                    {% include "hotsite/includes/selected-lot.html" %}

                    <form method="post" action="" id="person_form">

                        {% csrf_token %}
                        {{ wizard.management_form }}

                        {% if form.non_field_errors %}
                            {% render_errors form.non_field_errors %}
                        {% endif %}

                        {% render_generic_field form.city %}

                        {% block messages %}
                            {% if messages %}
                                <div style="width:100%;margin-top:3px;padding-bottom:10px">
                                {% for message in messages %}

                                    {% if message.tags %}
                                        <div class="alert alert-{{ message.tags }} alert-dismissible"
                                             role="alert">

                                    {% else %}
                                        <div class="alert alert-warning alert-dismissible"
                                             role="alert">
                                    {% endif %}

                                <button type="button"
                                        class="close"
                                        data-dismiss="alert"
                                        aria-label="Close"><span
                                        aria-hidden="true">&times;</span>
                                </button>
                                {{ message|capfirst }}
                                </div>

                                {% endfor %}
                            </div>
                            {% endif %}
                        {% endblock messages %}

                        <div class="form-validation alert"></div>

                        <div style="margin-bottom: 20px">

                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <div class="panel-title">
                                        Dados pessoais
                                    </div>
                                </div>
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-md-12">
                                            {% render_generic_field form.country %}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-9">
                                            {% render_generic_field form.name autofocus=True %}

                                        </div>
                                        <div class="col-md-3">
                                            {% render_generic_field form.gender required=True %}
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-9">
                                            {% if config %}
                                                {% render_generic_field form.email config.email False %}
                                            {% else %}
                                                {% render_generic_field form.email %}
                                            {% endif %}
                                        </div>
                                        <div class="col-md-3">
                                            {% if config and config.cpf != config.CPF_HIDE %}
                                                {% if config.cpf == config.CPF_REQUIRED %}
                                                    {% render_generic_field form.cpf required=True hide=True %}
                                                    {% render_generic_field form.international_doc required=True hide=True %}
                                                {% else %}
                                                    {% render_generic_field form.cpf %}
                                                    {% render_generic_field form.international_doc %}
                                                {% endif %}
                                            {% endif %}
                                        </div>
                                    </div>

                                    <div class="row">

                                        {% if config and config.birth_date != config.BIRTH_DATE_HIDE %}

                                            <div class="col-md-6">
                                                {% if config.birth_date == config.BIRTH_DATE_REQUIRED %}
                                                    {% render_generic_field form.birth_date required=True %}
                                                {% else %}
                                                    {% render_generic_field form.birth_date %}
                                                {% endif %}
                                            </div>
                                        {% endif %}
                                        <div class="col-md-6">
                                            {% if config %}
                                                {% render_international_phone form.ddi form.phone required=config.phone use_required_field=False %}
                                            {% else %}
                                                {% render_international_phone form.ddi form.phone %}
                                            {% endif %}
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-12">
                                            {% if config and config.address == config.ADDRESS_HIDE %}
                                                <div class="row" id="brazilian_city_block" style="display:none">
                                                    <div class="col-md-3 address-row">
                                                        {% render_generic_field form.state required=config.city %}
                                                    </div>
                                                    <div class="col-md-9 address-row">
                                                        {% render_generic_field form.city_name required=config.city %}
                                                    </div>
                                                </div>
                                                <div class="row" id="city_international_city_block" style="display:none">
                                                    <div class="col-md-6">
                                                        {% render_generic_field form.city_international required=True %}
                                                    </div>
                                                    <div class="col-md-6">
                                                        {% render_generic_field form.state_international required=True %}
                                                    </div>
                                                </div>
                                            {% endif %}
                                        </div>
                                    </div>

                                    <div class="row">
                                        {% if config and config.institution_show is True %}
                                            <div class="col-md-4">
                                                {% render_generic_field form.institution required=config.institution_required %}
                                            </div>
                                        {% endif %}
                                        {% if config and config.institution_cnpj_show is True %}
                                            <div class="col-md-4">
                                                {% render_generic_field form.institution_cnpj required=config.institution_cnpj_required %}
                                            </div>
                                        {% endif %}
                                        {% if config and config.function_show is True %}
                                            <div class="col-md-4">
                                                {% render_generic_field form.function required=config.function_required %}
                                            </div>
                                        {% endif %}
                                    </div>

                                </div>
                            </div>

                            {% if config and config.address == config.ADDRESS_SHOW %}
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <div class="panel-title">
                                            Endereço
                                        </div>
                                    </div>

                                    <div class="panel-body">
                                        <div class="row" id="zip_code_block">
                                            <div class="col-md-3">
                                                {% render_generic_field form.zip_code required=True %}
                                                <div id="cep_loader" class="cep-loader-hotsite"
                                                >
                                                    <img src="{% static 'assets/img/loader.gif' %}"/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row address-row">
                                            <div class="col-md-9">
                                                {% render_generic_field form.street %}
                                            </div>
                                            <div class="col-md-3 address-row">
                                                {% render_generic_field form.number %}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6 address-row">
                                                {% render_generic_field form.complement %}
                                            </div>
                                            <div class="col-md-6 address-row">
                                                {% render_generic_field form.village %}
                                            </div>
                                        </div>
                                        <div class="row" id="brazilian_city_block" style="display:none">
                                            <div class="col-md-3 address-row">
                                                {% render_generic_field form.state required=True %}
                                            </div>
                                            <div class="col-md-9 address-row">
                                                {% render_generic_field form.city_name required=True %}
                                            </div>
                                        </div>
                                        <div class="row" id="city_international_city_block" style="display:none">
                                            <div class="col-md-6">
                                                {% render_generic_field form.city_international required=True %}
                                            </div>
                                            <div class="col-md-6">
                                                {% render_generic_field form.state_international required=True %}
                                            </div>
                                        </div>
                                        <div class="row" id="zip_code_international_block" style="display:none">
                                            <div class="col-md-3">
                                                {% render_generic_field form.zip_code_international required=True %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}

                            {% if wizard.steps.prev %}
                                <button name="wizard_goto_step"
                                        id="wizard_goto_step"
                                        type="submit"
                                        class="btn btn-primary"
                                        value="{{ wizard.steps.prev }}">
                                    <i class="fas fa-chevron-circle-left"></i>
                                    Voltar
                                </button>
                            {% endif %}

                            <button type="submit"
                                    class="btn btn-primary pull-right">
                                {% if is_last %}Finalizar{% else %}Próximo{% endif %}
                                <i class="fas fa-chevron-circle-right"></i>
                            </button>

                        </div>
                    </form>

                </div>
                <div class="col-md-9 col-md-offset-2">
                    <div class="text-right cgsy-footer footer-wrapper text-muted"
                         style="font-size:12px;color:lightgrey">
                        {% include "base/footer.html" %}
                    </div>
                </div>
            </div>

        </div>

    </section>

{% endblock %}

{% block styles %}
    <link rel="stylesheet"
          href="https://unpkg.com/vue-form-wizard/dist/vue-form-wizard.min.css">
    <link rel="stylesheet"
          href="{% static "assets/plugins/bootstrap-datetimepicker/bootstrap-datetimepicker.min.css" %}">
{% endblock %}

{% block scripts %}

    <!-- SCRIPT Subscription -->
    <script src="{% static "hotsite/js/subscription.js" %}"></script>
    <script src="{% static "assets/plugins/moment/moment.js" %}"></script>

    <script src="{% static "assets/plugins/bootstrap-datetimepicker/bootstrap-datetimepicker.js" %}"></script>

    <script src="{% static 'assets/js/date-time.js' %}"></script>

    <script>
        $(document).ready(function () {
            var dateInput = $('#id_person-birth_date');
            if (dateInput.length) {
                dateInput.attr('autocomplete', 'off');
                var birthDate = createDatePicker(dateInput);
                birthDate.data("DateTimePicker").minDate(false);
                birthDate.data("DateTimePicker").useCurrent(false);
                var datePerson = dateInput.attr('value');
                if (datePerson) {
                    birthDate.data("DateTimePicker").date(datePerson);
                }
            }
        });

        function set_form_as_international() {
            console.log('setting form as international.');

            var country = $('#id_person-country');
            var ddi_el = $('#id_person-ddi');
            var phone_el = $('#id_person-phone');
            var cpf = $('#id_person-cpf');
            var international_doc = $('#id_person-international_doc');
            var city_block = $('#brazilian_city_block');
            var city_intern_block = $('#city_international_city_block');
            var zip_code_el = $('#id_person-zip_code');
            var zip_code_block_el = $('#zip_code_block');
            var zip_code_intern_el = $('#id_person-zip_code_international');
            var zip_code_intern_block_el = $('#zip_code_international_block');

            ddi_el.val(country.val());
            phone_el.unmask();
            phone_el.attr('onkeyup', 'this.value = this.value.replace(/\\D/g,\'\');');

            {% if config and config.cpf != config.CPF_HIDE %}
                international_doc.parent().parent().show();
                cpf.parent().parent().hide();

                cpf.removeAttr('required');
                international_doc.removeAttr('required');

                {% if config.cpf == config.CPF_REQUIRED %}
                    international_doc.attr('required', 'required');
                {% endif %}
            {% endif %}


            city_block.hide();
            city_intern_block.show();

            $('#id_person-state').removeAttr('required');
            $('#id_person-city_name').removeAttr('required');
            $('#id_person-city_international').removeAttr('required');
            $('#id_person-state_international').removeAttr('required');

            {% if config and config.city is True %}
                $('#id_person-city_international').attr('required', 'required');
                $('#id_person-state_international').attr('required', 'required');
            {% endif %}

            {% if config and config.address == config.ADDRESS_SHOW %}
                zip_code_el.unbind('keyup');
                zip_code_el.unmask();
                zip_code_el.removeAttr('required');
                zip_code_block_el.hide();
                zip_code_intern_block_el.show();
                zip_code_intern_el.attr('required', 'required');
            {% endif %}
        }

        function set_form_as_national() {
            console.log('setting form as national.');

            var country = $('#id_person-country');
            var ddi_el = $('#id_person-ddi');
            var phone_el = $('#id_person-phone');
            var cpf = $('#id_person-cpf');
            var international_doc = $('#id_person-international_doc');
            var city_block = $('#brazilian_city_block');
            var city_intern_block = $('#city_international_city_block');
            var zip_code_el = $('#id_person-zip_code');
            var zip_code_block_el = $('#zip_code_block');
            var zip_code_intern_el = $('#id_person-zip_code_international');
            var zip_code_intern_block_el = $('#zip_code_international_block');

            ddi_el.val(country.val());
            phone_el.mask("(99) 99999-9999");
            phone_el.removeAttr('onkeyup');
            cpf.parent().parent().show();
            international_doc.parent().parent().hide();
            cpf.removeAttr('required');
            international_doc.removeAttr('required');
            {% if config and config.cpf != config.CPF_HIDE %}
                {% if config.cpf == config.CPF_REQUIRED %}
                    cpf.attr('required', 'required');
                {% endif %}
            {% endif %}

            city_block.show();
            city_intern_block.hide();

            $('#id_person-state').removeAttr('required');
            $('#id_person-city_name').removeAttr('required');
            $('#id_person-city_international').removeAttr('required');
            $('#id_person-state_international').removeAttr('required');

            {% if config and config.city is True %}
                $('#id_person-state').attr('required', 'required');
                $('#id_person-city_name').attr('required', 'required');
            {% endif %}

            {% if config and config.address == config.ADDRESS_SHOW %}
                zip_code_block_el.show();
                zip_code_el.on('keyup', function () {
                    hotsiteSearchByCep();
                });
                zip_code_el.mask("99999-999");
                zip_code_el.attr('required', 'required');

                zip_code_intern_el.removeAttr('required');
                zip_code_intern_block_el.hide();
            {% endif %}
        }

        function set_if_international() {
            var country = $('#id_person-country');
            if (country.val() == 'BR') {
                set_form_as_national();
                return;
            }
            set_form_as_international();
        }

        $(document).ready(function () {
            var back_button = $('#wizard_goto_step');
            var form = $('#person_form');

            back_button.on('click', function () {
                form.attr('novalidate', 'novalidate');
            });

            $('#id_person-country').on('change', function () {
                set_if_international();
            });

            var id_city = $('#id_person-city');
            window.setTimeout(function () {
                set_if_international();

                {% if config and config.address == config.ADDRESS_SHOW %}

                {% endif %}

                if (id_city.val()) {

                    $.ajax({
                        url: "/api/cities/" + id_city.val(),
                        success: function (result) {
                            console.log(result);
                            hotsiteRepopulate_cities(result.uf, result.id);
                        },
                        error: function (err) {
                            throw err;
                        }
                    });
                }

                hotsiteShowHideCepLoader();

                var radios = $('input[type=radio]');

                radios.iCheck({
                    checkboxClass: 'icheckbox_flat-grey',
                    radioClass: 'iradio_flat-grey'
                });


            }, 300);

        });

    </script>

{% endblock %}



