{% extends 'hotsite/base.html' %}
{% load static user_agents user_agent_tag %}

{% block styles %}
    <style>
        .form-group {
            margin: 4px 0;
        }

        input#id_city, input#id_city_search {
            text-transform: uppercase;
        }
    </style>
{% endblock %}

{% block content %}

    {% include 'hotsite/includes/2_cover_no_form.html' %}

    <!-- FORM
    ================================= -->
    <section id="about" class="about-section section">
        <div class="container">
            <h2 class="section-heading text-center">Inscrição</h2>
            <div class="about-row row">
                <div class="col-md-9 col-md-offset-2">
                    {% include 'hotsite/subscription_form.html' %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block scripts %}

    <!-- SCRIPT Subscription -->
    <script src="{% static "hotsite/js/subscription.js" %}"></script>
    <script>
        $(document).ready(function () {
            IS_CHROME = {% if request|is_chrome %}true{% else %}false{% endif %}
            {% if config and config.address == config.ADDRESS_SHOW %}
                $('#id_zip_code').mask("99.999-999");
            {% endif %}
            if ($('#id_city').val()) {
                $.ajax({
                    url: "/api/cities/" + $('#id_city').val(), success: function (result) {
                        $('#id_city_search').val(result.name + ' - ' + result.uf)
                        //populate the html with result here
                    }
                });
            }
            showHideCepLoader();
        });
    </script>

    <!-- SCRIPT Payment -->
    <!-- SCRIPT PAGAR.ME -->
    <script src="https://assets.pagar.me/checkout/1.1.0/checkout.js"></script>
    <script src="{% static "hotsite/js/payment.js" %}"></script>
    <script>
        var lots = {};
        {% for lot in paid_lots %}
            {% if lot.price %}
                lots['{{ lot.pk }}'] = parseFloat({{ lot.get_calculated_price }});
            {% endif %}
        {% endfor %}

        var allowed_transactions;
        {% if request.session.allowed_transaction %}
            allowed_transactions = '{{ request.session.allowed_transaction }}';
        {% else %}
            allowed_transactions = null;
        {% endif %}

        $(document).ready(function() {
            $('#id_button_pay').on('click', function () {
                process_payment(
                    '{{ pagarme_encryption_key }}',
                    '{{ event.name }}',
                    lots,
                    allowed_transactions
                );
            });
            
            var uf_el = $('#id_state');
            var city_el = $('#id_city_name');
            
            window.setTimeout(function() {
            {% if person.city %}
                uf_el.val('{{ person.city.uf }}');
                fetch_cities(uf_el, '{{ person.city.pk }}');
            {% else %}
                uf_el.val('');
                city_el.val('');
                city_el.prop('disabled', true);
            {% endif %}
            }, 300);
        });
    </script>
{% endblock %}
