{% load static form_config_tags %}

<!-- FORM -->
<form action="" method="post"
      class="form"
      role="form" onsubmit="submit_form(this); return false;">

    {% csrf_token %}

    {% if user.is_authenticated %}
        <h4 class="form-heading"
            style="font-weight: bold;">Olá, {{ user.first_name }}</h4>
    {% else %}
        <h4 class="form-heading"
            style="font-weight: bold;">Inscreva-se
            agora!</h4>
    {% endif %}

    {% block messages %}
        {% if messages %}
            <div style="width:100%;margin-top:3px;padding-bottom:10px">
            {% for message in messages %}

                {% if message.tags %}
                    <div class="alert alert-{{ message.tags }} alert-dismissible"
                         role="alert">

                {% else %}
                    <div class="alert alert-warning alert-dismissible"
                         role="alert">
                {% endif %}

            <button type="button" class="close" data-dismiss="alert"
                    aria-label="Close"><span aria-hidden="true">&times;</span>
            </button>
            {{ message|capfirst }}
            </div>

            {% endfor %}
        </div>
        {% endif %}
    {% endblock messages %}

    <div class="form-validation alert"></div>

    {% if has_paid_lots %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-title">Ingresso</div>
            </div>

            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12">
                        {% if lots %}
                            <select class="form-control" name="lot" id="id_lot">
                                {% for lot in lots %}
                                    <option value="{{ lot.pk }}">{{ lot.display_publicly }}</option>
                                {% endfor %}
                            </select>
                            <div class="text-muted small">Escolha o tipo de ingresso.</div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="panel-title">Dados pessoais</div>
        </div>
        <div class="panel-body">
            {% if is_subscribed %}
                <div class="text-center">
                    <p style="font-size: 18px">
                        Informe os dados abaixo para finalizar a sua inscrição.
                    </p>

                    <div style="align-items: center;display: flex;justify-content: center;">
                        <i class="fa fa-check-circle fa-5x" style="color: darkgreen"
                           aria-hidden="true"></i>

                    </div>
                </div>
            {% else %}
                <div class="row">
                    <div class="col-md-9">
                        {% render_generic_field form.name autofocus=True %}
                    </div>
                    <div class="col-md-3">
                        {% render_generic_field form.gender required=True %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        {% if config %}
                            {% render_generic_field form.email config.email False %}
                        {% else %}
                            {% render_generic_field form.email %}
                        {% endif %}
                    </div>
                    <div class="col-md-3">
                        {% if config and config.cpf != config.CPF_HIDE %}
                            {% if config.cpf == config.CPF_REQUIRED %}
                                {% render_generic_field form.cpf required=True %}
                            {% else %}
                                {% render_generic_field form.cpf %}
                            {% endif %}
                        {% endif %}
                    </div>
                    <div class="col-md-3">
                        {% if config and config.birth_date != config.BIRTH_DATE_HIDE %}
                            {% if config.birth_date == config.BIRTH_DATE_REQUIRED %}
                                {% render_generic_field form.birth_date required=True %}
                            {% else %}
                                {% render_generic_field form.birth_date %}
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
                <div class="row">
                </div>
                <div class="row">
                    <div class="col-md-4">
                        {% if config %}
                            {% render_generic_field form.phone config.phone False %}
                        {% else %}
                            {% render_generic_field form.phone %}
                        {% endif %}
                    </div>
                    <div class="col-md-8">
                        {% if config and config.address == config.ADDRESS_HIDE %}
                            {% if config.city == config.CITY_REQUIRED %}
                                <div class="form-group">
                                    <label for="id_city_search">
                                        <label for="id_city_search">
                                            Cidade:
                                            <small style="color:#C9302C">*</small>
                                        </label>
                                    </label>
                                    <div id="remote">
                                        <input name="id_city_search" class="typeahead form-control" required
                                               id="id_city_search" type="text"
                                               data-provide="typeahead">
                                        <input name="id_city" id="id_city" type="hidden">
                                    </div>
                                </div>
                            {% else %}
                                <div class="form-group">
                                    <label for="id_city_search">
                                        <label for="id_city_search">
                                            Cidade:
                                        </label>
                                    </label>
                                    <div id="remote">
                                        <input name="id_city_search" class="typeahead form-control " id="id_city_search"
                                               type="text"
                                               data-provide="typeahead">
                                        <input name="id_city" id="id_city" type="hidden">
                                    </div>
                                </div>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
    {% if config and config.address == config.ADDRESS_SHOW %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-title">Endereço</div>
            </div>

            <div class="panel-body">
                <div class="row">
                    <div class="col-md-3">
                        {% render_generic_field form.zip_code required=True %}
                        <div id="cep_loader" style="width: 22px;position: absolute;top: 45px;right: 33px;">
                            <img src="{% static 'assets/img/loader.gif' %}"/>
                        </div>
                    </div>
                </div>
                <div class="row address-row">
                    <div class="col-md-9">
                        {% render_generic_field form.street %}
                    </div>
                    <div class="col-md-3 address-row">
                        {% render_generic_field form.number %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 address-row">
                        {% render_generic_field form.complement %}
                    </div>
                    <div class="col-md-6 address-row">
                        {% render_generic_field form.village %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 address-row">
                        {% render_typeahead_field form.city required=True %}
                    </div>
                </div>
            </div>
        </div>
        {% if has_paid_lots %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-title">Pagamento</div>
                </div>
                <div class="panel-body">
                    <button id="id_button_pay" class="btn btn-default" type="button">Pagar.me</button>
                    <p class="text-muted" style="color:#f85252;"></p>
                    <input type="hidden" id="token" name="token">
                </div>
            </div>
        {% endif %}
    {% endif %}
    <div class="row">
        <div class="col-md-12">
            <div class="form-group form-group-submit">
                <button type="button" class="btn btn-primary btn-lg btn-block"
                        data-loading-text="Enviar" onclick="$(this).removeAttr('type').trigger('click');">
                    Enviar
                </button>
            </div>
        </div>
    </div>
</form>