{% extends 'hotsite/base.html' %}
{% load static user_agents user_agent_tag %}

{% block styles %}
<style>
    .form-group {
        margin: 4px 0;
    }
    input#id_city, input#id_city_search {
        text-transform: uppercase;
    }
</style>
{% endblock %}

{% block content %}

{% include 'hotsite/includes/2_cover_no_form.html' %}

<!-- FORM
================================= -->
<section id="about" class="about-section section">
    <div class="container">
        <h2 class="section-heading text-center">Inscrição</h2>
        <div class="about-row row">
            <div class="col-md-9 col-md-offset-2">
                {% include 'hotsite/subscription_form.html' %}
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block scripts %}
<!-- SCRIPT PAGAR.ME -->
<script src="https://assets.pagar.me/checkout/1.1.0/checkout.js"></script>
<script src="{% static "assets/plugins/mask/mask.min.js" %}"></script>
<script>
    var suggestionEngine = new Bloodhound({
        datumTokenizer: function (datum) {
            return Bloodhound.tokenizers.whitespace(datum.value);
        },
        queryTokenizer: Bloodhound.tokenizers.whitespace,
        remote: {
            url: '/api/cities/?q=%QUERY',
            wildcard: '%QUERY',
            filter: function (main_json) {
                return $.map(main_json.results, function (result) {
                    return {
                        value: result.name + '-' + result.uf,
                        city_id: result.id
                    };
                });
            }
        }
    });

    $('#city .typeahead').typeahead(null, {
        name: 'cities',
        display: 'value',
        source: suggestionEngine,
        limit: 10
    });


    $('#city .typeahead').on('typeahead:selected', function (e, datum) {
        $("#id_city").val(datum.city_id);
    });

    $(document).ready(function () {
        IS_CHROME = {% if request|is_chrome %}true{% else %}false{% endif %}

        $('#id_phone').mask("(99) 9 9999-9999");
        $('#id_cpf').mask("999.999.999-99");


        {% if config and config.address == config.ADDRESS_SHOW %}
            $('#id_zip_code').mask("99.999-999");
        {% endif %}

        $('#id_zip_code').on('keyup', function () {
            searchByCep();
        });

        if (!$('#id_city').val()) {
            $.ajax({
                url: "/api/cities/" + $('#id_city').val(), success: function (result) {
                    $('#id_city_search').val(result.name + ' - ' + result.uf)
                    //populate the html with result here
                }
            });
        }

        showHideCepLoader();
    });


    var lots = {
        {% for lot in lots %}
            {% if lot.price %}
                'lot_{{ lot.pk }}': parseFloat({{ lot.price }}),
            {% endif %}
        {% endfor %}
    };


    var button = document.querySelector('#id_button_pay');
    var remove = document.querySelector('#id_remove');


    $(document).ready(function () {
        $('#id_boleto').hide();
        $('#id_credit_card').hide();
        $('#id_remove').hide();
        $('#payment_buttons').hide();
    });

    remove.addEventListener('click', function () {
        $('#id_boleto').hide();
        $('#id_credit_card').hide();
        $('#id_remove').hide();
        $('#payment_buttons').hide();
        $('#id_button_pay').show();
    });

    button.addEventListener('click', function () {

            var amount_id = $('#id_lot').val().toString();

            var lot = 'lot_' + amount_id;

            var amount = lots[lot] * 100;

            var billing_title = 'Inscrição do evento: ' + '{{ event.name }}';

            function handleSuccess(data) {
                $('#id_button_pay').hide();
                $('#id_remove').hide();
                $('#id_boleto').hide();
                $('#id_credit_card').hide();
                $('#payment_buttons').show();

                if (data.payment_method === "boleto") {
                    $('#id_boleto').show();
                } else if (data.payment_method === "credit_card") {
                    $('#id_credit_card').show();
                }

                $('#id_remove').show();


                $('#id_transaction_type').val(data.payment_method);
                $('#id_amount').val(data.amount);
                $('#id_card_hash').val(data.card_hash);
            }

            function handleError(data) {
                if(TRACKER_CAPTURE){
                    Raven.showReportDialog();
                    Raven.captureException(JSON.stringify(data));
                } else {
                    alert("Ocorreu um erro durante o processamento, tente novamente depois.");
                }
            }

            var checkout = new PagarMeCheckout.Checkout({
                encryption_key: '{{ pagarme_encryption_key }}',
                success: handleSuccess,
                error: handleError
            });

            checkout.open({
                amount: amount,
                createToken: 'false',
                {% if request.session.allowed_transaction  %}
                    paymentMethods: '{{ request.session.allowed_transaction }}',
                {% else %}
                    paymentMethods: 'credit_card,boleto',
                {% endif %}
                customerData: false,
                items: [
                    {
                        id: '1',
                        title: billing_title,
                        unit_price: amount,
                        quantity: 1,
                        tangible: true
                    }
                ]
            });
        }
    );

</script>

<!-- MAIN SCRIPT
================================= -->
<script src="{% static 'hotsite/js/script.js' %}"></script>
<script src="{% static 'assets/js/cgsy.js' %}"></script>
{% endblock %}
