{% extends 'hotsite/base.html' %}
{% load static base_tags humanize l10n %}

{% block scripts %}
    <script src="{% static 'hotsite/js/subscription-status.js' %}"></script>
    <script>
        function render_status_table() {
            var url = window.location.href + '?template_name=hotsite/includes/status-table';
            var sender = new window.cgsy.AjaxSender(url);
            sender.setSuccessCallback(function (response) {
                $('#status-table').html(response);
                render_status_table();
            });
            window.setTimeout(function () {
                sender.send('GET');
            }, 3500);
        }

        $(document).ready(function () {
            {% if not subscription.confirmed %}
                render_status_table();
            {% endif %}

            $('.tooltip-wrapper').tooltip({
                selector: "[data-toggle=tooltip]",
                container: "body",
                html: true
            });
        });
    </script>
{% endblock %}
{% block content %}

    {% include 'hotsite/includes/2_cover_no_form.html' %}

    <!-- FORM
    ================================= -->
    <section id="owner" class="footer-section section tooltip-wrapper">
        <h2 class="section-heading text-center">Status da Inscrição</h2>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-12" style="text-align: left;">
                            {% block messages %}
                                {% if messages %}
                                    <div style="width:100%;margin-top:3px;padding-bottom:10px">
                                        {% for message in messages %}
                                            <div class="alert alert-{{ message.tags|default:'warning' }} alert-dismissible"
                                                 role="alert">
                                                <button type="button"
                                                        class="close"
                                                        data-dismiss="alert"
                                                        aria-label="Close"><span
                                                        aria-hidden="true">&times;</span>
                                                </button>
                                                {{ message|capfirst }}
                                            </div>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            {% endblock messages %}
                            {% if transactions %}
                                <div id="status-table">
                                    {% include 'hotsite/includes/status-table.html' %}
                                </div>
                            {% endif %}
                            {% if is_private_event and not has_paid_transaction %}
                                {% if lot_is_still_valid  %}
                                    <a href="{% url 'public:hotsite-subscription' event.slug %}"
                                       class="btn btn-success btn-xs"
                                       data-toggle="tooltip"
                                       title="Realize um novo pagamento.">
                                        Novo pagamento
                                    </a>
                                    <a href="#" class="btn btn-primary btn-xs"
                                       data-toggle="tooltip"
                                       title="Entrar com cupom diferente para mudar de lote."
                                       onclick="$('#force-coupon-form').submit();">
                                        Outro Cupom
                                    </a>
                                {% else %}
                                    <hr/>
                                    <div class="alert alert-warning alert-dismissible"
                                         role="alert">
                                        O lote que você está inscrito já
                                        expirou. Deseja fazer inscrição com novo
                                        cupom?
                                    </div>
                                    <a href="#" class="btn btn-primary btn-xs"
                                       data-toggle="tooltip"
                                       title="Entrar com cupom diferente para mudar de lote."
                                       onclick="$('#force-coupon-form').submit();">
                                        Inserir Novo cupom
                                    </a>
                                {% endif %}
                            {% else %}
                                {% if not has_paid_transaction %}
                                    <a href="{% url 'public:hotsite-subscription' event.slug %}"
                                       class="btn btn-success btn-xs"
                                       data-toggle="tooltip"
                                       title="Realize um novo pagamento ou mude de lote quando desejar.">
                                        Novo pagamento
                                    </a>
                                {% endif %}
                            {% endif %}
                            {% if event.is_scientific and event.work_config and event.work_config.is_submittable %}
                                <a href="{% url 'scientific_work:work-add' subscription_pk=subscription.pk %}"
                                   class="btn btn-primary"
                                   style="margin-top: 15px"
                                   data-toggle="tooltip"
                                   title="Submeter artigos científicos para o evento">
                                    Enviar Artigo Certificado
                                </a>
                            {% endif %}
                            <a href="{% url 'public:logout' %}?next={% url 'public:hotsite' event.slug %}"
                               class="btn btn-warning"
                               style="margin-top: 15px"
                               title="Realizar inscrição de outra pessoa?">
                                Realizar inscrição de outra pessoa?
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="text-right cgsy-footer footer-wrapper text-muted"
                     style="font-size:12px;color:lightgrey">
                    {% include "base/footer.html" %}
                </div>
            </div>
        </div>
    </section>

    <div style="display:none">
        <form action="" method="post" id="force-coupon-form">
            {% csrf_token %}
            <input type="hidden" name="action" value="force-coupon">
        </form>
    </div>
{% endblock %}
