{% extends "gatheros_event/event/base_panel.html" %}
{% load event_form_tags %}

{% block content %}
    <div style="padding:10px">
        <a href="{% url 'gatheros_event:event-panel' event.pk %}">Voltar</a>
    </div>
    <hr/>
    <h1>{{ event.name }}</h1>
    <div style="margin-bottom:10px;padding: 10px;background-color: #DDDDDD;text-align: center;">
        <a href="{% url 'gatheros_subscription:field-add' event.pk %}">Adicionar</a>
    </div>

    {% if form_title %}
        <h2>{{ form_title }}</h2>
    {% endif %}
    <table border="0" width="65%" cellpadding="10" cellspacing="1" style="background-color:#DDD">
        <tr>
            <td colspan="6" style="font-weight: bold">Campos principais</td>
            <td style="text-align:center;font-weight: bold"># Inscrições</td>
        </tr>
        {% for item in default_fields %}
            {% user_can_delete user item.field as can_delete %}
            {% user_can_edit user item.field as can_edit %}
            <tr>
                <td width="1%" style="text-align:center;background-color:#F6F6F6">
                    {{ item.field.order }}
                </td>
                <th width="20%" style="text-align: right;vertical-align: top;background-color:{% if not item.field.active %}#F6F6F6{% else %}#FFF{% endif %}">
                    <label for="{{ item.form_field.id_for_label }}">{{ item.form_field.label_tag }}</label>
                </th>
                <td colspan="4" style="vertical-align: top;background-color:{% if not item.field.active %}#F6F6F6{% else %}#FFF{% endif %}">
                    {{ item.form_field }}
                    {% if item.form_field.help_text %}
                        <br />
                        <strong>Instrução:</strong> {{ item.form_field.help_text|safe }}
                    {% endif %}
                    {{ item.form_field.errors }}
                </td>
                {% if forloop.first %}
                <td rowspan="{{ default_fields|length }}" width="10%" style="text-align: center;background-color:{% if not item.field.active %}#F6F6F6{% else %}#FFF{% endif %}">
                    {{ event.subscriptions.count }}
                </td>
                {% endif %}
            </tr>
        {% endfor %}
        {% if additional_fields %}
            <tr>
                <td colspan="6" style="font-weight: bold">Campos adicionais</td>
            </tr>
        {% endif %}
        {% for item in additional_fields %}
            {% user_can_delete user item.field as can_delete %}
            {% user_can_edit user item.field as can_edit %}
            <tr>
                <td width="1%" style="text-align:center;background-color:#F6F6F6">
                    {{ item.field.order }}
                </td>
                <th width="20%" style="text-align: right;vertical-align: top;background-color:{% if not item.field.active %}#F6F6F6{% else %}#FFF{% endif %}">
                    <label for="{{ item.form_field.id_for_label }}">{{ item.form_field.label_tag }}</label>
                </th>
                <td style="vertical-align: top;background-color:{% if not item.field.active %}#F6F6F6{% else %}#FFF{% endif %}" {% if not item.field.with_options %}colspan="2"{% endif %}>
                    {{ item.form_field }}
                    {% if item.form_field.help_text %}
                        <br />
                        <strong>Instrução:</strong> {{ item.form_field.help_text|safe }}
                    {% endif %}
                    {{ item.form_field.errors }}
                </td>
                {% if item.field.with_options %}
                <td width="13%" style="text-align: center;background-color:{% if not item.field.active %}#F6F6F6{% else %}#FFF{% endif %}">
                    <a style="text-decoration: none" href="{% url 'gatheros_subscription:field-options' event.pk item.field.pk %}">Gerenciar opções</a>
                </td>
                {% endif %}
                <td width="2%" style="text-align: center;background-color:{% if not item.field.active %}#F6F6F6{% else %}#FFF{% endif %}">
                    <form method="post" action="{% url 'gatheros_subscription:field-order' event.pk item.field.pk %}">{% csrf_token %}
                        {% if not item.field.form_default_field %}
                            {% if not forloop.first %}
                                <button name="down">&uparrow;</button>
                            {% endif %}
                            {% if not forloop.first and not forloop.last %}
                                <hr style="margin: 4px 0" />
                            {% endif %}
                            {% if not forloop.last %}
                                <button name="up">&downarrow;</button>
                            {% endif %}
                        {% endif %}
                    </form>
                </td>
                <td width="11%" style=";background-color:{% if not item.field.active %}#F6F6F6{% else %}#FFF{% endif %}">
                    {% if can_edit %}
                        <a style="text-decoration: none" href="{% url 'gatheros_subscription:field-edit' event.pk item.field.pk %}">Editar</a>
                    {% endif %}
                    &nbsp;
                    {% if can_delete %}
                        <a style="text-decoration: none" href="{% url 'gatheros_subscription:field-delete' event.pk item.field.pk %}">Excluir</a>
                    {% endif %}

                    {% if not item.field.active %}
                        <div style="text-align: center;font-style: italic;padding: 4px">Desativado</div>
                    {% endif %}
                </td>
                <td width="10%" style="text-align: center;background-color:{% if not item.field.active %}#F6F6F6{% else %}#FFF{% endif %}">
                    {{ item.field.answers.count }}
                </td>
            </tr>
        {% endfor %}
    </table>
    <hr />
    <div style="padding:10px">
        <a href="{% url 'gatheros_event:event-panel' event.pk %}">Voltar</a>
    </div>
{% endblock %}