{% extends "base/base.html" %}

{% load i18n static widget_tweaks%}
{% block title %}Editar Perfil | Congressy{% endblock %}

{% block page_title %}Editar Perfil{% endblock %}
{% block page_sub_title %}{{ request.user.get_full_name }}{% endblock %}

{% block sidebar %}{% endblock %}
{% block sidebar-bars %}{% endblock %}

{% block scripts %}
    <script src="{% static "assets/plugins/mask/mask.min.js" %}"></script>
    <script type="application/javascript">

        $(document).ready(function () {
            $('#id_phone').mask("(99) 99999-9999");
        });

    </script>
{% endblock %}

{% block content %}
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="row">
            <div class="col-md-12">
                <div class="buttonbar">
                    <div class="float-right">
                        <button type="submit" class="btn btn-success">
                            <i class="fa fa-save"></i>
                            Salvar
                        </button>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-primary">
                    <div class="panel-body">
                        {% for field in form %}
                            {% if field.field.widget.input_type == "hidden" %}
                                {{ field }}
                            {% else %}
                                <div class="form-group">

                                    <label for="{{ field.id_for_label }}">
                                        {{ field.label }}
                                        {% if field.field.required %}
                                            <small style="color:#C9302C">*
                                            </small>
                                        {% endif %}
                                    </label>

                                    <div>
                                        {% if field.field.widget.input_type == "checkbox" %}
                                            {{ field |add_class:"js-switch"|attr:"style:display:none"|attr:"data-switchery:true" }}
                                        {% elif field.id_for_label == "id_phone" %}
                                            {{ field |add_class:"form-control" |attr:"type:tel" |attr:"placeholder:(99) 99999-9999" }}
                                        {% else %}
                                            {{ field |add_class:"form-control" }}
                                        {% endif %}
                                        {% if field.errors %}
                                            {% for error in field.errors %}
                                                <div class="alert alert-danger
                                            alert-dismissable">
                                                    <button type="button"
                                                            class="close"
                                                            data-dismiss="alert"
                                                            aria-hidden="true">
                                                        ×
                                                    </button>
                                                    {{ error }}
                                                </div>
                                            {% endfor %}
                                        {% endif %}
                                        {% if field.help_text %}
                                            <div>
                                                <small class="text-muted">{{ field.help_text|safe }}</small>
                                            </div>
                                        {% endif %}
                                    </div>

                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="buttonbar bottom">
                    <div class="float-right">
                        <button type="submit" class="btn btn-success">
                            <i class="fa fa-save"></i>
                            Salvar
                        </button>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>

    </form>

{% endblock %}