{% extends "base/base.html" %}

{% load i18n static widget_tweaks form_config_tags %}

{% block title %}Editar Perfil | Congressy{% endblock %}

{% block page_title %}Editar Perfil{% endblock %}

{% block page_sub_title %}{{ request.user.get_full_name }}{% endblock %}

{% block scripts %}
    <script src="{% static "assets/plugins/mask/mask.min.js" %}"></script>
    <!-- Script used in in subscription. -->

    <link href="{% static "assets/plugins/croppie/croppie.css" %}" rel="stylesheet">
    <script src="{% static "assets/plugins/croppie/croppie.js" %}"></script>

    <script src="{% static "hotsite/js/subscription.js" %}"></script>
    <script type="application/javascript">


        $(function () {
            var $uploadCrop;
            var avatar_file_el = $('#id_avatar_file');
            var avatar_el = $('#id_avatar');

            $uploadCrop = $('.thumbnail').croppie({
                viewport: {
                    width: 200,
                    height: 200,
                    type: 'circle'
                },
                boundary: {
                    width: 400,
                    height: 300
                }
            });

            function readFile(input) {
                if (input.files && input.files[0]) {
                    var reader = new FileReader();
                    reader.onload = function (e) {

                        $uploadCrop.croppie('bind', {
                            url: e.target.result
                        });
                        $('.thumbnail').addClass('ready');
                    };
                    reader.readAsDataURL(input.files[0]);
                }
            }

            avatar_file_el.on('change', function () {
                readFile(this);
            });

            $('#result').on("click", function () {
                $('.thumbnail').croppie('result', 'base64').then(function (base64_image) {
                    avatar_el.val(base64_image);
                    console.log('setting' + base64_image);
                    console.log('set => ');
                    console.log(avatar_el.val());
                });
            });

            $('#stop-edit').on("click", function () {
                $('.thumbnail').croppie('destroy');
            });

        });


        $(document).ready(function () {

            var uf_el = $('#id_state');
            var city_el = $('#id_city_name');
            var zip_el = $('#id_zip_code');

            $('#id_cpf').mask("999.999.999-99");
            $('#id_institution_cnpj').mask("99.999.999/9999-99");
            zip_el.mask("99999-999");

            showHideCepLoader();

            window.setTimeout(function () {
                {% if person.city %}
                    uf_el.val('{{ person.city.uf }}');
                    fetch_cities(uf_el, $('#id_city_name'), $('#id_city'), '{{ person.city.pk }}');
                {% else %}
                    uf_el.val('');
                    city_el.val('');
                    city_el.prop('disabled', true);
                {% endif %}
            }, 300);

            uf_el.change(function () {
                city_el.html($('<option>').text('Carregando...'));
                var that = $(this);
                window.setTimeout(function () {
                    fetch_cities($(that), $('#id_city_name'));
                }, 500);
            });

            city_el.change(function () {
                $('#id_city').val($(this).val());
            });

            zip_el.on('keyup', function () {
                searchByCep();
            });
        });
    </script>
{% endblock %}

{% block content %}

    <form action="" method="post" enctype="multipart/form-data" id="profileForm">

        {% csrf_token %}

        {% if form.non_field_errors %}
            {% render_errors form.non_field_errors %}
        {% endif %}

        {% for hidden_field in form.hidden_fields %}
            {% if hidden_field.errors %}
                {% render_errors hidden_field.errors %}
            {% endif %}
            {{ hidden_field }}
        {% endfor %}

        <div class="row">
            <div class="col-lg-8 col-lg-push-2 col-xl-8 col-xl-push-2">
                <div class="buttonbar">
                    <div class="float-right">
                        <button type="submit" class="btn btn-success">
                            <i class="fa fa-save"></i>
                            Salvar
                        </button>
                    </div>
                    <div class="clearfix"></div>
                </div>

            </div>
        </div>

        <div class="row">

            <div class="col-lg-8 col-lg-push-2 col-xl-8 col-xl-push-2">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <div class="panel-title">Dados pessoais</div>
                    </div>
                    <div class="panel-body">

                        <!-- CONTAINER TO DISPLAY THE CROPPED AVATAR -->
                        <div class="row">
                            <div class="col-md-3 ">
                                {% if  person.avatar %}
                                    <img src="{{ person.avatar.url }}"
                                         class="thumbnail">
                                {% endif %}
                                {% render_generic_field form.avatar_file %}

                                <button type="button" id="result">
                                    result
                                </button>

                                <button type="button" id="edit">
                                    edit
                                </button>

                                <button type="button" id="stop-edit">
                                    stop edit
                                </button>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-9">
                                {% render_generic_field form.name %}
                            </div>

                            <div class="col-md-3">
                                {% render_generic_field form.gender %}
                            </div>
                        </div>

                        <div class="row">

                            <div class="col-md-9">
                                {% render_generic_field form.email %}
                            </div>
                            <div class="col-md-3">
                                {% render_generic_field form.cpf %}
                            </div>
                        </div>
                        <div class="row" style="padding-bottom: 30px">
                            <div class="col-md-6">
                                {% render_generic_field form.birth_date %}

                            </div>

                            <div class="col-md-6">

                                {% render_generic_field form.phone %}

                            </div>

                        </div>
                    </div>
                </div>

                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <div class="panel-title">Instituição</div>
                    </div>
                    <div class="panel-body">


                        <div class="row">
                            <div class="col-md-4">
                                {% render_generic_field form.institution %}
                            </div>
                            <div class="col-md-4">
                                {% render_generic_field form.institution_cnpj %}
                            </div>
                            <div class="col-md-4">
                                {% render_generic_field form.function %}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <div class="panel-title">Endereço</div>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-3">
                                {% render_generic_field form.zip_code %}
                                <div id="cep_loader"
                                     style="width: 22px;position: absolute;
                                     top: 33px;right: 33px;">
                                    <img src="{% static 'assets/img/loader.gif' %}"/>
                                </div>
                            </div>
                        </div>
                        <div class="row address-row">
                            <div class="col-md-9">
                                {% render_generic_field form.street %}
                            </div>
                            <div class="col-md-3 address-row">
                                {% render_generic_field form.number %}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 address-row">
                                {% render_generic_field form.complement %}
                            </div>
                            <div class="col-md-6 address-row">
                                {% render_generic_field form.village %}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 address-row">
                                {% render_generic_field form.state %}
                            </div>
                            <div class="col-md-9 address-row">
                                {% render_generic_field form.city_name %}
                            </div>
                        </div>


                    </div>
                </div>

                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <div class="panel-title">Alterar senha</div>
                    </div>
                    <div class="panel-body">

                        <div class="row">
                            <div class="col-md-6">
                                {% render_generic_field form.new_password1 %}
                            </div>

                            <div class="col-md-6">
                                {% render_generic_field form.new_password2 %}
                            </div>
                        </div>

                    </div>
                </div>

            </div>

        </div>

        <div class="row">
            <div class="col-lg-8 col-lg-push-2 col-xl-8 col-xl-push-2">
                <div class="buttonbar">
                    <div class="float-right">
                        <button type="submit" class="btn btn-success">
                            <i class="fa fa-save"></i>
                            Salvar
                        </button>
                    </div>
                    <div class="clearfix"></div>
                </div>

            </div>
        </div>

    </form>

{% endblock %}


{% block modals %}
    <!-- MODAL TO CROP THE IMAGE -->
    <div class="modal fade" id="modalCrop">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Crop the photo</h4>
                </div>
                <div class="modal-body">
                    <img src="" id="image" style="max-width: 100%;">
                </div>
                <div class="modal-footer">
                    <div class="btn-group pull-left" role="group">
                        <button type="button" class="btn btn-default js-zoom-in">
                            <span class="glyphicon glyphicon-zoom-in"></span>
                        </button>
                        <button type="button" class="btn btn-default js-zoom-out">
                            <span class="glyphicon glyphicon-zoom-out"></span>
                        </button>
                    </div>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Nevermind</button>
                    <button type="button" class="btn btn-primary js-crop-and-upload">Crop and upload</button>
                </div>
            </div>
        </div>
    </div>


{% endblock %}