{% extends "gatheros_front/base.html" %}
{% load i18n static %}

{% block title %}Gatheros - Eventos - Lotes{% endblock %}

{% block content %}
    <div style="padding:10px">
        <a href="{% url 'gatheros_event:event-panel' event.pk %}">Voltar</a>
    </div>
    <hr/>
    <h1>Lotes</h1>
    <h2>{{ event.name }} {% if not event.published %}<i style="color: darkgrey">- não publicado</i>{% endif %}</h2>
    <h3>Quando: {{ event.get_period }}</h3>

    <div style="margin-bottom:10px; padding: 10px;background-color: #DDDDDD;text-align: center;">
        <a href="{% url 'gatheros_subscription:lot-add' event.pk %}">Adicionar</a>
    </div>

    <div style="background: #DDD">
        <table width="100%">
            {% for lot in object_list %}
                <tr>
                    {% if lot.status == lot.LOT_STATUS_RUNNING %}
                        <td width="1%"
                            style="background-color: darkgreen"></td>
                    {% elif lot.status == lot.LOT_STATUS_FINISHED %}
                        <td width="1%"
                            style="background-color: darkgoldenrod"></td>
                    {% else %}
                        <td width="1%"
                            style="background-color: darkgrey"></td>
                    {% endif %}
                    <td style="background: #FFF;padding:10px;margin-bottom: 3px">
                        <div>{{ forloop.counter }} -
                            <a href="#">{{ lot.name }}</a>
                            - {% if lot.price and lot.price > 0 %}Pago{% else %}Gratuito{% endif %}
                        </div>
                        <hr/>
                        <div style="text-indent: 10px;">
                            <p><strong>Período:</strong> {{ lot.get_period }}</p>
                            <p><strong>Inscrições:</strong>
                                {{ lot.subscriptions.all|length }}
                                {% if lot.limit %}
                                    / {{ lot.limit }}
                                    vagas
                                    <span style="color:dimgray">(limitadas)</span>
                                {% else%}
                                    vagas
                                    <span style="color:dimgray">(aberto)</span>
                                {% endif %}
                            </p>
                            {% if lot.price and lot.price > 0 %}
                                <p><strong>Preço:</strong> R$ {{ lot.price }}</p>
                            {% endif %}
                        </div>
                    </td>
                    <td width="5%" style="background: #FFF;padding:10px;margin-bottom: 3px">
                        <a href="#">Editar</a>
                        <br/><br/>
                        <a href="#">Excluir</a>
                    </td>
                </tr>
            {% empty %}
                <div style="background: #FFF;padding:10px;margin-bottom: 3px">
                    Nenhum evento
                </div>
            {% endfor %}
        </table>
    </div>

{% endblock %}
