{% load static %}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title %}502 | Congressy{% endblock %}</title>
    <meta name="description" content="">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>

    <!-- Favicon -->
    <link rel="shortcut icon"
          href={% static "assets/img/favicon.ico" %}" type="image/x-icon">

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet"
          href="{% static "assets/plugins/bootstrap/css/bootstrap.min.css" %}">

    <!-- Fonts  -->
    <link rel="stylesheet"
          href="{% static "assets/css/fontawesome-all.min.css" %}">
    <link rel="stylesheet"
          href="{% static "assets/css/simple-line-icons.css" %}">

    <!-- CSS Animate -->
    <link rel="stylesheet" href="{% static "assets/css/animate.css" %}">

    <!--Page Level CSS-->
    <link rel="stylesheet"
          href="{% static "assets/plugins/messenger/css/messenger.css" %}">
    <link rel="stylesheet"
          href="{% static "assets/plugins/messenger/css/messenger-theme-flat.css" %}">
    <link rel="stylesheet"
          href="{% static "assets/plugins/messenger/css/location-sel.css" %}">

    <!-- Custom styles for this theme -->
    <link rel="stylesheet" href="{% static 'assets/css/main.css' %}">

    <!-- Feature detection -->
    <script src="{% static "assets/js/vendor/modernizr-2.6.2.min.js" %}"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="{% static "assets/js/vendor/html5shiv.js"%}"></script>
        <script src="{% static "assets/js/vendor/respond.min.js"%}"></script>
    <![endif]-->
</head>

<body>
<section class="container">

    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div id="error-container" class="block-error animated fadeInUp">

                <header>
                    <h1 class="error">502</h1>
                    <p class="text-center">Erro Interno do Servidor.</p>
                </header>

                <p class="text-center">
                    <strong>Algo deu errado.</strong>
                </p>
                <p class="text-center">
                    A equipe de desenvolvimento já foi notificada neste momento,
                    e verificaremos este erro o mais rápido possível.
                </p>
                <br />
                <p class="text-center">Tente novamente mais tarde ou fale conosco pelo chat.</p>
                <br />
                <div class="row">
                    <div class="{% if SENTRY_PUBLIC_DSN and request.sentry.id %}col-md-6{% else %}col-md-12{% endif %}">
                        <a class="btn btn-info btn-block btn-3d"
                           href="javascript:history.back()">Voltar</a>
                    </div>
                    {% if SENTRY_PUBLIC_DSN and request.sentry.id %}
                    <div class="col-md-6">
                        <a class="btn btn-primary btn-block btn-3d"
                           href="javascript:void(0)" onclick="send_user_feedback()">Enviar feedback.</a>
                    </div>
                    {% endif %}
                </div>
                {% if SENTRY_PUBLIC_DSN and request.sentry.id %}
                <div class="row">
                    <div class="col-md-12">
                        <p class="text-center text-muted">ID: {{ request.sentry.id }}</p>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</section>
<!--Global JS-->
<script src="{% static "assets/js/vendor/jquery-1.11.1.min.js" %}"></script>
<script src="{% static "assets/plugins/bootstrap/js/bootstrap.min.js" %}"></script>
<script src="{% static "assets/plugins/navgoco/jquery.navgoco.min.js" %}"></script>
<script src="{% static "assets/plugins/pace/pace.min.js" %}"></script>

{% include 'sentry-javascript-sdk.html' %}
{% include 'tawto.html' %}
{% include 'google-analytics.html' %}
</body>
</html>
