{% extends "gatheros_front/base.html" %}
{% load i18n static %}
{% load organization_tags %}

{% block sidebar_organization %}{% endblock %}
{% block sidebar %}{% endblock %}
{% block content_width %}99%{% endblock %}

{% block content %}
    <div style="padding:10px">
        <a href="{% url 'gatheros_event:event-panel' object.pk %}">Voltar</a>
    </div>
    <hr/>
    <h1>Sair da Organização</h1>
    <div style="margin-bottom:10px;padding: 10px;background-color: #DDDDDD;text-align: center;"></div>
    <div style="background-color: #FCF8E3;border: 1px solid #e5d68e;padding: 26px;font-size: 18px;">
        <h2 style="color: #7f6a00">ATENÇÃO:</h2>
        <div style="padding: 5px">
            Você tem certeza que desejar sair da organização <strong>{{ object.name }}</strong>?
        </div>
        <div style="padding: 5px">
            Isto irá excluir todos os seus dados relacionados a esta organização e você
            só poderá retornar à mesma se receber um convite de um dos administradores.
        </div>
        <br />
        <form action="{% url 'gatheros_event:member-manage' member.organization.pk member.pk %}" method="post">{% csrf_token %}
            <a href="{% url 'gatheros_event:organization-panel' object.pk %}">Cancelar</a>
            &nbsp; &nbsp;
            <input type="submit" value="Sim, pode prosseguir"/>
            <input type="hidden" name="action" value="delete" />
        </form>
    </div>

{% endblock %}
