{% extends "gatheros_front/base.html" %}
{% load i18n static %}

{% block content %}
    <div style="padding:10px">
        <a href="{% url 'gatheros_event:organization-panel' %}">Voltar</a>
    </div>
    <hr/>

    <h1>Convite > Criar perfil</h1>

    <form action="" method="post">{% csrf_token %}
        <h2>Perfil</h2>
        <table>
            {{ profile_form.as_table }}
        </table>

        <h2>Senha de acesso</h2>
        <table>
            {{ password_form.as_table }}
        </table>

        <a href="/">Cancelar</a>
        <input type="submit" value="Salvar"/>
    </form>

{% endblock %}
