{% extends "gatheros_front/base.html" %}
{% load i18n static %}
{% load organization_tags %}

{% block content %}
    <h1>Painel do Organização</h1>
    <div>
        {% if object.avatar %}
        <div style="float:left;margin-right: 5px">
            <img src="{{ object.avatar.url }}" width="100px" height="100px" style="border:1px solid #DDD;margin:3px"/>
        </div>
        {% endif %}
        <div style="float:left">
            <h2 style="font-size: 36px">{{ object.name }}</h2>
        </div>
        <div style="clear:both"></div>
    </div>
    <div style="margin-bottom:20px;padding: 10px;background-color: #DDDDDD;text-align: center;">
        {% if can_change %}
            <a href="#">Editar</a>
        {% endif %}
        {% if can_change and can_delete %}
            &nbsp &nbsp &nbsp &nbsp | &nbsp &nbsp &nbsp &nbsp
        {% endif %}
        {% if can_delete %}
            <a href="#">Excluir</a>
        {% endif %}
        <a href="#">Desativar</a>
    </div>

    <table width="100%" border="0" cellpadding="0" cellspacing="0">
        <tr>
            <td width="15%" style="vertical-align: top">
                <div style="background-color: #DDDDDD;border: 1px solid #DDD">
                    <div style="padding:0 5px">
                        <p><strong>Realizador:</strong></p>
                        <p>{{ object.name }}</p>
                    </div>
                    <div style="padding:0 5px">
                        <p><strong>Acessando como:</strong></p>
                        <p>{% get_member_group_name object user %}</p>
                    </div>
                </div>
                <br/>
                <div style="background-color: whitesmoke;border: 1px solid #dddddd;">
                    <div style="padding:15px">
                        &rightarrow; <a href="{% url 'gatheros_event:organization-list' %}">Minhas organizações</a>
                    </div>
                    {% if can_manage_invitations %}
                        <div style="padding:15px">
                            &rightarrow; <a href="{% url 'gatheros_event:invitation-list' object.pk %}">Convites</a>
                        </div>
                    {% endif %}
                    {% if can_manage_members %}
                        <div style="padding:15px">
                            &rightarrow; <a href="#">Membros</a>
                        </div>
                    {% endif %}
                    {% if can_manage_places %}
                        <div style="padding:15px">
                            &rightarrow; <a href="{% url 'gatheros_event:place-list' object.pk %}">Locais de eventos</a>
                        </div>
                    {% endif %}
                </div>
            </td>
            <td style="vertical-align: top;padding:0 10px">
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td colspan="2">
                            <table width="99.5%" border="0" cellspacing="0" cellpadding="10" style="border-bottom: 1px solid #dddddd;margin-bottom: 5px">
                                <tr>
                                    <td width="16%" style="vertical-align: top;">
                                        <strong>Eventos:</strong> 100
                                    </td>
                                    <td width="16%" style="vertical-align: top;">
                                        <strong>Cadastros:</strong> 1.870
                                    </td>
                                    <td width="16%" style="vertical-align: top;">
                                        <strong>Homens:</strong> 644 (23.33%)
                                    </td>
                                    <td width="16%">
                                        <strong>Mulheres:</strong> 548 (23.33%)
                                    </td>
                                    <td width="16%">
                                        <strong>PNEs:</strong> 22 (23.33%)
                                    </td>
                                    <td width="16%">
                                        <strong>Cidades:</strong> 12
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td width="80%" style="vertical-align: top">
                            {% if can_manage_invitations %}
                            <div style="border: 1px solid #ddd;width:99%;margin: 0 auto">
                                <div style="background-color: #666666;color:#fff;padding:10px;text-transform: uppercase;">
                                    Convites pendentes
                                </div>
                                <div style="padding: 4px">
                                    <table width="100%" border="0" cellspacing="0" cellpadding="6" style="color:#333">
                                        <tr>
                                            <th width="4%">#</th>
                                            <th style="text-align: left">Convidado</th>
                                            <th style="text-align: left">Convidado em</th>
                                            <th style="text-align: left">Expira em</th>
                                        </tr>
                                        {% for invitation in get_invitations|slice:":5" %}
                                        <tr>
                                            <td style="text-align: center;border-bottom:1px solid #DDD">{{ forloop.counter }}</td>
                                            <td style="border-bottom:1px solid #DDD;font-weight: bold;{% if invitation.is_expired %}color:darkgrey;font-style:italic{% endif %}">
                                                {% if invitation.to.get_full_name %}
                                                    {{ invitation.to.get_full_name }}
                                                    <span style="font-weight: normal;color: gray">({{ invitation.to.email }})</span>
                                                {% else %}
                                                    {{ invitation.to.email }}
                                                {% endif %}
                                            </td>
                                            <td style="border-bottom:1px solid #DDD;{% if invitation.is_expired %}color:darkgrey;font-style:italic{% endif %}">
                                                {{ invitation.created }}
                                            </td>
                                            <td style="border-bottom:1px solid #DDD;{% if invitation.is_expired %}color:darkgrey;font-style:italic{% endif %}">
                                                {{ invitation.expired }}
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </table>
                                    <div style="margin-top:10px; padding: 10px;background-color: whitesmoke;text-align: center;border-bottom:1px solid dimgray">
                                        <a href="{% url 'gatheros_event:invitation-list' object.pk %}">Ver todos os convites</a>
                                    </div>
                                </div>
                            </div>
                            {% endif %}

                            <div style="border: 1px solid #ddd;width:99%;margin: 5px auto">
                                <h4 style="padding:5px;margin-top:8px">Eventos populares</h4>
                                <div style="padding: 4px">
                                    {% for event in object.events.all|slice:":6" %}
                                    <div style="border: 1px solid #dddddd;float:left;width: 400px;margin-bottom: 8px;margin-left:4px">
                                        <div style="padding:5px">
                                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                <tr>
                                                    <td width="25%">
                                                        {% if event.banner_small %}
                                                            <!--suppress CheckImageSize -->
                                                            <img style="border-radius: 10px" src="{{ event.banner_small.thumbnail.url }}" width="100%" />
                                                        {% else %}
                                                            <!--suppress CheckImageSize -->
                                                            <img style="border-radius: 10px" src="/media/default_avatar.png" width="73%" />
                                                        {% endif %}
                                                    </td>
                                                    <td>
                                                        <div style="margin-left: 4px;margin-top:4px;padding:10px 0">
                                                            <div style="color:#333;font-size: 14px;margin-bottom:3px;font-weight: bold">
                                                                {{ event.name }}
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                    {% endfor %}

                                    <div style="clear:both"></div>
                                </div>
                            </div>
                        </td>
                        <td style="vertical-align: top">
                            <div style="border: 1px solid #dddddd;">
                                <div style="background-color: #666666;color:#fff;padding:10px;text-transform: uppercase;">
                                    Últimas atividades
                                </div>
                                <div style="padding:10px;height: 521px">
                                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                        <tr>
                                            <td width="12%">
                                                <!--suppress CheckImageSize -->
                                                <img src="/media/default_avatar.png" width="100%" />
                                            </td>
                                            <td>
                                                <div style="margin-left: 4px;margin-top:4px;padding:5px 0">
                                                    <div style="color:#333;font-size: 14px;margin-bottom:3px;font-weight: bold">Hugo Seabras</div>
                                                    <div style="color:dimgray;font-size: 12px">Cadastrou um participante</div>
                                                </div>
                                            </td>
                                        </tr><tr>
                                            <td width="12%">
                                                <!--suppress CheckImageSize -->
                                                <img src="/media/default_avatar.png" width="100%" />
                                            </td>
                                            <td>
                                                <div style="margin-left: 4px;margin-top:4px;padding:5px 0">
                                                    <div style="color:#333;font-size: 14px;margin-bottom:3px;font-weight: bold">Hugo Seabras</div>
                                                    <div style="color:dimgray;font-size: 12px">Cadastrou um participante</div>
                                                </div>
                                            </td>
                                        </tr><tr>
                                            <td width="12%">
                                                <!--suppress CheckImageSize -->
                                                <img src="/media/default_avatar.png" width="100%" />
                                            </td>
                                            <td>
                                                <div style="margin-left: 4px;margin-top:4px;padding:5px 0">
                                                    <div style="color:#333;font-size: 14px;margin-bottom:3px;font-weight: bold">Hugo Seabras</div>
                                                    <div style="color:dimgray;font-size: 12px">Cadastrou um participante</div>
                                                </div>
                                            </td>
                                        </tr><tr>
                                            <td width="12%">
                                                <!--suppress CheckImageSize -->
                                                <img src="/media/default_avatar.png" width="100%" />
                                            </td>
                                            <td>
                                                <div style="margin-left: 4px;margin-top:4px;padding:5px 0">
                                                    <div style="color:#333;font-size: 14px;margin-bottom:3px;font-weight: bold">Hugo Seabras</div>
                                                    <div style="color:dimgray;font-size: 12px">Cadastrou um participante</div>
                                                </div>
                                            </td>
                                        </tr><tr>
                                            <td width="12%">
                                                <!--suppress CheckImageSize -->
                                                <img src="/media/default_avatar.png" width="100%" />
                                            </td>
                                            <td>
                                                <div style="margin-left: 4px;margin-top:4px;padding:5px 0">
                                                    <div style="color:#333;font-size: 14px;margin-bottom:3px;font-weight: bold">Hugo Seabras</div>
                                                    <div style="color:dimgray;font-size: 12px">Cadastrou um participante</div>
                                                </div>
                                            </td>
                                        </tr><tr>
                                            <td width="12%">
                                                <!--suppress CheckImageSize -->
                                                <img src="/media/default_avatar.png" width="100%" />
                                            </td>
                                            <td>
                                                <div style="margin-left: 4px;margin-top:4px;padding:5px 0">
                                                    <div style="color:#333;font-size: 14px;margin-bottom:3px;font-weight: bold">Hugo Seabras</div>
                                                    <div style="color:dimgray;font-size: 12px">Cadastrou um participante</div>
                                                </div>
                                            </td>
                                        </tr><tr>
                                            <td width="12%">
                                                <!--suppress CheckImageSize -->
                                                <img src="/media/default_avatar.png" width="100%" />
                                            </td>
                                            <td>
                                                <div style="margin-left: 4px;margin-top:4px;padding:5px 0">
                                                    <div style="color:#333;font-size: 14px;margin-bottom:3px;font-weight: bold">Hugo Seabras</div>
                                                    <div style="color:dimgray;font-size: 12px">Cadastrou um participante</div>
                                                </div>
                                            </td>
                                        </tr><tr>
                                            <td width="12%">
                                                <!--suppress CheckImageSize -->
                                                <img src="/media/default_avatar.png" width="100%" />
                                            </td>
                                            <td>
                                                <div style="margin-left: 4px;margin-top:4px;padding:5px 0">
                                                    <div style="color:#333;font-size: 14px;margin-bottom:3px;font-weight: bold">Hugo Seabras</div>
                                                    <div style="color:dimgray;font-size: 12px">Cadastrou um participante</div>
                                                </div>
                                            </td>
                                        </tr><tr>
                                            <td width="12%">
                                                <!--suppress CheckImageSize -->
                                                <img src="/media/default_avatar.png" width="100%" />
                                            </td>
                                            <td>
                                                <div style="margin-left: 4px;margin-top:4px;padding:5px 0">
                                                    <div style="color:#333;font-size: 14px;margin-bottom:3px;font-weight: bold">Hugo Seabras</div>
                                                    <div style="color:dimgray;font-size: 12px">Cadastrou um participante</div>
                                                </div>
                                            </td>
                                        </tr><tr>
                                            <td width="12%">
                                                <!--suppress CheckImageSize -->
                                                <img src="/media/default_avatar.png" width="100%" />
                                            </td>
                                            <td>
                                                <div style="margin-left: 4px;margin-top:4px;padding:5px 0">
                                                    <div style="color:#333;font-size: 14px;margin-bottom:3px;font-weight: bold">Hugo Seabras</div>
                                                    <div style="color:dimgray;font-size: 12px">Cadastrou um participante</div>
                                                </div>
                                            </td>
                                        </tr><tr>
                                            <td width="12%">
                                                <!--suppress CheckImageSize -->
                                                <img src="/media/default_avatar.png" width="100%" />
                                            </td>
                                            <td>
                                                <div style="margin-left: 4px;margin-top:4px;padding:5px 0">
                                                    <div style="color:#333;font-size: 14px;margin-bottom:3px;font-weight: bold">Hugo Seabras</div>
                                                    <div style="color:dimgray;font-size: 12px">Cadastrou um participante</div>
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                                <div style="margin-top:10px; padding: 10px;background-color: whitesmoke;text-align: center;border-bottom:1px solid dimgray">
                                    <a href="#">Ver todas as atividades</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>

    <br />
    <hr />
    <pre>
        Painel deve conter:
        -------------------
        = Suporte a Transferência de evento entre organizações
        = Informação de quantidade de eventos vinculados e um botão "visualizar"
        = Lista de membros (nome, tipo, data de entrada), com filtro (tipo) e possibilidade de "adicionar", "editar" e "excluir"
        = Lista de locais e possibilidade de "adicionar", "editar" e "excluir"
        = Lista de convites pendentes (nome, e-mail, tipo, data de envio), com filtro (tipo) e possibilidade de "adicionar", "editar" e "excluir"
        = Para ver organização, membro também deve estar ativo
        = Admin pode desativar e ativar membro
    </pre>

{% endblock %}
