{% extends "gatheros_front/base.html" %}
{% load i18n static %}

{% block content %}
    <h1>Painel do Organização</h1>
    <div>
        {% if organization.avatar %}
        <div style="float:left;margin-right: 5px">
            <img src="{{ organization.avatar.url }}" width="100px" height="100px" style="border:1px solid #DDD;margin:3px"/>
        </div>
        {% endif %}
        <div style="float:left">
            <h2 style="font-size: 36px">{{ organization.name }}</h2>
        </div>
        <div style="clear:both"></div>
    </div>
    <div style="padding: 10px;background-color: #DDDDDD;text-align: center;">
        {% if can_change %}
            <a href="#">Editar</a>
        {% endif %}
        {% if can_change and can_delete %}
            &nbsp &nbsp &nbsp &nbsp | &nbsp &nbsp &nbsp &nbsp
        {% endif %}
        {% if can_delete %}
            <a href="#">Excluir</a>
        {% endif %}
    </div>
    <div style="margin-bottom:10px; width: 100%;height:3px;background-color: green"></div>

    <table width="100%" border="0" cellpadding="0" cellspacing="0">
        <tr>
            <td width="15%" style="vertical-align: top">
                <div style="background-color: #DDDDDD;border: 1px solid #DDD">
                    <div style="padding:0 5px">
                        <p><strong>Realizador:</strong></p>
                        <p>{{ organization.name }}</p>
                    </div>
                    <div style="padding:0 5px">
                        <p><strong>Acessando como:</strong></p>
                        <p>{{ member.get_group_display }}</p>
                    </div>
                </div>
                <br/>
                {% if can_manage %}
                <div style="background-color: whitesmoke;border: 1px solid #dddddd;">
                    {% if member.is_admin %}
                    <div style="padding:15px">
                        &rightarrow; <a href="#">Membros</a>
                    </div>
                    {% endif %}
                    {% if can_manage_places %}
                        <div style="padding:15px">
                            &rightarrow; <a href="#">Locais de eventos</a>
                        </div>
                    {% endif %}
                    {% if can_manage_invitations %}
                        <div style="padding:15px">
                            &rightarrow; <a href="#">Convidados</a>
                        </div>
                    {% endif %}
                </div>
                {% endif %}
            </td>
            <td style="vertical-align: top;padding:0 10px">
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td>
                            <table width="100%" border="0" cellspacing="0" cellpadding="10" style="border-bottom: 1px solid #dddddd;margin-bottom: 10px">
                                <tr>
                                    <td width="16%" style="vertical-align: top;">
                                        <strong>Eventos:</strong> as
                                    </td>
                                    <td width="16%" style="vertical-align: top;">
                                        <strong>Cadastros:</strong> as
                                    </td>
                                    <td width="16%" style="vertical-align: top;">
                                        <strong>Homens:</strong> as
                                    </td>
                                    <td width="16%">
                                        <strong>Mulheres:</strong> asdf
                                    </td>
                                    <td width="16%">
                                        <strong>PNEs:</strong> sdf
                                    </td>
                                    <td width="16%">
                                        <strong>Cidades:</strong> asd
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td width="25%" rowspan="2" style="vertical-align: top">
                            <div style="border: 1px solid #dddddd;">
                                <div style="background-color: #666666;color:#fff;padding:10px;text-transform: uppercase;">
                                    Últimas atividades
                                </div>
                                <div style="padding:10px">
                                    asdfasdf
                                </div>
                                <div style="margin-top:10px; padding: 10px;background-color: #CCC;text-align: center;border-bottom:1px solid dimgray">
                                    <a href="#">Ver todas as atividades</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <table width="100%" border="0" cellspacing="0" cellpadding="4" style="border-bottom: 1px solid #dddddd;margin-bottom: 10px">
                                <tr>
                                    <td width="20%" style="vertical-align: top;">
                                        <div style="border: 1px solid #dddddd;">
                                            <div style="background-color: #666666;color:#fff;padding:10px;text-transform: uppercase;">
                                                Últimas atividades
                                            </div>
                                            <div style="padding:10px">
                                                asdfasdf
                                            </div>
                                            <div style="margin-top:10px; padding: 10px;background-color: #CCC;text-align: center;border-bottom:1px solid dimgray">
                                                <a href="#">Ver todas as atividades</a>
                                            </div>
                                        </div>
                                    </td>
                                    <td style="vertical-align: top;">
                                        <div style="border: 1px solid #dddddd;">
                                            <div style="background-color: #666666;color:#fff;padding:10px;text-transform: uppercase;">
                                                Últimas atividades
                                            </div>
                                            <div style="padding:10px">
                                                asdfasdf
                                            </div>
                                            <div style="margin-top:10px; padding: 10px;background-color: #CCC;text-align: center;border-bottom:1px solid dimgray">
                                                <a href="#">Ver todas as atividades</a>
                                            </div>
                                        </div>
                                    </td>
                                    <td style="vertical-align: top;">
                                        <div style="border: 1px solid #dddddd;">
                                            <div style="background-color: #666666;color:#fff;padding:10px;text-transform: uppercase;">
                                                Últimas atividades
                                            </div>
                                            <div style="padding:10px">
                                                asdfasdf
                                            </div>
                                            <div style="margin-top:10px; padding: 10px;background-color: #CCC;text-align: center;border-bottom:1px solid dimgray">
                                                <a href="#">Ver todas as atividades</a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>

    {% if user has 'gatheros_event.can_invite' of organization %}
        <p>
            <a href="{% url 'gatheros_event:invitation' %}?organization={{ organization.pk }}">Convidar membros</a>
        </p>
    {% endif %}
    {% if user has 'gatheros_event.can_add_place' of organization %}
        <p>
            <a href="{% url 'gatheros_event:organization-add-place' %}">Adicionar local</a>
        </p>
    {% endif %}

    <br />
    <hr />
    <pre>
        Painel deve conter:
        -------------------
        = Suporte a Transferência de evento entre organizações
        = Informação de quantidade de eventos vinculados e um botão "visualizar"
        = Lista de membros (nome, tipo, data de entrada), com filtro (tipo) e possibilidade de "adicionar", "editar" e "excluir"
        = Lista de locais e possibilidade de "adicionar", "editar" e "excluir"
        = Lista de convites pendentes (nome, e-mail, tipo, data de envio), com filtro (tipo) e possibilidade de "adicionar", "editar" e "excluir"
    </pre>

{% endblock %}
