{% extends "gatheros_front/base.html" %}
{% load i18n static %}

{% block content %}
    <div style="padding:10px">
        <a href="{% url 'gatheros_event:event-list' %}">Voltar</a>
    </div>
    <hr/>

    <h1>Painel do Organização</h1>

    <h2>Organização: {{ organization.name }} </h2>
    <div style="padding: 10px;background-color: #DDDDDD;text-align: center;"></div>
    <div style="margin-bottom:10px; width: 100%;height:3px;background-color: green"></div>

    <table width="100%" border="0" cellpadding="0" cellspacing="0">
        <tr>
            <td width="15%" style="vertical-align: top">
                <div style="background-color: #DDDDDD;border: 1px solid #DDD">
                    <div style="padding:0 5px">
                        <p><strong>Realizador:</strong></p>
                        <p>{{ organization.name }}</p>
                    </div>
                    <div style="padding:0 5px">
                        <p><strong>Acessando como:</strong></p>
                        <p>{{ member.get_group_display }}</p>
                    </div>
                </div>
                <br/>
                <div style="background-color: whitesmoke;border: 1px solid #DDD;">
                    <div style="padding:15px">
                        &rightarrow; <a href="#">Membros</a>
                    </div>
                    <div style="padding:15px">
                        &rightarrow; <a href="#">Locais de eventos</a>
                    </div>
                    <div style="padding:15px">
                        &rightarrow; <a href="#"> Locais de evento</a>
                    </div>
                </div>
            </td>
            <td style="vertical-align: top;padding:0 20px">
                a
            </td>
        </tr>
    </table>

    {% if user has 'gatheros_event.can_invite' of organization %}
        <p>
            <a href="{% url 'gatheros_event:invitation' %}?organization={{ organization.pk }}">Convidar membros</a>
        </p>
    {% endif %}
    {% if user has 'gatheros_event.can_add_place' of organization %}
        <p>
            <a href="{% url 'gatheros_event:organization-add-place' %}">Adicionar local</a>
        </p>
    {% endif %}

    <br /><br /><br /><br /><br />
    <hr />
    <pre>
        Condição:
        ---------

        Painel deve conter:
        -------------------

        = Suporte a Transferência de evento entre organizações
        = Informações da organzação: avatar e nome
        = Informação de quantidade de eventos vinculados e um botão "visualizar"
        = Lista de membros (nome, tipo, data de entrada), com filtro (tipo) e possibilidade de "adicionar", "editar" e "excluir"
        = Lista de locais e possibilidade de "adicionar", "editar" e "excluir"
        = Lista de convites pendentes (nome, e-mail, tipo, data de envio), com filtro (tipo) e possibilidade de "adicionar", "editar" e "excluir"
    </pre>

{% endblock %}
