{% load i18n static %}<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}{% get_current_language_bidi as LANGUAGE_BIDI %}
<html lang="{{ LANGUAGE_CODE|default:"en-us"}}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
<head>

    <title>{% block title %}Gatheros{% endblock %}</title>

    {% block extrastyle %}{% endblock %}

    {% block extrahead %}{% endblock %}

    {% block blockbots %}
        <meta name="robots" content="NONE,NOARCHIVE"/>{% endblock %}

</head>
{% load i18n %}

<body class="{% block bodyclass %}{% endblock %}"
      data-admin-utc-offset="{% now "Z" %}">

<!-- Container -->
<div id="container">

    {% block user %}
        <div style="background-color: #DDD;padding:10px">
            <div style="float:left">
                <a href="{% url 'gatheros_front:start' %}">Início</a>
                &nbsp; &nbsp; &nbsp; &nbsp;
                <a href="#">Minhas Inscrições</a>
                &nbsp; &nbsp; &nbsp; &nbsp;
                <a href="#">Meus Convites</a>
                {% if context_type == 'member' %}
                    &nbsp; &nbsp; &nbsp; &nbsp;
                    <a href="{% url 'gatheros_event:organization-list' %}">Organizações</a>
                    &nbsp; &nbsp; &nbsp; &nbsp;
                    <a href="{% url 'gatheros_event:event-list' %}">Eventos</a>
                    &nbsp; &nbsp; &nbsp; &nbsp;
                    <a href="#">Pessoas</a>
                {% endif %}
            </div>
            <div style="float:right">
                <div>
                    {% if request.user.is_authenticated %}
                        {% if organizations and organizations|length > 1 %}
                            <form action="{% url 'gatheros_event:organization-switch' %}"
                                  method="post" style="display: inline-block;">{% csrf_token %}
                                {% if organization and organization.internal %}
                                    {% if request.user.person and request.user.person.avatar %}
                                        <img  style="float:left;padding-right:4px" width="25px" height="25px" src="{{ request.user.person.avatar.url }}" />
                                    {% else %}
                                        <!--suppress CheckImageSize -->
                                        <img style="float:left;padding-right:4px" width="25px" height="25px" src="/media/default_avatar.png" />
                                    {% endif %}
                                {% elif organization and organization.avatar %}
                                    <img  style="float:left;padding-right:4px" width="25px" height="25px" src="{{ organization.avatar.url }}" />
                                {% else %}
                                    <!--suppress CheckImageSize -->
                                    <img style="float:left;padding-right:4px" width="25px" height="25px" src="/media/default_avatar.png" />
                                {% endif %}
                                <!--suppress HtmlFormInputWithoutLabel -->
                                <select name="organization-context-pk"
                                        id="organization-context-pk"
                                        onchange="submit()" style="margin-top:3px">
                                    {% for org in organizations %}
                                        <option
                                                {% if organization.pk == org.pk %}selected="selected"{% endif %}
                                                value="{{ org.pk }}">{{ org.name }}
                                        </option>
                                    {% endfor %}
                                </select>
                                <input type="hidden" name="next"
                                       value="{{ request.path }}"/>
                            </form>
                        {% elif organizations and organizations|length == 1 and organization %}
                            {% if organization and organization.avatar %}
                                <img  style="float:left;padding-right:4px" width="25px" height="25px" src="{{ organization.avatar.url }}" />
                            {% else %}
                                <!--suppress CheckImageSize -->
                                <img style="float:left;padding-right:4px" width="25px" height="25px" src="/media/default_avatar.png" />
                            {% endif %}
                            <strong>{{ organization.name }}</strong>
                        {% else %}
                            {% if request.user.person and request.user.person.avatar %}
                                <img  style="float:left;padding-right:4px" width="25px" height="25px" src="{{ request.user.person.avatar.url }}" />
                            {% else %}
                                <!--suppress CheckImageSize -->
                                <img style="float:left;padding-right:4px" width="25px" height="25px" src="/media/default_avatar.png" />
                            {% endif %}
                            <strong>{{ request.user.get_full_name }}</strong>
                        {% endif %}
                        {% if context_type == 'member' and organization and not organization.internal %}
                            &nbsp; | &nbsp;
                            <a href="{% url 'gatheros_event:organization-panel' organization.pk %}">Gerenciar</a>
                        {% endif %}
                        &nbsp; | &nbsp;
                        <a href="{% url 'gatheros_event:profile' %}">Meus dados</a>
                        &nbsp; | &nbsp;
                        <a href="{% url 'gatheros_front:logout' %}">Sair</a>
                    {% endif %}
                </div>
            </div>
            <div style="clear:both"></div>
        </div>
    {% endblock %}

    {% block messages %}
        {% if messages %}
            <ul class="messagelist">{% for message in messages %}
                <li {% if message.tags %}class="{{ message.tags }}"{% endif %}>{{ message|capfirst }}</li>
            {% endfor %}</ul>
        {% endif %}
    {% endblock messages %}

    <!-- Content -->
    <div id="content" class="{% block coltype %}colM{% endblock %}">
        {% block pretitle %}{% endblock %}
        {% block content_title %}
            {% if title %}
                <h1>{{ title }}</h1>
            {% endif %}
        {% endblock %}
        {% block content %}
            {% block object-tools %}{% endblock %}
            {{ content }}
        {% endblock %}
        {% block sidebar %}{% endblock %}
        <br class="clear"/>
    </div>
    <!-- END Content -->

    {% block footer %}
        <div id="footer"></div>
    {% endblock %}
</div>
<!-- END Container -->

{% block extrascript %}{% endblock %}
</body>
</html>
