{% extends "gatheros_front/base.html" %}
{% load i18n static %}

{% block content %}

    <table width="100%" border="0" cellpadding="0" cellspacing="5" style="margin-top:20px">
        <tr>
            <td width="12%" style="vertical-align: top;border:1px solid #DDD">
                <div style="text-align: center;padding: 10px">
                    {% if user.person.avatar %}
                        <!--suppress CheckImageSize -->
                        <img style="border-radius: 50px" src="{{ user.person.avatar.url }}" width="100px"/>
                    {% else %}
                        <!--suppress CheckImageSize -->
                        <img style="border-radius: 50px" src="/media/default_avatar.png" width="100px"/>
                    {% endif %}
                </div>
                <div style="text-align: center;padding-bottom: 20px;font-weight: bold">
                    {{ user.get_full_name }}
                    <div style="font-weight: normal;color:#666666;font-size: 14px">{{ user.email }}</div>
                    <a style="font-size: 14px" href="{% url 'gatheros_front:logout' %}">Sair</a>
                </div>
            </td>
            <td rowspan="3" style="vertical-align: top">
                {% if context_type == 'member' %}
                    <h2>Você está acessando como Organizador</h2>
                {% else %}
                    <h2>Você está acessando como participante</h2>
                {% endif %}
            </td>
        </tr>
        <tr>
            <td width="12%" style="vertical-align: top">
                <div style="background-color: whitesmoke;border: 1px solid #dddddd;">
                    <div style="padding: 10px;font-weight: bold">Como participante</div>
                    <div style="padding:15px">
                        &rightarrow; <a href="{% url 'gatheros_subscription:my-subscriptions' %}">Minhas inscrições</a>
                    </div>
                    <div style="padding:15px">
                        &rightarrow; <a href="{% url 'gatheros_event:my-invitations' %}">Meus convites</a>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td width="12%" style="vertical-align: top">
                {% if context_type == 'member' %}
                    <div style="background-color: whitesmoke;border: 1px solid #dddddd">
                        <div style="padding: 10px;font-weight: bold">Como organizador</div>
                        <div style="padding:15px">
                            &rightarrow; <a href="{% url 'gatheros_event:organization-list' %}">Organizações</a>
                        </div>
                        <div style="padding:15px">
                            &rightarrow; <a href="{% url 'gatheros_event:event-list' %}">Eventos</a>
                        </div>
                        <div style="padding:15px">
                            &rightarrow; <a href="#">Pessoas</a>
                        </div>
                    </div>
                {% endif %}
            </td>
        </tr>
    </table>
{% endblock %}
