{% if not debug %}
<script type="text/javascript">
    window.smartlook||(function(d) {
    var o=smartlook=function(){ o.api.push(arguments)},h=d.getElementsByTagName('head')[0];
    var c=d.createElement('script');o.api=new Array();c.async=true;c.type='text/javascript';
    c.charset='utf-8';c.src='https://rec.smartlook.com/recorder.js';h.appendChild(c);
    })(document);
    smartlook('init', 'bf4e815f71417a8729753f80d4118a0cb12bbe09');
    {% if request.user.is_authenticated %}
    smartlook('identify', {{ request.user.pk }}, {
        "name": "{{ request.user.get_full_name }}",
        "email": "{{ request.user.email }}",
        "environment_version": "{{ ENVIRONMENT_VERSION }}"
    });
    {% endif %}
</script>
{% endif %}