{% load static %}

<!-- HERO
================================= -->
<section id="hero"
         class="hero-section hero-layout-classic hero-layout-features-and-form section section-dark">

    <div class="section-background">

        <!-- IMAGE BACKGROUND -->
        <div class="section-background-image parallax">
            {% if info.image_main.default %}
            <img
                src="{{ info.image_main.default.url }}"
                alt="" style="opacity: 0.2;" class="blurred">
            {% endif %}
        </div>
    </div>

    <div class="container">

        <div class="hero-content">
            <div class="hero-content-inner">

                <div class="hero-heading text-center row"
                     data-animation="fadeIn">
                    <div class="col-md-10 col-md-offset-1">

                        <h1 class="hero-title">{{ event.name }}</h1>

                        <p class="hero-tagline">
                        <div>
                            <i class="fa fa-calendar"></i>
                            {{ event.get_period }}
                        </div>
                        {% if event.place and event.place.name %}
                            <div>
                                <i class="fa fa-map-marker"></i>
                                {{ event.place.name }}
                            </div>
                        {% endif %}
                        </p>
                    </div>
                </div>

                <div class="hero-features row">

                    <div class="hero-features-left col-md-7">
                        {% if info.lead %}
                            <p class="lead">
                                {{ info.lead }}
                            </p>
                        {% endif %}
                        {% if subscription_enabled and lots and event.subscription_type == event.SUBSCRIPTION_BY_LOTS %}
                            <ul class="icon-list">
                                {% for lot in lots %}
                                    {% if lot.status != lot.LOT_STATUS_NOT_STARTED %}
                                    <li>
                                        <span class="icon-list-icon " data-animation="bounceIn" {% if lot.status == lot.LOT_STATUS_FINISHED %}style="background-color:#515050"{% endif %}>
                                            <strong>{{ forloop.counter }}</strong>
                                        </span>
                                        <h4 class="icon-list-title">
                                            <strong {% if lot.status == lot.LOT_STATUS_FINISHED %}style="text-decoration: line-through"{% endif %}>
                                                {{ lot.display_publicly }}
                                            </strong>
                                        </h4>

                                        <p>
{#                                            <strong>{{ lot.places_remaining }} Vaga(s) restante(s)</strong>#}
{#                                            <br/>#}
                                            <small class="text-muted">{{ lot.get_period }}</small>
                                        </p>
                                    </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        {% elif subsciption_finished %}
                            <p style="font-size: 20px;font-style: italic;">Inscrições encerradas.</p>
                        {% elif not subscription_enabled %}
                            <p style="font-size: 20px;font-style: italic;">Evento não permite inscrições.</p>
                        {% endif %}
                    </div>
                    <div class="hero-features-right col-md-5" data-animation="fadeIn">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>