{% load static %}

<!-- HERO
================================= -->
<section id="hero"
         class="hero-section hero-layout-classic hero-layout-features-and-form section section-dark">

    <div class="section-background">

        <!-- IMAGE BACKGROUND -->
        <div class="section-background-image parallax">
            {% if info.image_main.default %}
                <img
                        src="{{ info.image_main.default.url }}"
                        alt="" style="opacity: 0.2;" class="blurred">
            {% endif %}
        </div>
    </div>

    <div class="container">

        <div class="hero-content">

            <div class="hero-content-inner">

                <div class="hero-heading text-center row"
                     data-animation="fadeIn">
                    <div class="col-md-10 col-md-offset-1">

                        <h1 class="hero-title notranslate">
                            {{ event.name }}
                        </h1>

                        <div class="hero-tagline">
                            <i class="fa fa-calendar"></i>
                            {{ event.get_period }}
                            {% if event.place and event.place.name %}
                            <div class="hero-tagline notranslate">
                                <i class="fa fa-map-marker"></i>
                                {{ event.place.name|default_if_none:'' }}
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>

                {% if not event.published %}

                    <div class="hero-features row">

                        <div class="hero-features col-md-12">

                            <form>
                                <div class="text-center">
                                    {% if event_is_publishable %}

                                        <p style="font-size: 20px;font-style: italic;">
                                            ATENÇÃO VOCÊ ESTÁ EM MODO RASCUNHO
                                        </p>

                                        <p style="font-size: 25px;font-style: italic;">
                                            Seu evento não está publicado!
                                        </p>

                                        <button class="btn btn-lg btn-success" id="publish_event" onclick="$(this).attr('disabled', '')">
                                            Publicar!
                                        </button>


                                    {% elif not publishable and unpublishable_reason %}

                                        <strong style="font-size: 20px;">Atenção: {{ unpublishable_reason }}</strong>

                                    {% else %}

                                        <h3>
                                            ERRO DESCONHECIDO! BUSQUE O SUPORTE PARA MAIORES INFORMAÇÕES!
                                        </h3>

                                    {% endif %}
                                </div>
                            </form>


                        </div>

                    </div>
                {% endif %}


                <div class="hero-features row">


                    <div class="hero-features-left col-md-7">

                        {% if info.lead %}
                            <p class="lead">
                                {{ info.lead }}
                            </p>
                        {% endif %}


                        {% if event.future is True %}
                            {% if public_tickets %}
                                <ul class="icon-list">
                                    {% for ticket in public_tickets %}
                                    <li>
                                        <span class="icon-list-icon" data-animation="bounceIn">
                                            <strong>{{ forloop.counter }}</strong>
                                        </span>
                                        <h4 style="font-size: 16px;margin: 9px 0 0;font-weight: bold" class="icon-list-title">
                                            {{ ticket.display_name_and_price }}
                                        </h4>
                                        <p>
                                            <span class="text-muted text-bold">{{ ticket.get_period }}</span>
                                        </p>
                                    </li>
                                    {% endfor %}
                                </ul>
                            {% elif private_tickets %}
                                <p style="font-size: 20px;font-style: italic;">
                                    Este é um evento restrito a convidados.</p>
                            {% else %}

                                <p style="font-size: 20px;font-style: italic;">
                                    Nenhum lote disponivel no momento.
                                </p>

                            {% endif %}

                        {% elif event.running is True %}

                            <p style="font-size: 20px;font-style: italic;">
                                Evento em andamento, procure a secretaria para realizar inscrições!
                            </p>
                            
                        {% elif event.finished is True %}

                            <p style="font-size: 20px;font-style: italic;">
                                Evento já foi encerrado.
                            </p>

                        {% endif %}

                    </div>

                    {% if event.future is True and public_tickets or private_tickets %}

                        <div class="hero-features-right col-md-5"
                             data-animation="fadeIn">

                            {% include 'hotsite/subscription_simple_form.html' %}

                        </div>

                    {% elif event.finished is True %}
                        <div class="hero-features-right col-md-5" data-animation="fadeIn">
                            {% include 'hotsite/finished_event_with_certificate.html' %}
                        </div>

                    {% endif %}


                </div>


            </div>

        </div>

    </div>

</section>




