<!-- DESCRIPTION
================================= -->
<section id="about" class="about-section section">

    <div class="container">

        <h2 class="section-heading text-center">Sobre o evento</h2>

        <div class="about-row row">
            {% if info.image_main.default %}
                <!-- DESCRIPTION IMAGE -->
                <div class="about-image col-md-6" data-animation="fadeIn">
                    <img src="{{ info.image_main.default.url }}" alt=""
                         class="img-responsive">
                </div>

                <!-- DESCRIPTION TEXT -->
                <div class="about-text col-md-6">
                    {{ info.description_html|safe }}
                </div>
            {% else %}
                <!-- DESCRIPTION TEXT -->
                <div class="about-text col-md-12">
                    {{ info.description_html|safe }}
                </div>

            {% endif %}

        </div>

        <!-- Editorial Text -->
        {% if info.editorial_body %}
            <h2 class="section-heading text-center">Corpo editorial</h2>

            <div class="about-row row">
                <div class="about-text col-md-12">
                    {{ info.editorial_body|safe }}
                </div>

            </div>
        {% endif %}


        <!-- Scientific Rules Text -->
        {% if info.scientific_rules %}
            <h2 class="section-heading text-center">Normas</h2>

            <div class="about-row row">
                <div class="about-text col-md-12">
                    {{ info.scientific_rules|safe }}
                </div>

            </div>
        {% endif %}

    </div>

</section>