{% load static %}

<!-- CONGRESSY FOOTER
================================= -->
<section id="about-platform" class="footer-section section section-dark">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h3 class="footer-logo">
                    <img src="{% static 'hotsite/images/logos/header-logo.png' %}"
                         srcset="
                            {% static 'hotsite/images/logos/header-logo@2x.png' %}" alt="Congressy">
                </h3>
            </div>
        </div>
    </div>
</section>