{% load l10n humanize %}


<div class="col-md-10">
    <div class="row">
        <div class="col-md-12">
            <h4 style="font-weight: bold;padding-bottom:0;margin-bottom:0">CUPOM
                VÁLIDO</h4>
            <div>
                <span style="color:darkgreen;font-weight: bold;">
                    {{ lot.display_publicly }}
                    {% if not lot.price %}
                        - Gratuito
                    {% endif %}
                </span>
                <div class="small" style="margin-top: 10px;">
                    <a onclick='hide_coupon()' style='margin-top:2px'>
                        Retirar cupom
                    </a>
                </div>
            </div>


        </div>
    </div>
</div>
<div class="text-muted text-right"
     style="padding-right:20px">{{ lot.exhibition_code }}</div>


<input type="hidden" name="lot" id="id_lot" value="{{ lot.pk }}"/>
