{% extends "gatheros_event/event/base_panel.html" %}
{% load static %}

{% block content %}
    {% get_media_prefix as media_url %}
    <div style="padding:10px">
        <a href="{% url 'gatheros_event:event-panel' object.pk %}">Voltar</a>
    </div>
    <hr/>
    <h1>Configuração de Detalhes do Evento</h1>
    <h2>{{ object.name }}</h2>
    <div style="padding: 10px;background-color: #DDDDDD;text-align: center;"></div>
    <div style="margin-bottom:10px; width: 100%;height:3px;background-color: {% if object.published %}darkgreen{% else %}darkred{% endif %}"></div>

    <h3>Imagens:</h3>
    <form name="event_detail_banner_upload" method="post" action="{% url 'gatheros_event:event-detail' object.pk %}" enctype="multipart/form-data">{% csrf_token %}
        {% if banner_form.errors %}
            {% for field in banner_form %}
                {% for error in field.errors %}
                    <div class="alert alert-danger">
                        <strong>{{ error|escape }}</strong>
                    </div>
                {% endfor %}
            {% endfor %}
            {% for error in banner_form.non_field_errors %}
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endif %}
        <table cellpadding="0" cellspacing="0" border="0" width="60%">
            <tbody>
            {% for field in banner_form %}
                <tr>
                    <th style="width: 20%">
                        <label for="id_banner_small">{{ field.label_tag }}</label>
                    </th>
                    <td style="width: 65%">
                        {{ field }}
                        <p>
                            {{ field.help_text }}
                        </p>
                    </td>
                    <td style="border: 1px solid #DDD;width:15%">
                        {% if field.value %}
                            <img style="border: 1px solid dimgray" width="100%" src="{{ field.value.thumbnail.url }}" />
                        {% else %}
                            <div style="width:180px;height: 80px">&nbsp;</div>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
                <tr>
                    <td colspan="3" style="text-align: center;">
                        <br />
                        <input type="submit" value="Atualizar banners"/>
                        <br />
                        <br />
                    </td>
                </tr>
            </tbody>
        </table>
        <input type="hidden" name="submit_type" value="update_banners" />
    </form>


    <hr/>
    <h3>Local do evento:</h3>
    <form name="place_form" method="post" action="{% url 'gatheros_event:event-detail' object.pk %}" enctype="multipart/form-data">{% csrf_token %}
        {% if place_form.errors %}
            {% for field in place_form %}
                {% for error in field.errors %}
                    <div class="alert alert-danger">
                        <strong>{{ error|escape }}</strong>
                    </div>
                {% endfor %}
            {% endfor %}
            {% for error in place_form.non_field_errors %}
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endif %}
        <table cellpadding="0" cellspacing="0" border="0" width="60%">
            <tr>
                <td width="50%">
                    <table width="100%">
                        {{ place_form }}
                    </table>
                </td>
                <td width="50%" style="vertical-align: top;">
                    <button type="button" onclick="window.location.href='{% url 'gatheros_event:place-add' object.pk %}'">Cadastrar Novo Local</button>
                </td>
            </tr>
        </table>
        <input type="hidden" name="submit_type" value="update_place" />
    </form>

    <hr/>
    <h3>Redes Sociais:</h3>
    <form name="socialmedia_form" method="post" action="{% url 'gatheros_event:event-detail' object.pk %}">{% csrf_token %}
        {% if socialmedia_form.errors %}
            {% for field in place_form %}
                {% for error in field.errors %}
                    <div class="alert alert-danger">
                        <strong>{{ error|escape }}</strong>
                    </div>
                {% endfor %}
            {% endfor %}
            {% for error in socialmedia_form.non_field_errors %}
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endif %}
        <table cellpadding="0" cellspacing="0" border="0" width="60%">
            {{ socialmedia_form }}
            <tr>
                <td colspan="3" style="text-align: center;">
                    <br />
                    <input type="submit" value="Atualizar informaões sociais"/>
                    <br />
                    <br />
                </td>
            </tr>
        </table>
        <input type="hidden" name="submit_type" value="update_social_media" />

    </form>
{% endblock %}