{% extends "gatheros_front/base.html" %}
{% load i18n static %}

{% block extrahead %}
    {{ wizard.form.media }}
{% endblock %}

{% block content %}
    <div style="padding:10px">
        <a href="{% url 'gatheros_event:event-list' %}">Cancelar</a>
    </div>
    <hr/>
    <h1>Adicionar Evento</h1>

    <form action="" method="post">{% csrf_token %}
        <table>
            {{ form.as_table }}
        </table>
        <input type="submit" value="Save"/>
        <a href="{% url 'gatheros_event:event-list' %}">Cancelar</a>
    </form>

{% endblock %}
