
{% extends "base/base.html" %}
{% load l10n static event_tags  base_tags  widget_tweaks form_config_tags %}
{% load humanize %}
{% load subscription_tags %}

{% block title %}
    {% if object %}Editar{% else %}Novo{% endif %} Categoria | Congressy
{% endblock %}

{% block page_title %}
    {% if object %}Editar{% else %}Novo{% endif %} Lotes/Categorias
{% endblock %}

{% block page_sub_title %}
    {% if form_title %}
        {{ form_title }}
    {% endif %}
{% endblock %}

{% block nav_aside_itens %}
    <h5 class="sidebar-header">Participantes</h5>
    <ul class="nav nav-pills nav-stacked">
        <li class="active">
            <a href="{% url 'subscription:lot-list' event.pk %}"
               title="Inscrições">
                <i class="fa  fa-fw fa-rocket"></i>
                Lotes/Categorias
            </a>
        </li>
        <li>
            <a href="{% url 'subscription:subscription-list' event.pk %}"
               title="Inscrições">
                <i class="fa  fa-fw fa-rocket"></i>
                Inscrições
                <span class="badge float-right">{% event_count_completed_subscriptions event %}</span>
            </a>
        </li>
        {#        <li>#}
        {#            <a href="{% url 'subscription:subscription-attendance-search' event.pk %}"#}
        {#               title="Check-in">#}
        {#                <i class="fa  fa-fw fa-rocket"></i>#}
        {#                Check-in#}
        {#            </a>#}
        {#        </li>#}
    </ul>
    <h5 class="sidebar-header">Configurações</h5>
    <ul class="nav nav-pills nav-stacked">
        <li>
            <a href="{% url 'event:event-hotsite' event.pk %}"
               title="Página do evento">
                <i class="fa  fa-fw fa-rocket"></i> Página do evento
            </a>
        </li>
        <li>
            <a href="{% url 'subscription:form-config' event.pk %}"
               title="Formulário">
                <i class="fa  fa-fw fa-rocket"></i> Formulário
            </a>
        </li>
        <li>
            <a href="{% url 'addon:optional-service-list' event.pk %}"
               title="Atividades Extras">
                <i class="fa  fa-fw fa-rocket"></i> Atividades Extras
            </a>
        </li>
        <li>
            <a href="{% url 'addon:optional-product-list' event.pk %}"
               title="Venda de Produtos">
                <i class="fa  fa-fw fa-rocket"></i> Venda de Produtos
            </a>
        </li>
        {% if has_paid_lots %}
            <li>
                <a href="{% url 'payment:event-payments' event.pk %}"
                   title="Pagamentos">
                    <i class="fa  fa-fw fa-rocket"></i> Pagamentos
                </a>
            </li>
        {% endif %}

    </ul>
{% endblock %}

{% block content %}

    <form action="" method="post" class="form-horizontal form-border"
          role="form" name="lotcategory_form">
        {% csrf_token %}

        {% if form.non_field_errors %}
            {% render_errors form.non_field_errors %}
        {% endif %}

        {% for hidden_field in form.hidden_fields %}
            {% if hidden_field.errors %}
                {% render_errors hidden_field.errors %}
            {% endif %}
            {{ hidden_field }}
        {% endfor %}

        <div class="row">
            <div class="col-lg-8 col-lg-push-2 col-xl-8 col-xl-push-2">
                <div class="buttonbar">
                    <div class="float-right">
                        <a href="{% url 'subscription:category-list' event.pk %}"
                           class="btn btn-danger">
                            <i class="fas fa-times-circle"></i>
                            Cancelar
                        </a>

                        <button type="submit" class="btn btn-success">
                            <i class="fa fa-save"></i>
                            Salvar
                        </button>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-8 col-lg-push-2 col-xl-8 col-xl-push-2">

                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <div class="panel-title">
                            Dados principais
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xl-10 col-lg-11 col-md-11">
                                {% render_generic_field form.name autofocus=True %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-8 col-lg-push-2 col-xl-8 col-xl-push-2">
                <div class="buttonbar bottom">
                    <div class="float-right">
                        <a href="{% url 'subscription:category-list' event.pk %}"
                           class="btn btn-danger">
                            <i class="fas fa-times-circle"></i>Cancelar
                        </a>
                        <button type="submit" class="btn btn-success">
                            <i class="fa fa-save"></i>
                            Salvar
                        </button>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </form>

{% endblock %}
