{% load humanize %}

{% if  object_list %}
    <label for="products_table">Produtos</label>

    <div class="table-responsive" id="products_table">
        <table class="table">
            <thead>
                <tr>
                    <th width="52%">Nome</th>
                    <th width="10%">Tipo</th>
                    <th width="18%" class="text-right">Preço</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            {% for product in object_list %}
                <tr>
                    <td>{{ product.optional.name }}</td>
                    <td>{{ product.optional.optional_type.name }}</td>
                    <td class="text-right" style="font-weight: bold;vertical-align: middle">
                        {% if product.optional.price == 0.00 %}
                            Grátis
                        {% else %}
                            R$ {{ product.optional.price|intcomma }}
                        {% endif %}
                    </td>
                    <td style="font-weight: bold;vertical-align: middle">
                        {% if product.available %}
                            <button style="width: 100%" onclick="addOptionalProduct({{ product.optional.pk }})" class="btn btn-sm btn-success">
                                Selecionar
                            </button>
                        {% else %}
                            <button style="width: 100%" disabled="disabled" class="btn btn-sm btn-warning">
                                Esgotado
                                <i class="fas fa-exclamation-triangle"></i>
                            </button>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% else %}
    Nenhum produtos/serviço disponivel.
{% endif %}
