<div id="available_optional_services">
    {% if  object_list %}
        <label for="services_table">Serviços</label>

        <div class="table-responsive" id="services_table">
            <table class="table">
                <thead>
                <tr>
                    <th>Nome</th>
                    <th>Tipo</th>
                    <th>Preço</th>
                    <th>Tema</th>
                    <th>Data de inicio</th>
                    <th>Data de encerramento</th>
                    <th>Local</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for service in object_list %}
                    <tr>
                        <td>{{ service.optional.name }}</td>
                        <td>{{ service.optional.optional_type.name }}</td>
                        <td>R${{ service.optional.price }}</td>
                        {% if service.available %}
                            <td>
                                <button style="width: 100%"
                                        onclick="addOptionalService{{ product.optional.pk }})"
                                        class="btn btn-sm btn-success">
                                    Selecionar
                                </button>
                            </td>
                        {% else %}
                            <td>
                                <button style="width: 100%"
                                        disabled="disabled"
                                        class="btn btn-sm btn-warning">
                                    Esgotado
                                    <i class="fas fa-exclamation-triangle"></i>
                                </button>
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        Nenhum serviço opcional disponivel no momento.
    {% endif %}
</div>
