{#{% if  object_list %}#}
{#<label for="service_table">Services</label>#}
{##}
{#<div class="table-responsive" id="service_table">#}
{#    <table class="table">#}
{#        <thead>#}
{#        <tr>#}
{#            <th>Nome</th>#}
{#            <th>Theme</th>#}
{#            <th>Tipo</th>#}
{#            <th>Preço</th>#}
{#        </tr>#}
{#        </thead>#}
{#        <tbody>#}
{#        <tr>#}
{#            {% for service in available_addon_services %}#}
{#                <td>{{ service.name }}</td>#}
{#                <td>{{ service.theme.name }}</td>#}
{#                <td>{{ service.optional_type.name }}</td>#}
{#                <td>R${{ service.price }}</td>#}
{#            {% endfor %}#}
{#        </tr>#}
{#        </tbody>#}
{#    </table>#}
{#</div><br><br>#}
{#    #}
{#{% endif %}#}

<div id="available_optionals">
    {% if  object_list %}
        <label for="products_table">Produtos</label>

        <div class="table-responsive" id="products_table">
            <table class="table">
                <thead>
                <tr>
                    <th>Nome</th>
                    <th>Tipo</th>
                    <th>Preço</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for product in object_list %}
                    <tr>
                        <td>{{ product.optional.name }}</td>
                        <td>{{ product.optional.optional_type.name }}</td>
                        <td>R${{ product.optional.price }}</td>
                        {% if product.available %}
                            <td>
                                <button style="width: 100%"
                                        onclick="addOptionalProduct
                                                ('{{ product.optional.name }}'
                                                ,{{ product.optional.pk }})"
                                        class="btn btn-sm btn-success">
                                    Selecionar
                                </button>
                            </td>
                        {% else %}
                            <td>
                                <button style="width: 100%"
                                        disabled="disabled"
                                        class="btn btn-sm btn-warning">
                                    Esgotado
                                    <i class="fas fa-exclamation-triangle"></i>
                                </button>
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        Nenhum opcional disponivel no momento.
    {% endif %}
</div>
