{% load static humanize %}

{% if  object_list %}
    <div id="services_table" data-sticky-container>
        {% for t_pk, themes in object_list.items %}
            <div style="border-bottom:1px solid gray" class="sticky" data-sticky-class="is-sticky" data-sticky>
                <div class="subtitle hide">Disponíveis</div>
                <h3>
                    {{ themes.name|upper }}
                </h3>
            </div>

            {% for pk, t in themes.types.items %}
                <h4 class="text-muted text-bold">
                    {{ t.name|upper }}
                </h4>

                <table class="table table-border-none thumbnail-popups">
                    {% for service in t.optionals %}
                        {% include 'optionals/optional-item-snippet.html' with optional_type='service' action='add' optional=service.optional available=service.available %}
                    {% endfor %}
                </table>
            {% endfor %}

        {% endfor %}
    </div>
{% else %}
    Nenhuma atividade extra disponivel no momento.
{% endif %}
