{% load static humanize %}

{% if  object_list %}
    <label for="services_table">Serviços</label>

    <div id="services_table">
        {% for t_pk, themes in object_list.items %}
            <h3 style="border-bottom:1px solid gray">
                {{ themes.name|upper }}
            </h3>

            {% for pk, t in themes.types.items %}
                <h4 class="text-muted text-bold">
                    {{ t.name|upper }}
                </h4>

                <table class="table table-border-none thumbnail-popups">
                    {% for service in t.optionals %}
                        {% include 'optionals/optional-item-snippet.html' with action='add' optional=service.optional available=service.available %}
                    {% endfor %}
                </table>
            {% endfor %}

        {% endfor %}
    </div>
{% else %}
    Nenhuma atividade extra disponivel no momento.
{% endif %}
