<div id="currently_selected">
    {% if  object_list %}
        <label for="selected_products_table">Produtos</label>

        <div class="table-responsive" id="selected_products_table">
            <table class="table">
                <thead>
                <tr>
                    <th>Nome</th>
                    <th>Tipo</th>
                    <th>Preço</th>
                </tr>
                </thead>
                <tbody>
                {% for product in object_list %}
                    <tr>

                        <td>{{ product.optional.name }}</td>
                        <td>{{ product.optional.optional_type.name }}</td>
                        <td>
                            {% if product.optional.price == 0.00 %}
                                Grátis
                            {% else %}
                                R$ {{ product.optional.price }}
                            {% endif %}
                        </td>
                        <td>
                            <button style="width: 100%"
                                    onclick="removeOptionalProduct({{ product.optional.pk }})"
                                    class="btn btn-sm btn-danger">
                                Remover
                            </button>
                        </td>

                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        Nenhum opcional escolhido até o momento.
    {% endif %}
</div>
