{% load static humanize %}

<div id="currently_selected">
    {% if  object_list %}
        <label for="selected_products_table">Serviços</label>

        <div id="selected_products_table">
            {% for t_pk, themes in object_list.items %}
                <h3 style="border-bottom:1px solid gray">
                    {{ themes.name|upper }}
                </h3>

                {% for pk, t in themes.types.items %}
                    <h4 class="text-muted text-bold">
                        {{ t.name|upper }}
                    </h4>

                    <table class="table">
                        {% for service in t.optionals %}
                            {% include 'optionals/optional-item-snippet.html' with action='remove' optional=service.optional available=True %}
                        {% endfor %}
                    </table>
                {% endfor %}

            {% endfor %}
        </div>
    {% else %}
        Nenhuma atividade extra escolhida até o momento.
    {% endif %}
</div>
<script>
    num_selected_optionals = parseInt('{{ object_list|length }}');
</script>
