{% load humanize %}

<div id="currently_selected">
    {% if  object_list %}
        <label for="selected_products_table">Produtos</label>

        <div id="selected_products_table">
            <table class="table">
                <thead>
                    <tr>
                        <th width="52%">Nome</th>
                        <th width="10%">Tipo</th>
                        <th width="18%" class="text-right">Preço</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                {% for product in object_list %}
                    {% include 'optionals/optional-item-snippet.html' with action='remove' optional=product.optional available=True %}
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        Nenhum produtos/serviço escolhido até o momento.
    {% endif %}
</div>
<script>
    num_selected_optionals = parseInt('{{ object_list|length }}');
</script>