{% load humanize %}

<div id="currently_selected">
    {% if  object_list %}
        <label for="selected_products_table">Produtos</label>

        <div class="table-responsive" id="selected_products_table">
            <table class="table">
                <thead>
                    <tr>
                        <th width="52%">Nome</th>
                        <th width="10%">Tipo</th>
                        <th width="18%" class="text-right">Preço</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                {% for product in object_list %}
                    <tr>

                        <td>{{ product.optional.name }}</td>
                        <td>{{ product.optional.optional_type.name }}</td>
                        <td style="font-weight: bold; vertical-align: middle">
                            {% if product.optional.price == 0.00 %}
                                Grátis
                            {% else %}
                                R$ {{ product.optional.price|intcomma }}
                            {% endif %}
                        </td>
                        <td style="vertical-align: middle">
                            <button style="width: 100%" onclick="removeOptionalProduct({{ product.optional.pk }})" class="btn btn-sm btn-danger">
                                Remover
                            </button>
                        </td>

                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        Nenhum produtos/serviço escolhido até o momento.
    {% endif %}
</div>
<script>
    num_selected_optionals = parseInt('{{ object_list|length }}');
</script>