{% load humanize %}

<div id="currently_selected">
    {% if  object_list %}
        <label for="selected_products_table">Serviços</label>

        <div class="table-responsive" id="selected_products_table">
            {% for t_pk, themes in object_list.items %}
                <h3 style="border-bottom:1px solid gray">
                    {{ themes.name|upper }}
                </h3>

                {% for pk, t in themes.types.items %}
                    <h4 class="text-muted text-bold">
                        {{ t.name|upper }}
                    </h4>

                    <table class="table">
                        <thead>
                        <tr>
                            <th>Nome</th>
                            <th>Preço</th>
                            <th></th>
                        </tr>
                        </thead>

                        <tr>
                            {% for service in t.optionals %}
                                <tr>
                                    <td>
                                        <div class="text-bold">
                                            {{ service.optional.name }}
                                        </div>
                                        <div class="text-muted">
                                            {{ service.optional.schedule_start|date:"d/m/Y H\hi" }}
                                            a
                                            {{ service.optional.schedule_end|date:"d/m/Y H\hi" }}
                                        </div>
                                    </td>
                                    <td>
                                        {% if service.optional.price == 0.00 %}
                                            Grátis
                                        {% else %}
                                            R$ {{ service.optional.price|intcomma }}
                                        {% endif %}
                                    </td>


                                    <td>
                                        <button style="width: 100%"
                                                onclick="removeOptionalService({{ service.optional.pk }})"
                                                class="btn btn-sm btn-danger">
                                            Remover
                                        </button>
                                    </td>

                                </tr>
                            {% endfor %}
                        </tr>
                    </table>
                {% endfor %}

            {% endfor %}
        </div>
    {% else %}
        Nenhuma atividade extra escolhida até o momento.
    {% endif %}
</div>
<script>
    num_selected_optionals = parseInt('{{ object_list|length }}');
</script>
