{% extends is_embeded|yesno:"registration/login_base_embeded.html,registration/login_base.html" %}

{% load static %}

{% block title %}Login | Congressy{% endblock %}
{% block login_block_title %}Login{% endblock %}

{# @TODO Checkbox para "manter-me conectado" com sessão mais longa. #}
{# @TODO Implementar Oauth2. #}

{% block form %}
    {% if form.non_field_errors %}
        {% for error in form.non_field_errors %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
        {% endfor %}
    {% endif %}

    <p class="text-center">Entre com suas credenciais para acessar sua
        conta.</p>

    <form action="" method="post" class="form-horizontal" role="form"
          onsubmit="submit_form(this);">
        {% csrf_token %}

        <div class="form-group">
            <div class="col-md-12">
                <input type="email"
                       name="username"
                       required
                       class="form-control with-icon"
                       id="email"
                       autofocus
                       placeholder="E-mail">
                <i class="fas fa-user"></i>
                <small class="text-danger">{{ form.username.errors }}</small>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-12">
                <input type="password"
                       name="password"
                       required
                       class="form-control with-icon"
                       id="password"
                       placeholder="Senha"
                       onkeyup="checkCapsWarning(event)"
                       onfocus="checkCapsWarning(event)"
                       onblur="removeCapsWarning()">
                <i class="fa fa-lock"></i>
                <p style="display:none;" class="warning-color" id="caps">CapsLock está ativado.</p>
                <small class="text-danger">{{ form.password.errors }}</small>
            </div>
        </div>

        {% if show_captcha %}
            <div class="form-group">
                <div class="col-md-12">
{#                    {{ form.captcha }}#}
{#                    <small class="text-danger">{{ form.captcha.errors }}</small>#}
                    <div class="g-recaptcha"
                         style="transform:scale(0.77);-webkit-transform:scale(0.77);transform-origin:0 0;-webkit-transform-origin:0 0;"
                         data-sitekey="6Lerw18UAAAAANaVK-G5QZEM2My-iumnxVFbDrpZ">
                </div>
            </div>
        {% endif %}
        <div class="form-group">
            <div class="col-md-12">
                <button type="submit" class="btn btn-info
                btn-block">Entrar
                </button>
            </div>
        </div>
        <div class="form-group" style="margin-bottom: 0">
            <div class="col-md-6 secondary-links">
                <div class="help-block">
                    <a href="







                            {% url 'public:profile_create' %}{% if is_embeded %}?embeded=1{% endif %}"
                       style="font-weight: bold;">Criar conta</a>
                </div>
            </div>
            <div class="col-md-6 secondary-links">
                <div class="help-block text-right left-when-small">
                    <a href="{% url 'password_reset' %}"
                       {% if is_embeded %}target="_blank"{% endif %}>Esqueceu
                        sua
                        senha?</a>
                </div>
            </div>
        </div>
    </form>
{% endblock %}

{% block local_js %}
    <script src='https://www.google.com/recaptcha/api.js'></script>
    <script>
        /**
         * Current Caps Lock state
         *  - null : unknown
         *  - true/false : Caps Lock is detected to be on/off
         */
        var capsLockEnabled = null;

        function getChar(e) {

            if (e.which == null) {
                return String.fromCharCode(e.keyCode); // IE
            }
            if (e.which != 0 && e.charCode != 0) {
                return String.fromCharCode(e.which); // rest
            }

            return null;
        }

        document.onkeydown = function (e) {
            e = e || event;

            if (e.keyCode == 20 && capsLockEnabled !== null) {
                capsLockEnabled = !capsLockEnabled;
            }
        };

        document.onkeypress = function (e) {
            e = e || event;

            var chr = getChar(e);
            if (!chr) return; // special key

            if (chr.toLowerCase() == chr.toUpperCase()) {
                // caseless symbol, like whitespace
                // can't use it to detect Caps Lock
                return;
            }

            capsLockEnabled = (chr.toLowerCase() == chr && e.shiftKey) || (chr.toUpperCase() == chr && !e.shiftKey);
        };

        /**
         * Check caps lock
         */
        function checkCapsWarning() {
            document.getElementById('caps').style.display = capsLockEnabled ? 'block' : 'none';
        }

        function removeCapsWarning() {
            document.getElementById('caps').style.display = 'none';
        }
    </script>
{% endblock %}