{% extends is_embeded|yesno:"registration/login_base_embeded.html,registration/login_base.html" %}

{% load static %}

{% block title %}Login | Congressy{% endblock %}
{% block login_block_title %}Login{% endblock %}

{# @TODO Checkbox para "manter-me conectado" com sessão mais longa. #}
{# @TODO Implementar Oauth2. #}

{% block form %}
    <p class="text-center">Entre com suas credenciais para acessar sua conta.</p>
    <form action="" method="post" class="form-horizontal" role="form" onsubmit="submit_form(this);">
        {% csrf_token %}
        <div class="form-group">
            <div class="col-md-12">
                <input type="email"
                       name="username"
                       required
                       class="form-control with-icon"
                       id="email"
                       autofocus
                       placeholder="E-mail">
                <i class="fa fa-user"></i>
                <small class="text-muted">{{ form.username.errors }}</small>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-12">
                <input type="password"
                       name="password"
                       required
                       class="form-control with-icon"
                       id="password"
                       placeholder="Senha">
                <i class="fa fa-lock"></i>
                <small class="text-muted">{{ form.password.errors }}</small>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-12">
                <button type="submit" class="btn btn-info
                btn-block">Entrar</button>
            </div>
        </div>
        <div class="form-group" style="margin-bottom: 0">
            <div class="col-md-6 secondary-links">
                <div class="help-block">
                    <a href="{% url 'public:profile_create' %}{% if is_embeded %}?embeded=1{% endif %}"
                       style="font-weight: bold;">Criar conta</a>
                </div>
            </div>
            <div class="col-md-6 secondary-links">
                <div class="help-block text-right left-when-small">
                    <a href="{% url 'password_reset' %}" {% if is_embeded %}target="_blank"{% endif %}>Esqueceu sua senha?</a>
                </div>
            </div>
        </div>
    </form>
{% endblock %}