{% load static %}
{% load base_tags %}

<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>
<!-->
<html class="no-js">
<!--<![endif]-->

<head>
    {% block head %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{% block title %}Congressy{% endblock %}</title>
        <meta name="description" content="">
        <meta name="viewport"
              content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
        <!-- Bootstrap core CSS -->

        <link rel="stylesheet"
              href="{% static "assets/plugins/bootstrap/css/bootstrap.min.css" %}">
        <!-- Fonts  -->
        <link rel="stylesheet" href="{% static "assets/css/font-awesome.min.css" %}">
        <link rel="stylesheet" href="{% static "assets/css/simple-line-icons.css" %}">
        <!-- CSS Animate -->
        <link rel="stylesheet" href="{% static "assets/css/animate.css" %}">

        <!-- Custom styles for this theme -->
        <link href="{% static "assets/css/main.less" %}" type="text/css" rel="stylesheet/less"/>

        <!--<script>less = {env: 'development'};</script>-->
        <script src="{% static "assets/plugins/less.min.js" %}"></script>
{#        <script> less.watch(); </script>#}


        <!-- Feature detection -->
        <script src="{% static "assets/js/vendor/modernizr-2.6.2.min.js" %}"></script>

        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
            <script src="{% static "assets/js/vendor/html5shiv.js"%}"></script>
            <script src="{% static "assets/js/vendor/respond.min.js"%}"></script>
        <![endif]-->
    {% endblock %}
</head>

<body class="cgsy-login">
    <section id="main-wrapper" class="theme-cgsy-full">
        <section class="container animated fadeInUp">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <header class="login-header">
                        <a href="/" class="logo-img">
                            <img class="logo" src="{% static "assets/img/login_logo.png" %}">
                        </a>
                    </header>
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                {% block login_block_title %}{% endblock %}
                            </h3>
                        </div>
                        <div class="panel-body">
                            {% block messages %}
                                {% if messages %}
                                    {# @ TODO Colocar tag padrão de alerta para mensagens #}
                                    <div style="width:100%;margin-top:3px;padding-bottom:10px">
                                        <ul class="messagelist" style="list-style: none;margin: 0; padding: 0">
                                            {% for message in messages %}
                                                {% if 'warning' == message.tags %}
                                                    <input type="hidden" value="{{ message|capfirst }}">
                                                {% else %}
                                                    {% get_message_background_color message as bgcolor %}
                                                    <li style="background-color: {{ bgcolor }};padding: 10px;padding-bottom: 10px">
                                                        {{ message|capfirst }}
                                                    </li>
                                                {% endif %}
                                            {% endfor %}
                                        </ul>
                                    </div>
                                {% endif %}
                            {% endblock messages %}

                            {% if form.non_field_errors %}
                                {% for error in form.non_field_errors %}
                                    <div class="alert alert-danger" role="alert">
                                        {{ error }}
                                    </div>
                                {% endfor %}
                            {% endif %}

                            {% block form %}{% endblock %}
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>

    {% block global_js %}
        <!--Global JS-->
        <script src="{% static "assets/js/vendor/jquery-1.11.1.min.js" %}"></script>
        <script src="{% static "assets/plugins/bootstrap/js/bootstrap.min.js" %}"></script>
        <script src="{% static "assets/plugins/navgoco/jquery.navgoco.min.js" %}"></script>
        <script src="{% static "assets/plugins/pace/pace.min.js" %}"></script>
        <script src="{% static "assets/js/src/app.js" %}"></script>
        <script src="{% static "assets/js/cgsy.js" %}"></script>
    {% endblock %}

</body>
</html>
