{% extends "registration/login_base.html" %}
{% load i18n static %}

{% block title %}{{ title }}{% endblock %}
{% block login_block_title %}Recuperar conta{% endblock %}

{% block form %}
    <p class="text-center">
        Forneça o seu endereço de e-mail abaixo para receber
        instruções de redefinição de senha.
    </p>
    <form action="" method="post" class="form-horizontal" role="form" onsubmit="submit_form(this);">
        {% csrf_token %}
        <div class="form-group">
            <div class="col-md-12">
                <input type="email" name="email"
                       class="form-control with-icon"
                       required
                       id="email"
                       placeholder="E-mail: me@you.com">
                <i class="fa fa-envelope"></i>
                <small class="text-muted">{{ form.email.errors }}</small>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-12">
                <button class="btn btn-info
                btn-block">Enviar</button>
            </div>
        </div>

        <div class="form-group" style="margin-bottom: 0">
            <div class="form-group" style="margin-bottom: 0">
                <div class="col-md-12 secondary-links">
                    <div class="help-block">
                        <span class="info">Já possui conta?</span>
                        <a style="font-weight: bold;" href="{% url 'public:login' %}">
                            Entrar
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </form>
{% endblock %}