{% extends "auth/login_base.html" %}
{% load i18n static %}

{% block title %}{{ title }}{% endblock %}

{% block form %}
    <div id="cgsy_login_panel" class="panel panel-primary">

        <div class="panel-body">

            <p>
                Esqueceu a senha? Forneça o seu endereço de email abaixo e te
                enviaremos instruções para definir uma nova.
            </p>

            <form method="post" class="form-horizontal" role="form">

                {% csrf_token %}

                <div class="form-group">
                    <div class="col-md-12 text-center">
                        <label for="id_email">{% trans 'Email address:' %}</label>

                        {{ form.email }}

                        {% if form.email.errors %}
                            <br>
                            <br>
                            <div class="alert alert-danger alert-dismissable col-md-offset-1">
                                 style="width: 80%">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×
                                </button>
                                {{ form.email.errors }}
                            </div>
                        {% endif %}
                        <br>
                        <br>
                        <input class="btn btn-primary" type="submit" value="{% trans 'Reset my password' %}"/>
                    </div>


                </div>
            </form>


        </div>
    </div>
{% endblock %}