{% extends "registration/login_base.html" %}
{% load i18n %}

{% block title %}{{ title }}{% endblock %}
{% block login_block_title %}Redefinição de Senha{% endblock %}

{% block form %}
    <p class="text-center">
        Este link já foi utilizado, já expirou ou é de uma versão antiga do
        sistema.
    </p>
    <p class="text-center" style="font-weight: bold">
        Por favor, solicite outro link para redefinir sua senha.
    </p>
    <a href="{% url 'public:password_reset' %}" class="btn btn-info btn-block">
        Nova solicitação
    </a>
{% endblock %}
