{% extends "auth/login_base.html" %}
{% load i18n %}

{% block title %}{{ title }}{% endblock %}

{% block form %}
    <div id="cgsy_login_panel" class="panel panel-primary col-md-12">

        <div class="panel-body text-center">

            <p>
                Sua senha foi definida. Você pode prosseguir e se autenticar agora.
            </p>


            <p>
                <a href="{{ login_url }}" class="btn btn-primary ">{% trans 'Log in' %}</a>
            </p>

        </div>
    </div>
{% endblock %}
