{% extends "auth/login_base.html" %}
{% load i18n static %}

{% block title %}{{ title }}{% endblock %}
{% block content_title %}<h1>{{ title }}</h1>{% endblock %}
{% block content %}

    {% if validlink %}

        {% block form %}
            <div id="cgsy_login_panel" class="panel panel-primary">


                <div class="panel-heading">
                    <h3 class="panel-title">
                        Redefinir a senha
                    </h3>
                </div>


                <div class="panel-body">

                    <p>
                        Por favor, informe sua nova senha duas vezes para que possamos
                        verificar se você a digitou corretamente.
                    </p>

                    <form method="post" class="form-horizontal" role="form">

                        {% csrf_token %}

                        <div class="form-group">
                            <div class="col-md-12 text-center">
                                <label for="id_new_password1">Nova senha: </label>
                                {{ form.new_password1 }}

                                {% if form.new_password1.errors %}
                                    <br>
                                    <br>
                                    <div class="alert alert-danger alert-dismissable col-md-offset-1"
                                         style="width: 80%">
                                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×
                                        </button>
                                        {{ form.new_password1.errors }}
                                    </div>
                                {% endif %}

                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-12 text-center">
                                <label for="id_new_password2">Confirme a senha: </label>
                                {{ form.new_password2 }}
                                {% if form.new_password2.errors %}
                                    <br>
                                    <br>
                                    <div class="alert alert-danger alert-dismissable col-md-offset-1"
                                         style="width: 80%">
                                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×
                                        </button>
                                        {{ form.new_password2.errors }}
                                    </div>
                                {% endif %}
                            </div>
                        </div>

                        <button class="btn btn-primary btn-block">Alterar minha senha</button>

                    </form>


                </div>
            </div>
        {% endblock %}

    {% else %}

        <p>
            O link para a recuperação de senha era inválido, possivelmente
            porque já foi utilizado. Por favor, solicite uma nova recuperação
            de senha.
        </p>

    {% endif %}

{% endblock %}
