{% extends 'registration/login_base.html' %}
{% load static %}

{% block title %}Nova conta | Congressy{% endblock %}
{% block login_block_title %}Nova conta{% endblock %}


{# @TODO Corrigir problema com o success message, talvez um if testando o contexto por mensagem de successo #}

{% block form %}
    <p> Entre com suas credenciais para acessar sua conta.</p>
    <form action="" method="post" class="form-horizontal"  enctype="multipart/form-data" role="form">
        {% csrf_token %}
        <div class="form-group">
            <div class="col-md-12">
                <label for="exampleInputName1">Nome</label>
                <input type="text" name="name" class="form-control"
                       id="exampleInputName1" placeholder="Nome completo">
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-12">
                <label for="exampleInputEmail1">E-mail</label>
                <input type="text"
                       name="email"
                       class="form-control"
                       id="exampleInputEmail1"
                       placeholder="me@you.com">
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-12">
                <button class="btn btn-info btn-block">Enviar</button>
            </div>
        </div>
        <div class="form-group" style="margin-bottom: 0">
            <div class="col-md-12 secondary-links">
                <div class="help-block float-left">
                    <span class="info">Já possui conta?</span>
                    <a style="font-weight: bold;" href="{% url 'front:login' %}">
                        Entrar
                    </a>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </form>
{% endblock %}




