{% extends 'login/login_base.html'%}
{% block title %}Confirm your email{% endblock %}

{% block content %}

{% load static %}

<section class="container animated fadeInUp">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div id="login-wrapper">
                <header id="cgsy_login_header">

                    <a href="/" class="logo-img">
                        <img id="cgsy__login_img" src="{% static "assets/img/login_logo.png" %}">
                    </a>

                </header>

                <div id="cgsy_login_panel" class="panel panel-primary">

                        <div class="panel-body">
                            <i class="fa fa-check-circle fa-3x text-center" style="display:block;text-align:center;color:green" aria-hidden="true"></i>
                            <h3> Success! Please check your email: {{request.session.email}}</h3>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</section>


{% endblock %}

