.attendance-card {
  border-radius: 5px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);

  .header-card {
    height: 40px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px
  }
  .status-card {
    padding-top: 10px;
    color: #ffffff;
    font-size: 16px;
  }

  .secondary-informations {
    padding-bottom: 5px;
    font-size: 14px;
  }
  .btn-success.btn-trans {
    color: #27B6AF;
    background-color: transparent;
    border: solid thin #27B6AF;
  }
  .btn-success.btn-trans:hover,
  .btn-success.btn-trans:active,
  .btn-success.btn-trans:focus {
    color: #fff;
    background-color: #27B6AF;
    border: solid thin #27B6AF;
  }

  .btn-warning.btn-trans {
    color: #EDCE8C;
    background-color: transparent;
    border: solid thin #EDCE8C;
  }
  .btn-warning.btn-trans:hover,
  .btn-warning.btn-trans:active,
  .btn-warning.btn-trans:focus {
    color: #fff;
    background-color: #EDCE8C;
    border: solid thin #EDCE8C;
  }
}

.barcode-user-tips {
  background-color: #f0f0f0;
  margin-top: 15px;
  padding: 10px;
  border-left-width: 4px;
  border-left-style: solid;
  border-left-color: #27B6AF;
  border-bottom-right-radius: 2px;
  border-top-right-radius: 2px;
}

.divider-card {
  height: 0.5px;
  width: 100%;
  background-color: #8f939e;
  margin-top: 10px;
  margin-bottom: 10px;
}