//=========================== CUSTOM CLASSES ================================//
.float-left {
  float: left;
}

.float-right {
  float: right;
}

.text-bold {
  font-weight: bold;
}

.no-shadow {
  box-shadow: none !important;
}

.cgsy-label {
  font-size: @15px;
}

.nowrap {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

@media (max-width:991px) {
    .text-right.left-when-small {
        text-align: left;
    }
}

@media (max-width:991px) {
    .text-left.right-when-small {
        text-align: right;
    }
}
