//=========================== CUSTOM CLASSES ================================//
.float-left {
  float: left;
}

.float-right {
  float: right;
}

.cgsy-label {
  font-size: @15px;
}

//=============================== ALERT =====================================//
.alert {
  font-size: @14px;
}

//=============================== PANEL =====================================//
.panel-title {
  font-weight: bold;
}
