//=========================== CUSTOM CLASSES ================================//
.float-left {
  float: left;
}

.float-right {
  float: right;
}

.no-shadow {
  box-shadow: none !important;
}

.cgsy-label {
  font-size: @15px;
}

//============================= PAGE HEADER =================================//
.pageheader {
  h1 {
    font-weight: bold;
    color: @primaryColor;
    margin-bottom: 12px;
    font-size: @24px;
  }

  h2 {
    font-weight: bold;
    margin-bottom: 10px;
    font-size: @20px;
  }

  p {
    font-size: @14px;
    margin-bottom: 0;
  }
}

//============================== FILTERS ====================================//
.filter-box {
  display: none;
}

//============================= FORM / FIELDS ===============================//
.checkbox label, .radio label {
  padding-left: 6px;
  position: relative;
  top: 2px;
}

//============================== BUTTONS ====================================//
.buttonbar {
  //box-shadow: 1px 0 5px #c1b7b7;
  padding: 18px 0 10px 0;
  margin-bottom: 4px;

  a.btn, button.btn {
    color: #FFF;
    margin-bottom: 0;
  }
}

.buttonbar.bottom {
  padding: 0 0 18px 0 !important;
}

a.btn, button.btn {
  color: #FFF;
}

//=============================== ALERT =====================================//
.alert {
  font-size: @16px;
  margin-top: 10px;
  width: 60%;
}

//=============================== PANEL =====================================//
.panel {
  box-shadow: 2px 2px 5px #c1b7b7;

  .panel-title {
    font-weight: bold;
  }
}

//=============================== TABLE =====================================//
.table {
  font-size: @14px;

  a {
    font-size: @16px;
  }
}

.table > tbody > tr > td,
.table > tbody > tr > th,
.table > tfoot > tr > td,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > thead > tr > th {
  vertical-align: middle;
}

.dataTables_length, .dataTables_filter, .dataTables_info, .dataTables_paginate {
  font-size: @14px;
}

.dataTables_filter {
  input {
    margin-left: 5px;
  }
}

//======================== DANGER BOX MESSAGE ===============================//
.danger-box-message.danger {
  &:extend(.danger-bg-color);

  h2 {
    font-weight: bold;
    color:#FFF;
    font-size: 34px;
    padding: 10px 0;
  }

  p {
    color: #FFF;
    padding: 4px 0;
  }

  form {
    text-align: center;
  }
}

.danger-box-message.warning {
  &:extend(.warning-bg-color);

  h2 {
    font-weight: bold;
    color:#FFF;
    font-size: 34px;
    padding: 10px 0;
    text-shadow: 1px 0 5px #666;
  }

  p {
    color: #FFF;
    padding: 4px 0;
    text-shadow: 1px 0 5px #666;
  }

  form {
    text-align: center;
  }
}

