// @TODO Colocar o bloco de login no centro de acordo com a resolução
.cgsy-login, .cgsy-login-embeded {
  .form-group {
    .form-control.with-icon {
      padding-left: 32px;
    }

    i {
      position: absolute;
      left: 27px;
      top: 11px;
    }
  }

  .panel {
    background-color: @cgsyDarkBlue;

    .panel-body {
      background-color: #fff;
    }
  }

  .secondary-links {

    .help-block {
      font-size: @16px;

      .info {
        font-size: @14px;
      }
    }
  }
  .main_logo {
    margin-bottom: 30px;
    margin-top: 50px;
    width: 210px;
    height: 105.27px;
    .main_logo_icon {
      fill: @cgsyLightBlue;
    }

    .main_logo_text {

      fill: white;
    }
  }
}

.cgsy-login {
  color: #565656;
  background: @cgsyDarkBlue;
  font-family: @fontStack;
  font-size: 100%;
  padding: 0;
  margin: 0;
  min-height: 100%;
  position: relative;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;

  .login-header {
    text-align: center;

    .logo {
      margin-bottom: 30px;
      margin-top: 50px;
      width: 210px;
    }
  }

  //============================== FOOTER ===================================//
  .cgsy-version {
    position: relative;
    top: -17px;
    font-size: @12px;
    margin-right: 8px;
  }
}
