// CONGRESSY Colors
@cgsyPrimary: #000912;
@cgsySecondary: #011528;
@cgsyTertiary: #022140;
@cgsyLightBlue: #5B8790;
@cgsyDarkBlue: #364150;

// Cores melhores para links
@aLinkColor: @primaryColor;
@aLinkHover: @primaryColorHover;

//Button and Banner Colors
@defaultColor: #909AA0; //grey
@defaultColorHover: lighten(@defaultColor, 5%); //lighter grey
@successColor: #449D44; //turquoise
@successColorHover: lighten(@successColor, 5%); //lighter turquoise
@warningColor: #EC971F; //yellow
@warningColorHover: lighten(@warningColor, 5%); //lighter yellow
@infoColor: #1F7BB6; //blue
@infoColorHover: lighten(@infoColor, 5%); //lighter blue
@dangerColor: #C9302C; //red
@dangerColorHover: lighten(@dangerColor, 5%); //lighter red